{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div id="order-summary" class="ec-orderRole__summary">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>{{ 'common.subtotal'|trans }}</b>
                <span class="font-weight-bold">{{ Order.subtotal|price }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ 'common.charge'|trans }}
                <span>{{ Order.charge|price }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ 'common.delivery_fee'|trans }}
                <span>{{ Order.deliveryFeeTotal|price }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ 'common.discount'|trans }}
                <span>{{ Order.discount|price }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>{{ 'common.total'|trans }}</b>
                <p class="text-price font-weight-bold">
                    <span class="h4">{{ Order.total|price }}</span>
                    <span class="h6">{{ 'common.tax_include'|trans }}</span>
                </p>
            </li>
            {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ 'front.shopping.use_point'|trans }}
                    <span>{{ Order.UsePoint|number_format }} {{ 'common.point'|trans }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>{{ 'front.shopping.add_point'|trans }}</b>
                    <span>{{ Order.AddPoint|number_format }} {{ 'common.point'|trans }}</span>
                </li>
            {% endif %}
        </ul>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">
              {% if type is defined %}
                {{ 'front.shopping.checkout'|trans }}
              {% else %}
                {{ 'front.shopping.go_to_confirm'|trans }}
              {% endif %}
            </button>
            <a href="{{ url("cart") }}" class="btn btn-secondary btn-block">{{ 'front.shopping.back_to_cart'|trans }}</a>
        </div>
    </div>
</div>