<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ BaseInfo.shop_name }} 新着情報</title>
        <description>{{ BaseInfo.shop_name }} 新着情報</description>
        <link>{{ url('homepage') }}</link>
        <lastBuildDate>{{ max( news | map(e => e.update_date) ) | date(constant('DATE_RFC2822')) }}</lastBuildDate>
        <atom:link href="{{ url('rss_feed_for_news') }}" rel="self"/>

        {% for article in news %}
            <item>
                <title>{{ article.title }}</title>
                {% if article.url %}
                    <link>{{ article.url }}</link>
                {% else %}
                    <link>{{ url('homepage') }}</link>
                {% endif %}
                <pubDate>{{ article.publish_date|date(constant('DATE_RFC2822')) }}</pubDate>
                <guid isPermaLink="false">{{ url('homepage') }}rss/news/{{ article.id }}</guid>
                <description><![CDATA[
                    {{ article.description|raw }}
                ]]></description>
            </item>
        {% endfor %}
    </channel>
</rss>
