{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <div class="ec-contactConfirmRole">
        <div class="ec-pageHeader">
            <h1>{{'common.label.inquiry'|trans}}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="{{ url('contact') }}" class="h-adr">
                    {{ form_widget(form._token) }}
                    <p>内容によっては回答をさしあげるのにお時間をいただくこともございます。<br>また、休業日は翌営業日以降の対応となりますのでご了承ください。</p>
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>
                                {{ form_label(form.name, 'お名前', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                {{ form.name.name01.vars.data }}
                                {{ form.name.name02.vars.data }}
                                {{ form_widget(form.name.name01, { type : 'hidden' }) }}
                                {{ form_widget(form.name.name02, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.kana, 'お名前(フリガナ)', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                {{ form.kana.kana01.vars.data }}
                                {{ form.kana.kana02.vars.data }}
                                {{ form_widget(form.kana.kana01, { type : 'hidden' }) }}
                                {{ form_widget(form.kana.kana02, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.address, '住所', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                {# 郵便番号 #}
                                <span>〒</span>{{ form.zip.zip01.vars.data }}<span>-</span>{{ form.zip.zip02.vars.data }}
                                {{ form_widget(form.zip.zip01, { type : 'hidden' }) }}
                                {{ form_widget(form.zip.zip02, { type : 'hidden' }) }}
                                {# 都道府県・住所 #}
                                {{ form.address.pref.vars.data }} {{ form.address.addr01.vars.data }} {{ form.address.addr02.vars.data }}
                                {{ form_widget(form.address.pref, { type : 'hidden' }) }}
                                {{ form_widget(form.address.addr01, { type : 'hidden' }) }}
                                {{ form_widget(form.address.addr02, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.tel, '電話番号', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>{{ form.tel.tel01.vars.data }} - {{ form.tel.tel02.vars.data }}
                                - {{ form.tel.tel03.vars.data }}
                                {{ form_widget(form.tel.tel01, { type : 'hidden' }) }}
                                {{ form_widget(form.tel.tel02, { type : 'hidden' }) }}
                                {{ form_widget(form.tel.tel03, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'メールアドレス', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                {{ form.email.vars.data }}
                                {{ form_widget(form.email, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.contents, 'お問い合わせ内容', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                {{ form.contents.vars.data }}
                                {{ form_widget(form.contents, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                    </div>
                    <div class="ec-RegisterRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button type="submit"
                                        class="ec-blockBtn--action"
                                        name="mode"
                                        value="complete">{{'common.label.btn.send'|trans}}
                                </button>
                                <button type="submit"
                                        class="ec-blockBtn--cancel"
                                        name="mode"
                                        value="back">{{'common.label.btn.go_back'|trans}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
