{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}

    <div class="ec-contactRole">
        <div class="ec-pageHeader">
            <h1>{{'common.label.inquiry'|trans}}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="{{ url('contact') }}" class="h-adr">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <p class="ec-para-nomal"> 内容によっては回答をさしあげるのにお時間をいただくこともございます。<br>また、休業日は翌営業日以降の対応となりますのでご了承ください。</p>
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>
                                {{ form_label(form.name, 'signup.label.name', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error' }}">
                                    {{ form_widget(form.name.name01, {'attr': {'placeholder': 'signup.label.family_name'}}) }}
                                    {{ form_widget(form.name.name02, {'attr': {'placeholder': 'signup.label.last_name'}}) }}
                                    {{ form_errors(form.name.name01) }}
                                    {{ form_errors(form.name.name02) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.kana, 'signup.label.name_kana', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error' }}">
                                    {{ form_widget(form.kana.kana01, {'attr': {'placeholder': 'signup.label.family_name_kana'}}) }}
                                    {{ form_widget(form.kana.kana02, {'attr': {'placeholder': 'signup.label.last_name_kana'}}) }}
                                    {{ form_errors(form.kana.kana01) }}
                                    {{ form_errors(form.kana.kana02) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.address, 'signup.label.address', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-zipInput{{ has_errors(form.zip.zip01, form.zip.zip02) ? ' error' }}">
                                    <span>〒</span>
                                    {{ form_widget(form.zip.zip01) }}<span>-</span>
                                    {{ form_widget(form.zip.zip02) }}
                                    {{ form_errors(form.zip.zip01) }}
                                    {{ form_errors(form.zip.zip02) }}
                                </div>
                                <div class="ec-zipInputHelp"><a href="http://www.post.japanpost.jp/zipcode/"
                                                                target="_blank">
                                        <div class="ec-zipInputHelp__icon">
                                            <div class="ec-icon"><img
                                                        src="{{ asset('assets/icon/question-white.svg') }}"
                                                        alt=""></div>
                                        </div>
                                        <span>{{'signup.label.search_postal_code'|trans}}</span></a></div>
                                <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                    {{ form_widget(form.address.pref) }}
                                    {{ form_errors(form.address.pref) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                    {{ form_widget(form.address.addr01, {'attr': {'placeholder': 'signup.label.city_town_village' }}) }}
                                    {{ form_errors(form.address.addr01) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                    {{ form_widget(form.address.addr02, {'attr': {'placeholder': 'signup.label.house_number' }}) }}
                                    {{ form_errors(form.address.addr02) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.tel, 'signup.label.tel_number', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.tel.tel01, form.tel.tel02, form.tel.tel03) ? ' error' }}">
                                    {{ form_widget(form.tel.tel01) }}<span>-</span>
                                    {{ form_widget(form.tel.tel02) }}<span>-</span>
                                    {{ form_widget(form.tel.tel03) }}
                                    {{ form_errors(form.tel.tel01) }}
                                    {{ form_errors(form.tel.tel02) }}
                                    {{ form_errors(form.tel.tel03) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'signup.label.email', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.email) ? ' error' }}">
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'common.label.inquiry_content', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.contents) ? ' error' }}">
                                    {{ form_widget(form.contents) }}
                                    {{ form_errors(form.contents) }}
                                </div>
                                <p>ご注文に関するお問い合わせには、必ず「ご注文番号」をご記入くださいますようお願いいたします。</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="ec-RegisterRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button type="submit" class="ec-blockBtn--action" name="mode" value="confirm">{{'common.label.goto_conf'|trans}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
