{% extends 'site_main.twig' %}

{% block main %}

    <div id="undercolumn">
        <h2 class="title">{{ title }}</h2>

        <div id="undercolumn_contact">

            <p>内容によっては回答をさしあげるのにお時間をいただくこともございます。<br />
                また、休業日は翌営業日以降の対応となりますのでご了承ください。</p>
            <form name="form1" id="form1" method="post" action="?" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <div class="btn_area">
                    <ul>
                        <li>
                            <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る" name="mode" value="back" />
                        </li>
                        <li>
                            <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_complete.jpg" alt="送信" name="mode" value="complete" id="send" />
                        </li>
                    </ul>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>



{% endblock %}
