{% extends 'site_main.twig' %}

{% form_theme form _self %}

{% block _contact_email_widget %}
    {%- set attr = attr|merge({'class': 'box380', 'style': 'ime-mode: active;'}) -%}
    {{ block('email_widget') }}
{% endblock %}

{% block _contact_contents_widget %}
    {%- set attr = attr|merge({'class': 'box380', 'style': 'ime-mode: active;', 'cols': "60", 'rows': "20"}) -%}
    {{ block('textarea_widget') }}
{% endblock %}

{% block main %}
    <div id="undercolumn">
        <h2 class="title">{{ title }}</h2>

        <div id="undercolumn_contact">

            <p>内容によっては回答をさしあげるのにお時間をいただくこともございます。<br />
                また、休業日は翌営業日以降の対応となりますのでご了承ください。</p>

            <form name="form1" id="form1" method="post" action="?"{{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <div class="btn_area">
                    <ul>
                        <li>
                            <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_confirm.jpg" alt="確認ページへ" name="mode" value="confirm" />
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
