<ul class="level1">
    <li id="navi-total-term"><a href="{{ url('admin_total', {'page': 'term'}) }}"><span>期間別集計</span></a></li>
    <li id="navi-total-products"><a href="{{ url('admin_total', {'page': 'products'}) }}"><span>商品別集計</span></a></li>
    <li id="navi-total-age"><a href="{{ url('admin_total', {'page': 'age'}) }}"><span>年代別集計</span></a></li>
    <li id="navi-total-job"><a href="{{ url('admin_total', {'page': 'job'}) }}"><span>職業別集計</span></a></li>
    <li id="navi-total-member"><a href="{{ url('admin_total', {'page': 'member'}) }}"><span>会員別集計</span></a></li>
</ul>
