{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
    <h1 class="page-heading">ショッピングカート</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% if is_granted('ROLE_USER') %}
                <div class="flowline step3">
                {% else %}
                <div class="flowline step4">
                {% endif %}
                    <ul class="clearfix">
                        <li class="active"><span class="flow_number">1</span><br>カートの商品</li>
                    {% if is_granted('ROLE_USER') %}
                        <li><span class="flow_number">2</span><br>ご注文内容確認</li>
                        <li><span class="flow_number">3</span><br>完了</li>
                    {% else %}
                        <li><span class="flow_number">2</span><br>お客様情報</li>
                        <li><span class="flow_number">3</span><br>ご注文内容確認</li>
                        <li><span class="flow_number">4</span><br>完了</li>
                    {% endif %}
                    </ul>
                </div>

                {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                    <div class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endfor %}
                {% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
                    <div class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endfor %}

                {% if Cart.CartItems|length > 0 %}
                <form name="form" id="form_cart" method="post" action="{{ url('cart') }}">
                    <p class="message">
                        商品の合計金額は「<strong>{{ Cart.total_price|price }}</strong>」です。
                        {% if BaseInfo.delivery_free_amount and BaseInfo.delivery_free_quantity %}
                            <br />
                            {% if is_delivery_free %}
                                現在送料無料です。
                            {% else %}
                                あと「<strong>{{ least|price }}</strong>」または「<strong>{{ quantity|number_format }}個</strong>」のお買い上げで<strong class="text-primary">送料無料</strong>になります。
                            {% endif %}
                        {% elseif BaseInfo.delivery_free_amount %}
                            <br />
                            {% if is_delivery_free %}
                                現在送料無料です。
                            {% else %}
                                あと「<strong>{{ least|price }}</strong>」のお買い上げで<strong class="text-primary">送料無料</strong>になります。
                            {% endif %}
                        {% elseif BaseInfo.delivery_free_quantity %}
                            <br />
                            {% if is_delivery_free %}
                                現在送料無料です。
                            {% else %}
                                あと「<strong>{{ quantity|number_format }}個</strong>」のお買い上げで<strong class="text-primary">送料無料</strong>になります。
                            {% endif %}
                        {% endif %}
                    </p>
                    <div class="cart_item table">
                        <div class="thead">
                            <ol>
                                <li>削除</li>
                                <li>商品内容</li>
                                <li>数量</li>
                                <li>小計</li>
                            </ol>
                        </div>
                        <div class="tbody">

                            {% for CartItem in Cart.CartItems %}
                                {% set ProductClass = CartItem.Object %}
                                {% set Product = ProductClass.Product %}

                                <div class="item_box tr">
                                    <div class="icon_edit td">
                                        <a href="{{ url('cart_remove', {'productClassId': ProductClass.id }) }}">
                                            <svg class="cb cb-close"><use xlink:href="#cb-close" /></svg>
                                        </a>
                                    </div>
                                    <div class="td table">
                                        <div class="item_photo">
                                            <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                                <img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}" />
                                            </a>
                                        </div>
                                        <dl class="item_detail">
                                            <dt class="item_name text-default">
                                                <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name }}</a>
                                            </dt>
                                            <dd class="item_pattern small">
                                                {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                                    {{ ProductClass.ClassCategory1.ClassName }}：{{ ProductClass.ClassCategory1 }}
                                                {% endif %}
                                                {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                                    <br>{{ ProductClass.ClassCategory2.ClassName }}：{{ ProductClass.ClassCategory2 }}
                                                {% endif %}
                                            </dd>
                                            <dd class="item_price">￥{{ CartItem.price|number_format }}</dd>
                                            <dd class="item_subtotal">小計：￥{{ CartItem.total_price|number_format }}</dd>
                                        </dl>
                                    </div>
                                    <div class="item_quantity td">
                                        {{ CartItem.quantity|number_format }}
                                        <ul>
                                            <li>
                                                {% if CartItem.quantity > 1 %}
                                                    <a href="{{ url('cart_down', {'productClassId': ProductClass.id}) }}"><svg class="cb cb-minus"><use xlink:href="#cb-minus" /></svg></a>
                                                {% else %}
                                                    <span><svg class="cb cb-minus"><use xlink:href="#cb-minus" /></svg></span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <a href="{{ url('cart_up', {'productClassId': ProductClass.id}) }}"><svg class="cb cb-plus"><use xlink:href="#cb-plus" /></svg></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item_subtotal td">￥{{ CartItem.total_price|number_format }}</div>
                                </div><!--/item_box-->
                            {% endfor %}

                        </div>
                    </div><!--/cart_item-->

                    <div class="total_box">
                        <dl class="total_price">
                            <dt>合計：</dt>
                            <dd class="text-primary">￥{{ Cart.total_price|number_format }}</dd>
                        </dl>
                        <div class="btn_group">

                            <p>
                                <a href="{{ path('cart_buystep') }}" class="btn btn-primary btn-block">レジに進む</a>
                            </p>
                            <p>
                                <a href="{{ url('top') }}" class="btn btn-info btn-block">お買い物を続ける</a>
                            </p>
                        </div>
                    </div>

                </form>
                {% else %}
                <div class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>※ 現在カート内に商品はございません。
                    </p>
                </div>
                {% endif %}

            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
{% endblock %}
