{% extends 'site_main.twig' %}

{% block main %}
<div id="mypagecolumn">
    <h2 class="title">{{ title }}</h2>
    {% include 'Mypage/navi.twig' %}
    <div id="mycontents_area">
        <h3>{{ subtitle }}</h3>
        <div id="complete_area">
            <div class="message">退会手続きが完了いたしました。<br />
                {{ BaseInfo.shop_name }}をご利用いただき誠にありがとうございました。<br />
                またのご利用を心よりお待ち申し上げます。
            </div>

            <div class="shop_information">
                <p class="name">{{ BaseInfo.company_name }}</p>
                <p>TEL：{{ BaseInfo.tel01 }}-{{ BaseInfo.tel02 }}-{{ BaseInfo.tel03 }} {% if BaseInfo.business_hour is not empty %}（受付時間/{{ BaseInfo.business_hour }}）{% endif %}<br />
                E-mail：<a href="mailto:{{ BaseInfo.email02 }}">{{ BaseInfo.email02 }}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
