{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{'login.label.reset_pass'|trans}}</h1>
        </div>
    </div>
    <div class="ec-forgotRole">
        <form name="form1" id="form1" method="post" action="{{ url('forgot') }}">
            {{ form_widget(form._token) }}
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-forgotRole__form">
                        <div class="ec-forgotRole__intro">
                            <p class="ec-para-nomal"> ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。</p>
                            <p class="ec-para-nomal"> ※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。</p>
                        </div>
                        <div class="ec-borderedDefs">
                            <dl>
                                <dt>
                                    {{ form_label(form.login_email) }}</dt>
                                <dd>
                                    <div class="ec-input">
                                        {{ form_widget(form.login_email) }}
                                        {{ form_errors(form.login_email) }}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        {% for f in form %}
                            {% if f.vars.name matches '[^plg*]' %}
                                <div class="extra-form dl_table">
                                    {{ form_row(f) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ec-off4Grid">
                <div class="ec-off4Grid__cell"><button type="submit" class="ec-blockBtn--action">{{'common.label.goto_next_page'|trans}}</button></p></div>
            </div>
        </form>
    </div>
{% endblock %}


