{% extends 'site_main.twig' %}

{% block main %}
    <script>
        $(document).ready(function() {
            $('#hogehoge').on('click', function () {
                $('#nonmember_name_name01').val('ほげ');
                $('#nonmember_name_name02').val('ふが');
                $('#nonmember_kana_kana01').val('アダチ');
                $('#nonmember_kana_kana02').val('チヒロ');
                $('#nonmember_company_name').val('ロックオン');
                $('#nonmember_zip_zip01').val('111');
                $('#nonmember_zip_zip02').val('1111');
                $('#nonmember_address_addr01').val('大阪市');
                $('#nonmember_address_addr02').val('北区');
                $('#nonmember_tel_tel01').val('22');
                $('#nonmember_tel_tel02').val('2222');
                $('#nonmember_tel_tel03').val('2222');
                $('#nonmember_fax_fax01').val('33');
                $('#nonmember_fax_fax02').val('3333');
                $('#nonmember_fax_fax03').val('3333');
                $('#nonmember_email').val('chihiro_adachi+002@lockon.co.jp');
                $('#nonmember_sex_1').attr("checked", "checked");
                $('#nonmember_address_pref').val(3);
                $('#nonmember_job').val(3);
                $('nonmember_birth_year').val(2000);
                $('nonmember_birth_month').val(12);
                $('nonmember_birth_day').val(11);
            })
        });

    </script>
    <div id="undercolumn">
        <div id="undercolumn_customer">
            <p class="flow_area"><img src="{{ app.config.tpl }}img/picture/img_flow_01.jpg" alt="購入手続きの流れ" /></p>
            <h2 class="title">{{ title }}</h2>

            <div class="information" id="hogehoge">
                <p>下記項目にご入力ください。「<span class="attention">※</span>」印は入力必須項目です。<br />
                    {#
                    <!--{if $smarty.const.USE_MULTIPLE_SHIPPING !== false}-->
                    入力後、一番下の「上記のお届け先のみに送る」<br/>
                    または「複数のお届け先に送る」ボタンをクリックしてください。
                    <!--{else}-->
                    入力後、一番下の「次へ」ボタンをクリックしてください。
                    <!--{/if}-->
                    #}
                </p>
            </div>

            <form name="form1" id="form1" method="post" action="{{ path('shopping_nonmember') }}">
                {{ form_widget(form._token) }}
                <table summary="会員登録フォーム">

                    <col width="30%" />
                    <col width="70%" />
                    <tr>
                        <th>お名前<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </td>
                    </tr>
                    <tr>
                        <th>お名前(フリガナ)<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.kana) }}
                            {{ form_errors(form.kana) }}
                        </td>
                    </tr>
                    <tr>
                        <th>会社名</th>
                        <td>
                            {{ form_widget(form.company_name) }}
                            {{ form_errors(form.company_name) }}
                        </td>
                    </tr>
                    <tr>
                        <th>郵便番号<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.zip) }}<br />
                            {{ form_errors(form.zip) }}
                        </td>
                    </tr>
                    <tr>
                        <th>住所<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.address) }}<br />
                            {{ form_errors(form.address) }}
                        </td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td>
                            {{ form_widget(form.tel) }}<br />
                            {{ form_errors(form.tel) }}
                        </td>
                    </tr>
                    <tr>
                        <th>FAX</th>
                        <td>
                            {{ form_widget(form.fax) }}<br />
                            {{ form_errors(form.fax) }}
                        </td>
                    </tr>
                    <tr>
                        <th>メールアドレス<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.email) }}<br />
                            {{ form_errors(form.email) }}
                        </td>
                    </tr>
                    <tr>
                        <th>性別</th>
                        <td>
                            {{ form_widget(form.sex) }}<br />
                            {{ form_errors(form.sex) }}
                        </td>
                    </tr>
                    <tr>
                        <th>職業</th>
                        <td>
                            {{ form_widget(form.job) }}<br />
                            {{ form_errors(form.job) }}
                        </td>
                    </tr>
                    <tr>
                        <th>生年月日</th>
                        <td>
                            {{ form_widget(form.birth) }}<br />
                            {{ form_errors(form.birth) }}
                        </td>
                    </tr>
                </table>
                {#
                <!--{if $smarty.const.USE_MULTIPLE_SHIPPING !== false}-->
                <p class="alignC">この商品を複数のお届け先に送りますか？</p>
                <!--{/if}-->
                #}
                <div class="btn_area">
                    <ul>
                        {#
                        <!--{if $smarty.const.USE_MULTIPLE_SHIPPING !== false}-->
                        <li>
                            <input type="image" class="hover_change_image" src="<!--{$TPL_URLPATH}-->img/button/btn_singular.jpg" alt="上記のお届け先のみに送る" name="singular" id="singular" />
                        </li>
                        <li>
                            <a href="javascript:;" onclick="eccube.setModeAndSubmit('multiple', '', ''); return false">
                                <img class="hover_change_image" src="<!--{$TPL_URLPATH}-->img/button/btn_multiple.jpg" alt="複数のお届け先に送る" />
                            </a>
                        </li>
                        <!--{else}-->
                        #}
                        <li>
                            <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_next.jpg" alt="次へ" name="singular" id="singular" />
                        </li>
                        {#<!--{/if}--> #}
                    </ul>
                </div>
            </form>
        </div>
    </div>

{% endblock %}