{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'ownersstore', 'plugin'] %}

{% block title %}システム設定{% endblock %}
{% block sub_title %}プラグイン一覧{% endblock %}

{% block javascript %}
<script>
    function changeActionSubmit(action, form_name) {
        document.forms[form_name].action = action;
        document.forms[form_name].submit();
    }

    $(function(){
        $(".file_plus").on("click", function(){
            $(this).next().trigger("click");
        });
    });
</script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {% if Plugins|length > 0 %}
                    <div class="box-header with-arrow">
                        インストール済プラグイン
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table_list">
                            <div class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>プラグイン名</th>
                                        <th>バージョン</th>
                                        <th>コード</th>
                                        <th>有効/無効</th>
                                        <th>アップデート</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    {% for Plugin in Plugins %}
                                    {% set form = plugin_forms[Plugin.id] %}
                                        <form name="{{ form.vars.name }}" id="{{ form.vars.name }}" action="" method="post" enctype="multipart/form-data">
                                            {% set enable_action = url('admin_setting_system_plugin_enable', { id : Plugin.id }) %}
                                            {% set disable_action = url('admin_setting_system_plugin_disable', { id : Plugin.id }) %}
                                            {% set uninstall_action = url('admin_setting_system_plugin_uninstall', { id : Plugin.id }) %}
                                            {% set update_action = url('admin_setting_system_plugin_update', { id : Plugin.id }) %}
                                            <tbody>
                                                <tr>
                                                    <td class="member_id">
                                                        {{ Plugin.name }}
                                                    </td>
                                                    <td class="member_id">
                                                        {{ Plugin.version }}
                                                    </td>
                                                    <td class="member_id">{{ Plugin.code }}</td>
                                                    <td class="member_name">
                                                        {% if Plugin.enable == 1 %}
                                                            <a href="#" class="btn btn-success">
                                                                有効
                                                            </a>
                                                        {% else %}
                                                            <a href="#" class="btn btn-danger">
                                                                無効
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td class="member_name">
                                                        <a class="with-icon file_plus">
                                                            <svg class="cb cb-plus"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-plus"></use></svg>ファイルをアップロード
                                                        </a>
                                                        {{ form_widget(form.plugin_archive, { attr : { style : 'display: none;'} }) }}
                                                        <a class="btn btn-info" href="#" onclick="changeActionSubmit('{{ update_action }}', '{{ form.vars.name }}');">
                                                            更新
                                                        </a>
                                                    </td>
                                                    <td class="icon_edit">

                                                        {% if Plugin.enable == 1 %}
                                                            <a href="#" class="btn btn-danger" onclick="changeActionSubmit('{{ disable_action }}', '{{ form.vars.name }}');return false;">
                                                                無効化
                                                            </a>
                                                            <a href="#" disable class="btn btn-default">
                                                                有効化
                                                            </a>
                                                        {% else %}
                                                            <a href="#" disable class="btn btn-default">
                                                                無効化
                                                            </a>
                                                            <a href="#" class="btn btn-success" onclick="changeActionSubmit('{{ enable_action }}', '{{ form.vars.name }}');return false;">
                                                                有効化
                                                            </a>
                                                        {% endif %}
                                                        <a href="#" class="btn btn-warning" onclick="changeActionSubmit('{{ uninstall_action }}', '{{ form.vars.name }}');return false;">
                                                            アンインストール
                                                        </a>
                                                        {#<a href="/admin/plugin/{{ plugin.code|e }}/config">#}
                                                        {#プラグイン設定#}
                                                        {#</a>#}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </form>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                {% else %}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">検索条件に該当するデータがありませんでした。</h3>
                    </div><!-- /.box-header -->
                {% endif %}
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}
