{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<tr class="authority-rule">
    <td>
        {{ form_widget(form.Authority) }}
        {{ form_errors(form.Authority) }}
    </td>
    <td>
        {{ form_widget(form.deny_url) }}
        {{ form_errors(form.deny_url) }}
    </td>
    <td class="text-center">
        <button type="button" class="btn btn-ec-regular delete">{{ 'admin.common.delete'|trans }}</button>
    </td>
</tr>
