{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['setting', 'system', 'log'] %}

{% block title %}{{'admin.setting.system.log.671'|trans}}{% endblock %}
{% block sub_title %}{{'admin.setting.system.log.670'|trans}}{% endblock %}

{% block main %}
    <div class="c-outsideBlock">
        <div class="c-outsideBlock__contents">
            <div class="card rounded border-0 mb-4">
                <div class="card-header"><span class="card-title">{{'admin.setting.system.log.672'|trans}}</span></div>
                <div class="card-body">
                    <div id="log_conditions_box">
                        <form name="form1" id="form1" method="post">
                            {{ form_widget(form._token) }}
                            <div id="log_conditions_box__body" class="form-inline form-group">
                                <div  id="log_conditions_box__files" class="form-group pr-3">
                                    {{ form_widget(form.files) }}
                                </div>
                                <div id="log_conditions_box__line_max" class="form-group pr-3">
                                    {{ form_widget(form.line_max, {'id': 'line-max'}) }}{{'admin.setting.system.log.673'|trans}}
                                </div>
                                <div id="log_conditions_box__confirm_button" class="form-group pr-3">
                                    <button type="submit" class="btn btn-ec-conversion">{{'admin.setting.system.log.674'|trans}}</button>
                                </div>
                                {{ form_errors(form.line_max) }}
                            </div>
                            <div class="extra-form clearfix">
                                {% for f in form.getIterator %}
                                    {% if f.vars.name matches '[^plg*]' %}
                                        <div class="form-group">
                                            {{ form_label(f) }}
                                            {{ form_widget(f) }}
                                            {{ form_errors(f) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                    <div id="log_view">
<textarea id="log" class="form-control" rows="20"  wrap="off" readonly>
{% for line in log %}
{{ line }}
{% endfor %}
</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
