{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['setting', 'system', 'member'] %}

{% block title %}{{'admin.setting.system.member_edit.697'|trans}}{% endblock %}
{% block sub_title %}{{'admin.setting.system.member_edit.698'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form name="member_form" role="form" id="member_form" method="post"
          action=""
          novalidate>
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">{{ 'admin.setting.system.member_edit.699'|trans }}</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'member.label.name'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.name) }}
                                            </div>
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'member.label.organization'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.department) }}
                                            </div>
                                            {{ form_errors(form.department) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'member.label.login_id'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.login_id) }}
                                            </div>
                                            {{ form_errors(form.login_id) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'member.label.pass'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.password.first, { type : 'password'}) }}
                                            </div>
                                            {{ form_errors(form.password.first) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'member.label.varify_pass'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.password.second, { type : 'password'}) }}
                                            </div>
                                            {{ form_errors(form.password.second) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.setting.system.member.689'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.Authority) }}
                                            </div>
                                            {{ form_errors(form.Authority) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.setting.system.member.690'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.Work, {'attr': {'class': 'form-check-inline'}}) }}
                                            </div>
                                            {{ form_errors(form.Work) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="extra-form">
                                    {% for f in form.getIterator %}
                                        {% if f.vars.name matches '[^plg*]' %}
                                            {{ form_row(f) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# TODO: conversionAreaがmockではbody直下にあるが、formの関係でcontentsArea内に移動させる #}
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-beseLink"
                               href="{{ url('admin_setting_system_member') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'admin.setting.system.member_edit.700'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.setting.system.member_edit.701'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}




