{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}メール管理{% endblock %}

{% block main %}
<script type="text/javascript">
$(function(){
    $("#mail_template").on("change", function(){
        if ($(this).val()) {
            location.href= '{{ url('admin_setting_shop_mail') }}/' + $(this).val();
        } else {
            location.href= '{{ url('admin_setting_shop_mail') }}';
        }
    });
});
</script>

<form name="form1" id="form1" method="post" action="{{ url('admin_setting_shop_mail_edit', {id: mail_id}) }}">
    {{ form_widget(form._token) }}
    <div id="basis" class="contents-main">
        <table>
            <tr>
                <th>{{ form_label(form.template) }}</th>
                <td>{{ form_widget(form.template) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.subject) }}</th>
                <td>{{ form_widget(form.subject) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.header) }}</th>
                <td>{{ form_widget(form.header) }}</td>
            </tr>
            <tr>
                <th colspan="2" align="center">動的データ挿入部分</th>
            </tr>
            <tr>
                <th>{{ form_label(form.footer) }}</th>
                <td>{{ form_widget(form.footer) }}</td>
            </tr>
        </table>

        <div class="btn-area">
            <ul>
                <li><a class="btn-action" href="javascript:;" onclick="document.form1.submit(); return false;"><span class="btn-next">この内容で登録する</span></a></li>
            </ul>
        </div>
    </div>
</form>

{% endblock %}