{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}支払方法管理{% endblock %}

{% block main %}

<div id="basis" class="contents-main">
    <div class="btn">
        <ul>
            <li>
                <a class="btn-action" href="{{ url('admin_setting_shop_payment_new') }}">
                    <span class="btn-next">支払方法を新規入力</span>
                </a>
            </li>
        </ul>
    </div>
    <table class="list">
        <col width="5%" />
        <col width="30%" />
        <col width="20%" />
        <col width="20%" />
        <col width="5%" />
        <col width="5%" />
        <col width="15%" />
        <tr>
            <th class="center">ID</th>
            <th>支払方法</th>
            <th>手数料（円）</th>
            <th>利用条件</th>
            <th>編集</th>
            <th>削除</th>
            <th>移動</th>
        </tr>
        {% for Payment in Payments %}
        <tr>
            <td class="center">{{ Payment.id }}</td>
            <td class="center">{{ Payment.method }}</td>
            {% if Payment.charge_flg == 2 %}
                <td class="center">-</td>
            {% else %}
                <td class="right">{{ Payment.charge }}</td>
            {% endif %}
            <td class="center">
                {% if Payment.rule_max > 0 %}
                    {{ Payment.rule_max }}
                {% else %}
                    0
                {% endif %}円

                {% if Payment.upper_rule > 0 %}
                    ～{{ Payment.upper_rule }}円
                {% elseif Payment.upper_rule is null %}
                    ～無制限
                {% endif %}
            </td>
            <td class="center">
                {% if Payment.fix != 1 %}
                    <a href="{{ url('admin_setting_shop_payment_edit', { id: Payment.id}) }}">編集</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="center">
                {% if Payment.fix != 1 %}
                    <a href="{{ url('admin_setting_shop_payment_delete', { id: Payment.id}) }}">削除</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="center">
                {% if loop.first == false %}
                    <a href="{{ url('admin_setting_shop_payment_up', {id: Payment.id}) }}">上へ</a>
                {% endif %}
                {% if loop.last == false %}
                    <a href="{{ url('admin_setting_shop_payment_down', {id: Payment.id}) }}">下へ</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}