{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}支払方法管理{% endblock %}

{% block main %}

<form name="form1" id="form1" method="post" action="{{ url('admin_setting_shop_payment_edit', {id: payment_id}) }}" {{ form_enctype(form) }} >
    {{ form_widget(form._token) }}
    <div id="basis" class="contents-main">
        <h2>支払方法登録・編集</h2>

            <table class="form">
            <col width="20%" />
            <col width="80%" />
                <tr>
                    <th>{{ form_label(form.method) }}</th>
                    <td>{{ form_widget(form.method) }}</td>
                </tr>
                {% if(Payment.charge_flg != 2) %}
                <tr>
                    <th>{{ form_label(form.charge) }}</th>
                    <td>{{ form_widget(form.charge) }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>{{ form_label(form.rule_max) }}</th>
                    <td>{{ form_widget(form.rule_max) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.upper_rule) }}</th>
                    <td>{{ form_widget(form.upper_rule) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.payment_image_file) }}</th>
                    <td>
                        {% if image is not null %}
                            <img src="{{ image }}" /><a href="{{ url('admin_setting_shop_payment_delete_image', {id: payment_id}) }}">[画像を削除]</a>
                        {% endif %}
                        {{ form_widget(form.payment_image_file) }}
                    </td>
                </tr>
            </table>

        <div class="btn-area">
            <ul>
                <li><a class="btn-action" href="{{ url('admin_setting_shop_payment') }}"><span class="btn-prev">前のページに戻る</span></a></li>
                <li><a class="btn-action" href="javascript:;" onclick="document.form1.submit(); return false;"><span class="btn-next">この内容で登録する</span></a></li>
            </ul>
        </div>
    </div>
</form>

{% endblock %}