{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}ポイント管理{% endblock %}

{% block main %}

<form name="point_form" id="point_form" method="post" action="{{ url('admin_setting_shop_point') }}">
    {{ form_widget(form._token) }}
    <div id="basis" class="contents-main">
        <table>
            <tr>
                <th>ポイント付与率（初期値）<span class="attention"> *</span></th>
                <td>
                    {{ form_widget(form.point_rate) }} ％　小数点以下切り捨て
                    {{ form_errors(form.point_rate) }}
                </td>
            </tr>
            <tr>
                <th>会員登録時付与ポイント<span class="attention"> *</span></th>
                <td>
                    {{ form_widget(form.welcome_point) }} pt
                    {{ form_errors(form.welcome_point) }}
                </td>
            </tr>
        </table>

        <div class="btn-area">
            {{ form_widget(form.save) }}
        </div>
    </div>
</form>

{% endblock %}