{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}税率設定{% endblock %}

{% block main %}

    {# TODO：個別送料の実装 パラメーターの仕様に左右されるため、保留にしてます。
    <h2>個別税率設定</h2>
    #}

    <h2>共通税率設定</h2>
    <form name="tax_rule_form" id="tax_rule_form" method="post" action="
    {%- if tax_rule_id is not null %}{{ url('admin_setting_shop_tax_edit', {id: tax_rule_id}) }}{% else %}{{ url('admin_setting_shop_tax_new')}}{% endif -%}">
        {{ form_widget(form._token) }}
        <div id="basis" class="contents-main">
            {{ form_widget(form) }}
        </div>
    </form>

    {% if TaxRules|length  > 0 %}
        <table class="list">
            <col width="22%"/>
            <col width="23%"/>
            <col width="35%"/>
            <col width="10%"/>
            <col width="10%"/>
            <tr>
                <th>消費税率</th>
                <th>課税規則</th>
                <th>適用日時</th>
                <th class="edit">編集</th>
                <th class="delete">削除</th>
            </tr>
            {% for rule in TaxRules %}
                <tr style="{% if tax_rule_id != rule.id %}#ffffff{% else %}{{ app.config.select_rgb }}{% endif %}">
                    <td class="center">{{rule.tax_rate}}</td>
                    <td class="center">{{rule.calc_rule.name}}</td>
                    <td class="center">
                        {%- if rule.id == 0 -%}
                            基本税率設定
                        {%- else -%}
                        {{ rule.apply_date|date("Y-m-d h:i") }}
                        {%- endif -%}
                    </td>
                    <td class="center">
                        {%- if tax_rule_id == rule.id and tax_rule_id is not null -%}
                            編集中
                        {%- else -%}
                            <a href="{{ url('admin_setting_shop_tax_edit', {id: rule.id}) }}">編集</a>
                        {%- endif -%}
                    </td>
                    <td class="center">
                        {%- if rule.id == 0 -%}
                            -
                        {%- else -%}
                            <a href="{{ url('admin_setting_shop_tax_delete', {id: rule.id}) }}">削除</a>
                        {%- endif -%}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}