<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ error_title }}</title>
    <link rel="icon" href="{{ asset('assets/img/common/favicon.ico', 'user_data') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>
<div class="container d-flex align-items-center justify-content-center vh-100 error-page">
    <div class="row w-75">
        <div class="col-12">
            <div class="jumbotron mt-4 py-4 text-center bg-light">
                <h4>
                    <i class="h1 fas fa-exclamation-triangle text-warning"></i>
                    <p>{{ error_title }}</p>
                </h4>
                <div class="error-message my-3">
                    {{ error_message }}
                </div>
                <hr class="my-4">
                <a class="btn btn-primary" href="{{ url('homepage') }}">{{ 'common.go_to_top'|trans }}</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
