<ul class="level1">
    <li class="on_level2">
        <div><span>PC</span></div>
        <ul class="level2">
            <li id="navi-design-layout"><a href="{{ url('admin_design') }}"><span>レイアウト設定</span></a></li>
            <li id="navi-design-main"><a href="{{ url('admin_design_main_edit') }}"><span>ページ詳細設定</span></a></li>
            <li id="navi-design-bloc"><a href="{{ url('admin_design_bloc', {'device_type_id': 10}) }}"><span>ブロック設定</span></a></li>
            <li id="navi-design-header"><a href="{{ url('admin_design_header', {'device_type_id': 10}) }}"><span>ヘッダー/フッター設定</span></a></li>
            <li id="navi-design-css"><a href="{{ url('admin_design_css', {'device_type_id': 10}) }}"><span>CSS設定</span></a></li>
            <li id="navi-design-template"><a href="{{ url('admin_design_template', {'device_type_id': 10}) }}"><span>テンプレート設定</span></a></li>
            <li id="navi-design-add1"><a href="{{ url('admin_design_up_down', {'device_type_id': 10}) }}"><span>テンプレート追加</span></a></li>
        </ul>
    </li>
</ul>
