{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-cartNavi">
    <div class="ec-cartNavi__icon"><img src="{{ asset('assets/icon/cart-dark.svg') }}" alt="cart"></div>
    <div class="ec-cartNavi__iconClose"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt="close"></div>
    <div class="ec-cartNavi__badge">{{ totalQuantity }}</div>
    <div class="ec-cartNavi__label">{{'common.label.cart_total'|trans}}
        <div class="ec-cartNavi__price">{{ totalPrice }}</div>
    </div>
</div>

{% if totalQuantity > 0 %}
    <div class="ec-cartNaviIsset">
        {% for Cart in Carts %}
            {% for CartItem in Cart.CartItems %}
                {% set ProductClass = CartItem.ProductClass %}
                {% set Product = ProductClass.Product %}
                <div class="ec-cartNaviIsset__cart">
                    <div class="ec-cartNaviIsset__cartImage">
                        <img src="{{ asset(Product.MainListImage, 'save_image') }}" alt="{{ Product.name }}">
                    </div>
                    <div class="ec-cartNaviIsset__cartContent">
                        <div class="ec-cartNaviIsset__cartContentTitle">{{ Product.name }}
                            <div class="ec-font-size-1">
                                {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                    {{ ProductClass.ClassCategory1.ClassName.name }}：{{ ProductClass.ClassCategory1 }}
                                {% endif %}
                                {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                    <br>{{ ProductClass.ClassCategory2.ClassName.name }}：{{ ProductClass.ClassCategory2 }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="ec-cartNaviIsset__cartContentPrice">
                            {{ CartItem.price}}
                            <div class="ec-cartNaviIsset__cartContentTax">{{'shopping.label.tax_incl'|trans}}</div>
                        </div>
                        <div class="ec-cartNaviIsset__cartContentNumber">{{'shopping.label.qty'|trans}}{{ CartItem.quantity }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="ec-cartNaviIsset__action">
            <a class="ec-blockBtn--action" href="{{ url('cart') }}">{{'shopping.label.btn.goto_cart'|trans}}</a>
            <a class="ec-blockBtn ec-cartNavi--cancel">{{'shopping.label.btn.cancel'|trans}}</a>
        </div>
    </div>
{% else %}
    <div class="ec-cartNaviNull">
        <div class="ec-cartNaviNull__message">
            <p>{{'shopping.text.error.no_item_in_cart'|trans}}</p>
        </div>
    </div>
{% endif %}
