{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-role">
    <div class="ec-displayD">
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img10.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img11.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img12.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img13.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img14.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img15.jpg') }}"></div>
            </a>
        </div>
    </div>
    <div class="ec-displayD">
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img16.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img17.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img18.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img19.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img20.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img21.jpg') }}"></div>
            </a>
        </div>
    </div>
</div>
