{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="ec-role">
    <div class="ec-displayD">
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img10.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img11.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img12.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img13.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img14.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img15.jpg') }}"></div>
            </a>
        </div>
    </div>
    <div class="ec-displayD">
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img16.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img17.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img18.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img19.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img20.jpg') }}"></div>
            </a>
        </div>
        <div class="ec-displayD__cell">
            <a href="#">
                <div class="ec-displayD__img"><img src="{{ asset('img/top/img21.jpg') }}"></div>
            </a>
        </div>
    </div>
</div>
