{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

{% if is_granted('ROLE_USER') %}
    <div class="ec-headerRole__nav is is_inDrawer">
        <div class="ec-headerNav">
            <div class="ec-headerNav__item"><a class="ec-icon" href="{{ url('mypage') }}">
                    <svg viewbox="0 0 360 360">
                        <circle class="icon-bg" cx="180" cy="179.85" r="155"></circle>
                        <path class="icon-with-bg" d="M208.968,226.94c-6.271-1.217-11.042-6.885-11.042-13.573c0-4.763,15.612-19.351,15.504-19.555   c16.115-16.615,24.724-43.762,24.724-64.632c0-32.317-26.04-58.658-58.152-58.658c-32.114,0-58.153,26.341-58.153,58.658   c0,20.969,8.41,48.323,24.614,64.939c0,0,15.612,14.484,15.612,19.247c0,7.089-5.273,12.966-12.169,13.776   c-34.33,3.646-54.8,14.385-70.708,35.156c-4.561,5.976-7.093,18.03-7.193,24.516l-0.014,4.19   c27.915,27.13,66.008,43.845,108.011,43.845c42.044,0,80.171-16.748,108.094-43.927v-4.108c-0.197-6.485-2.729-18.54-7.292-24.516   C264.687,241.325,244.031,230.488,208.968,226.94z"></path>
                    </svg>
                    <span>マイページ</span></a>
            </div>
            {% if BaseInfo.option_favorite_product == 1 %}
                <div class="ec-headerNav__item"><a class="ec-icon" href="{{ url('mypage_favorite') }}">
                        <svg viewbox="0 0 360 360">
                            <circle class="icon-bg" cx="180" cy="179.85" r="155"></circle>
                            <path class="icon-with-bg"
                                  d="M281.438,160.48c0,16.617-8.61,33.533-25.824,50.747l-70.256,67.662c-1.354,1.354-3.008,2.03-4.962,2.03    c-1.956,0-3.609-0.677-4.962-2.03l-70.369-67.888c-0.752-0.601-1.786-1.579-3.101-2.932c-1.316-1.353-3.402-3.814-6.259-7.387    c-2.858-3.57-5.413-7.234-7.668-10.995c-2.256-3.759-4.269-8.306-6.034-13.645c-1.768-5.338-2.649-10.525-2.649-15.563    c0-16.538,4.772-29.47,14.321-38.793c9.547-9.321,22.74-13.983,39.582-13.983c4.661,0,9.417,0.809,14.266,2.425    c4.85,1.617,9.36,3.797,13.533,6.541c4.172,2.745,7.762,5.32,10.77,7.725c3.005,2.407,5.864,4.961,8.57,7.668    c2.706-2.707,5.563-5.262,8.57-7.668c3.006-2.405,6.597-4.98,10.77-7.725c4.172-2.743,8.684-4.923,13.532-6.541    c4.85-1.616,9.604-2.425,14.266-2.425c16.84,0,30.033,4.663,39.582,13.983C276.663,131.011,281.438,143.943,281.438,160.48z     M267.003,160.48c0-6.089-0.81-11.463-2.425-16.125c-1.618-4.661-3.685-8.363-6.202-11.108c-2.521-2.744-5.582-4.98-9.19-6.71    c-3.608-1.729-7.145-2.893-10.601-3.496c-3.459-0.601-7.144-0.902-11.052-0.902c-3.91,0-8.12,0.958-12.63,2.875    c-4.511,1.917-8.666,4.324-12.462,7.217c-3.797,2.895-7.047,5.602-9.754,8.12c-2.707,2.52-4.962,4.832-6.766,6.935    c-1.354,1.655-3.197,2.481-5.526,2.481c-2.331,0-4.173-0.826-5.525-2.481c-1.805-2.104-4.061-4.416-6.768-6.935    c-2.705-2.518-5.959-5.225-9.754-8.12c-3.798-2.894-7.95-5.3-12.461-7.217c-4.511-1.917-8.722-2.875-12.631-2.875    s-7.594,0.301-11.051,0.902c-3.46,0.603-6.992,1.767-10.601,3.496c-3.608,1.73-6.674,3.966-9.19,6.71    c-2.52,2.745-4.588,6.447-6.203,11.108c-1.617,4.663-2.424,10.036-2.424,16.125c0,12.63,7.029,25.976,21.088,40.034l65.52,63.151    l65.406-63.039C259.935,186.494,267.003,173.111,267.003,160.48z"></path>
                        </svg>
                        <span>お気に入り</span></a>
                </div>
            {% endif %}
            <div class="ec-headerNav__item"><a class="ec-icon" href="{{ url('logout') }}">
                    <svg viewbox="0 0 360 360">
                        <circle class="icon-bg" cx="180" cy="179.85" r="155"></circle>
                        <path class="icon-with-bg" d="M253.204,176.911v73.204c0,3.391-1.188,6.271-3.557,8.644c-2.373,2.373-5.256,3.558-8.645,3.558H118.997    c-3.391,0-6.271-1.185-8.643-3.558c-2.373-2.372-3.559-5.253-3.559-8.644v-73.204c0-3.388,1.186-6.27,3.559-8.642    c2.371-2.371,5.252-3.559,8.643-3.559h4.066v-24.401c0-15.589,5.592-28.977,16.775-40.161    c11.186-11.184,24.57-16.776,40.162-16.776c15.588,0,28.977,5.592,40.16,16.776c11.184,11.185,16.775,24.572,16.775,40.161v24.401    h4.066c3.389,0,6.271,1.188,8.645,3.559C252.016,170.641,253.204,173.523,253.204,176.911z M147.463,164.71h65.072v-24.401    c0-8.98-3.178-16.649-9.533-23.003c-6.354-6.355-14.023-9.532-23.002-9.532c-8.982,0-16.65,3.177-23.004,9.532    c-6.355,6.354-9.533,14.023-9.533,23.003V164.71z"></path>
                    </svg>
                    <span>ログアウト</span></a>
            </div>
        </div>
    </div>
{% else %}
    <div class="ec-headerRole__nav is is_inDrawer">
        <div class="ec-headerNav">
            <div class="ec-headerNav__item"><a class="ec-icon" href="{{ url('entry') }}">
                    <svg viewbox="0 0 360 360">
                        <circle class="icon-bg" cx="180" cy="179.85" r="155"></circle>
                        <path class="icon-with-bg" d="M208.968,226.94c-6.271-1.217-11.042-6.885-11.042-13.573c0-4.763,15.612-19.351,15.504-19.555   c16.115-16.615,24.724-43.762,24.724-64.632c0-32.317-26.04-58.658-58.152-58.658c-32.114,0-58.153,26.341-58.153,58.658   c0,20.969,8.41,48.323,24.614,64.939c0,0,15.612,14.484,15.612,19.247c0,7.089-5.273,12.966-12.169,13.776   c-34.33,3.646-54.8,14.385-70.708,35.156c-4.561,5.976-7.093,18.03-7.193,24.516l-0.014,4.19   c27.915,27.13,66.008,43.845,108.011,43.845c42.044,0,80.171-16.748,108.094-43.927v-4.108c-0.197-6.485-2.729-18.54-7.292-24.516   C264.687,241.325,244.031,230.488,208.968,226.94z"></path>
                    </svg>
                    <span>新規会員登録</span></a>
            </div>
            {% if BaseInfo.option_favorite_product == 1 %}
                <div class="ec-headerNav__item"><a class="ec-icon" href="{{ url('mypage_favorite') }}">
                        <svg viewbox="0 0 360 360">
                            <circle class="icon-bg" cx="180" cy="179.85" r="155"></circle>
                            <path class="icon-with-bg"
                                  d="M281.438,160.48c0,16.617-8.61,33.533-25.824,50.747l-70.256,67.662c-1.354,1.354-3.008,2.03-4.962,2.03    c-1.956,0-3.609-0.677-4.962-2.03l-70.369-67.888c-0.752-0.601-1.786-1.579-3.101-2.932c-1.316-1.353-3.402-3.814-6.259-7.387    c-2.858-3.57-5.413-7.234-7.668-10.995c-2.256-3.759-4.269-8.306-6.034-13.645c-1.768-5.338-2.649-10.525-2.649-15.563    c0-16.538,4.772-29.47,14.321-38.793c9.547-9.321,22.74-13.983,39.582-13.983c4.661,0,9.417,0.809,14.266,2.425    c4.85,1.617,9.36,3.797,13.533,6.541c4.172,2.745,7.762,5.32,10.77,7.725c3.005,2.407,5.864,4.961,8.57,7.668    c2.706-2.707,5.563-5.262,8.57-7.668c3.006-2.405,6.597-4.98,10.77-7.725c4.172-2.743,8.684-4.923,13.532-6.541    c4.85-1.616,9.604-2.425,14.266-2.425c16.84,0,30.033,4.663,39.582,13.983C276.663,131.011,281.438,143.943,281.438,160.48z     M267.003,160.48c0-6.089-0.81-11.463-2.425-16.125c-1.618-4.661-3.685-8.363-6.202-11.108c-2.521-2.744-5.582-4.98-9.19-6.71    c-3.608-1.729-7.145-2.893-10.601-3.496c-3.459-0.601-7.144-0.902-11.052-0.902c-3.91,0-8.12,0.958-12.63,2.875    c-4.511,1.917-8.666,4.324-12.462,7.217c-3.797,2.895-7.047,5.602-9.754,8.12c-2.707,2.52-4.962,4.832-6.766,6.935    c-1.354,1.655-3.197,2.481-5.526,2.481c-2.331,0-4.173-0.826-5.525-2.481c-1.805-2.104-4.061-4.416-6.768-6.935    c-2.705-2.518-5.959-5.225-9.754-8.12c-3.798-2.894-7.95-5.3-12.461-7.217c-4.511-1.917-8.722-2.875-12.631-2.875    s-7.594,0.301-11.051,0.902c-3.46,0.603-6.992,1.767-10.601,3.496c-3.608,1.73-6.674,3.966-9.19,6.71    c-2.52,2.745-4.588,6.447-6.203,11.108c-1.617,4.663-2.424,10.036-2.424,16.125c0,12.63,7.029,25.976,21.088,40.034l65.52,63.151    l65.406-63.039C259.935,186.494,267.003,173.111,267.003,160.48z"></path>
                        </svg>
                        <span>お気に入り</span></a>
                </div>
            {% endif %}
            <div class="ec-headerNav__item"><a class="ec-icon" href="{{ url('mypage_login') }}">
                    <svg viewbox="0 0 360 360">
                        <circle class="icon-bg" cx="180" cy="179.85" r="155"></circle>
                        <path class="icon-with-bg" d="M253.204,176.911v73.204c0,3.391-1.188,6.271-3.557,8.644c-2.373,2.373-5.256,3.558-8.645,3.558H118.997    c-3.391,0-6.271-1.185-8.643-3.558c-2.373-2.372-3.559-5.253-3.559-8.644v-73.204c0-3.388,1.186-6.27,3.559-8.642    c2.371-2.371,5.252-3.559,8.643-3.559h4.066v-24.401c0-15.589,5.592-28.977,16.775-40.161    c11.186-11.184,24.57-16.776,40.162-16.776c15.588,0,28.977,5.592,40.16,16.776c11.184,11.185,16.775,24.572,16.775,40.161v24.401    h4.066c3.389,0,6.271,1.188,8.645,3.559C252.016,170.641,253.204,173.523,253.204,176.911z M147.463,164.71h65.072v-24.401    c0-8.98-3.178-16.649-9.533-23.003c-6.354-6.355-14.023-9.532-23.002-9.532c-8.982,0-16.65,3.177-23.004,9.532    c-6.355,6.354-9.533,14.023-9.533,23.003V164.71z"></path>
                    </svg>
                    <span>ログイン</span></a>
            </div>
        </div>
    </div>
{% endif %}