{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <img class="ec-eyecatchRole__image" src="{{ asset('img/top/img_about.jpg') }}" alt="" role="presentation"/>
        <div class="ec-eyecatchRole__intro">
            {# TODO ↓テキスト置換必要　#}
            <p class="ec-eyecatchRole__introEnTitle">CUBE GELATO ICE
            </p>
            <p class="ec-eyecatchRole__introTitle"> {{ 'front.block.new_product.eyecatch_title'|trans }}
            </p>
            <p class="ec-eyecatchRole__introDescriptiron">
                {{ 'front.block.new_product.eyecatch_body'|trans }}
            </p><a class="ec-blockBtn--top" href="/products/list?category_id=6">{{ 'front.block.new_product.eyecatch_view_list'|trans }}</a>
        </div>
    </div>

    <div class="ec-displayB">
        <div class="ec-displayB__cell">
            <a href="#">
                <div class="ec-displayB__img"><img src="{{ asset('img/top/img03.jpg') }}"></div>
                <div class="ec-displayB__catch">{{ 'front.block.new_product.category_1_title'|trans }}</div>
                <div class="ec-displayB__comment ec-font-size-1">{{ 'front.block.new_product.category_1_body'|trans }}</div>
                <div class="ec-displayB__link">{{ 'front.block.new_product.category_read_more'|trans }}</div>
            </a>
        </div>
        <div class="ec-displayB__cell">
            <a href="#">
                <div class="ec-displayB__img"><img src="{{ asset('img/top/img04.jpg') }}"></div>
                <div class="ec-displayB__catch">{{ 'front.block.new_product.category_2_title'|trans }}</div>
                <div class="ec-displayB__comment ec-font-size-1">{{ 'front.block.new_product.category_2_body'|trans }}</div>
                <div class="ec-displayB__link">{{ 'front.block.new_product.category_read_more'|trans }}</div>
            </a>
        </div>
        <div class="ec-displayB__cell">
            <a href="#">
                <div class="ec-displayB__img"><img src="{{ asset('img/top/img05.jpg') }}"></div>
                <div class="ec-displayB__catch">{{ 'front.block.new_product.category_3_title'|trans }}</div>
                <div class="ec-displayB__comment ec-font-size-1">{{ 'front.block.new_product.category_3_body'|trans }}</div>
                <div class="ec-displayB__link">{{ 'front.block.new_product.category_read_more'|trans }}</div>
            </a>
        </div>
    </div>
    <div class="ec-displayC">
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img06.jpg') }}"></div>
                <div class="ec-displayC__catch">{{ 'front.block.new_product.item_1_title'|trans }}</div>
                <div class="ec-displayC__title">{{ 'front.block.new_product.item_1_name'|trans }}</div>
                <div class="ec-displayC__price">{{ 1785|price }}}</div>
            </a>
        </div>
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img07.jpg') }}"></div>
                <div class="ec-displayC__catch">{{ 'front.block.new_product.item_2_title'|trans }}</div>
                <div class="ec-displayC__title">{{ 'front.block.new_product.item_2_name'|trans }}</div>
                <div class="ec-displayC__price">{{ 1785|price }}</div>
            </a>
        </div>
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img08.jpg') }}"></div>
                <div class="ec-displayC__catch">{{ 'front.block.new_product.item_3_title'|trans }}</div>
                <div class="ec-displayC__title">{{ 'front.block.new_product.item_3_name'|trans }}</div>
                <div class="ec-displayC__price--sp">{{ 1785|price }}</div>
            </a>
        </div>
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img09.jpg') }}"></div>
                <div class="ec-displayC__catch">{{ 'front.block.new_product.item_4_title'|trans }}</div>
                <div class="ec-displayC__title">{{ 'front.block.new_product.item_4_name'|trans }}</div>
                <div class="ec-displayC__price">{{ 1785|price }}</div>
            </a>
        </div>
    </div>
</div>