{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="item_list">
    <div class="row">
        <div class="col-sm-6 col-xs-3">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="img"><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/img01.jpg"></a></div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="img"><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/img02.jpg"></a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-9 comment_area">
            <div class="txt_center">
                <h4>新入荷商品特集</h4>
                <h5>この季節にぴったりな商品をご用意しました</h5>
                <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミダミーダミーダミー
                    ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                <p><a class="btn btn-success" href="#">一覧を見る<svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img04.jpg"></div>
                    <dl>
                        <dt class="item_name">ダミーダミーダミーダミーダミーダミー</dt>
                        <dd class="item_comment text-warning">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミ・・・</dd>
                        <dd class="more_link">read more</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img04.jpg"></div>
                    <dl>
                        <dt class="item_name">ダミーダミーダミーダミーダミーダミー</dt>
                        <dd class="item_comment">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミ・・・</dd>
                        <dd class="more_link">read more</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img04.jpg"></div>
                    <dl>
                        <dt class="item_name">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</dt>
                        <dd class="item_comment">ダミーダミーダミーダミーダミーダダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミ・・・</dd>
                        <dd class="more_link">read more</dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/no_image_product.jpg"></div>
                    <p class="item_comment">ダミーダミーダミーダミーダミーダミーダミーダミーがおすすめ！</p>
                    <dl>
                        <dt class="item_name">ダミーダミーダミーダミーダミーダミー</dt>
                        <dd class="item_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/no_image_product.jpg"></div>
                    <p class="item_comment">ダミーダミーダミーダミーダミーダミーダミーダミーがおすすめ！</p>
                    <dl>
                        <dt class="item_name">ダミーダミーダミーダミーダミーダミー</dt>
                        <dd class="item_price special_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/no_image_product.jpg"></div>
                    <p class="item_comment">ダミーダミーダミーダミーダミーダミーダミーダミーミーダミーダミーミーダミーダミーがおすすめ！</p>
                    <dl>
                        <dt class="item_name">ダミーダミーダミーダミーダミー</dt>
                        <dd class="item_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/no_image_product.jpg"></div>
                    <p class="item_comment">ダミーダミーダミーダミーダミーダミーダミーダミーがおすすめ！</p>
                    <dl>
                        <dt class="item_name">ダミーダミーダミーダミーダミーーダミーダミーーダミーダミーーダミーダミーーダミーダミー</dt>
                        <dd class="item_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
</div>