{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-eyecatchRole">
    <div class="ec-grid2">
        <div class="ec-grid2__cell">
            <div class="ec-splitImg">
                <div class="ec-splitImg__item"><img src="{{ asset('img/top/img01.jpg') }}">
                </div>
                <div class="ec-splitImg__item"><img src="{{ asset('img/top/img02.jpg') }}">
                </div>
            </div>
        </div>
        <div class="ec-grid2__cell">
            <div class="ec-eyecatchRole__intro">
                <p class="ec-eyecatchRole__introTitle">{{'common.label.new_arrivals'|trans}}</p>
                <p class="ec-heading-bold">この季節にぴったりな商品をご用意しました</p>
                <p class="ec-font-size-4">さわやかな日差しが過ごしやすい季節。心地よいくらしのための、お部屋のアクセントになるおすすめのファブリックやグッズをご紹介します。</p>
                <p><a class="ec-inlineBtn--primary" href="/products/list?category_id=6">一覧を見る<span class="ec-icon"><img src="{{ asset('assets/icon/angle-right-white.svg') }}"></span></a></p>
            </div>
        </div>
    </div>
</div>
<div class="ec-role">
    <div class="ec-displayB">
        <div class="ec-displayB__cell">
            <a href="#">
                <div class="ec-displayB__img"><img src="{{ asset('img/top/img03.jpg') }}"></div>
                <div class="ec-displayB__catch">{{'front_home.label.category.espresso_break'|trans}}</div>
                <div class="ec-displayB__comment ec-font-size-1">コーヒータイムを上質な時間にしてくれる、口当たりのよさとデザイン性を兼ね備えたエスプレッソカップを集めました・・・</div>
                <div class="ec-displayB__link">read more</div>
            </a>
        </div>
        <div class="ec-displayB__cell">
            <a href="#">
                <div class="ec-displayB__img"><img src="{{ asset('img/top/img04.jpg') }}"></div>
                <div class="ec-displayB__catch">{{'front_home.label.category.outdoor_items'|trans}}</div>
                <div class="ec-displayB__comment ec-font-size-1">カジュアルすぎない感じがちょうどよい、大人のためのアウトドアマガジンから、バイヤーおすすめのアイテムをセレクト・・・</div>
                <div class="ec-displayB__link">read more</div>
            </a>
        </div>
        <div class="ec-displayB__cell">
            <a href="#">
                <div class="ec-displayB__img"><img src="{{ asset('img/top/img05.jpg') }}"></div>
                <div class="ec-displayB__catch">{{'front_home.label.category.french_deadstock'|trans}}</div>
                <div class="ec-displayB__comment ec-font-size-1">60～70年代のフランス製のデッドストックの器を集めました。絶妙な色合いと、独特の優しい風合いをお楽しみいただけ・・・</div>
                <div class="ec-displayB__link">read more
                </div>
            </a>
        </div>
    </div>
    <div class="ec-displayC">
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img06.jpg') }}"></div>
                <div class="ec-displayC__catch">{{'front_home.label.category.animal_carving'|trans}}</div>
                <div class="ec-displayC__title">{{'front_home.label.category.ornament_owl'|trans}}</div>
                <div class="ec-displayC__price">{{1785|price}}</div>
            </a>
        </div>
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img07.jpg') }}"></div>
                <div class="ec-displayC__catch">{{'front_home.label.category.blue_brown_glass'|trans}}</div>
                <div class="ec-displayC__title">{{'front_home.label.category.glass_bottle'|trans}}</div>
                <div class="ec-displayC__price">{{1785|price}}</div>
            </a>
        </div>
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img08.jpg') }}"></div>
                <div class="ec-displayC__catch">いつかは持ちたい。一生モノの銀製カトラリー</div>
                <div class="ec-displayC__title">シルバーカトラリー</div>
                <div class="ec-displayC__price--sp">{{1785|price}}</div>
            </a>
        </div>
        <div class="ec-displayC__cell">
            <a class="ec-displayC" href="#">
                <div class="ec-displayC__img"><img src="{{ asset('img/top/img09.jpg') }}"></div>
                <div class="ec-displayC__catch">{{'front_home.label.category.silk_screen_prints'|trans}}</div>
                <div class="ec-displayC__title">{{'front_home.label.category.photo_cusion'|trans}}</div>
                <div class="ec-displayC__price">{{1785|price}}</div>
            </a>
        </div>
    </div>
</div>