{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <img class="ec-eyecatchRole__image" src="{{ asset('img/top/img_about.jpg') }}" alt="" role="presentation"/>
        <div class="ec-eyecatchRole__intro">
            {# TODO ロジック差し込み　#}
            <p class="ec-eyecatchRole__introEnTitle">CUBE GELATO ICE
            </p>
            <p class="ec-eyecatchRole__introTitle"> {{ 'front.block.new_product.eyecatch_title'|trans }}
            </p>
            <p class="ec-eyecatchRole__introDescriptiron">
                {{ 'front.block.new_product.eyecatch_body'|trans }}
            </p><a class="ec-blockBtn--top" href="/products/list?category_id=6">{{ 'front.block.new_product.eyecatch_view_list'|trans }}</a>
        </div>
    </div>
</div>

<div class="ec-topicRole">
    <div class="ec-role">
        {# TODO ロジック差し込み　#}
        <div class="ec-secHeading"><span class="ec-secHeading__en">TOPICS</span><span class="ec-secHeading__line"></span><span class="ec-secHeading__ja">特集</span></div>
        <div class="ec-topicRole__list">
            <div class="ec-topicRole__listItem"><a href="/moc/guest/search/"><img src="{{ asset('img/top/img_bnr01.jpg') }}"></a>
                <p class="ec-topicRole__listItemTitle">濃厚なのにアイスよりヘルシー!! ジェラート特集
                </p>
            </div>
            <div class="ec-topicRole__listItem"><a href="/moc/guest/search/"><img src="{{ asset('img/top/img_bnr02.jpg') }}"></a>
                <p class="ec-topicRole__listItemTitle">サクサク食感が魅力!! コーンアイス特集
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ec-role">
    <div class="ec-newItemRole">
        <div class="ec-newItemRole__list">
            <div class="ec-newItemRole__listItem">
                <div class="ec-newItemRole__listItemHeading ec-secHeading--tandem">
                    {# TODO ロジック差し込み　#}
                    <span class="ec-secHeading__en">NEW ITEM</span>
                    <span class="ec-secHeading__line"></span><span class="ec-secHeading__ja">新着商品</span>
                    <a class="ec-inlineBtn--top" href="/moc/guest/search/">more</a>
                </div>
            </div>
            <div class="ec-newItemRole__listItem"><a href="/moc/guest/item/"><img src="{{ asset('img/top/img_item01_01.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">彩のジェラート"CUBE"
                    </p>
                    <p class="ec-newItemRole__listItemPrice">￥1,200(税込)
                    </p></a>
            </div>
            <div class="ec-newItemRole__listItem"><a href="/moc/guest/item/"><img src="{{ asset('img/top/img_item02_01.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">チェリーアイスサンド
                    </p>
                    <p class="ec-newItemRole__listItemPrice">￥800(税込)
                    </p></a>
            </div>
            <div class="ec-newItemRole__listItem"><a href="/moc/guest/item/"><img src="{{ asset('img/top/img_item01_03.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">タイトル
                    </p>
                    <p class="ec-newItemRole__listItemPrice">￥600(税込)
                    </p></a>
            </div>
        </div>
    </div>
</div>
<div class="ec-categoryRole">
    <div class="ec-role">
        {# TODO ロジック差し込み　#}
        <div class="ec-secHeading"><span class="ec-secHeading__en">CATEGORY</span><span class="ec-secHeading__line"></span><span class="ec-secHeading__ja">カテゴリ</span></div>
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem"><a href="/moc/guest/search/"><img src="http://placehold.it/300x150/ccc/fff/&amp;text=hoge"></a>
            </div>
            <div class="ec-categoryRole__listItem"><a href="/moc/guest/search/"><img src="http://placehold.it/300x150/ccc/fff/&amp;text=hoge"></a>
            </div>
            <div class="ec-categoryRole__listItem"><a href="/moc/guest/search/"><img src="http://placehold.it/300x150/ccc/fff/&amp;text=hoge"></a>
            </div>
        </div>
    </div>
</div>