{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set NewsList = repository('Eccube\\Entity\\News').findBy({}, {'sort_no': 'DESC'}) %}

{% block javascript %}
<script>
    $(function() {
        $('.news__items').each(function() {
            var listLenght = $(this).find('li').length;
            if (listLenght > 5) {
                $(this).find('li:gt(4)').each(function() {
                    $(this).hide();
                });
                $(this).append('<a id="news_readmore">» {{'common.label.readmore'|trans}}</a>');
                var dispNum = 5;
                $(this).find('#news_readmore').click(function() {
                    dispNum += 5;
                    $(this).parent().find('li:lt(' + dispNum + ')').show(400);
                    if (dispNum >= listLenght) {
                        $(this).hide();
                    }
                })
            }
        });
    });
</script>
{% endblock %}

<div class="ec-news">
    <div class="ec-news__title">{{'front_home.label.whats_new'|trans}}</div>
    <ul class="ec-news__items">
        {% for News in NewsList %}
        <li class="ec-news__item">
            <div class="ec-newsline">
                <div class="ec-newsline__info">
                    <div class="ec-newsline__date">{{ News.publish_date|date("Y/m/d") }}</div>
                    <div class="ec-newsline__title">{{ News.title }}</div>
                    {% if News.description or News.url %}
                        <div class="ec-newsline__close">
                            <a class="ec-closeBtn--circle"><div class="ec-icon"><img src="{{ asset('assets/icon/angle-down-white.svg') }}" alt=""></div>
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% if News.description or News.url %}
                <div class="ec-newsline__description">
                    {{ News.description|raw|nl2br }}
                    {% if News.url %}<br>
                    <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>{{'common.label.see_details'|trans}}</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
