{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
            <div id="drawer_pc" class="drawer header_bottom_area pc">
                <div id="search" class="search">
                    <form method="get" id="searchform" action="{{ path('product_list') }}">
                        <div class="search_inner">
                            {{ form_widget(form.category_id) }}
                            <div class="input_search clearfix">
                                {{ form_widget(form.name, {'attr': { 'placeholder' : "キーワードを入力" }} ) }}
                                <button type="submit" class="bt_search"></button>
                            </div>
                        </div>
                    </form>
                </div>
                {# todo 別ブロック化
                <div id="member" class="member">
                    <ul class="member_link">
                    {% if is_granted('ROLE_USER') %}

                        <li>
                            <a href="{{ url('mypage') }}">
                                <span class="fa-stack"> <span class="fa fa-circle fa-stack-2x"></span> <span class="fa fa-user fa-stack-1x fa-inverse"></span> </span>マイページ
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('mypage_favorite') }}">
                                <span class="fa-stack"> <span class="fa fa-circle fa-stack-2x"></span> <span class="fa fa-heart-o fa-stack-1x fa-inverse"></span> </span>お気に入り
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('mypage_login') }}">
                                <span class="fa-stack"> <span class="fa fa-circle fa-stack-2x"></span> <span class="fa fa-sign-in fa-stack-1x fa-inverse"></span> </span>ログイン
                            </a>
                        </li>

                    {% else %}

                        <li>
                            <a href="{{ url('mypage_favorite') }}">
                                <span class="fa-stack"> <span class="fa fa-circle fa-stack-2x"></span> <span class="fa fa-heart-o fa-stack-1x fa-inverse"></span> </span>お気に入り
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('forgot') }}">
                                <span class="fa-stack"> <span class="fa fa-circle fa-stack-2x"></span> <span class="fa fa-sign-in fa-stack-1x fa-inverse"></span> </span>ログイン
                            </a>
                        </li>

                    {% endif %}
                    </ul>
                </div>
                #}
            </div>
