{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<!DOCTYPE html>
<html>
<head>
<meta charset="{{ app.config.char_code }}">
<title>{{ app.config.shop_name }}</title>
<meta name="author" content="author" />
<meta name="description" content="description" />
<meta name="keywords" content="keyword" />
<meta name="robots" content="robots" />
<link rel="shortcut icon" href="{{ app.config.root }}img/common/favicon.ico" />
<link rel="icon" type="image/vnd.microsoft.icon" href="{{ app.config.tpl }}img/common/favicon.ico" />
<link rel="stylesheet" href="{{ app.config.root }}js/jquery.colorbox/colorbox.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ app.config.tpl }}css/import.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ app.config.root }}js/jquery.ui/theme/jquery.ui.core.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ app.config.root }}js/jquery.ui/theme/jquery.ui.tooltip.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ app.config.root }}js/jquery.ui/theme/jquery.ui.theme.css" type="text/css" media="all" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="<!--{$smarty.const.HTTP_URL}-->rss/<!--{$smarty.const.DIR_INDEX_PATH}-->" />
<!--[if lt IE 9]>
<script src="{{ app.config.root }}js/jquery-1.11.1.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="{{ app.config.root }}js/jquery-2.1.1.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="{{ app.config.root }}js/eccube.js"></script>
<!-- #2342 次期メジャーバージョン(2.14)にてeccube.legacy.jsは削除予定.モジュール、プラグインの互換性を考慮して2.13では残します. -->
<script type="text/javascript" src="{{ app.config.root }}js/eccube.legacy.js"></script>
<script type="text/javascript" src="{{ app.config.root }}js/jquery.colorbox/jquery.colorbox-min.js"></script>
<!--
<script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
-->
<script type="text/javascript">//<![CDATA[
    {{ block('javascript') }}
    $(function(){
        {{ block('onload') }}
    });
//]]></script>

{# ▼Head COLUMN #}
    {# ▼上ナビ #}
    {{ render(path('block', {'position': 'HEAD'})) }}
    {# ▲上ナビ #}
{# ▲Head COLUMN #}
</head>


    <body class="<!--{$tpl_page_class_name|h}-->">

        <div class="frame_outer">
            <a name="top" id="top"></a>

            {# ▼HeaderHeaderTop COLUMN #}
                <div id="headertopcolumn">
                    {# ▼上ナビ #}
                    {{ render(path('block', {'position': 'HEAD_TOP'})) }}
                    {# ▲上ナビ #}
                </div>
            {# ▲HeaderHeaderTop COLUMN#}

            {# ▼HEADER #}
                <div id="header_wrap">
                    <div id="header" class="clearfix">
                        <div id="logo_area">
                            <p id="site_description">EC-CUBE発!世界中を旅して見つけた立方体グルメを立方隊長が直送！</p>
                            <a href="{{ app.config.root }}"><img src="{{ app.config.tpl }}img/common/logo.gif" alt="" /></a>
                        </div>
                        <div id="header_utility">
                            <div id="headerInternalColumn">
                            {# ▼HeaderInternal COLUMN #}
                                {# ▼上ナビ #}
                                {{ render(path('block', {'position': 'HEAD_INTERNAL'})) }}
                                {# ▲上ナビ #}
                            {# ▲HeaderInternal COLUMN #}
                            </div>
                            <div id="header_navi">
                                <ul>
                                    <li class="mypage">
                                        <a href="{{ path('mypage') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/common/btn_header_mypage.jpg" alt="MYページ" /></a>
                                    </li>
                                    <li class="entry">
                                        <a href="{{ path('entry') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/common/btn_header_entry.jpg" alt="会員登録" /></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cart') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/common/btn_header_cart.jpg" alt="カゴの中を見る" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {# ▲HEADER #}

            <div id="container" class="clearfix">

                {# ▼TOP COLUMN #}
                    <div id="topcolumn">
                        {# ▼上ナビ #}
                        {{ render(path('block', {'position': 'TOP'})) }}
                        {# ▲上ナビ #}
                    </div>
                {# ▲TOP COLUMN#}

                {# ▼LEFT COLUMN #}
                    <div id="leftcolumn" class="side_column">
                        {# ▼左ナビ #}
                        {{ render(path('block', {'position': 'LEFT'})) }}
                        {# ▲左ナビ #}
                    </div>
                {# ▲LEFT COLUMN #}

                {# ▼CENTER COLUMN #}


                <div id="main_column" class="colnum{{ app.colnum }} {% if app.colnum == 2 and app.hasLeftNavi is defined %}left{% endif %}">
                    {# ▼メイン上部 #}
                    {{ render(path('block', {'position': 'MAIN_HEAD'})) }}
                    {# ▲メイン上部 #}

                    <!-- ▼メイン -->

                    {% block main %}{% endblock %}

                    <!-- ▲メイン -->

                    {# ▼メイン下部 #}
                        {{ render(path('block', {'position': 'MAIN_FOOT'})) }}
                    {# ▲メイン下部 #}
                </div>
                {# ▲CENTER COLUMN #}

                {# ▼RIGHT COLUMN #}
                    <div id="rightcolumn" class="side_column">
                        {# ▼右ナビ #}
                        {{ render(path('block', {'position': 'RIGHT'})) }}
                        {# ▲右ナビ #}
                    </div>
                {# ▲RIGHT COLUMN #}

                {# ▼BOTTOM COLUMN #}
                    <div id="bottomcolumn">
                        {# ▼下ナビ #}
                        {{ render(path('block', {'position': 'BOTTOM'})) }}
                        {# ▲下ナビ #}
                    </div>
                {# ▲BOTTOM COLUMN #}

            </div>

            {# ▼FOOTER #}
            <div id="footer_wrap">
                <div id="footer" class="clearfix">
                    <div id="pagetop"><a href="#top">このページの先頭へ</a></div>
                    <div id="copyright">Copyright ©
                        &nbsp;{{ app.config.release_year }}
                        &nbsp;{{ app.config.shop_name }} All rights reserved.
                    </div>
                </div>
            </div>

            {# ▲FOOTER #}

            {# ▼FooterBottom COLUMN #}
                <div id="footerbottomcolumn">
                    {# ▼上ナビ #}
                    {{ render(path('block', {'position': 'FOOT'})) }}
                    {# ▲上ナビ #}
                </div>
            {# ▲FooterBottom COLUMN #}
        </div>
    </body>
