{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>EC-CUBE 3</title>
    <link rel="stylesheet" href="{{ app.config.root }}css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ app.config.root }}css/slick.css">
    <link rel="stylesheet" href="{{ app.config.root }}css/theme_origin.css"><!-- for original theme CSS -->
    {{ render(path('block', {'position': 'HEAD'})) }}
  </head>
  <body class="front_page">
    <div id="wrapper">
    <header id="header">
        {{ render(path('block', {'position': 'HEAD_TOP'})) }}
        <div class="container-fluid inner">
            <div class="header_logo_area">
                {{ render(path('block', {'position': 'HEAD_INTERNAL'})) }}
            </div>
                    
            {{ render(path('block', {'position': 'TOP'})) }}

            <p id="btn_menu"><a class="nav-trigger" href="#nav">Menu<span></span></a></p>
        </div>
    </header>
    
    <div id="contents" class="main_only">

        <div id="primary">
            <div id="main-left">
                {{ render(path('block', {'position': 'LEFT'})) }}
            </div>
            <div id="main-head">
                {{ render(path('block', {'position': 'MAIN_HEAD'})) }}
            </div>
            <div class="container-fluid inner">
            {% block main %}{% endblock %}
            </div>
            <div id="main-foot">
                {{ render(path('block', {'position': 'MAIN_FOOT'})) }}
            </div>
            <div id="main-right">
                {{ render(path('block', {'position': 'RIGHT'})) }}
            </div>
        </div>

        <div class="container-fluid inner">
            <div id="main">
                {{ render(path('block', {'position': 'BOTTOM'})) }}
            </div>
        </div>

        <footer id="footer">
            <div class="container-fluid inner">
                <ul>
                <li><a href="#">当サイトについて</a></li>
                <li><a href="#">プライバシーポリシー</a></li>
                <li><a href="#">特定商取引法に関する法律について</a></li>
                <li><a href="#">お問い合わせ</a></li>
                </ul>
                <div class="footer_logo_area">
                    <p class="logo"><a href="#">{{ app.config.shop_name }}</a></p>
                    <p class="copyright"><small>copyright (c) {{ app.config.shop_name }} all rights reserved.</small></p>
                </div>
            </div>
            {{ render(path('block', {'position': 'FOOT'})) }}
        </footer>

    </div>
    <div id="drawer" class="drawer sp">
    </div>
    
    <div class="overlay"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ app.config.root }}js/bootstrap.min.js"></script>
    <script src="{{ app.config.root }}js/slick.min.js"></script>
    <script src="{{ app.config.root }}js/function.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.main_visual').slick({
              dots: true,
              arrows: false,
              autoplay: true,
              speed: 300
            });

            $("#drawer").append($("#drawer_pc").clone(true).children());
        });
    </script>
  </body>
</html