{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
#}


{% extends 'Admin/main_frame.twig' %}


{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ブロック管理{% endblock %}


{% block main %}

<form name="tax_rule_form" id="tax_rule_form" method="post" action="
{%- if block_id is not null %}{{ url('admin_content_block_edit', {id: block_id}) }}{% else %}{{ url('admin_content_block')}}{% endif -%}">

    {{ form_widget(form._token) }}
    {{ form_widget(form.bloc_id) }}
    {{ form_widget(form.device_type_id) }}
    <table>
        <tr>
            <th>{{ form_label(form.name) }}</th>
            <td>
                {{ form_widget(form.name) }}
                <div class="message">
                    <span class="attention">{{ form_errors(form.name) }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.filename) }}</th>
            <td>
                {{ form_widget(form.filename) }}
                <div class="attention">
                    <span class="attention">{{ form_errors(form.filename) }}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    {{ form_widget(form.bloc_html) }}
                    <input type="hidden" name="html_area_row" value="<!--{$text_row}-->" /><br />
                    <a id="resize-btn" class="btn-normal" href="javascript:;" onclick="eccube.toggleRows('#resize-btn', '#tpl_data', 50, 13); return false;"><span>拡大</span></a>
                </div>
            </td>
        </tr>
    </table>

    <div class="btn-area">
        <ul>
            <li>{{ form_widget(form.save)}}</li>
        </ul>
    </div>
</form>


    <h2>編集可能ブロック</h2>
    <div class="btn addnew">
        <a class="btn-normal" href="{{ url('admin_content_block')}}"><span>ブロックを新規入力</span></a>
    </div>
    <table class="list">
        <col width="70%"/>
        <col width="15%"/>
        <col width="15%"/>
        <tr>
            <th>名称</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
        {% for Block in Blocks %}
            <tr style="{%  if Block.bloc_id == block_id %}background-color: {{ app.config.select_rgb }};{% endif %}">
                <td>
                    {{ Block.name }}
                </td>
                <td class="center">
                        <a href="{{ url('admin_content_block_edit', {id: Block.bloc_id}) }}">編集</a>
                </td>
                <td class="center">
                    {% if Block.deletable_flg > 0 %}
                        <a href="{{ url('admin_content_block_delete', {id: Block.bloc_id}) }}">削除</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}