{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}規格編集{% endblock %}

{% block main %}
<form name="form1" id="form1" method="post" action="{% if TargetClassName.id %}{{ path('admin_product_class_name_edit', {id: TargetClassName.id}) }}{% else %}{{ url('admin_product_class_name') }}{% endif %}">
    <div id="products" class="contents-main">
        <table>
            {{ form_rest(form)}}
        </table>

        <div class="btn-area">
            <ul>
                <li><a class="btn-action" href="javascript:;" onclick="document.form1.submit(); return false;"><span class="btn-next">この内容で登録する</span></a></li>
            </ul>
        </div>

        <table class="list">
            <col />
            <col width="15%" />
            <col width="10%" />
            <col width="10%" />
            <col width="15%" />
            <tr>
                <th>規格名 (登録数)</th>
                <th>分類登録</th>
                <th class="edit">編集</th>
                <th class="delete">削除</th>
                <th>移動</th>
            </tr>
            {% for ClassName in ClassNames %}
                <tr style="background:{% if ClassName.id != TargetClassName.id %}#ffffff{% else %}{{ app.config.select_rgb }}{% endif %};">
                    <td>{# 規格名 #}{{ ClassName.name }} ({{ ClassName.ClassCategories|length }})</td>
                    <td align="center"><a href="{{ url('admin_product_class_category', {class_name_id: ClassName.id}) }}">分類登録</a></td>
                    <td align="center">
                        {% if ClassName.id != TargetClassName.id %}
                            <a href="{{ url('admin_product_class_name_edit', {id: ClassName.id}) }}">編集</a>
                        {% else %}
                            編集中
                        {% endif %}
                    </td>
                    <td align="center">
                        {% if ClassName.ClassCategories|length > 0 %}
                            -
                        {% else %}
                            <a href="?" onclick="eccube.changeAction('{{ url('admin_product_class_name_delete', {class_name_id': ClassName.id}) }}'); document.form1.submit(); return false;">削除</a>
                        {% endif %}
                    </td>
                    <td align="center">
                        {% if loop.first == false %}
                            <a href="?" onclick="eccube.changeAction('{{ url('admin_product_class_name_up', {class_name_id': ClassName.id}) }}'); document.form1.submit(); return false;">上へ</a>
                        {% endif %}
                        {% if loop.last == false %}
                            <a href="?" onclick="eccube.changeAction('{{ url('admin_product_class_name_down', {class_name_id: ClassName.id}) }}'); document.form1.submit(); return false;">下へ</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock %}
