{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}商品マスター{% endblock %}

{% block javascript %}
    // URLの表示非表示切り替え
    function lfnDispChange(){
        inner_id = 'switch';

        cnt = document.form1.item_cnt.value;

        if($('#disp_url1').css("display") == 'none'){
            for (i = 1; i <= cnt; i++) {
                disp_id = 'disp_url'+i;
                $('#' + disp_id).css("display", "");

                disp_id = 'disp_cat'+i;
                $('#' + disp_id).css("display", "none");

                $('#' + inner_id).html('    URL <a href="#" onclick="lfnDispChange();"> &gt;&gt; カテゴリ表示<\/a>');
            }
        } else {
            for (i = 1; i <= cnt; i++) {
                disp_id = 'disp_url'+i;
                $('#' + disp_id).css("display", "none");

                disp_id = 'disp_cat'+i;
                $('#' + disp_id).css("display", "");

                $('#' + inner_id).html('    カテゴリ <a href="#" onclick="lfnDispChange();"> &gt;&gt; URL表示<\/a>');
            }
        }
    }
{% endblock %}

{% form_theme searchForm 'Form/bootstrap_3_layout.html.twig' %}

{% block main %}
            <!--検索条件設定テーブルここから-->
            <div class="search-box">
                <form name="search_form" id="search_form" method="post" action="">
                    <div class="row">
                        <div class="col-md-12 accordion">

                            {{ form_widget(searchForm.id, { attr: { placeholder: '商品ID', class : 'input_search' } } ) }}

                            <a class="toggle fa-stack" href="#"><span class="fa fa-minus fa-stack-1x"></span> <span class="fa fa-minus fa-stack-1x"></span></a>
                            <div class="search-box-inner accpanel">
                                {{ form_rest(searchForm, { attr : { class : 'search' } }) }}

                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="text-center"><a href="#">検索条件をクリア</a></p>
                                    </div>
                                </div><!-- /.row --> 
                            </div>
                        </div>
                        <!-- /.col --> 
                    </div>
                    <div class="row btn_area">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
                            <button class="btn btn-primary btn-block btn-lg" onclick="eccube.fnFormModeSubmit('search_form', 'search', '', ''); return false;">
                                検索する <span class="fa fa-chevron-right"></span>
                            </button>
                        </div>
                        <!-- /.col --> 
                    </div>
                </form>
            </div>
            <!--検索条件設定テーブルここまで-->

        {% if pagination.totalItemCount > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-arrow">
                            <h3 class="box-title">検索結果 <span class="normal"><strong>{{ pagination.totalItemCount }} 件</strong> が該当しました</span></h3>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="link-with-bar">
                                    <li><a>すべて</a></li>
                                    <li><a href="#">公開</a></li>
                                    <li><a href="#">非公開</a></li>
                                    <li><a href="#">在庫なし</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="sort-dd">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">20件<span class="fa fa-chevron-down icon_down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a>50件</a></li>
                                            <li><a>100件</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">CSVダウンロード<span class="fa fa-chevron-down icon_down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a>ダウンロード</a></li>
                                            <li><a>出力項目設定</a></li>
                                        </ul>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item_list">
                                <div class="tableish tableish-striped">
                                
                                    {% for Product in pagination %}
                                        <div class="item_box tr">
                                            <div class="item_photo td">
                                                <img src="{{ app.config.image_save_urlpath }}{{ Product.main_list_image|no_image_main_list }}" />
                                                {#
                                                    <span class="fa fa-picture-o fa-4x"></span>
                                                #}
                                            </div>
                                            <div class="item_detail td">
                                                <a href="{{ url('admin_product_product_edit', { id : Product.id }) }}">
                                                    {{ Product.name }}
                                                </a><br>
                                                <span>
                                                    {{ Product.code_min }}
                                                    {% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="icon_edit td">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-pencil"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="{{ url('admin_product_product_class_edit', { id : Product.id }) }}">規格</a></li>
                                                    <li><a href="">確認</a></li>
                                                    <li><a href="">複製</a></li>
                                                    <li><a href="">削除</a></li>
                                                    </ul>
                                                </div>                                        
                                            </div>
                                        </div><!-- /.item_box --> 
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!-- /.box-body --> 
                        {% if pagination.totalItemCount > 0 %}
                            {% include "Admin/pager.twig" with { 'pages' : pagination.paginationData } %}
                        {% endif %}
                    </div><!-- /.box --> 
                </div><!-- /.col --> 
            </div>
        {% endif %}
    </div>
{% endblock %}
