{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}商品規格管理{% endblock %}

{% block main %}

<script type="text/javascript">//<![CDATA[
    $(function() {
        // 無制限チェックボックスの初期化
        $('input[id^=chk_stock_unlimited_]').each(function() {
            var index = $(this).attr('id').replace(/^chk_stock_unlimited_/ig, '');
            var checked = $(this).attr('checked');

            if (checked) {
                $('#stock_' + index)
                    .attr('readonly', true)
                    .css('background-color', '<!--{$smarty.const.DISABLED_RGB}-->');
            }
        });

        // 無制限チェックボックス
        $('input[id^=chk_stock_unlimited_]').change(function() {
            var index = $(this).attr('id').replace(/^chk_stock_unlimited_/ig, '');
            var checked = $(this).attr('checked');

            if (checked) {
                $('#stock_' + index)
                    .attr('readonly', true)
                    .css('background-color', '<!--{$smarty.const.DISABLED_RGB}-->');
            } else {
                $('#stock_' + index)
                    .attr('readonly', false)
                    .css('background-color', '');
            }
        });

        // 1行目をコピーボタン
        $('#copy_from_first').click(function() {
            var check = $('#check_0').attr('checked');
            $('input[id^=check_]').attr('checked', check);

            var product_code = $('#product_code_0').val();
            $('input[id^=product_code_]').val(product_code);

            var stock = $('#stock_0').val();
            $('input[id^=stock_]').val(stock);

            var stock_unlimited = $('#chk_stock_unlimited_0').attr('checked');
            $('input[id^=chk_stock_unlimited_]').each(function() {
                var checked = stock_unlimited;
                var index = $(this).attr('id').replace(/^chk_stock_unlimited_/ig, '');
                $(this).attr('checked', checked);
                if (checked) {
                    $('#stock_' + index)
                        .attr('readonly', true)
                        .css('background-color', '<!--{$smarty.const.DISABLED_RGB}-->');
                } else {
                    $('#stock_' + index)
                        .attr('readonly', false)
                        .css('background-color', '');
                }
            });

            var price01 = $('#price01_0').val();
            $('input[id^=price01_]').val(price01);

            var price02 = $('#price02_0').val();
            $('input[id^=price02_]').val(price02);

            var tax_rate = $('#tax_rate_0').val();
            $('input[id^=tax_rate_]').val(tax_rate);

            var product_type_id_value = '';
            $('input[id^=product_type_id_0_]').each(function() {
                if ($(this).attr('checked')) {
                    product_type_id_value = $(this).val();
                }
            });
            $('input[id^=product_type_id_]').each(function() {
                if ($(this).val() == product_type_id_value) {
                    $(this).attr('checked', true);
                }
            });

            var down_filename = $('#down_filename_0').val();
            $('input[id^=down_filename_]').val(down_filename);
        });
    });
//]]></script>
<h2>商品規格登録</h2>
<form name="form1" id="form1" method="post" action="{{ url('admin_product_product_class_edit', { id : Product.id}) }}" enctype="multipart/form-data">
    <input type="hidden" name="mode" value=""/>
    {{ form_widget(form._token) }}
    <div id="products" class="contents-main">
        <table>
            <tr>
                <th>商品名</th>
                <td>{{ Product.name }}</td>
            </tr>
            <tr>
                <th>規格1<span class="attention">*</span></th>
                <td>
                    {{ form_widget(form.class_name1) }}
                    {{ form_errors(form.class_name1) }}
                </td>
            </tr>
            <tr>
                <th>規格2</th>
                <td>
                    {{ form_widget(form.class_name2) }}
                    {{ form_errors(form.class_name2) }}
                </td>
            </tr>
        </table>
        <div class="btn-area">
            <ul>
                <li><a class="btn-action" href="{{ url('admin_product') }}"><span class="btn-prev">検索結果へ戻る</span></a></li>
                <li><a class="btn-action" href="javascript:;" onclick="eccube.setModeAndSubmit('disp','',''); return false;"><span class="btn-next">表示する</span></a></li>
                {% if form.product_classes|length > 0 %}
                    <li><a class="btn-action" href="javascript:;" onclick="eccube.setModeAndSubmit('delete','',''); return false;"><span class="btn-next">削除する</span></a></li>
                {% endif %}
            </ul>
        </div>
        {% if form.product_classes|length > 0 %}
        <div class="list-info clearfix">
            <div class="btn"><a class="btn-normal" href="javascript:;" id="copy_from_first"><span>一行目のデータをコピーする</span></a></div>
            <p><span class="bold">アップロード可能な拡張子：</span>{{ app.config.download_extension }}(パラメーター DOWNLOAD_EXTENSION)</p>
        </div>

        <table class="list">
            <col width="5%" />
            <col width="15%" />
            <col width="15%" />
            <col width="9%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="8%" />
            <col width="8%" />
            <tr>
                <th>登録</th>
                <th>規格1<br />({{ form.class_name1.vars.data is empty ? '--' : form.class_name1.vars.data}})</th>
                <th>規格2<br />({{ form.class_name2.vars.data is empty ? '--' : form.class_name2.vars.data}})</th>
                <th>商品コード</th>
                <th>在庫数<span class="attention">*</span></th>
                <th>{{ app.config.normal_price_title }}(円)</th>
                <th>{{ app.config.sale_price_title }}(円)<span class="attention">*</span></th>
                {% if app.config.option_product_tax_rule %}
                <th>消費税率(%)<span class="attention">*</span></th>
                {% endif %}
                <th>ポイント付与率<span class="attention">*</span></th>
                <th>商品種別<span class="attention">*</span></th>
                <th>ダウンロード<br />ファイル名<span class="red"><br />上限{{ app.config.stext_len }}文字</span></th>
                <th>ダウンロード商品用<br />ファイル</th>
            </tr>
            {% for product_class_form in form.product_classes %}
            <tr>
                <td class="center">
                    <p onclick="$(this).parent().parent().remove()">x</p>
                </td>
                <td class="center">
                    {{ product_class_form.vars.value.ClassCategory1 is empty ? '' : product_class_form.vars.value.ClassCategory1.name }}
                    {{ form_widget(product_class_form.ClassCategory1) }}
                </td>
                <td class="center">
                    {{ product_class_form.vars.value.ClassCategory2 is empty ? '' : product_class_form.vars.value.ClassCategory2.name }}
                    {{ form_widget(product_class_form.ClassCategory2) }}
                </td>
                <td class="center">
                    {{ form_widget(product_class_form. code) }}
                    {{ form_errors(product_class_form. code) }}
                </td>
                <td class="center">
                    {% if  product_class_form.vars.value.stock_unlimited %}
                        {# 在庫無制限時のdisable #}
                    {% endif %}
                    {{ form_widget(product_class_form. stock) }}
                    {{ form_errors(product_class_form. stock) }}
                    無制限：{{ form_widget(product_class_form. stock_unlimited) }}
                    {{ form_errors(product_class_form. stock_unlimited) }}
                </td>
                <td class="center">
                    {{ form_widget(product_class_form. price01) }}
                    {{ form_errors(product_class_form. price01) }}
                </td>
                <td class="center">
                    {{ form_widget(product_class_form. price02) }}
                    {{ form_errors(product_class_form. price02) }}
                </td>
                {% if app.config.option_product_tax_rule %}
                <td class="center">
                    {# form_widget(product_class_form. tax_rate) #}
                    {# form_errors(product_class_form. tax_rate) #}
                </td>
                {% endif %}
                <td class="center">
                    {{ form_widget(product_class_form. point_rate) }}
                    {{ form_errors(product_class_form. point_rate) }}
                </td>
                <td class="class-product-type">
                    {{ form_widget(product_class_form. product_type) }}
                    {{ form_errors(product_class_form. product_type) }}
                </td>
                <td class="center">
                    {{ form_widget(product_class_form. down_filename) }}
                    {{ form_errors(product_class_form. down_filename) }}
                </td>
                <td>
                    {# todo ファイルアップロード
                   <!--{assign var=key value="down_realfilename"}-->
                   <!--{if $arrErr[$key][$index]}-->
                       <span class="attention"><!--{$arrErr[$key][$index]}--></span>
                   <!--{/if}-->
                   <!--{if $arrForm[$key].value[$index] != ""}-->
                       <!--{$arrForm[$key].value[$index]|h}--><br />
                       <input type="hidden" name="<!--{$key}-->[<!--{$index}-->]" value="<!--{$arrForm[$key].value[$index]|h}-->" />
                       <a href="?" onclick="eccube.fnFormModeSubmit('form1', 'file_delete', 'upload_index', '<!--{$index}-->'); return false;">[ファイルの取り消し]</a>
                   <!--{else}-->
                   <input type="file" name="<!--{$key}-->[<!--{$index}-->]" size="10" style="<!--{$arrErr[$key]|sfGetErrorColor}-->" /><br />
                   <a class="btn-normal" href="javascript:;" name="btn" onclick="eccube.fnFormModeSubmit('form1', 'file_upload', 'upload_index', '<!--{$index}-->'); return false;">アップロード</a>
                   <!--{/if}-->
                    #}
               </td>
        </tr>
            {% endfor %}
        </table>
        <div class="btn-area">
            <ul>
                <li><a class="btn-action" href="javascript:;" onclick="eccube.fnFormModeSubmit('form1', 'edit', '', ''); return false;"><span class="btn-next">確認ページへ</span></a></li>
            </ul>
        </div>
        {% endif%}
    </div>
</form>
{% endblock %}