<ul class="level1">
    <li id="navi-products-index"><a href="{{ url('admin_products') }}"><span>商品マスター</span></a></li>
    <li id="navi-products-product"><a href="{{ url('admin_products_product') }}"><span>商品登録</span></a></li>
    <li id="navi-products-uploadcsv"><a href="{{ url('admin_products_upload_csv') }}"><span>商品登録CSV</span></a></li>
    <li id="navi-products-class"><a href="{{ url('admin_products_class') }}"><span>規格管理</span></a></li>
    <li id="navi-products-category"><a href="{{ url('admin_products_category') }}"><span>カテゴリ登録</span></a></li>
    <li id="navi-products-upload-csv-category"><a href="{{ url('admin_products_upload_csv_category') }}"><span>カテゴリ登録CSV</span></a></li>
    <li id="navi-products-maker"><a href="{{ url('admin_products_maker') }}"><span>メーカー登録</span></a></li>
    <li id="navi-products-rank"><a href="{{ url('admin_products_product_rank') }}'"><span>商品並び替え</span></a></li>
</ul>
