{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>{{ 'signup.label.new_registration'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="{{ url('entry') }}" novalidate class="h-adr">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>
                                {{ form_label(form.name, 'Name', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error' }}">
                                    {% if eccube_config.locale == "ja" %}
                                        {{ form_widget(form.name.name01, {'attr': {'placeholder': 'signup.label.family_name'}}) }}
                                    {% endif %}
                                    {{ form_widget(form.name.name02, {'attr': {'placeholder': 'signup.label.first_name'}}) }}
                                    {% if eccube_config.locale != "ja" %}
                                        {{ form_widget(form.name.name01, {'attr': {'placeholder': 'signup.label.family_name'}}) }}
                                    {% endif %}
                                    {{ form_errors(form.name.name01) }}
                                    {{ form_errors(form.name.name02) }}
                                </div>
                            </dd>
                        </dl>
                        {% if eccube_config.locale == "ja" %}
                            <dl>
                                <dt>

                                    {{ form_label(form.kana, 'signup.label.name_kana', {'label_attr': {'class': 'ec-label'}}) }}
                                </dt>
                                <dd>
                                    <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error' }}">
                                        {{ form_widget(form.kana.kana01, {'attr': {'placeholder': 'signup.label.family_name_kana'}}) }}
                                        {{ form_widget(form.kana.kana02, {'attr': {'placeholder': 'signup.label.last_name_kana'}}) }}
                                        {{ form_errors(form.kana.kana01) }}
                                        {{ form_errors(form.kana.kana02) }}
                                    </div>
                                </dd>
                            </dl>
                        {% endif %}
                        <dl>
                            <dt>
                                {{ form_label(form.company_name, 'signup.label.company_name', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.company_name) ? ' error' }}">
                                    {{ form_widget(form.company_name) }}
                                    {{ form_errors(form.company_name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.address, 'signup.label.address', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}"><span>〒</span>
                                    {{ form_widget(form.postal_code) }}
                                    {{ form_errors(form.postal_code) }}
                                </div>
                                {% if eccube_config.locale == "ja" %}
                                    <div class="ec-zipInputHelp">
                                        <a href="http://www.post.japanpost.jp/zipcode/"
                                           target="_blank">
                                            <div class="ec-zipInputHelp__icon">
                                                <div class="ec-icon"><img src="{{ asset('assets/icon/question-white.svg') }}" alt=""></div>
                                            </div>
                                            <span>郵便番号検索</span>
                                        </a>
                                    </div>
                                    <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                        {{ form_widget(form.address.pref) }}
                                        {{ form_errors(form.address.pref) }}
                                    </div>
                                    <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                        {{ form_widget(form.address.addr01, {'attr': {'placeholder': 'signup.label.city_town_village' }}) }}
                                        {{ form_errors(form.address.addr01) }}
                                    </div>
                                    <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                        {{ form_widget(form.address.addr02, {'attr': {'placeholder': 'signup.label.house_number' }}) }}
                                        {{ form_errors(form.address.addr02) }}
                                    </div>
                                {% else %}
                                    <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                        {{ form_widget(form.address.addr01, {'attr': {'placeholder': 'signup.label.city_town_village' }}) }}
                                        {{ form_errors(form.address.addr01) }}
                                    </div>
                                    <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                        {{ form_widget(form.address.addr02, {'attr': {'placeholder': 'signup.label.house_number' }}) }}
                                        {{ form_errors(form.address.addr02) }}
                                    </div>
                                    <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                        {{ form_widget(form.address.pref) }}
                                        {{ form_errors(form.address.pref) }}
                                    </div>
                                {% endif %}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.phone_number, 'signup.label.tel_number', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.phone_number) ? ' error' }}">
                                    {{ form_widget(form.phone_number) }}
                                    {{ form_errors(form.phone_number) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'signup.label.email', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.email.first) ? ' error' }}">
                                    {{ form_widget(form.email.first) }}
                                    {{ form_errors(form.email.first) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.email.second) ? ' error' }}">
                                    {{ form_widget(form.email.second, {'attr': {'placeholder': 'signup.label.email_check' }}) }}
                                    {{ form_errors(form.email.second) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.password, 'signup.label.pass', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.password.first) ? ' error' }}">
                                    {{ form_widget(form.password.first, {
                                        'attr': {'placeholder': 'signup.text.note.half_width_alphanumeric'},
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.password.first) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.password.second) ? ' error' }}">
                                    {{ form_widget(form.password.second, {
                                        'attr': {'placeholder': 'signup.label.pass_check'},
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.password.second) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.birth, 'signup.label.dob', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-birth{{ has_errors(form.birth) ? ' error' }}">
                                    {{ form_widget(form.birth.year) }}<span>/</span>
                                    {{ form_widget(form.birth.month) }}<span>/</span>
                                    {{ form_widget(form.birth.day) }}
                                    {{ form_errors(form.birth) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.sex, 'signup.label.gender', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-radio{{ has_errors(form.sex) ? ' error' }}">
                                    {{ form_widget(form.sex) }}
                                    {{ form_errors(form.sex) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.job, 'signup.label.occupation', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-select{{ has_errors(form.job) ? ' error' }}">
                                    {{ form_widget(form.job) }}
                                    {{ form_errors(form.job) }}
                                </div>
                            </dd>
                        </dl>
                        {# エンティティ拡張の自動出力 #}
                        {% for f in form if f.vars.eccube_form_options.auto_render %}
                            {% if f.vars.eccube_form_options.form_theme %}
                                {% form_theme f f.vars.eccube_form_options.form_theme %}
                                {{ form_row(f) }}
                            {% else %}
                                <dl>
                                    <dt>
                                        {{ form_label(f) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(f) ? ' error' }}">
                                            {{ form_widget(f) }}
                                            {{ form_errors(f) }}
                                        </div>
                                    </dd>
                                </dl>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <div class="ec-checkbox{{ has_errors(form.user_policy_check) ? ' error' }}">
                                    <label>
                                        {{ form_widget(form.user_policy_check) }}
                                        <a class="ec-link" href="{{ url('help_agreement') }}" target="_blank">{{ 'signup.label.btn.user_policy'|trans }}</a>{{ 'signup.text.message.accept_terms_conditions'|trans }}
                                    </label>
                                    {{ form_errors(form.user_policy_check) }}
                                </div>
                                <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">{{ 'signup.label.radio.accept'|trans }}</button>
                                <a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{ 'signup.label.radio.decline'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
