{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block javascript %}
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
$(function() {
    $('#zip-search').click(function() {
        AjaxZip3.zip2addr('entry[zip][zip01]', 'entry[zip][zip02]', 'entry[address][pref]', 'entry[address][addr01]');
    });
});
</script>
{% endblock javascript %}

{% block main %}
    <h1 class="page-heading">新規会員登録</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form method="post" action="{{ url('entry') }}">
                    {{ form_widget(form._token) }}
                    <div class="dl_table">
                        <dl>
                            <dt>{{ form_label(form.name) }}<span class="required">必須</span></dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.name.name01, { attr : { placeholder: '姓' }}) }}
                                {{ form_widget(form.name.name02, { attr : { placeholder: '名' }}) }}
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.kana) }}<span class="required">必須</span></dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.kana.kana01, { attr : { placeholder: 'セイ' }}) }}
                                {{ form_widget(form.kana.kana02, { attr : { placeholder: 'メイ' }}) }}
                                {{ form_errors(form.kana.kana01) }}
                                {{ form_errors(form.kana.kana02) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.company_name) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.company_name) }}
                                {{ form_errors(form.company_name) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.address) }}<span class="required">必須</span></dt>
                            <dd>
                                <div class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                <div class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.tel) }}<span class="required">必須</span></dt>
                            <dd>
                                <div class="form-inline form-group input_tel">
                                    {{ form_widget(form.tel, {attr : {class : 'short'}}) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.fax) }}</dt>
                            <dd>
                                <div class="form-inline form-group input_tel">
                                    {{ form_widget(form.fax, {attr : {class : 'short'}}) }}
                                    {{ form_errors(form.fax) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.email) }}<span class="required">必須</span></dt>
                            <dd>
                                <div class="form-group {% if form.email.first.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.email.first) }}</div>
                                <div class="form-group {% if form.email.second.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.email.second, {attr: {placeholder: '確認のためもう一度入力してください'}}) }}
                                    {{ form_errors(form.email.first) }}
                                    {{ form_errors(form.email.second) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.password) }}<span class="required">必須</span></dt>
                            <dd>
                                <div class="form-group {% if form.password.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.password, {type: 'password', attr: {placeholder: '半角英数字4～50文字（記号不可）'}}) }}
                                    {{ form_errors(form.password) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="dl_table not_required">
                        <dl>
                            <dt>{{ form_label(form.birth) }}</dt>
                            <dd>
                                <div class="form-group form-inline">
                                    {{ form_widget(form.birth) }}
                                    {{ form_errors(form.birth) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.sex) }}</dt>
                            <dd>
                                <div class="form-group form-inline">
                                    {{ form_widget(form.sex) }}
                                    {{ form_errors(form.sex) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>{{ form_label(form.job) }}</dt>
                            <dd>
                                <div class="form-group form-inline">
                                    {{ form_widget(form.job) }}
                                    {{ form_errors(form.job) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <input type="hidden" name="mode" value="confirm">

                    <p class="form_terms_link"><a href="{{ url('help_agreement') }}" target="_blank">利用規約</a>に同意してお進みください
                    </p>

                    <div class="row no-padding">
                        <div class="btn_group col-sm-offset-4 col-sm-4">
                            <p>
                                <button type="submit" class="btn btn-primary btn-block">同意する</button>
                            </p>
                            <p><a href="{{ url('index') }}" class="btn btn-info btn-block">同意しない</a></p>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
{% endblock %}