{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if app.session.flashBag.has('eccube.admin.success') %}
    {% for message in app.session.flashBag.get('eccube.admin.success') %}
        <div class="row">
            <div class="alert alert-success alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if app.session.flashBag.has('eccube.admin.info') %}
    {% for message in app.session.flashBag.get('eccube.admin.info') %}
        <div class="row">
            <div class="alert alert-info alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if app.session.flashBag.has('eccube.admin.warning') %}
    {% for message in app.session.flashBag.get('eccube.admin.warning') %}
        <div class="row">
            <div class="alert alert-warning alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if app.session.flashBag.has('eccube.admin.danger') %}
    {% for message in app.session.flashBag.get('eccube.admin.danger') %}
        <div class="row">
            <div class="alert alert-danger alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if app.session.flashBag.has('eccube.admin.error') %}
    {% for message in app.session.flashBag.get('eccube.admin.error') %}
        <div class="row">
            <div class="alert alert-danger alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
