{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% form_theme form '@admin/Form/bootstrap_4_layout.html.twig' %}

{% block title %}{{ 'admin.change_password'|trans }}{% endblock %}
{% block sub_title %}{% endblock %}

{% block main %}
    <form method="post" action="">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block">
                                        <span class="card-title">{{ 'admin.change_password'|trans }}</span>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#basicConfig" aria-expanded="false" aria-controls="basicConfig"><i class="fa fa-angle-up fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <!-- 現在のパスワード -->
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>{{ 'admin.change_password.current_password'|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.current_password, { type: 'password', value: '' }) }}
                                        {{ form_errors(form.current_password) }}
                                    </div>
                                </div>
                                <!-- 新しいパスワード -->
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>{{ 'admin.change_password.new_password'|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.change_password.first, { type: 'password', value: '' }) }}
                                        {{ form_errors(form.change_password.first) }}
                                    </div>
                                </div>
                                <!-- 新しいパスワード -->
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>{{ 'admin.change_password.new_password_confirm'|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.change_password.second, { type: 'password', value: '' }) }}
                                        {{ form_errors(form.change_password.second) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div>
            </div>

            <div class="c-conversionArea">
                <div class="c-conversionArea__container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6">
                            <div class="c-conversionArea__leftBlockItem"></div>
                        </div>
                        <div class="col-6">
                            <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-ec-conversion px-5">{{ 'admin.common.registration'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
