<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ error_title }} - {{ 'admin.error.157'|trans }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex,nofollow"/>
    <link rel="icon" href="{{ asset('assets/img/favicon.ico', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body id="error-page" class="bg-light">

<div class="c-container">
    <div class="c-contentsArea">

        <div class="container" style="margin-top: 150px;">
            <div class="row">
                <div class="col-12 col-sm-6 offset-sm-3">
                    <div class="text-center p-5 bg-white">
                        <p><img src="{{ asset('assets/img/logo2.png', 'admin') }}"></p>
                        <h1>{{ error_title }}</h1>
                        <p>{{ error_message }}</p>
                        <a href="{{ url('admin_homepage') }}" class="btn btn-info btn-lg">{{ 'admin.login.174'|trans }}{{ 'admin.error.158'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/function.js', 'admin') }}"></script>
</body>
</html>
