<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ error_title }}</title>
    <meta name="robots" content="noindex,nofollow"/>
    <link rel="icon" href="{{ asset('assets/img/favicon.ico', 'admin') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
</head>
<body id="error-page" class="bg-light">

<div class="c-container">
    <div class="c-contentsArea">


        <div class="container" style="margin-top: 150px;">
            <div class="row">
                <div class="col-12 col-sm-6 offset-sm-3">

                    <div class="text-center p-5 bg-white">
                        <h3><i class="fa fa-exclamation-triangle fa-lg ms-1"></i>{{ error_title }}</h3>
                        <p>{{ error_message }}</p>
                        <a href="{{ path('admin_homepage') }}" class="btn btn-info btn-lg">{{ 'admin.error.go_to_login'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{{ asset('assets/js/function.js', 'admin') }}"></script>
</body>
</html>
