<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ 'admin.login'|trans }} - {{ BaseInfo.shop_name }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex,nofollow"/>
    <link rel="icon" href="{{ asset('assets/img/favicon.ico', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
    <script src="{{ asset('admin.bundle.js', 'bundle') }}"></script>
</head>
<body id="login-page" class="bg-light">
<noscript>
    <p>{{ 'admin.login.enable_javascript'|trans }}</p>
</noscript>

<div class="c-container">
    <div class="c-contentsArea">
        {{ include('@admin/alert.twig') }}

        {% block main %}{% endblock %}

    </div>
</div>

<script src="{{ asset('assets/js/function.js', 'admin') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
