{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/login_frame.twig' %}

{% form_theme form '@admin/Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <div class="login-box">
        {{ include('@admin/alert.twig') }}
        <div class="login-box-body">
            <p class="login-logo2"><img src="{{ asset('assets/img/logo2.png', 'admin') }}" width="106"></p>
            <form name="form1" id="form1" method="post" action="{{ path('admin_login') }}">
                <div class="form-group has-feedback">
                    {{ form_widget(form.login_id, {'id': 'login_id', 'attr': {'style' : 'ime-mode: disabled;', 'size': 20, 'class': 'box25', 'placeholder': 'admin.login.172', 'autofocus': true}}) }}
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.password, {'attr': {'size': 20, 'class': 'box25', 'placeholder': 'admin.login.173'}}) }}
                </div>
                {% if error %}
                <div class="form-group">
                    <span class="text-danger">{{ error.messageKey|trans(error.messageData)|raw }}</span>
                </div>
                {% endif %}
                <p class="btn_area"><button type="submit" class="btn btn-primary btn-block btn-lg">{{'admin.login.174'|trans}}</button></p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {{ form_rest(form) }}
            </form>
        </div><!-- /.login-box-body -->
        <p class="text-center"><small class="copyright">Copyright &copy; 2000-{{ "now"|date("Y") }} LOCKON CO.,LTD. All Rights Reserved.</small></p>
    </div><!-- /.login-box -->

{% endblock %}
