{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# ★ ページャここから ★ #}
<div id="{{ id|default('pagination_wrap') }}" class="box-footer">
    <div class="text-center">
        <ul class="pagination">
            {% if pages.previous is defined %}
                <li class="pagenation__item-previous"><a href="{{ path(routes, app.request_stack.currentrequest.query.all|merge({'page_no': pages.previous})) }}" aria-label="Previous"><span aria-hidden="true">{{'admin.pager.397'|trans}}</span></a></li>
            {% endif %}
            
            {% for page in pages.pagesInRange %}
                <li{% if page == pages.current %} class="pagenation__item active"{% endif %}><a href="{{ path(routes, app.request_stack.currentrequest.query.all|merge({'page_no': page})) }}"><span>{{ page }}</span></a></li>
            {% endfor %}
            
            {% if pages.next is defined %}
                <li class="pagenation__item-next"><a href="{{ path(routes, app.request_stack.currentrequest.query.all|merge({'page_no': pages.next})) }}" aria-label="Next"><span aria-hidden="true">{{'admin.pager.398'|trans}}</span></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{# ★ ページャここまで ★ #}
