{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<nav>
    <ul class="c-mainNavArea__nav">
        <li class="c-mainNavArea__navItem">
            <a class="c-mainNavArea__navItemTitle" href="{{ url('admin_homepage') }}">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>{{ 'admin.nav.home'|trans }}</span>
            </a>
        </li>
        {% for level1 in eccube_config.eccube_nav if app.request.baseUrl ~ '/' ~ eccube_config.eccube_admin_route ~ '/' ~ level1.id not in AuthorityRoles %}
            <li class="c-mainNavArea__navItem">
                {% if level1.has_child is defined and level1.has_child %}
                    <a class="c-mainNavArea__navItemTitle{{ active_menus(menus)[0] != level1.id ? ' collapsed' }}"
                       data-toggle="collapse" href="#nav-{{ level1.id }}"
                       aria-expanded="{{ active_menus(menus)[0] == level1.id ? 'true' : 'false' }}"
                       aria-controls="nav-{{ level1.id }}"><i class="fa {{ level1.icon }}"
                                                              aria-hidden="true"></i><span>{{ level1.name|trans }}</span></a>
                    <ul class="collapse {% if active_menus(menus)[0] == level1.id %} show{% endif %}"
                        id="nav-{{ level1.id }}">
                        {% for level2 in level1.child if app.request.baseUrl ~ '/' ~ eccube_config.eccube_admin_route ~ '/' ~ level1.id ~ '/' ~ level2.id not in AuthorityRoles %}
                            {% if level2.url is defined and path(level2.url) in AuthorityRoles %}
                            {% else %}
                                {% if level2.has_child is defined and level2.has_child %}
                                    <li>
                                        <a class="c-mainNavArea__navItemSubTitle{{ active_menus(menus)[1] != level2.id ? ' collapsed' }}"
                                           data-toggle="collapse" href="#nav-{{ level2.id }}"
                                           aria-expanded="{{ active_menus(menus)[1] != level2.id ? 'true' : 'false' }}"
                                           aria-controls="nav-{{ level2.id }}"><span>{{ level2.name|trans }}</span></a>
                                        <ul class="collapse{{ active_menus(menus)[1] == level2.id ? ' show' }}"
                                            id="nav-{{ level2.id }}">
                                            {% for level3 in level2.child %}
                                                {% if level3.url is defined and path(level3.url) in AuthorityRoles %}
                                                {% else %}
                                                    <li>
                                                        <a href="{{ url(level3.url) }}"{{ active_menus(menus)[2] == level3.id ? ' class="is-active"' }}>{{ level3.name|trans }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ url(level2.url) }}"{{ active_menus(menus)[1] == level2.id ? ' class="is-active"' }}>{{ level2.name|trans }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if level1.url is defined and path(level1.url) in AuthorityRoles == false %}
                        <a class="c-mainNavArea__navItemTitle" href="{{ url(level1.url) }}"><i
                                    class="fa {{ level1.icon }}"
                                    aria-hidden="true"></i><span>{{ level1.name|trans }}</span></a>
                    {% else %}
                        <div class="c-mainNavArea__navItemTitle"><i class="fa {{ level1.icon }}" aria-hidden="true"></i><span>{{ level1.name|trans }}</span>
                        </div>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}

        {# TODO スタイルガイド機能の実装 #}
        {# 可能ならばconfigで設定して下記を削除する #}
        <li class="c-mainNavArea__navItem">
            <a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#others" aria-expanded="false"
               aria-controls="others">
                <i class="fa fa-truck" aria-hidden="true"></i>
                <span>{{ 'admin.nav.other'|trans }}</span>
            </a>
            <ul class="collapse" id="others">
                <li>
                    <a href="/styleguide/">{{ 'admin.nav.styleguide'|trans }}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
