<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <title>{{ BaseInfo.shop_name }} - EC-CUBE管理画面</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/app.css', 'admin') }}">
    {% block stylesheet %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('js/script.js', 'admin') }}"></script>
</head>
<body id="page_{{ app.request.get('_route') }}">
<header class="c-headerBar">
    <div class="c-headerBar__container">
        <div class="c-headerBar__logo">
            <h1><img src="{{ asset('assets/img/logo@2x.png', 'admin') }}"></h1>
        </div><a class="c-headerBar__toggleBtn"><i class="fa fa-bars" aria-hidden="true"></i></a><a class="c-headerBar__shopTitle" href=""><span>EC-CUBE SHOP</span><i class="fa fa-angle-right" aria-hidden="true"></i></a><a class="c-headerBar__userMenu" data-container="body" data-toggle="popover" data-placement="bottom" title="最終ログイン" data-content="&lt;p&gt;2017/12/18 12:18&lt;/p&gt;&lt;a href='/admin/passwordChange' class='btn btn-ec-regular btn-block'&gt;パスワード変更&lt;/a&gt;&lt;a href='/admin/login' class='btn btn-ec-sub btn-block'&gt;ログアウト&lt;/a&gt;" data-html="true"><i class="fa fa-user-circle" aria-hidden="true"></i><span>管理者 様</span><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</header>
<div class="c-container">
    <div class="c-mainNavArea">
        <nav>
            <ul class="c-mainNavArea__nav">
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle" href="/"><i class="fa fa-home" aria-hidden="true"></i><span>ホーム</span></a>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#productManagement" aria-expanded="false" aria-controls="productManagement"><i class="fa fa-cube" aria-hidden="true"></i><span>商品管理</span></a>
                    <ul class="collapse" id="productManagement">
                        <li><a class="is-active" href="/product/master">商品マスター</a></li>
                        <li><a href="/product/register">商品登録</a></li>
                        <li><a href="/product/standard">規格管理</a></li>
                        <li><a href="/product/category">カテゴリ管理</a></li>
                        <li><a href="/product/tags">タグ管理</a></li>
                        <li><a href="/product/csv/product">商品CSV登録</a></li>
                        <li><a href="/product/csv/category">カテゴリCSV登録</a></li>
                    </ul>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#orderManagement" aria-expanded="false" aria-controls="orderManagement"><i class="fa fa-inbox" aria-hidden="true"></i><span>受注管理</span></a>
                    <ul class="collapse" id="orderManagement">
                        <li><a href="/order/master">受注マスター</a></li>
                        <li><a href="/order/register">受注登録</a></li>
                    </ul>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#shipManagement" aria-expanded="false" aria-controls="shipManagement"><i class="fa fa-truck" aria-hidden="true"></i><span>出荷管理</span></a>
                    <ul class="collapse" id="shipManagement">
                        <li><a href="/shipment/master">出荷マスター</a></li>
                        <li><a href="/shipment/register">出荷登録</a></li>
                        <li><a href="/shipment/csv/shipment">出荷CSV登録</a></li>
                    </ul>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#customerManagement" aria-expanded="false" aria-controls="customerManagement"><i class="fa fa-users" aria-hidden="true"></i><span>会員管理</span></a>
                    <ul class="collapse" id="customerManagement">
                        <li><a href="/customer/master">会員マスター</a></li>
                        <li><a href="/customer/register">会員登録</a></li>
                    </ul>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#contentsManagement" aria-expanded="false" aria-controls="contentsManagement"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>コンテンツ管理</span></a>
                    <ul class="collapse" id="contentsManagement">
                        <li><a href="/content/news">新着情報管理</a></li>
                        <li><a href="/content/file">ファイル管理</a></li>
                        <li><a href="/content/layout">レイアウト管理</a></li>
                        <li><a href="/content/page">ページ管理</a></li>
                        <li><a href="/content/block">ブロック管理</a></li>
                        <li><a href="/content/cache">キャッシュ管理</a></li>
                    </ul>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#config" aria-expanded="false" aria-controls="config"><i class="fa fa-cog" aria-hidden="true"></i><span>設定</span></a>
                    <div class="collapse" id="config"><a class="c-mainNavArea__navItemSubTitle collapsed" data-toggle="collapse" href="#commonConfig" aria-expanded="false" aria-controls="commonConfig"><span>基本情報設定</span></a>
                        <ul class="collapse" id="commonConfig">
                            <li><a href="/setting/basis/shop"> ショップマスター</a></li>
                            <li><a href="/setting/basis/tradelaw"> 特定商取引法</a></li>
                            <li><a href="/setting/basis/agreement"> 利用規約設定</a></li>
                            <li><a href="/setting/basis/payment"> 支払方法設定</a></li>
                            <li><a href="/setting/basis/delivery"> 配送方法設定</a></li>
                            <li><a href="/setting/basis/tax"> 税率設定</a></li>
                            <li><a href="/setting/basis/mail">メール設定</a></li>
                            <li><a href="/setting/basis/csv">CSV出力項目設定</a></li>
                        </ul><a class="c-mainNavArea__navItemSubTitle collapsed" data-toggle="collapse" href="#systemConfig" aria-expanded="false" aria-controls="systemConfig"><span>システム情報設定</span></a>
                        <ul class="collapse" id="systemConfig">
                            <li><a href="/setting/system/system">システム情報</a></li>
                            <li><a href="/setting/system/member">メンバー管理</a></li>
                            <li><a href="/setting/system/authority">権限管理</a></li>
                            <li><a href="/setting/system/security">セキュリティ管理</a></li>
                            <li><a href="/setting/system/log">EC-CUBE ログ表示</a></li>
                            <li><a href="/setting/system/master">マスターデータ管理</a></li>
                        </ul>
                    </div>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#ownersStore" aria-expanded="false" aria-controls="ownersStore"><i class="fa fa-info-circle" aria-hidden="true"></i><span>オーナーズストア</span></a>
                </li>
                <li class="c-mainNavArea__navItem"><a class="c-mainNavArea__navItemTitle collapsed" data-toggle="collapse" href="#others" aria-expanded="false" aria-controls="shipManagement"><i class="fa fa-truck" aria-hidden="true"></i><span>その他</span></a>
                    <ul class="collapse" id="others">
                        <li><a href="/styleguide/">スタイルガイド</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="c-curtain"></div>
    <div class="c-contentsArea">
        <div class="c-pageTitle">
            <div class="c-pageTitle__titles">
                <h2 class="c-pageTitle__title">
                    {{ block('title') }}<span>{{ block('sub_title') }}</span>
                </h2>
            </div>
        </div>
        <div class="alert alert-primary alert-dismissible fade show m-3" role="alert"><i class="fa fa-comment fa-lg mr-2"></i><span class="font-weight-bold">アラート：通常</span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show m-3" role="alert"><i class="fa fa-check fa-lg mr-2"></i><span class="font-weight-bold">アラート：成功</span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show m-3" role="alert"><i class="fa fa-warning fa-lg mr-2"></i><span class="font-weight-bold">アラート：失敗</span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show m-3" role="alert"><i class="fa fa-warning fa-lg mr-2"></i><span class="font-weight-bold">アラート：警告</span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Tooltip"><span class="card-title">ようこそ、EC-CUBEへ――基本的な設定</span><i class="fa fa-question-circle fa-lg ml-1" aria-hidden="true"></i></div>
                        </div>
                        <div class="card-body pt-0 pr-0 pl-0">
                            <div class="row border border-top-0 border-left-0 border-right-0 p-3 align-items-center">
                                <div class="col-1 align-middle text-center"><i class="fa fa-flag fa-4x text-secondary" aria-hidden="true"></i></div>
                                <div class="col-9"><span class="font-weight-bold align-middle">特定商取引法に関する表記を設定しましょう</span>
                                    <p>商品マスターに最初の商品を登録してみましょう。商品の画像を用意してください。</p>
                                </div>
                                <div class="col-2 text-right align-middle"><a class="btn btn-ec-conversion px-4" href="/setting/basis/shop">設定する</a></div>
                            </div>
                            <div class="row border border-top-0 border-left-0 border-right-0 p-3 align-items-center">
                                <div class="col-1 align-middle text-center"><i class="fa fa-cubes fa-4x text-secondary" aria-hidden="true"></i></div>
                                <div class="col-9"><span class="font-weight-bold align-middle">特定商取引法に関する表記を設定しましょう</span>
                                    <p>商品マスターに最初の商品を登録してみましょう。商品の画像を用意してください。</p>
                                </div>
                                <div class="col-2 text-right align-middle"><a class="btn btn-ec-conversion px-4" href="/product/register/">設定する</a></div>
                            </div>
                            <div class="row border border-top-0 border-left-0 border-right-0 p-2 align-items-center mb-3">
                                <div class="col-1 align-middle text-center"><i class="fa fa-check fa-2x text-success" aria-hidden="true"></i></div>
                                <div class="col-11"><span class="font-weight-bold text-muted align-middle">お店の基本情報を設定しましょう</span></div>
                            </div>
                            <div class="row">
                                <div class="col text-center align-middle"><a class="btn btn-ec-regular" href="/tutorial/complete">すべてスキップ</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mb-4">
                            <div class="card rounded border-0 h-100">
                                <div class="card-header"><a href="/order/master"><span class="card-title">受注状況</span></a></div>
                                <div class="card-body p-0">
                                    <div class="d-block p-3 border border-top-0 border-left-0 border-right-0">
                                        <div class="row align-items-center">
                                            <div class="col-2 align-middle text-center"><i class="fa fa-inbox fa-2x text-secondary" aria-hidden="true"></i></div>
                                            <div class="col p-0"><a href="/order/master"><span class="align-middle">新規受付</span></a></div>
                                            <div class="col-auto text-right align-middle"><span class="h4 align-middle font-weight-normal">13</span></div>
                                        </div>
                                    </div>
                                    <div class="d-block p-3 border border-top-0 border-left-0 border-right-0">
                                        <div class="row align-items-center">
                                            <div class="col-2 align-middle text-center"><i class="fa fa-money fa-2x text-secondary" aria-hidden="true"></i></div>
                                            <div class="col p-0"><a href="/order/master"><span class="align-middle">入金待ち</span></a></div>
                                            <div class="col-auto text-right align-middle"><span class="h4 align-middle font-weight-normal">24</span></div>
                                        </div>
                                    </div>
                                    <div class="d-block p-3 border border-top-0 border-left-0 border-right-0">
                                        <div class="row align-items-center">
                                            <div class="col-2 align-middle text-center"><i class="fa fa-check fa-2x text-secondary" aria-hidden="true"></i></div>
                                            <div class="col p-0"><a href="/order/master"><span class="align-middle">入金済み</span></a></div>
                                            <div class="col-auto text-center align-middle"><span class="h4 align-middle font-weight-normal">13</span></div>
                                        </div>
                                    </div>
                                    <div class="d-block p-3 border border-top-0 border-left-0 border-right-0">
                                        <div class="row align-items-center">
                                            <div class="col-2 align-middle text-center"><i class="fa fa-plane fa-2x text-secondary" aria-hidden="true"></i></div>
                                            <div class="col p-0"><a href="/order/master"><span class="align-middle">取寄せ中</span></a></div>
                                            <div class="col-auto text-right align-middle"><span class="h4 align-middle font-weight-normal">24</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 mb-4">
                            <div class="card rounded border-0 h-100">
                                <div class="card-header">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Tooltip"><span class="card-title">売上状況</span><i class="fa fa-question-circle fa-lg ml-1" aria-hidden="true"></i></div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col text-center">
                                            <div class="btn-group nav d-inline-flex" id="pills-tab" role="tablist"><a class="nav-link active btn btn-ec-tab py-2 pl-4 pr-4" id="pills-daily-tab" data-toggle="pill" href="#pills-daily" role="tab" aria-controls="pills-daily" aria-selected="true">日別</a><a class="nav-link btn btn-ec-tab py-2 pl-4 pr-4" id="pills-weekly-tab" data-toggle="pill" href="#pills-weekly" role="tab" aria-controls="pills-weekly" aria-selected="false">週別</a><a class="nav-link btn btn-ec-tab py-2 pl-4 pr-4" id="pills-monthly-ta" data-toggle="pill" href="#pills-monthly" role="tab" aria-controls="pills-monthly" aria-selected="false">月別</a></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-daily" role="tabpanel" aria-labelledby="pills-home-tab">
                                                    <div class="c-graf--week">
                                                        <div class="c-graf--week__container">
                                                            <div class="c-graf--week__labelVertical">
                                                                <div class="c-graf__label">100,000</div>
                                                                <div class="c-graf__label">90,000</div>
                                                                <div class="c-graf__label">80,000</div>
                                                                <div class="c-graf__label">70,000</div>
                                                                <div class="c-graf__label">60,000</div>
                                                                <div class="c-graf__label">50,000</div>
                                                                <div class="c-graf__label">40,000</div>
                                                                <div class="c-graf__label">30,000</div>
                                                                <div class="c-graf__label">20,000</div>
                                                                <div class="c-graf__label">10,000</div>
                                                                <div class="c-graf__label">0</div>
                                                            </div>
                                                            <div class="c-graf--week__graph">
                                                                <hr style="top: 26px;">
                                                                <hr style="top: 52px;">
                                                                <hr style="top: 78px;">
                                                                <hr style="top: 104px;">
                                                                <hr style="top: 130px;">
                                                                <hr style="top: 156px;">
                                                                <hr style="top: 182px;">
                                                                <hr style="top: 208px;">
                                                                <hr style="top: 234px;">
                                                                <hr style="top: 260px;">
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 165px; margin-top: 96px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 82px; margin-top: 179px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 200px; margin-top: 61px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 166px; margin-top: 95px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 165px; margin-top: 96px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 82px; margin-top: 179px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 200px; margin-top: 61px;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="c-graf--week__labelHorizontal">
                                                            <div class="c-graf__label">月</div>
                                                            <div class="c-graf__label">火</div>
                                                            <div class="c-graf__label">水</div>
                                                            <div class="c-graf__label">木</div>
                                                            <div class="c-graf__label">金</div>
                                                            <div class="c-graf__label">土</div>
                                                            <div class="c-graf__label">日</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="pills-weekly" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                    <div class="c-graf--week">
                                                        <div class="c-graf--week__container">
                                                            <div class="c-graf--week__labelVertical">
                                                                <div class="c-graf__label">100,000</div>
                                                                <div class="c-graf__label">90,000</div>
                                                                <div class="c-graf__label">80,000</div>
                                                                <div class="c-graf__label">70,000</div>
                                                                <div class="c-graf__label">60,000</div>
                                                                <div class="c-graf__label">50,000</div>
                                                                <div class="c-graf__label">40,000</div>
                                                                <div class="c-graf__label">30,000</div>
                                                                <div class="c-graf__label">20,000</div>
                                                                <div class="c-graf__label">10,000</div>
                                                                <div class="c-graf__label">0</div>
                                                            </div>
                                                            <div class="c-graf--week__graph">
                                                                <hr style="top: 26px;">
                                                                <hr style="top: 52px;">
                                                                <hr style="top: 78px;">
                                                                <hr style="top: 104px;">
                                                                <hr style="top: 130px;">
                                                                <hr style="top: 156px;">
                                                                <hr style="top: 182px;">
                                                                <hr style="top: 208px;">
                                                                <hr style="top: 234px;">
                                                                <hr style="top: 260px;">
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 165px; margin-top: 96px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 82px; margin-top: 179px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 200px; margin-top: 61px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 166px; margin-top: 95px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 165px; margin-top: 96px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 82px; margin-top: 179px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 200px; margin-top: 61px;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="c-graf--week__labelHorizontal">
                                                            <div class="c-graf__label">月</div>
                                                            <div class="c-graf__label">火</div>
                                                            <div class="c-graf__label">水</div>
                                                            <div class="c-graf__label">木</div>
                                                            <div class="c-graf__label">金</div>
                                                            <div class="c-graf__label">土</div>
                                                            <div class="c-graf__label">日</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="pills-monthly" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                    <div class="c-graf--week">
                                                        <div class="c-graf--week__container">
                                                            <div class="c-graf--week__labelVertical">
                                                                <div class="c-graf__label">100,000</div>
                                                                <div class="c-graf__label">90,000</div>
                                                                <div class="c-graf__label">80,000</div>
                                                                <div class="c-graf__label">70,000</div>
                                                                <div class="c-graf__label">60,000</div>
                                                                <div class="c-graf__label">50,000</div>
                                                                <div class="c-graf__label">40,000</div>
                                                                <div class="c-graf__label">30,000</div>
                                                                <div class="c-graf__label">20,000</div>
                                                                <div class="c-graf__label">10,000</div>
                                                                <div class="c-graf__label">0</div>
                                                            </div>
                                                            <div class="c-graf--week__graph">
                                                                <hr style="top: 26px;">
                                                                <hr style="top: 52px;">
                                                                <hr style="top: 78px;">
                                                                <hr style="top: 104px;">
                                                                <hr style="top: 130px;">
                                                                <hr style="top: 156px;">
                                                                <hr style="top: 182px;">
                                                                <hr style="top: 208px;">
                                                                <hr style="top: 234px;">
                                                                <hr style="top: 260px;">
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 165px; margin-top: 96px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 82px; margin-top: 179px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 200px; margin-top: 61px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 166px; margin-top: 95px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 165px; margin-top: 96px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 82px; margin-top: 179px;"></div>
                                                                <div class="c-graf__bar" data-toggle="tooltip" data-placement="top" title="Tooltip" style="height: 200px; margin-top: 61px;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="c-graf--week__labelHorizontal">
                                                            <div class="c-graf__label">月</div>
                                                            <div class="c-graf__label">火</div>
                                                            <div class="c-graf__label">水</div>
                                                            <div class="c-graf__label">木</div>
                                                            <div class="c-graf__label">金</div>
                                                            <div class="c-graf__label">土</div>
                                                            <div class="c-graf__label">日</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card rounded border-0 h-100">
                                <div class="card-header">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Tooltip"><span class="card-title">ショップ状況</span><i class="fa fa-question-circle fa-lg ml-1" aria-hidden="true"></i></div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="d-block p-3 border border-top-0 border-left-0 border-right-0">
                                        <div class="row align-items-center">
                                            <div class="col-2 align-middle text-center"><i class="fa fa-inbox fa-2x text-secondary" aria-hidden="true"></i></div>
                                            <div class="col p-0"><a href="/product/master"><span class="align-middle">在庫切れ商品数</span></a></div>
                                            <div class="col-auto text-right align-middle"><span class="h4 align-middle font-weight-normal">13</span></div>
                                        </div>
                                    </div>
                                    <div class="d-block p-3 border border-top-0 border-left-0 border-right-0">
                                        <div class="row align-items-center">
                                            <div class="col-2 align-middle text-center"><i class="fa fa-cubes fa-2x text-secondary" aria-hidden="true"></i></div>
                                            <div class="col p-0"><a href="/product/master"><span class="align-middle">取扱商品数</span></a></div>
                                            <div class="col-auto text-right align-middle"><span class="h4 align-middle font-weight-normal">263</span></div>
                                        </div>
                                    </div>
                                    <div class="d-block p-3 border border-top-0 border-left-0 border-right-0">
                                        <div class="row align-items-center">
                                            <div class="col-2 align-middle text-center"><i class="fa fa-users fa-2x text-secondary" aria-hidden="true"></i></div>
                                            <div class="col p-0"><a href="/customer/master"><span class="align-middle">会員数</span></a></div>
                                            <div class="col-auto text-check align-middle"><span class="h4 align-middle font-weight-normal">89</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card rounded border-0 h-100">
                                <div class="card-header">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Tooltip"><span class="card-title">お知らせ</span></div>
                                </div>
                                <div class="card-body p-0"><iframe name="information" class="link_list_wrap" src="https://www.ec-cube.net/info/3/" style="width:100%; border:0; min-height:300px;"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>