{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.entry.complete_title' } %}
    <div class="row">
        <div class="col-12">
            <div class="p-4 text-center bg-light">
                <h4 class="pb-2">{{ 'front.entry.complete_message__title'|trans }}</h4>
                <p>{{ 'front.entry.complete_message__activated'|trans|nl2br }}</p>
                <hr class="my-4">
                <div class="col-md-5 mx-auto">
                    {% if qtyInCart %}
                        <a class="btn btn-primary btn-block" href="{{ url('cart') }}">{{ 'common.go_to_cart'|trans }}</a>
                    {% endif %}
                    <a class="btn btn-secondary btn-block" href="{{ url('homepage') }}">{{ 'common.go_to_top'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
