{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.entry.confirm_title' } %}
    <div class="row">
        <div class="col-12">
            <div class="page-register-confirm">
                <form method="post" action="{{ url('entry') }}">
                    {{ form_widget(form._token) }}

                    <div class="alert alert-info" role="alert">
                        {{ 'front.entry.confirm_message'|trans|nl2br }}
                    </div>

                    <ul class="list-group clear-margin-label">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.name, 'common.name') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.name.name01.vars.data }}
                                    {{ form.name.name02.vars.data }}
                                    {{ form_widget(form.name.name01, { type : 'hidden' }) }}
                                    {{ form_widget(form.name.name02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.kana, 'common.kana') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.kana.kana01.vars.data }}
                                    {{ form.kana.kana02.vars.data }}
                                    {{ form_widget(form.kana.kana01, { type : 'hidden' }) }}
                                    {{ form_widget(form.kana.kana02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.company_name, 'common.company_name') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.company_name.vars.data }}
                                    {{ form_widget(form.company_name, { type : 'hidden' }) }} 
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.address, 'common.address') }}
                                </div>
                                <div class="col-sm-8">
                                    {# 郵便番号 #}
                                    <span><span>{{ 'common.postal_symbol'|trans }}</span></span>{{ form.postal_code.vars.data }}
                                    {{ form_widget(form.postal_code, { type : 'hidden' }) }}
                                    {# 都道府県・住所 #}
                                    {{ form.address.pref.vars.data }} {{ form.address.addr01.vars.data }} {{ form.address.addr02.vars.data }}
                                    {{ form_widget(form.address.pref, { type : 'hidden' }) }}
                                    {{ form_widget(form.address.addr01, { type : 'hidden' }) }}
                                    {{ form_widget(form.address.addr02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.phone_number, 'common.phone_number') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.phone_number.vars.data }}
                                    {{ form_widget(form.phone_number, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.email, 'common.mail_address') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.email.vars.data }}
                                    {{ form_widget(form.email.first, { type : 'hidden' }) }}
                                    {{ form_widget(form.email.second, { type : 'hidden' }) }} 
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.password, 'common.password') }}
                                </div>
                                <div class="col-sm-8">
                                    ********
                                    {{ form_widget(form.password.first, { type : 'hidden' }) }}
                                    {{ form_widget(form.password.second, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.birth, 'common.birth_day') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.birth.vars.data ? form.birth.vars.data|date_day() }}
                                    {{ form_widget(form.birth.day, { type : 'hidden' }) }}
                                    {{ form_widget(form.birth.month, { type : 'hidden' }) }}
                                    {{ form_widget(form.birth.year, { type : 'hidden' }) }} 
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.sex, 'common.gender') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.sex.vars.data }}
                                    {{ form_widget(form.sex, { type: 'hidden'}) }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_label(form.job, 'common.job') }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.job.vars.data }}
                                    {{ form_widget(form.job, { type: 'hidden'}) }}  

                                    {{ form_widget(form.user_policy_check, { type: 'hidden'}) }}
                                </div>
                            </div>
                        </li>

                        {# エンティティ拡張の自動出力 #}
                        {% for f in form if f.vars.eccube_form_options.auto_render %}
                            {% if f.vars.eccube_form_options.form_theme %}
                                {% form_theme f f.vars.eccube_form_options.form_theme %}
                                {{ form_row(f) }}
                            {% else %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ form_label(f) }}
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row {{ f.vars.eccube_form_options.style_class }} {{ has_errors(f) ? 'is-invalid'}}">
                                                <div class="col-12">
                                                    {{ form_widget(f, { 'attr': { 'class': 'form-control' }}) }}
                                                    {{ form_errors(f) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-md-4">
                                    <button type="submit" 
                                            class="btn btn-primary btn-block" 
                                            name="mode" 
                                            value="complete">{{ 'front.entry.do_register'|trans }}</button>

                                    <button type="submit"
                                            class="btn btn-secondary btn-block"  
                                            name="mode" 
                                            value="back">{{ 'common.back'|trans }}</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
