{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    {% include "Components/form/postcode_script.twig" %}
{% endblock javascript %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.entry.title' } %}
    <div class="row">
        <div class="col-12">
            <div class="page-register">
                <form method="post" class="h-adr" action="{{ url('entry') }}" novalidate>  
                    <span class="p-country-name" style="display:none;">Japan</span> 
                    {{ form_widget(form._token) }}

                    {# Name #}
                    {% include "Components/form/name.twig" with {'form': form} %}

                    {# Kanna #}
                    {% include "Components/form/kanna.twig" with {'form': form} %}

                    {# Company Name #}
                    {% include "Components/form/company.twig" with {'form': form} %}
                    
                    {# Address #}
                    {% include "Components/form/address.twig" with {'form': form} %}
                    
                    {# Phone #}
                    {% include "Components/form/phone.twig" with {'form': form} %}
                    
                    {# Email #}
                    {% include "Components/form/email.twig" with {'form': form} %}

                    {# Password #}
                    {% include "Components/form/password.twig" with {'form': form} %}
                    
                    {# Birthday #}
                    {% include "Components/form/birthday.twig" with {'form': form} %}
                    
                    {# Gender #}
                    {% include "Components/form/gender.twig" with {'form': form} %}

                    {# Job #}
                    {% include "Components/form/job.twig" with {'form': form} %}

                    {# Options Render #}
                    {% include "Components/form/options_render.twig" with {'form': form} %}
                    
                    {# Policy #}
                    {% include "Components/form/policy.twig" with {'form': form} %}
                    
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary btn-block" type="submit" name="mode" value="confirm">{{ 'front.entry.agree'|trans }}</button>
                            <a class="btn btn-secondary btn-block" href="{{ url('homepage') }}">{{ 'front.entry.disagree'|trans }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}