{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'delivery' %}

{% set body_class = 'mypage mypage_delivery' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.mypage.title', 'subTitle': 'front.mypage.nav__customer_address' } %}

    {% include 'Mypage/navi.twig' %}

    <div id="my-account-address" class="card">
        <div class="card-header">
            {% if Customer.CustomerAddresses|length > 0 %}
                {{ 'front.mypage.customer_address_count'|trans({'%count%':Customer.CustomerAddresses|length}) }}
            {% else %}
                {{ 'front.mypage.customer_address_not_found'|trans }}
            {% endif %}
        </div>
        {% if Customer.CustomerAddresses|length > 0 %}
            <div class="card-body">
                <ul class="list-group">
                    {% for CustomerAddress in Customer.CustomerAddresses %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-2 text-center align-self-center order-3 order-md-1">
                                    <a class="text-danger h4" href="{{ url('mypage_delivery_delete', { id : CustomerAddress.id }) }}" {{ csrf_token_for_anchor() }} data-method="delete">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="col-md-8 align-self-center order-1 order-md-2">
                                    <p>
                                        {{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}
                                    </p>
                                    <p>{{ 'common.postal_symbol'|trans }}{{ CustomerAddress.postal_code }} {{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}</p>
                                    <p>{{ CustomerAddress.phone_number }}</p>
                                    <p>
                                        {{ CustomerAddress.phone_number }}
                                    </p>
                                </div>
                                <div class="col-md-2 align-self-center order-2 order-md-3">
                                    <a class="btn btn-primary btn-block mb-2" href="{{ url('mypage_delivery_edit', { id : CustomerAddress.id }) }}">
                                        {{ 'common.change'|trans }}
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-footer">
            {% if Customer.CustomerAddresses|length < eccube_config.eccube_deliv_addr_max %}
                <a class="btn btn-primary" href="{{ url('mypage_delivery_new') }}">
                    {{ 'front.mypage.add_customer_address'|trans }}
                </a>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ 'common.customer_address_count_is_over'|trans({ '%count%': eccube_config.eccube_deliv_addr_max }) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
