{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage mypage_landing' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.mypage.title', 'subTitle': 'front.mypage.nav__history' } %}
    
    {% include 'Mypage/navi.twig' %}
    
    <div id="my-account-history" class="my-account-history">
        {% if pagination.totalItemCount > 0 %}
            <div class="card">
                <div class="card-header">
                    {{ 'front.mypage.history_count'|trans({'%count%':pagination.totalItemCount}) }}
                </div>
                <div class="card-body">
                    {% for Order in pagination %}
                        <div class="history-item {% if loop.index != loop.length %}pb-4 mb-4 border-bottom{% endif %}">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="font-weight-bold">{{ Order.order_date|date_sec }}</h5>
                                    <p class="mb-0">
                                        <b>{{ 'front.mypage.order_no'|trans }}</b>
                                        {{ Order.order_no }}
                                    </p>
                                    {% if (BaseInfo.option_mypage_order_status_display) %}
                                        <p class="mb-0">
                                            <b>{{ 'front.mypage.order_status'|trans }}</b>
                                            {{ Order.CustomerOrderStatus }}
                                        </p>
                                    {% endif %}
                                    <p class="pt-3">
                                        <a class="btn btn-primary d-block d-md-inline-block" href="{{ url('mypage_history', {'order_no': Order.order_no}) }}">
                                            {{ 'front.mypage.view_detail'|trans }}
                                        </a>
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    {% for OrderItem in Order.MergedProductOrderItems %}
                                        <div class="row no-gutters {% if(not loop.last) %}mb-2 pb-2 border-bottom {% endif %}">
                                            <div class="col-2">
                                                {# Image #}
                                                {% include "Components/product/image.twig" with {'product': OrderItem.Product} %}
                                            </div>
                                            <div class="col-10 pl-3 align-self-center">

                                                {# Name #}
                                                {% include "Components/product/name.twig" with {'product': OrderItem.Product, type: 'text', class: 'h6 font-weight-bold'} %}

                                                {# Options #}
                                                {% include "Components/product/options.twig" with {'productClass': OrderItem, type: 'order-history'} %}

                                                {# Price #}
                                                {% include "Components/product/price.twig" with {'product': OrderItem, type: 'checkout', class: 'font-weight-bold'} %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include "pager.twig" with {'pages': pagination.paginationData} %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                {{ 'front.mypage.history_not_found'|trans }}
            </div>
        {% endif %}
    </div>
{% endblock %}
