{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage mypage_login' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'common.login' } %}

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="page-login bg-light p-4">
                <form name="login_mypage" id="login_mypage" method="post" action="{{ url('mypage_login') }}">
                    {% if app.session.flashBag.has('eccube.login.target.path') %}
                        {% for targetPath in app.session.flashBag.get('eccube.login.target.path') %}
                            <input type="hidden" name="_target_path" value="{{ targetPath }}" />
                        {% endfor %}
                    {% endif %}
                    <div class="text-center text-secondary display-3">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.login_email, {'attr': {'style' : 'ime-mode: disabled;', 'placeholder' : 'common.mail_address', 'autofocus': true, 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.login_pass,  {'attr': {'class': 'form-control', 'placeholder' : 'common.password' }}) }}
                    </div>
                    <div class="form-group">
                        {% if BaseInfo.option_remember_me %}
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <input type="hidden" name="login_memory" value="1">
                            {% else %}
                                {{ form_widget(form.login_memory, { 'label': 'common.remember_me'|trans }) }}
                            {% endif %}
                        {% endif %}
                        {% for reset_complete in app.session.flashbag.get('password_reset_complete') %}
                            <p class="form-text text-muted">{{ reset_complete|trans }}</p>
                        {% endfor %}
                        {% if error %}
                            <p class="form-text text-danger">{{ error.messageKey|trans(error.messageData, 'validators')|nl2br }}</p>
                        {% endif %}
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary btn-block">{{ 'common.login'|trans }}</button>
                        </div>
                        <div class="form-group col-md-6">
                            <a class="d-block" href="{{ url('forgot') }}">{{ 'common.forgot_login'|trans }}</a>
                            <a class="d-block" href="{{ url('entry') }}">{{ 'common.signup'|trans }}</a>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
