{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage mypage_withdraw' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.mypage.title', 'subTitle': 'front.mypage.nav__withdrow' } %}
    
    {% include 'Mypage/navi.twig' %}

    <div id="my-account-delete" class="row">
        <div class="col-12">
            <form method="post" action="{{ url('mypage_withdraw') }}">
                {{ form_widget(form._token) }}
                <div class="p-4 text-center bg-light">
                    <span class="display-2"><i class="fas fa-exclamation-triangle text-danger"></i></span>
                    <h4 class="pb-2">{{ 'front.mypage.withdraw_message__title'|trans }}</h4>
                    <p>{{ 'front.mypage.withdraw_message__body'|trans }}</p>
                    <hr class="my-4">
                    <button type="submit" class="btn btn-danger" name="mode" value="confirm">
                        {{ 'front.mypage.withdraw_confirm'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
