{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['order', 'order_edit'] %}

{% block title %}受注管理{% endblock %}
{% block sub_title %}受注登録・編集{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme searchCustomerModalForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme searchProductModalForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
$(function() {
    $('#zip-search').click(function() {
        AjaxZip3.zip2addr('order[zip][zip01]', 'order[zip][zip02]', 'order[address][pref]', 'order[address][addr01]');
    });

    // 注文者情報をコピー
    $('#copyCustomerToShippingButton').on('click', function() {
        $('#order_Shippings_0_name_name01').val($('#order_name_name01').val());
        $('#order_Shippings_0_name_name02').val($('#order_name_name02').val());
        $('#order_Shippings_0_kana_kana01').val($('#order_kana_kana01').val());
        $('#order_Shippings_0_kana_kana02').val($('#order_kana_kana02').val());
        $('#order_Shippings_0_zip_zip01').val($('#order_zip_zip01').val());
        $('#order_Shippings_0_zip_zip02').val($('#order_zip_zip02').val());
        $('#order_Shippings_0_address_pref').val($('#order_address_pref').val());
        $('#order_Shippings_0_address_addr01').val($('#order_address_addr01').val());
        $('#order_Shippings_0_address_addr02').val($('#order_address_addr02').val());
        $('#order_Shippings_0_email').val($('#order_email').val());
        $('#order_Shippings_0_tel_tel01').val($('#order_tel_tel01').val());
        $('#order_Shippings_0_tel_tel02').val($('#order_tel_tel02').val());
        $('#order_Shippings_0_tel_tel03').val($('#order_tel_tel03').val());
        $('#order_Shippings_0_fax_fax01').val($('#order_fax_fax01').val());
        $('#order_Shippings_0_fax_fax02').val($('#order_fax_fax02').val());
        $('#order_Shippings_0_fax_fax03').val($('#order_fax_fax03').val());
        $('#order_Shippings_0_company_name').val($('#order_company_name').val());
    });
    // 会員検索
    $('#searchCustomerModalButton').on('click', function() {
        var tbody = $('#searchCustomerModalList tbody');
        tbody.children().remove();
        $.ajax({
            type: 'POST',
            data: { 'search_word' : $('#admin_search_customer_multi').val() },
            url: '{{ url('admin_order_search_customer') }}',
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    // モーダルウィンドウ内に結果を出力.
                    var tr = $('<tr></tr>');
                    var id = $('<td>' + data[i]['id'] + '</td>');
                    var name = $('<td>' + data[i]['name'] + '</td>');
                    var tel = $('<td>' + data[i]['tel'] + '</td>');
                    var select = $('<td data-customer="' + data[i]['id'] + '"><button type="button" class="btn btn-default btn-sm">決定</button></td>');
                    tr.append(id);
                    tr.append(name);
                    tr.append(tel);
                    tr.append(select);
                    tbody.append(tr);

                    // 決定ボタンに検索イベントを設定.
                    select.on('click', function() {
                        $.ajax({
                            type: 'POST',
                            data: { 'id' : this.dataset.customer },
                            url: '{{ url('admin_order_search_customer_by_id') }}',
                            success: function(data) {
                                // 顧客情報をフォームにセットする.
                                $('#order_CustomerId').html(data['id']);
                                $('#order_Customer').val(data['id']);
                                $('#order_name_name01').val(data['name01']);
                                $('#order_name_name02').val(data['name02']);
                                $('#order_kana_kana01').val(data['kana01']);
                                $('#order_kana_kana02').val(data['kana02']);
                                $('#order_zip_zip01').val(data['zip01']);
                                $('#order_zip_zip02').val(data['zip02']);
                                $('#order_address_pref').val(data['pref']);
                                $('#order_address_addr01').val(data['addr01']);
                                $('#order_address_addr02').val(data['addr02']);
                                $('#order_email').val(data['email']);
                                $('#order_tel_tel01').val(data['tel01']);
                                $('#order_tel_tel02').val(data['tel02']);
                                $('#order_tel_tel03').val(data['tel03']);
                                $('#order_fax_fax01').val(data['fax01']);
                                $('#order_fax_fax02').val(data['fax02']);
                                $('#order_fax_fax03').val(data['fax03']);
                                $('#order_company_name').val(data['company_name']);
                                // モーダルを閉じる.
                                $('#searchCustomerModal').modal('hide');
                            },
                            error: function() {
                                console.log('search customer(by id) failed.');
                            }
                        });
                     });
                }
            },
            error: function() {
                console.log('search customer failed.');
            }
        });
    });
    // 商品検索
    $('#searchProductModalButton').on('click', function() {
        var tbody = $('#searchProductModalList tbody');
        tbody.children().remove();
        $.ajax({
            type: 'POST',
            dataType: 'html',
            data: {
                'id' : $('#admin_search_product_id').val(),
                'category_id' : $('#admin_search_product_category_id').val()
            },
            url: '{{ url('admin_order_search_product') }}',
            success: function(data) {
                // モーダルに結果を書き出し.
                $('#searchProductModalList').html(data);
            },
            error: function() {
                console.log('search product failed.');
            }
        });
    });

    // 受注明細行の行数カウンタ.
    // 受注登録・編集画面上でグローバルな変数.
    // search_product.twig/order_detail_prototype.twigで利用しています.
    order_details_count = '{{ form.OrderDetails|length }}';

    // 項目数が多く、入力している項目によってEnter押下時に期待する動作が変わるので、いったん禁止
    $("input").on("keydown", function(e) {
        if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
            return false;
        } else {
            return true;
        }
    });

    $(".delete-item").on("click", function(){
        $(this).parents(".item_box").remove();
        order_details_count--;

        onChangeOrderDetailCount(order_details_count);
    });

    var onChangeOrderDetailCount = function(order_details_count) {
        if (order_details_count == 1) {
            $(".delete-item").attr("disabled", "disabled");
        } else {
            $(".delete-item").removeAttr("disabled");
        }
    };

    onChangeOrderDetailCount();
});
var setModeAndSubmit = function(mode, keyname, keyid) {
    document.form1.mode.value = mode;
    if(keyname !== undefined && keyname !== "" && keyid !== undefined && keyid !== "") {
        document.form1[keyname].value = keyid;
    }
    document.form1.submit();
};

</script>
{% endblock javascript %}

{% block main %}
<div class="row" id="aside_wrap">
    <form role="form" name="form1" id="form1" method="post" action="?">
    <input type="hidden" name="mode" value="">
    {{ form_widget(form._token) }}
        <div class="col-md-9">
            <div class="box accordion">
                <div class="box-header toggle active">
                    <h3 class="box-title">注文者情報<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                </div><!-- /.box-header -->
                <div class="box-body accpanel" style="display: block;">
                    <div class="order_list form-horizontal">
                        {% if Order.id is empty %}
                        <div class="btn_area">
                            <ul>
                                <li><a class="btn btn-default btn-block btn-sm" data-toggle="modal" data-target="#searchCustomerModal">会員検索</a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-2">会員ID</div>
                            <div class="col-sm-9 col-lg-10">
                                <p id="order_CustomerId">{{ form.Customer.vars.value is empty ? '非会員' :  form.Customer.vars.value }}</p>
                                {{ form_widget(form.Customer) }}
                                {{ form_errors(form.Customer) }}
                            </div>

                        </div>
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            <div class="col-sm-9 col-lg-10 input_name form-inline">
                                {{ form_widget(form.name.name01, { attr : { placeholder: '姓' }}) }}
                                {{ form_widget(form.name.name02, { attr : { placeholder: '名' }}) }}
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.kana) }}
                            <div class="col-sm-9 col-lg-10 input_name form-inline">
                                {{ form_widget(form.kana.kana01, { attr : { placeholder : 'セイ' }}) }}
                                {{ form_widget(form.kana.kana02, { attr : { placeholder : 'メイ' }}) }}
                                {{ form_errors(form.kana.kana01) }}
                                {{ form_errors(form.kana.kana02) }}
                            </div>
                        </div>
                        {# 住所：郵便番号 #}
                        <div class="form-group">
                            {{ form_label(form.address) }}
                            <div class="col-sm-9 col-lg-10 input_zip form-inline">
                                〒{{ form_widget(form.zip.zip01) }}-{{ form_widget(form.zip.zip02) }}
                                {{ form_errors(form.zip) }}
                                <span><button type="button" id="zip-search" class="btn btn-default btn-sm">郵便番号から自動入力</button></span>
                            </div>
                        </div>
                        {# 住所：都道府県 #}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9 col-lg-10 form-inline">
                                {{ form_widget(form.address.pref) }}
                                {{ form_errors(form.address.pref) }}
                            </div>
                        </div>
                        {# 住所：住所1 #}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9 col-lg-10">
                                {{ form_widget(form.address.addr01, { attr : { placeholder : '市区町村名（例：千代田区神田神保町）'}} ) }}
                                {{ form_errors(form.address.addr01) }}
                            </div>
                        </div>
                        {# 住所：住所2 #}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9 col-lg-10">
                                {{ form_widget(form.address.addr02, { attr : { placeholder : '番地・ビル名（例：1-3-5）' }}) }}
                                {{ form_errors(form.address.addr02) }}
                            </div>
                        </div>
                        {# メールアドレス #}
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        {# 電話番号 #}
                        <div class="form-group">
                            {{ form_label(form.tel) }}
                            <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                {{ form_widget(form.tel.tel01) }}-{{ form_widget(form.tel.tel02) }}-{{ form_widget(form.tel.tel03) }}
                                {{ form_errors(form.tel) }}
                            </div>
                        </div>
                        {# FAX番号 #}
                        <div class="form-group">
                            {{ form_label(form.fax) }}
                            <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                {{ form_widget(form.fax.fax01) }}-{{ form_widget(form.fax.fax02) }}-{{ form_widget(form.fax.fax03) }}
                                {{ form_errors(form.fax) }}
                            </div>
                        </div>
                        {# 会社名 #}
                        <div class="form-group">
                            {{ form_label(form.company_name) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.company_name) }}
                                {{ form_errors(form.company_name) }}
                            </div>
                        </div>
                        {# 注文時お問い合わせ #}
                        <div class="form-group">
                            {{ form_label(form.message) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.message, { attr : { placeholder : 'Enter ..' }}) }}
                                {{ form_errors(form.message) }}
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="box accordion">
                <div class="box-header toggle">
                    <h3 class="box-title">受注商品情報<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                </div><!-- /.box-header -->
                <div class="box-body accpanel">
                    <div class="order_list">
                        <div class="btn_area">
                            <ul>
                                <li><a class="btn btn-default btn-block btn-sm" data-toggle="modal" data-target="#searchProductModal">商品の追加</a></li>
                                <li><a class="btn btn-default btn-block btn-sm" onclick="setModeAndSubmit('')">計算結果の更新</a></li>
                            </ul>
                        </div>
                        <div class="tableish"
                             id="order_detail_list"
                             data-prototype="
                                {% filter escape %}
                                     {{ include('Order/order_detail_prototype.twig', { 'orderDetailForm': form.OrderDetails.vars.prototype }) }}
                                {% endfilter %}">

                            {% for orderDetailForm in form.OrderDetails %}
                                {{ form_widget(orderDetailForm.Product) }}
                                {{ form_widget(orderDetailForm.ProductClass) }}
                                <div class="item_box">
                                    <div class="item_detail">
                                        <div class="item_name_area">
                                            <strong class="item_name">{{ orderDetailForm.vars.value.product_name }}</strong><br>
                                            <span class="item_id small">{{ orderDetailForm.vars.value.product_code }}</span>
                                            <span class="item_pattern small">
                                                {% if orderDetailForm.vars.value.class_category_name1 is not empty %}
                                                / (
                                                    {{ orderDetailForm.vars.value.class_name1 }}：
                                                    {{ orderDetailForm.vars.value.class_category_name1 }}
                                                    {% if orderDetailForm.vars.value.class_category_name2 is not empty %}
                                                        /
                                                        {{ orderDetailForm.vars.value.class_name2 }}：
                                                        {{ orderDetailForm.vars.value.class_category_name2 }}
                                                    {% endif %}
                                                    )
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 form-group form-inline text-right">
                                                <span class="input-group item_price col-xs-8 col-sm-6 col-md-12">
                                                    {{ form_widget(orderDetailForm.price) }}
                                                    {{ form_errors(orderDetailForm.price) }}
                                                </span>
                                            </div>
                                            <div class="col-md-4 col-lg-3 form-group form-inline text-right">
                                                <span class="item_quantity">
                                                    数量：{{ form_widget(orderDetailForm.quantity) }}
                                                    {{ form_errors(orderDetailForm.quantity) }}
                                                </span>
                                            </div>
                                            <div class="col-md-4 col-lg-3 form-group form-inline text-right">
                                            	<span class="item_tax">
                                                    税率：
                                                    <span class="input-group">
                                                    {{ form_widget(orderDetailForm.tax_rate) }}
                                                    {{ form_errors(orderDetailForm.tax_rate) }}
                                                    <span class="input-group-addon">%</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-12 col-lg-3 item_subtotal text-right">
                                                <span>小計：</span> {{ orderDetailForm.vars.value.total_price|price }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="icon_edit">
                                        <button class="btn btn-default btn-sm delete-item">削除</button>
                                    </div>
                                </div><!-- /.item_box -->
                            {% endfor %}
                        </div>

                        <div class="row with-border2 no-margin text-right">
                            <div class="col-lg-9 col-lg-offset-3">
                                <dl class="dl-horizontal amount_area">
                                    <dt>小計：</dt>
                                    <dd>{{ Order.subtotal|price }}</dd>
                                    <dt>値引き：</dt>
                                    <dd class="form-group form-inline">
                                        {{ form_widget(form.discount) }}
                                        {{ form_errors(form.discount) }}
                                    </dd>
                                    <dt>送料：</dt>
                                    <dd class="form-group form-inline">
                                        {{ form_widget(form.delivery_fee_total) }}
                                        {{ form_errors(form.delivery_fee_total) }}
                                    </dd>
                                    <dt>手数料：</dt>
                                    <dd class="form-group form-inline">
                                        {{ form_widget(form.charge) }}
                                        {{ form_errors(form.charge) }}
                                    </dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row with-border2 no-margin text-right  ta">
                            <div class="col-lg-9 col-lg-offset-3">
                                <dl class="dl-horizontal amount_area">
                                    <dt>合計：</dt>
                                    <dd>{{ Order.total|price }}</dd>
                                    <dt>お支払合計：</dt>
                                    <dd>{{ Order.payment_total|price }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# お支払情報 #}
            <div class="box accordion">
                <div class="box-header toggle">
                    <h3 class="box-title">お支払情報<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                </div><!-- /.box-header -->
                <div class="box-body accpanel">
                    <dl class="dl-horizontal">
                        <dt>お支払方法</dt>
                        <dd class="form-group form-inline">
                            {{ form.vars.value.payment_method }}<br/>
                            {{ form_widget(form.Payment) }}
                            {{ form_errors(form.Payment) }}
                            <p class="small">お支払方法の変更に伴う手数料の変更は手動にてお願いします。</p>
                        </dd>
                    </dl>
                </div>
            </div>

            {# お届け先情報 #}
            <div class="box accordion">
                <div class="box-header toggle">
                    <h3 class="box-title">お届け先情報<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                </div><!-- /.box-header -->
                <div class="box-body accpanel">
                    {% for shippingForm in form.Shippings %}
                    <div class="order_list">
                        <div class="btn_area">
                            <ul>
                                <li><a class="btn btn-default btn-block btn-sm" id="copyCustomerToShippingButton">注文者情報をコピー</a></li>
                            </ul>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                {{ form_label(shippingForm.name) }}
                                <div class="col-sm-9 col-lg-10 input_name form-inline">
                                    {{ form_widget(shippingForm.name.name01, { attr : { placeholder: '姓' }}) }}
                                    {{ form_widget(shippingForm.name.name02, { attr : { placeholder: '名' }}) }}
                                    {{ form_errors(shippingForm.name) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(shippingForm.kana) }}
                                <div class="col-sm-9 col-lg-10 input_name form-inline">
                                    {{ form_widget(shippingForm.kana.kana01, { attr : { placeholder : 'セイ' }}) }}
                                    {{ form_widget(shippingForm.kana.kana02, { attr : { placeholder : 'メイ' }}) }}
                                    {{ form_errors(shippingForm.kana) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(shippingForm.company_name) }}
                                <div class="col-sm-9 col-lg-10">
                                    {{ form_widget(shippingForm.company_name) }}
                                    {{ form_errors(shippingForm.company_name) }}
                                </div>
                            </div>
                            {# 住所：郵便番号 #}
                            <div class="form-group">
                                {{ form_label(shippingForm.address) }}
                                <div class="col-sm-9 col-lg-10 input_zip form-inline">
                                    〒{{ form_widget(shippingForm.zip.zip01) }}-{{ form_widget(shippingForm.zip.zip02) }}
                                    {{ form_errors(shippingForm.zip) }}
                                </div>
                            </div>
                            {# 住所：都道府県 #}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-9 col-lg-10 form-inline">
                                    {{ form_widget(shippingForm.address.pref) }}
                                    {{ form_errors(shippingForm.address.pref) }}
                                </div>
                            </div>
                            {# 住所：住所1 #}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-9 col-lg-10">
                                    {{ form_widget(shippingForm.address.addr01, { attr : { placeholder : '市区町村名（例：千代田区神田神保町）'}} ) }}
                                    {{ form_errors(shippingForm.address.addr01) }}
                                </div>
                            </div>
                            {# 住所：住所2 #}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-9 col-lg-10">
                                    {{ form_widget(shippingForm.address.addr02, { attr : { placeholder : '番地・ビル名（例：1-3-5）' }}) }}
                                    {{ form_errors(shippingForm.address.addr02) }}
                                </div>
                            </div>
                            {# 電話番号 #}
                            <div class="form-group">
                                {{ form_label(shippingForm.tel) }}
                                <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                    {{ form_widget(shippingForm.tel.tel01) }}-{{ form_widget(shippingForm.tel.tel02) }}-{{ form_widget(shippingForm.tel.tel03) }}
                                    {{ form_errors(shippingForm.tel) }}
                                </div>
                            </div>
                            {# FAX番号 #}
                            <div class="form-group">
                                {{ form_label(shippingForm.fax) }}
                                <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                    {{ form_widget(shippingForm.fax.fax01) }}-{{ form_widget(shippingForm.fax.fax02) }}-{{ form_widget(shippingForm.fax.fax03) }}
                                    {{ form_errors(shippingForm.fax) }}
                                </div>
                            </div>
                            {# 配送業者 #}
                            <div class="form-group">
                                {{ form_label(shippingForm.Delivery) }}
                                <div class="col-sm-9 col-lg-10">
                                    {% if shippingForm.vars.value.shipping_delivery_name is not empty %}
                                    {{ shippingForm.vars.value.shipping_delivery_name }}<br/>
                                    {% endif %}
                                    {{ form_widget(shippingForm.Delivery) }}
                                    {{ form_errors(shippingForm.Delivery) }}
                                </div>
                            </div>
                            {# お届け時間 #}
                            <div class="form-group">
                                {{ form_label(shippingForm.DeliveryTime) }}
                                <div class="col-sm-9 col-lg-10">
                                    {% if shippingForm.vars.value.shipping_delivery_time is not empty %}
                                    {{ shippingForm.vars.value.shipping_delivery_time }}<br/>
                                    {% endif %}
                                    {{ form_widget(shippingForm.DeliveryTime) }}
                                    {{ form_errors(shippingForm.DeliveryTime) }}
                                </div>
                            </div>
                            {# お届け日 #}
                            <div class="form-group">
                                {{ form_label(shippingForm.shipping_delivery_date) }}
                                <div class="col-sm-9 col-lg-10">
                                    {{ shippingForm.shipping_delivery_date.date.year.vars.value }}/{{ shippingForm.shipping_delivery_date.date.month.vars.value }}/{{ shippingForm.shipping_delivery_date.date.day.vars.value }}<br/>
                                    {{ form_widget(shippingForm.shipping_delivery_date) }}
                                    {{ form_errors(shippingForm.shipping_delivery_date) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- /.box-body -->
            </div>

            <div class="row hidden-xs hidden-sm">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <button class="btn btn-primary btn-block btn-lg" onclick="setModeAndSubmit('register')">登録</button>
                    {% if id is not null %}
                        <p><a href="{{ url('admin_order') }}">戻る</a></p>
                    {% endif %}
                </div>
            </div>

        </div><!-- /.col -->

        <div class="col-md-3" id="aside_column">
            <div class="col_inner">
                <div class="box no-header">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <h4>注文番号<span class="number">{{ Order.id }}</span></h4>
                                <div class="form-group">
                                    {{ form_widget(form.OrderStatus) }}
                                    <p class="small">キャンセルの場合は在庫数を手動で戻してください</p>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" onclick="setModeAndSubmit('register')">受注情報を登録</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="box no-header">
                    <div class="box-body update-area">
                        <p><svg class="cb cb-clock"> <use xlink:href="#cb-clock" /></svg>受注日：{{ Order.order_date|date_format }}</p>
                        <p><svg class="cb cb-clock"> <use xlink:href="#cb-clock" /></svg>入金日：{{ Order.payment_date|date_format }}</p>
                        <p><svg class="cb cb-clock"> <use xlink:href="#cb-clock" /></svg>発送日：{{ Order.commit_date|date_format }}</p>
                        <p><svg class="cb cb-clock"> <use xlink:href="#cb-clock" /></svg>更新日：{{ Order.update_date|date_format }}</p>
                    </div>
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">ショップ用メモ欄</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">{{ form_widget(form.note) }}</div>
                </div><!-- /.box -->

            </div>
        </div><!-- /.col -->
    </form>
</div>
{% endblock %}

{% block modal %}

{# 会員検索モーダル #}
<div class="modal" id="searchCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><svg class="cb cb-close" aria-hidden="true"><use xlink:href="#cb-close"></svg></button>
                <h4 class="modal-title" id="myModalLabel">会員検索</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_widget(searchCustomerModalForm.multi, { attr : { placeholder : '会員ID・メールアドレス・お名前' } } ) }}
                </div>
                <div class="form-group">
                    <button type="button" id="searchCustomerModalButton" class="btn btn-primary" >検索</button>
                </div>
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped" id="searchCustomerModalList">
                            <thead>
                            <tr>
                                <th>会員ID</th>
                                <th>お名前(カナ)</th>
                                <th>電話番号</th>
                                <th>決定</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# 商品検索モーダル #}
<div class="modal" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><svg class="cb cb-close" aria-hidden="true"><use xlink:href="#cb-close"></svg></button>
                <h4 class="modal-title" id="myModalLabel">商品検索</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_widget(searchProductModalForm.id, { attr : { placeholder : '商品名・ID・コード' } } ) }}
                </div>
                <div class="form-group">
                    {{ form_widget(searchProductModalForm.category_id) }}
                </div>
                <div class="form-group">
                    <button type="button" id="searchProductModalButton" class="btn btn-primary" >検索</button>
                </div>
                <div class="form-group" id="searchProductModalList">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
