{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<tr class="d-none">
    <td>
        {{ form_widget(orderItemForm.product_name) }}
        {{ form_widget(orderItemForm.ProductClass) }}
        {{ form_widget(orderItemForm.order_item_type) }}
        {{ form_widget(orderItemForm.price) }}
        {{ form_widget(orderItemForm.quantity) }}
    </td>
</tr>
