<div style="display: none">
    {{ form_widget(shipmentItemForm.new) }}
    {{ form_widget(shipmentItemForm.Order) }}
    {{ form_widget(shipmentItemForm.Product) }}
    {{ form_widget(shipmentItemForm.ProductClass) }}
    {{ form_widget(shipmentItemForm.price) }}
    {{ form_widget(shipmentItemForm.quantity, {'type': 'hidden'}) }}
    {{ form_widget(shipmentItemForm.tax_rate, {'type': 'hidden'}) }}
    {{ form_widget(shipmentItemForm.order_item_type, {'type': 'hidden'}) }}
</div>
