{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block title %}受注管理{% endblock %}
{% block sub_title %}対応状況管理{% endblock %}

{% block main %}
<script>
$(function(){
    var data = '{{ form_widget(form.move.vars.prototype)}}';
    $(".move").each(function(){
        check = data.replace(/__name__/g, $(this).attr("data-order-id"));
        $(check)
        .appendTo($(this));
    });
});
</script>

<form name="form1" id="form1" method="post" action="{{ url('admin_order_status', { id: CurrentStatus.id }) }}" >
{{ form_widget(form._token) }}
    <div id="order" class="contents-main">
        <h2>抽出条件</h2>
            <div class="btn">
            {% for OrderStatus in OrderStatuses %}
                <a
                    class="btn-normal"
                    style="padding-right: 1em;"
                    {% if OrderStatus.id != CurrentStatus.id %}
                        href="{{ url('admin_order_status', { id: OrderStatus.id }) }}"
                    {% endif %}
                >{{ OrderStatus.name }}</a>
            {% endfor %}
            </div>
        <h2>対応状況変更</h2>
        {# 登録テーブルここから #}
        <div class="btn">
            {{ form_widget(form.status) }}
            <a class="btn-normal" href="javascript:;" onclick="document.form1.submit(); return false;"><span>移動</span></a>
        </div>
        <span class="attention">※ {{ OrderStatuses[app.config.order_cancel].name }}に変更時には、在庫数を手動で戻してください。</span><br />

        <p class="remark">
            {{ Orders|length }}件が該当しました。
        </p>

        <table class="list">
            <col width="5%" />
            <col width="10%" />
            <col width="8%" />
            <col width="13%" />
            <col width="20%" />
            <col width="10%" />
            <col width="10%" />
            <col width="12%" />
            <col width="12%" />
            <tr>
                <th><label for="move_check">選択<br /></label> <input type="checkbox" name="move_check" id="move_check" onclick="eccube.checkAllBox(this, 'input[name=move[]]')" /></th>
                <th>対応状況</th>
                <th>注文番号</th>
                <th>受注日</th>
                <th>お名前</th>
                <th>支払方法</th>
                <th>購入金額（円）</th>
                <th>入金日</th>
                <th>発送日</th>
            </tr>

            {% for Order in Orders %}
                <tr style="background:{{ Order.OrderStatusColor }}">
                    <td class="center move" data-order-id="{{ Order.id }}"></td>
                    <td class="center">{{ OrderStatuses[Order.OrderStatus.id].name }}</td>
                    <td class="center"><a href="{{ url('admin_order_edit', { id: Order.id }) }}">{{ Order.id }}</a></td>
                    <td class="center">{{ Order.create_date|date("Y/m/d H:i:s") }}</td>
                    <td>{{ Order.name01 }} {{ Order.name02 }}</td>
                    <td class="center">{{ Order.PaymentMethod }}</td>
                    <td class="right">{{ Order.total }}</td>
                    <td class="center">
                        {% if Order.payment_date is not null %}
                            {{ Order.payment_date|date("Y-m-d H:i:s") }}
                        {% else %}
                            未入金
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if Order.OrderStatus.id == 5 %}
                            {{ commit_date|date("Y-m-d H:i:s") }}
                        {% else %}
                            未発送
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">
                        該当するデータはありません。
                    </td>
                </tr>
            {% endfor %}
        </table>

        {# 登録テーブルここまで #}
    </div>
</form>

{% endblock %}