{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<li class="list-group-item delivery-time-item sortable-item">
    <div class="row justify-content-around mode-view">
        <div class="col-auto d-flex align-items-center">
            <i class="fa fa-bars text-ec-gray"></i>
        </div>
        <div class="col d-flex align-items-center">
            <a class="display-label">{% if form.vars.value == '' %}__value__{% else %}{{ form.vars.value }}{% endif %}</a>
        </div>
        <div class="col-auto text-right">
            <a class="btn btn-ec-actionIcon mr-2 action-up" href="" data-tooltip="true"
               data-placement="top" title="{{ 'admin.common.up'|trans }}">
                <i class="fa fa-arrow-up fa-lg text-secondary"></i>
            </a>
            <a class="btn btn-ec-actionIcon mr-2 action-down" href="" data-tooltip="true"
               data-placement="top" title="{{ 'admin.common.down'|trans }}">
                <i class="fa fa-arrow-down fa-lg text-secondary"></i>
            </a>
            <a class="btn btn-ec-actionIcon mr-2 action-edit" href="" data-tooltip="true"
               data-placement="top" title="{{ 'admin.common.edit'|trans }}">
                <i class="fa fa-pencil fa-lg text-secondary"></i>
            </a>
            <a class="btn btn-ec-actionIcon mr-2 remove-delivery-time-item" href="" data-tooltip="true"
               data-placement="top" title="{{ 'admin.common.delete'|trans }}">
                <i class="fa fa-close fa-lg text-secondary"></i>
            </a>
        </div>
    </div>
    <div class="row justify-content-around mode-edit d-none">
        <div class="col d-flex align-items-center">
            <div class="form-row">
                <div class="col-auto d-flex align-items-center">
                    {{ form_widget(form.delivery_time, {'attr': {'data-origin-value': form.vars.value }}) }}
                </div>
                <div class="col-auto d-flex align-items-center">
                    <button class="btn btn-ec-conversion action-edit-submit" type="submit">{{ 'admin.common.decision'|trans }}</button>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <button class="btn btn-ec-sub action-edit-cancel" type="submit">{{ 'admin.common.cancel'|trans }}</button>
                </div>
                {{ form_errors(form.delivery_time) }}
                {{ form_widget(form.sort_no, {'attr': {'class': "sort-no" }}) }}
                {{ form_errors(form.sort_no) }}
            </div>
        </div>
    </div>
</li>
