{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_delivery'] %}

{% block title %}{{ 'admin.setting.shop.delivery_list'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.setting.shop'|trans }}{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            var oldSortNos = [];
            $('.sortable-item').each(function() {
                oldSortNos.push(this.dataset.sortNo);
            });
            oldSortNos.sort(function(a, b) {
                return a - b;
            }).reverse();
            // 並び替え後にsort noを更新
            var updateSortNo = function() {
                var newSortNos = {};
                var i = 0;
                $('.sortable-item').each(function() {
                    newSortNos[this.dataset.id] = oldSortNos[i];
                    i++;
                });
                $.ajax({
                    url: '{{ url('admin_setting_shop_delivery_sort_no_move') }}',
                    type: 'POST',
                    data: newSortNos
                }).always(function() {
                    $(".modal-backdrop").remove();
                });
            };
            // 最初と最後の↑↓を再描画
            var redrawDisableAllows = function() {
                var items = $('.sortable-item');
                items.find('a').removeClass('disabled');
                items.first().find('a.action-up').addClass('disabled');
                items.last().find('a.action-down').addClass('disabled');
            };
            // オーバレイ後, 表示順の更新を行う
            var moveSortNo = function() {
                $('body').append($('<div class="modal-backdrop show"></div>'));
                updateSortNo();
                redrawDisableAllows();
            };
            // Drag and Drop
            $(".sortable-container").sortable({
                items: '> .sortable-item',
                cursor: 'move',
                update: function(e, ui) {
                    moveSortNo();
                }
            });
            // Up
            $('.sortable-item').on('click', 'a.action-up', function(e) {
                e.preventDefault();
                var current = $(this).parents('li');
                if (current.prev().hasClass('sortable-item')) {
                    current.prev().before(current);
                    moveSortNo();
                }
            });
            // Down
            $('.sortable-item').on('click', 'a.action-down', function(e) {
                e.preventDefault();
                var current = $(this).parents('li');
                if (current.next().hasClass('sortable-item')) {
                    current.next().after(current);
                    moveSortNo();
                }
            });

            // 削除モーダルのhrefとmessageの変更
            $('#DeleteModal').on('shown.bs.modal', function(event) {
                var target = $(event.relatedTarget);
                // hrefの変更
                $(this).find('[data-method="delete"]').attr('href', target.data('url'));

                // messageの変更
                $(this).find('p.modal-message').text(target.data('message'));
            });
        });
    </script>
{% endblock %}

{% block main %}
    <form name="form1" method="post">
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="d-block mb-3">
                        <a class="btn btn-ec-regular" href="{{ url('admin_setting_shop_delivery_new') }}">{{ 'admin.common.create__new'|trans }}</a>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body p-0">
                            <div class="card rounded border-0">
                                <ul class="list-group list-group-flush sortable-container">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-auto"><strong>&nbsp;</strong></div>
                                            <div class="col-auto"><strong>{{ 'admin.common.id'|trans }}</strong></div>
                                            <div class="col-2"><strong>{{ 'admin.setting.shop.delivery.delivery_name'|trans }}</strong></div>
                                        </div>
                                    </li>
                                    {% if Deliveries|length > 0 %}
                                        {% for Delivery in Deliveries %}
                                            <li id="ex-delivery-{{ Delivery.id }}" class="list-group-item sortable-item" data-id="{{ Delivery.id }}" data-sort-no="{{ Delivery.sortNo }}">
                                                <div class="row justify-content-around">
                                                    <div class="col-auto d-flex align-items-center"><i class="fa fa-bars text-ec-gray"></i></div>
                                                    <div class="col-auto d-flex align-items-center">{{ Delivery.id }}</div>
                                                    <div class="col d-flex align-items-center">
                                                        <a href="{{ url('admin_setting_shop_delivery_edit', {id: Delivery.id} ) }}">
                                                            {{ Delivery.name }} / {{ Delivery.service_name }}
                                                        </a>
                                                    </div>
                                                    <div class="col-auto text-end">
                                                        <a href="#" class="btn btn-ec-actionIcon me-2 action-up {% if loop.first %}disabled{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'admin.common.up'|trans }}">
                                                            <i class="fa fa-arrow-up fa-lg text-secondary"></i>
                                                        </a>
                                                        <a href="#" class="btn btn-ec-actionIcon me-2 action-down {% if loop.last %}disabled{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'admin.common.down'|trans }}">
                                                            <i class="fa fa-arrow-down fa-lg text-secondary"></i>
                                                        </a>
                                                        <a class="btn btn-ec-actionIcon me-2 action-visible" href="{{ url('admin_setting_shop_delivery_visibility', {'id': Delivery.id }) }}"
                                                           data-bs-toggle="tooltip" data-bs-placement="top" title="{{ Delivery.visible ? 'admin.common.to_hide'|trans : 'admin.common.to_show'|trans }}"
                                                           data-confirm="false" data-method="put" {{ csrf_token_for_anchor() }} >
                                                            <i class="fa fa-toggle-{{ Delivery.visible ? 'on' : 'off' }} fa-lg text-secondary" aria-hidden="true"></i>
                                                        </a>
                                                        <div class="d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                                             title="{{ 'admin.common.delete'|trans }}">
                                                            <a class="btn btn-ec-actionIcon" data-bs-toggle="modal" data-bs-target="#DeleteModal"
                                                               data-url="{{ url('admin_setting_shop_delivery_delete', {id: Delivery.Id} ) }}"
                                                               data-message="{{ 'admin.common.delete_modal__message'|trans({ "%name%" : Delivery.name }) }}">
                                                                <i class="fa fa-close fa-lg"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                <!-- 削除モーダル -->
                                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                                     aria-labelledby="DeleteModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title fw-bold">
                                                    {{ 'admin.common.delete_modal__title'|trans }}
                                                </h5>
                                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">

                                                </button>
                                            </div>
                                            <div class="modal-body text-start">
                                                <p class="text-start modal-message"><!-- jsでメッセージを挿入 --></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-ec-sub" type="button" data-bs-dismiss="modal">
                                                    {{ 'admin.common.cancel'|trans }}
                                                </button>
                                                <a class="btn btn-ec-delete" href="#" {{ csrf_token_for_anchor() }}
                                                   data-method="delete" data-confirm="false">
                                                    {{ 'admin.common.delete'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>{{ 'admin.common.drag_and_drop_description'|trans }}</p>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
