{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_delivery'] %}

{% block title %}{{ 'admin.setting.shop.delivery_edit.579'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.setting.shop.delivery_edit.578'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script>
        $(function () {
            $("#set_fee_all").on("click", function () {
                var fee = $("#{{ form.free_all.vars.id }}").val();
                $("input[name$='[fee]']").val(fee);
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <form method="post"
          action="{{ delivery_id ? url('admin_setting_shop_delivery_edit', {'id': delivery_id}) : url('admin_setting_shop_delivery_new') }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>基本情報</span></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"><span>配送業者名</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.name)}}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>配送方法名称</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.service_name)}}
                                    {{ form_errors(form.service_name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span>伝票No.URL</span><i class="fa fa-question-circle fa-lg ml-1"></i></div>
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.confirm_url) }}
                                    {{ form_errors(form.confirm_url) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>販売種別</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.sale_type) }}
                                    {{ form_errors(form.sale_type) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>取り扱う支払方法</span></div>
                        <div class="card-body">
                            <div>
                                {{ form_widget(form.payments, {'label_attr': {'class': 'checkbox-inline'}}) }}
                                {{ form_errors(form.payments) }}
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-2">
                        <div class="card-header"><span>お届け時間設定</span></div>
                        <div class="card-body p-0">
                            <div class="card rounded border-0 mb-2">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-row">
                                            <div class="col-auto d-flex align-items-center">
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="col-auto d-flex align-items-center">
                                                <button class="btn btn-ec-regular" type="submit">新規作成</button>
                                            </div>
                                        </div>
                                    </li>
                                    {# TODO お届け時間16行の固定入力になっているため, 動的に増やせるように実装を変更する #}
                                    {# TODO 上下移動, 編集、削除アクションを実装する. サーバサイドでの処理は不要で、javascriptで画面上の動きだけ制御できればよい #}
                                    {% for child in form.delivery_times %}
                                    <li class="list-group-item">
                                        <div class="row justify-content-around">
                                            <div class="col-auto d-flex align-items-center"><i
                                                        class="fa fa-bars text-ec-gray"></i></div>
                                            <div class="col d-flex align-items-center"><a>{{ child.vars.value }}</a></div>
                                            <div class="col-auto text-right"><a class="btn btn-ec-actionIcon mr-3"
                                                                                href=""
                                                                                data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="上へ移動"><i
                                                            class="fa fa-arrow-up fa-lg text-secondary"></i></a><a
                                                        class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip"
                                                        data-placement="top" title="下へ移動"><i
                                                            class="fa fa-arrow-down fa-lg text-secondary"></i></a><a
                                                        class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip"
                                                        data-placement="top" title="名前を編集"><i
                                                            class="fa fa-pencil fa-lg text-secondary"></i></a><a
                                                        class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip"
                                                        data-placement="top" title="削除"><i
                                                            class="fa fa-close fa-lg text-secondary"></i></a></div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    {# TODO お届け時間の編集を実装する #}
                                    <li class="list-group-item" style="display: none">
                                        <div class="row justify-content-around">
                                            <div class="col-7 d-flex align-items-center">
                                                <div class="form-row">
                                                    <div class="col-auto d-flex align-items-center">
                                                        <input class="form-control" type="text" placeholder="配送方法名を入力">
                                                    </div>
                                                    <div class="col-auto d-flex align-items-center">
                                                        <button class="btn btn-ec-conversion" type="submit">決定</button>
                                                    </div>
                                                    <div class="col-auto d-flex align-items-center">
                                                        <button class="btn btn-ec-sub" type="submit">キャンセル</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a class="btn btn-ec-actionIcon mr-3" href=""
                                                                             data-toggle="tooltip" data-placement="top"
                                                                             title="上へ移動"><i
                                                            class="fa fa-arrow-up fa-lg text-secondary"></i></a><a
                                                        class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip"
                                                        data-placement="top" title="下へ移動"><i
                                                            class="fa fa-arrow-down fa-lg text-secondary"></i></a><a
                                                        class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip"
                                                        data-placement="top" title="名前を編集"><i
                                                            class="fa fa-pencil fa-lg text-secondary"></i></a><a
                                                        class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip"
                                                        data-placement="top" title="削除"><i
                                                            class="fa fa-close fa-lg text-secondary"></i></a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {# TODO 項目のドラッグ＆ドロップでの移動を実装する #}
                    <p class="mb-4">項目の順番はドラッグ＆ドロップでも変更可能です。</p>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>都道府県別送料設定</span></div>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row justify-content-start">
                                        <div class="col-2">
                                            <div class="d-inline-block align-middle" data-toggle="tooltip"
                                                 data-placement="top" title="Tooltip"><span
                                                        class="card-title">全国一律に設定</span><i
                                                        class="fa fa-question-circle fa-lg ml-1"></i></div>
                                        </div>
                                        <div class="col-3">
                                            {{ form_widget(form.free_all) }}
                                        </div>
                                        <div class="col-auto">
                                            <button id="set_fee_all" class="btn btn-ec-regular" type="button">各都道府県に適用</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    {% for child in form.delivery_fees %}
                                        {% if loop.index % 2 != 0 %}<div class="row mb-2">{% endif %}
                                        <div class="col{{ loop.last ? '-6' }}">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label>{{ child.vars.data.pref }}</label>
                                                </div>
                                                <div class="col pl-0">
                                                    {{ form_widget(child.fee) }}
                                                </div>
                                            </div>
                                        </div>
                                        {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                    <span class="card-title">ショップ用メモ欄<i
                                                class="fa fa-question-circle fa-lg ml-1"></i></span></div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#freeArea"
                                                                 aria-expanded="false" aria-controls="freeArea"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="freeArea">
                            <div class="card-body">
                                <div>
                                    {{ form_widget(form.description, {'attr': {'rows': 8}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem"><a class="c-beseLink"
                                                                        href="{{ url('admin_setting_shop_delivery') }}"><i
                                        class="fa fa-backward" aria-hidden="true"></i><span>配送方法一覧</span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">登録</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
