{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_delivery'] %}

{% block title %}{{ 'admin.setting.shop.delivery_list'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.setting.shop'|trans }}{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            // 削除モーダルのhrefとmessageの変更
            $('#DeleteModal').on('shown.bs.modal', function(event) {
                var target = $(event.relatedTarget);
                // hrefの変更
                $(this).find('[data-method="delete"]').attr('href', target.data('url'));

                // messageの変更
                $(this).find('p.modal-message').text(target.data('message'));
            });
        });
    </script>
{% endblock %}

{% block main %}
    <form name="form1" method="post">
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="d-block mb-3">
                        <a class="btn btn-ec-regular" href="{{ url('admin_setting_shop_mail_new') }}">{{ 'admin.common.create__new'|trans }}</a>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body p-0">
                            <div class="card rounded border-0">
                                <ul class="list-group list-group-flush sortable-container">
                                    {% if MailTemplates|length > 0 %}
                                        {% for MailTemplate in MailTemplates %}
                                            <li id="ex-delivery-{{ MailTemplate.id }}" class="list-group-item" data-id="{{ MailTemplate.id }}">
                                                <div class="row justify-content-around">
                                                    <div class="col d-flex align-items-center">
                                                        <a href="{{ url('admin_setting_shop_mail_edit', {id: MailTemplate.id} ) }}">
                                                            {{ MailTemplate.name }}
                                                        </a>
                                                    </div>
                                                    {% if MailTemplate.edit_type == constant('Eccube\\Entity\\MailTemplate::EDIT_TYPE_USER') %}
                                                        <div class="col-auto text-right">
                                                            <div class="d-inline-block mr-2" data-tooltip="true" data-placement="top"
                                                                 title="{{ 'admin.common.delete'|trans }}">
                                                                <a class="btn btn-ec-actionIcon" data-toggle="modal" data-target="#DeleteModal"
                                                                   data-url="{{ url('admin_setting_shop_mail_delete', {id: MailTemplate.Id} ) }}"
                                                                   data-message="{{ 'admin.common.delete_modal__message'|trans({ "%name%" : MailTemplate.name }) }}">
                                                                    <i class="fa fa-close fa-lg"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                <!-- 削除モーダル -->
                                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                                     aria-labelledby="DeleteModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title font-weight-bold">
                                                    {{ 'admin.common.delete_modal__title'|trans }}
                                                </h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-left">
                                                <p class="text-left modal-message"><!-- jsでメッセージを挿入 --></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                                                    {{ 'admin.common.cancel'|trans }}
                                                </button>
                                                <a class="btn btn-ec-delete" href="#" {{ csrf_token_for_anchor() }}
                                                   data-method="delete" data-confirm="false">
                                                    {{ 'admin.common.delete'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
