{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_payment'] %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}支払方法管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}
        {{ form_widget(form.charge_flg) }}
        {{ form_widget(form.fix_flg) }}
        <div class="row" id="aside_wrap">
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">支払方法登録・編集</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ form_row(form.method) }}

                        {% if(Payment.charge_flg == 1) %}
                            {{ form_row(form.charge) }}
                        {% endif %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                利用条件
                            </label>
                            <div class="col-sm-10 form-inline{% if form.rule_min.vars.valid == false or form.rule_max.vars.valid == false %} has-error{% endif %}">
                                {{ form_widget(form.rule_min) }}
                                〜
                                {{ form_widget(form.rule_max) }}
                                {{ form_errors(form.rule_min) }}
                                {{ form_errors(form.rule_max) }}
                            </div>
                        </div>
                        {{ form_label(form.payment_image_file) }}
                        {% if image is not null %}
                            <img src="{{ image }}" /><a href="{{ url('admin_setting_shop_payment_delete_image', {id: payment_id}) }}">[画像を削除]</a>
                        {% endif %}
                        {{ form_widget(form.payment_image_file) }}
                        {{ form_errors(form.payment_image_file) }}

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p><a href="{{ url('admin_setting_shop_payment') }}">一覧に戻る</a></p>
                    </div>
                </div>

            </div><!-- /.col -->
            
            <div class="col-md-3">
                <div class="col_inner" id="aside_column">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col --> 

        </div>
    </form>


{% endblock %}