{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_payment'] %}

{% block title %}{{'admin.setting.shop.payment.596'|trans}}{% endblock %}
{% block sub_title %}{{'admin.setting.shop.payment.595'|trans}}{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script>
        $(function() {
            var sortContainer = $('ul.tableish'),
                sortItems = sortContainer.find('> .item_box'),
                oldSortNos = [];

            var initSortNo = function () {
                var items = $('ul.tableish > li.item_box');
                items.find('a').removeClass('disabled');
                items.first().find('a.action-up').addClass('disabled');
                items.last().find('a.action-down').addClass('disabled');
            };

            var updateSortNo = function() {
                // 並び替え後にsortNoを更新
                var newSortNos = {};
                var i = 0;
                // not use sortItems var because DOM was modified, then need select new DOM
                $('ul.tableish > .item_box').each(function() {
                    newSortNos[this.dataset.paymentId] = oldSortNos[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url('admin_setting_shop_payment_sort_no_move') }}',
                    type: 'POST',
                    data: newSortNos
                }).always(function() {
                    $(".modal-backdrop").remove();
                });
            };

            // 画面の中のsortNo一覧を保持
            sortItems.each(function() {
                oldSortNos.push(this.dataset.sortNo);
            });
            // rsort
            oldSortNos.sort(function(a,b){return a - b;}).reverse();

            sortContainer.sortable({
                items: '> .item_box',
                cursor: 'move',
                create: function (e, ui) {
                    initSortNo();
                }
            }).on('sortupdate', function(e, ui) {
                $("body").append($('<div class="modal-backdrop show"></div>'));
                updateSortNo();
                initSortNo();
            });

            sortItems.find("a.action-up").click(function (e) {
                e.preventDefault();
                var current = $(this).parents(".item_box");

                if (current.prev().hasClass('item_box')) {
                    current.prev().before(current);
                    sortContainer.trigger('sortupdate');
                }
            });

            sortItems.find("a.action-down").click(function (e) {
                e.preventDefault();
                var current = $(this).parents(".item_box");

                if (current.next().hasClass('item_box')) {
                    current.next().after(current);
                    sortContainer.trigger('sortupdate');
                }
            });
        });
    </script>
{% endblock %}

{% block main %}

    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <div class="row my-3 ml-1">
                            <div class="col-3">
                                <form target="{{ url('admin_setting_shop_payment_new') }}">
                                    <input class="form-control" type="text"> {#TODO: User input new name and submit to create#}
                                </form>
                            </div>
                            <div class="col-auto pl-0">
                                <button class="btn btn-ec-regular" type="submit">{{'admin.setting.shop.payment.610'|trans}}</button>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush mb-4 tableish">
                            <li class="list-group-item">
                                <div class="row justify-content-around">
                                    <div class="col-auto"><strong>&nbsp;</strong></div>
                                    <div class="col-1"><strong>{{'admin.setting.shop.payment.597'|trans}}</strong></div>
                                    <div class="col-1"><strong>{{'admin.setting.shop.payment.599'|trans}}</strong></div>
                                    <div class="col"><strong>{{'admin.setting.shop.payment.600'|trans}}</strong></div>
                                </div>
                            </li>
                            {% for Payment in Payments %}
                            <li class="list-group-item item_box" data-payment-id="{{ Payment.id }}" data-sort-no="{{ Payment.sortNo }}">
                                <div class="row justify-content-around">
                                    <div class="col-auto d-flex align-items-center"><i class="fa fa-bars text-ec-gray"></i></div>
                                    <div class="col-1 d-flex align-items-center"><a href="{{ url('admin_setting_shop_payment_edit', { id: Payment.id}) }}">{{ Payment.methodForAdmin }}</a></div>
                                    <div class="col-1 d-flex align-items-center"><span>{{ Payment.charge|price }}</span></div>
                                    <div class="col d-flex align-items-center">
                                        <span>
                                            {% if Payment.rule_min > 0 %}
                                                {{ Payment.rule_min|price }}
                                            {% else %}
                                                {{ 0|price }}
                                            {% endif %}


                                            {% if Payment.rule_max > 0 %}
                                                ～{{ Payment.rule_max|price }}
                                            {% elseif Payment.rule_max is null %}
                                                ～{{'admin.setting.shop.payment.603'|trans}}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-3 text-right">
                                        <a class="btn btn-ec-actionIcon mr-3 action-up" data-toggle="tooltip" data-placement="top" title="{{'admin.setting.shop.payment.608'|trans}}">
                                            <i class="fa fa-arrow-up fa-lg text-secondary"></i>
                                        </a>
                                        <a class="btn btn-ec-actionIcon mr-3 action-down"  data-toggle="tooltip" data-placement="top" title="{{'admin.setting.shop.payment.609'|trans}}">
                                            <i class="fa fa-arrow-down fa-lg text-secondary"></i>
                                        </a>
                                        <a class="btn btn-ec-actionIcon mr-3" href="{{ url('admin_setting_shop_payment_delete', { id: Payment.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-toggle="tooltip" data-placement="top" title="{{'admin.setting.shop.payment.607'|trans}}">
                                            <i class="fa fa-close fa-lg text-secondary"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <p>{{'admin.setting.shop.payment.notice'|trans}}</p>
            </div>
        </div>
    </div>
{% endblock %}
