{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_payment'] %}

{% block title %}{{ 'admin.setting.shop.payment_edit.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.setting.shop.payment_edit.subtitle'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload.css', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload-ui.css', 'admin') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>
        .ui-state-highlight {
            height: 148px;
            border: dashed 1px #ccc;
            background: #fff;
        }
        .c-form__fileUploadThumbnail {
            width: 400px;
            height: 100px;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/fileupload/vendor/jquery.ui.widget.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.iframe-transport.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload-process.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload-validate.js', 'admin') }}"></script>
    <script>var bootstrapTooltip = $.fn.tooltip.noConflict();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $.fn.tooltip = bootstrapTooltip;

        var hideSvg = function() {
            if ($("#thumb li").length > 0) {
                $("#icon_no_image").css("display", "none");
            } else {
                $("#icon_no_image").css("display", "");
            }
        };

        var proto_img = '<div class="c-form__fileUploadThumbnail" id="payment_image" style="background-image:url(\'__path__\');">' +
            '<span class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></span>' +
            '</div>';
        var payment_image = $("#{{ form.payment_image.vars.id }}").val();
        if (payment_image != "") {
            var filename = $("#{{ form.payment_image.vars.id }}").val();
            if (payment_image == "{{ oldPaymentImage }}") {
                var path = '{{ asset('', 'save_image') }}' + filename;
            } else {
                var path = '{{ asset('', 'temp_image') }}' + filename;
            }
            var $img = $(proto_img.replace(/__path__/g, path));
            $("#{{ form.payment_image.vars.id }}").val(filename);

            $('#thumb').append($img);
            hideSvg();
        }
        hideSvg();

        $('#{{ form.payment_image_file.vars.id }}').fileupload({
            url: "{{ url('admin_payment_image_add') }}",
            type: "post",
            dataType: 'json',
            done: function(e, data) {
                $('#progress').hide();
                var path = '{{ asset('', 'temp_image') }}/' + data.result.filename;
                var $img = $(proto_img.replace(/__path__/g, path));
                $("#{{ form.payment_image.vars.id }}").val(data.result.filename);

                $('#thumb').append($img);
                hideSvg();
            },
            fail: function(e, data) {
                alert('{{ 'admin.setting.shop.payment_edit.image_alert_false'|trans }}');
            },
            always: function(e, data) {
                $('#progress').hide();
                $('#progress .progress-bar').width('0%');
            },
            start: function(e, data) {
                if ($(".c-form__fileUploadThumbnail").length >= 1) {
                    $.each($(".delete-image"), function (index, delete_image) {
                        delete_image.click();
                    });
                }
                $('#progress').show();
                $("#thumb").find("li").remove();
                $("#{{ form.payment_image.vars.id }}").val('');
            },
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 10000000,
            maxNumberOfFiles: 1,
            progressall: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            },
            processalways: function(e, data) {
                if (data.files.error) {
                    alert("{{ 'admin.setting.shop.payment_edit.image_alert_false'|trans }}");
                }
            }
        });

        $("#thumb").on("click", ".delete-image", function() {
            $("#{{ form.payment_image.vars.id }}").val('');
            var thumbnail = $(this).parents('div.c-form__fileUploadThumbnail');
            $(thumbnail).remove();
            hideSvg();
        });

        // 画像アップロード
        $('#file_upload').on('click', function() {
            $('#{{ form.payment_image_file.vars.id }}').click();
        });
    </script>
{% endblock %}

{% block main %}
    <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="" enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        {{ form_widget(form.fixed) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'admin.setting.shop.payment_edit.header'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"><span>{{ 'paymentregister.label.payment_method'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.method) }}
                                    {{ form_errors(form.method) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'paymentregister.label.commision'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.charge) }}
                                    {{ form_errors(form.charge) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'paymentregister.label.rule'|trans }}</span></div>
                                <div class="col mb-2">
                                    <div class="row justify-content-start">
                                        <div class="col-4">
                                            {{ form_widget(form.rule_min) }}
                                            {{ form_errors(form.rule_min) }}
                                        </div>
                                        <div class="col-auto text-center p-0"><span class="align-middle">{{ 'admin.setting.shop.payment_edit.connect_min_max'|trans }}</span></div>
                                        <div class="col-4">
                                            {{ form_widget(form.rule_max) }}
                                            {{ form_errors(form.rule_max) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="{{ 'paymentregister.label.logo_image.tooltip'|trans }}">
                                        <span>{{ 'paymentregister.label.logo_image'|trans }}</span><i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col mb-2">
                                    {#Todo: implement upload image new style#}
                                    <div id="detail_box__files" class="col-sm-9 col-lg-10">
                                        <div class="photo_files" id="drag-drop-area">
                                            <ul id="thumb" class="clearfix"></ul>
                                        </div>

                                        <div id="detail_list__payment_image_body" class="col-sm-9 col-lg-10">
                                            <div id="progress" class="progress progress-striped active" style="display:none;">
                                                <div class="progress-bar progress-bar-info"></div>
                                            </div>
                                            {{ form_widget(form.payment_image, { attr : { style : 'display:none;' } }) }}
                                            {{ form_widget(form.payment_image_file, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                                            <a id="file_upload" class="with-icon">
                                                {{ 'admin.setting.shop.payment_edit.image_upload_buton'|trans }}
                                            </a>
                                            {{ form_errors(form.payment_image_file) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# エンティティ拡張の自動出力 #}
                            {% for f in form if f.vars.eccube_form_options.auto_render %}
                                {% if f.vars.eccube_form_options.form_theme %}
                                    {% form_theme f f.vars.eccube_form_options.form_theme %}
                                    {{ form_row(f) }}
                                {% else %}
                                    <div class="row">
                                        <div class="col-3"><span>{{ f.vars.label|trans }}</span></div>
                                        <div class="col mb-2">
                                            {{ form_widget(f) }}
                                            {{ form_errors(f) }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-beseLink" href="{{ url('admin_setting_shop_payment') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i><span>{{ 'admin.setting.shop.payment_edit.back_button'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                {{ form_widget(form.visible) }}
                                {{ form_errors(form.visible) }}
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.setting.shop.payment_edit.submit_button'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
