{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_index'] %}

{% block title %}基本情報設定{% endblock %}
{% block sub_title %}SHOPマスター{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
$(function() {
    $('#zip-search').click(function(event) {
        AjaxZip3.zip2addr('shop_master[zip][zip01]', 'shop_master[zip][zip02]', 'shop_master[address][pref]', 'shop_master[address][addr01]');
    });
});
</script>
{% endblock javascript %}


{% block main %}

    <div class="row" id="aside_wrap">
        <form name="form1" role="form" class="form-horizontal" id="point_form" method="post" action="">
        {{ form_widget(form._token) }}

            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">基本情報編集</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ form_row(form.company_name) }}
                        {{ form_row(form.company_kana) }}
                        {{ form_row(form.shop_name) }}
                        {{ form_row(form.shop_kana) }}
                        {{ form_row(form.shop_name_eng) }}
                        
                        {# 住所：郵便番号 #}
                        <div class="form-group">
                            {{ form_label(form.address) }}
                            <div class="col-sm-9 col-lg-10 input_zip form-inline">
                                〒{{ form_widget(form.zip.zip01) }}-{{ form_widget(form.zip.zip02) }}
                                {{ form_errors(form.zip) }}
                                <span><button type="button" id="zip-search" class="btn btn-default btn-sm">郵便番号から自動入力</button></span>
                            </div>
                        </div>
                        {# 住所：都道府県 #}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9 col-lg-10 form-inline">
                                {{ form_widget(form.address.pref) }}
                                {{ form_errors(form.address.pref) }}
                            </div>
                        </div>
                        {# 住所：住所1 #}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9 col-lg-10">
                                {{ form_widget(form.address.addr01, { attr : { placeholder : '市区町村名（例：千代田区神田神保町）'}} ) }}
                                {{ form_errors(form.address.addr01) }}
                            </div>
                        </div>
                        {# 住所：住所2 #}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9 col-lg-10">
                                {{ form_widget(form.address.addr02, { attr : { placeholder : '番地・ビル名（例：1-3-5）' }}) }}
                                {{ form_errors(form.address.addr02) }}
                            </div>
                        </div>
                        {# 電話番号 #}
                        <div class="form-group">
                            {{ form_label(form.tel) }}
                            <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                {{ form_widget(form.tel.tel01) }}-{{ form_widget(form.tel.tel02) }}-{{ form_widget(form.tel.tel03) }}
                                {{ form_errors(form.tel) }}
                            </div>
                        </div>
                        {# FAX番号 #}
                        <div class="form-group">
                            {{ form_label(form.fax) }}
                            <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                {{ form_widget(form.fax.fax01) }}-{{ form_widget(form.fax.fax02) }}-{{ form_widget(form.fax.fax03) }}
                                {{ form_errors(form.fax) }}
                            </div>
                        </div>
                        
                        {{ form_row(form.business_hour) }}
                        {{ form_row(form.email01) }}
                        {{ form_row(form.email02) }}
                        {{ form_row(form.email03) }}
                        {{ form_row(form.email04) }}
                        {{ form_row(form.good_traded) }}
                        {{ form_row(form.message) }}
                        {{ form_row(form.good_traded) }}
                        {{ form_row(form.message) }}

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">送料設定</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ form_row(form.delivery_free_amount) }}
                        {{ form_row(form.delivery_free_quantity) }}
                        {{ form_row(form.option_product_delivery_fee) }}
                        {# 複数配送時に設定可能とする
                        {{ form_row(form.option_delivery_fee) }}
                        {{ form_row(form.option_multiple_shipping) }}
                        #}

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">会員設定</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ form_row(form.option_customer_activate) }}
                        {{ form_row(form.option_mypage_order_status_display) }}
                        {# お気に入り商品設定
                        {{ form_row(form.option_favorite_product) }}
                        #}

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">商品設定</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ form_row(form.nostock_hidden) }}

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">地図設定</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ form_row(form.latitude) }}
                        {{ form_row(form.longitude) }}

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div>
            
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                        <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->

        </form>
    </div>

{% endblock %}