{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_tax'] %}

{% block title %}{{'admin.setting.shop.tax_rule.title'|trans}}{% endblock %}
{% block sub_title %}{{'admin.setting.shop.tax_rule.subtitle'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <style type="text/css">
        .edit {
            display: none;
        }
        .has-error .list {
            display: none;
        }
        .has-error .edit {
            display: block;
        }
    </style>
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/moment.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/moment-ja.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/bootstrap-datetimepicker.min.js', 'admin') }}"></script>
    <script type="text/javascript">
        $(function() {
            var inputDate = document.createElement('input');
            inputDate.setAttribute('type', 'date');
            if (inputDate.type !== 'date') {
                $('input[name$="tax_rule[apply_date][date]"]').datetimepicker({
                    locale: 'ja',
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    showTodayButton: true
                });
            }

            $(".tax_rule_list_item td.action a.edit-button").click(function() {
                var id = $(this).data('id');
                var tr = $("#tax_rule_list__item--" + id);
                $(tr).find(".list").hide();
                $(tr).find(".edit").show();
            });

            $('.tax_rule_list_item .cancel').click(function() {
                var id = $(this).data('id');
                var tr = $("#tax_rule_list__item--" + id);
                $(tr).find(".edit").hide();
                $(tr).find(".list").show();
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header"><span>{{ 'admin.setting.shop.tax_rule.header'|trans }}</span></div>
                    <div class="card-body p-0">
                        <table class="table tabel-sm">
                            <colgroup>
                                <col width="5%">
                                <col width="">
                                <col width="15%">
                                <col width="20%">
                                <col width="20%">
                                <col width="">
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2 pl-3">{{ 'admin.setting.shop.tax_rule.table_col_1'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 pl-3">{{ 'admin.setting.shop.tax_rule.table_col_2'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 pl-3">{{ 'admin.setting.shop.tax_rule.table_col_3'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 pl-3">{{ 'admin.setting.shop.tax_rule.table_col_4'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 pl-3">{{ 'admin.setting.shop.tax_rule.table_col_5'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 pl-3 pr-5">{{ 'admin.setting.shop.tax_rule.table_col_6'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr id="tax_rule_item_new">
                                <form name="form1" role="form" class="form-horizontal" id="form1" method="post" action="{{ url('admin_setting_shop_tax_new') }}">
                                    {{ form_widget(form._token) }}
                                    <td class="align-middle pl-3"></td>
                                    <td class="align-middle" style="width:230px;">
                                        <div class="form-inline justify-content-end">
                                            {{ form_widget(form.tax_rate, {attr: {class: 'col-auto text-right'}}) }}<span class="pl-1 col-auto">%</span>
                                            {{ form_errors(form.tax_rate) }}
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        {{ form_widget(form.rounding_type) }}
                                        {{ form_errors(form.rounding_type) }}
                                    </td>
                                    <td class="align-middle">
                                        {{ form_widget(form.apply_date.date) }}
                                        {{ form_widget(form.apply_date.time, { 'attr': { 'placeholder': '--:--' }}) }}
                                        {{ form_errors(form.apply_date) }}
                                    </td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle pr-5">
                                        <div class="row justify-content-end">
                                            <button class="btn btn-ec-regular px-4" type="submit">{{ 'common.label.add'|trans }}</button>
                                        </div>
                                    </td>
                                </form>
                            </tr>

                            {% for TaxRule in TaxRules %}
                                <tr class="tax_rule_list_item {% if errors[TaxRule.id] %}has-error{%  endif %}" id="tax_rule_list__item--{{ TaxRule.id }}">
                                    <form name="edit-form" id="edit-form_{{ TaxRule.id }}" method="post" action="{{ url('admin_setting_shop_tax') }}">
                                        {{ form_widget(forms[TaxRule.id]._token) }}
                                        <input type="hidden" value="{{ TaxRule.id }}" name="tax_rule_id">
                                        <input type="hidden" value="edit_inline" name="mode"/>
                                        <td class="align-middle pl-3"><span>{{ TaxRule.id }}</span></td>
                                        <td class="align-middle text-right" style="width:230px;">
                                            <div class="edit form-inline justify-content-end">
                                                {{ form_widget(forms[TaxRule.id].tax_rate, {attr: {class: 'col-auto text-right'}}) }}<span class="pl-1 col-auto">%</span>
                                                {{ form_errors(forms[TaxRule.id].tax_rate) }}
                                            </div>
                                            <div class="list">
                                                <span class="col-6 text-right pr-0">{{ TaxRule.tax_rate }}</span><span class="col-6 pl-1">%</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="edit">
                                                {{ form_widget(forms[TaxRule.id].rounding_type) }}
                                            </div>
                                            <div class="list">
                                                <span>{{ TaxRule.rounding_type }}</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="edit">
                                                {% if TaxRule.default_tax_rule %}
                                                    {{ 'admin.setting.shop.tax_rule.tax_rule_default'|trans }}
                                                {% else %}
                                                    {{ form_widget(forms[TaxRule.id].apply_date.date) }}
                                                    {{ form_widget(forms[TaxRule.id].apply_date.time, { 'attr': { 'placeholder': '--:--' }}) }}
                                                    {{ form_errors(forms[TaxRule.id].apply_date) }}
                                                {% endif %}
                                            </div>
                                            <div class="list">
                                                <span>{{ TaxRule.default_tax_rule  ? 'admin.setting.shop.tax_rule.tax_rule_default'|trans : TaxRule.apply_date|date('Y/m/d  H:i ~') }}</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="edit">
                                                <button type="submit" class="btn btn-ec-conversion">{{ 'admin.setting.shop.tax_rule.decision'|trans }}</button>
                                                <button type="button" class="btn btn-ec-sub cancel" data-id="{{ TaxRule.id }}">{{ 'admin.setting.shop.tax_rule.cancel'|trans }}</button>
                                            </div>
                                        </td>
                                        <td class="align-middle action">
                                            <div class="row justify-content-end pr-2">
                                                <div class="col-auto text-center pr-0"><a class="btn btn-ec-actionIcon edit-button" data-toggle="tooltip" data-id="{{ TaxRule.id }}" data-placement="top" title="{{ 'common.label.edit'|trans }}"><i class="fa fa-pencil fa-lg text-secondary" aria-hidden="true"></i></a></div>
                                                {% if TaxRule.default_tax_rule %}
                                                    <div class="col-auto text-center">
                                                        <a class="btn btn-ec-actionIcon">
                                                            <i class="fa fa-times fa-lg text-secondary" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="col-auto text-center">
                                                        <a class="btn btn-ec-actionIcon" data-toggle="tooltip" data-placement="top" title="{{ 'common.label.delete'|trans }}" href="{{ url('admin_setting_shop_tax_delete', { id : TaxRule.id }) }}" {{ csrf_token_for_anchor() }} data-method="delete">
                                                            <i class="fa fa-times fa-lg text-secondary" aria-hidden="true"></i></a></div>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
