{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'shop', 'tradelaw'] %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}特定商取引法管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <form role="form" name="form1" id="form1" method="post">
        {{ form_widget(form._token) }}
            <div class="row" id="aside_wrap">
                <div class="col-md-9">
                    <div class="box form-horizontal">
                        <div class="box-header">
                            <h3 class="box-title">特定商取引法</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_row(form.law_company) }}
                            {{ form_row(form.law_manager) }}
                            {{ form_row(form.law_zip) }}
                            {{ form_row(form.law_address) }}
                            
                        {# 電話番号 #}
                        <div class="form-group">
                            {{ form_label(form.law_tel) }}
                            <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                {{ form_widget(form.law_tel.law_tel01) }}-{{ form_widget(form.law_tel.law_tel02) }}-{{ form_widget(form.law_tel.law_tel03) }}
                                {{ form_errors(form.law_tel) }}
                            </div>
                        </div>
                        {# FAX番号 #}
                        <div class="form-group">
                            {{ form_label(form.law_fax) }}
                            <div class="col-sm-9 col-lg-10 input_tel form-inline">
                                {{ form_widget(form.law_fax.law_fax01) }}-{{ form_widget(form.law_fax.law_fax02) }}-{{ form_widget(form.law_fax.law_fax03) }}
                                {{ form_errors(form.law_fax) }}
                            </div>
                        </div>
                            
                            {{ form_row(form.law_email) }}
                            {{ form_row(form.law_url) }}
                            {{ form_row(form.law_term01) }}
                            {{ form_row(form.law_term02) }}
                            {{ form_row(form.law_term03) }}
                            {{ form_row(form.law_term04) }}
                            {{ form_row(form.law_term05) }}
                            {{ form_row(form.law_term06) }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>

                <div class="col-md-3">
                    <div class="col_inner" id="aside_column">
                        <div class="box no-header">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="row text-center">
                                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                                    <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div><!-- /.col -->
            </div>


    </form>

{% endblock %}
