{{ main_title }} {{ title }}

<form name="agreement_form" id="agreement_form" method="post" action="{{ url('admin_basis_agreement') }}">
    {{ form_widget(form._token) }}
    <div id="basis" class="contents-main">
        <table>
            <tr>
                <th>規約タイトル<span class="attention"> *</span></th>
                <td>
                    {{ form_widget(form.kiyaku_title) }}
                    {{ form_errors(form.kiyaku_title) }}
                </td>
            </tr>
            <tr>
                <th>規約内容<span class="attention"> *</span></th>
                <td>
                    {{ form_widget(form.kiyaku_text) }}
                    {{ form_errors(form.kiyaku_text) }}
                </td>
            </tr>

        <div class="btn-area">
            {{ form_widget(form.save) }}
        </div>
    </div>
</form>
