{% extends 'Admin/main_frame.twig' %}

{% block main %}

<script type="text/javascript">
    var timeCount = '{{ form.deliv_times | length }}'
        delivId = '{{ deliv_id }}';

    $(function() {
        $('#add-another-time').on("click", function() {
            var timeList = $('#time-fields-list');

            var newWidget = timeList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, timeCount);

            var newLi = $('<li></li>').html(newWidget);
            newLi.appendTo($('#time-fields-list'));

            $("#deliv_deliv_times_" + String(timeCount) + "_deliv_id").val(delivId);
            $("#deliv_deliv_times_" + String(timeCount) + "_time_id").val(timeCount + 1);

            timeCount++;

            return false;
        });

        $("#set_fee_all").on("click", function() {
            var fee = $("#fee_all").val();
            $("input[name$='[fee]']").val(fee);
        });
    })
</script>


{% for message in app.session.flashbag.get('deliv.complete')  %}
    {{ message|trans|raw }}<br />
{% endfor %}

<form name="form1" id="form1" method="post" action="">
    {{ form_widget(form._token) }}
    <div id="basis" class="contents-main">
        <h2>配送方法登録</h2>
        <table>

            <tr>
                <th>{{ form_label(form.name) }}</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.service_name) }}</th>
                <td>{{ form_widget(form.service_name) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.remark) }}</th>
                <td>{{ form_widget(form.remark) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.confirm_url) }}</th>
                <td>{{ form_widget(form.confirm_url) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.product_type) }}</th>
                <th>{{ form_widget(form.product_type) }}</th>
            </tr>
            <tr>
                <th>{{ form_label(form.payments) }}</th>
                <th>{{ form_widget(form.payments) }}</th>
            </tr>

            <tr>
                <th><a href="#" id="add-another-time">＞お届け時間を追加</a></th>
                <td>
                    <ul id="time-fields-list" data-prototype="{{ form_widget(form.deliv_times.vars.prototype) | e }}">
                    {% for timeField in form.deliv_times %}
                        <li>
                            {{ form_widget(timeField) }}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td colspan="2">
                    <div class="btn">
                        ※全国一律送料 <input type="text" id="fee_all" name="fee_all" class="box10" /> 円に
                        <a class="btn-normal" href="javascript:;" id="set_fee_all">
                            <span>設定する</span>
                        </a>
                    </div>
                </td>
            </tr>
            {{ form_widget(form.deliv_fees) }}
        </table>

        <div class="btn-area">
            <ul>
                <li><a class="btn-action" href="{{ url('admin_basis_delivery') }}"><span class="btn-prev">前のページに戻る</span></a></li>
                <li><a class="btn-action" onclick="document.form1.submit(); return false;"><span class="btn-next">この内容で登録する</span></a></li>
            </ul>
        </div>
    </div>
</form>

{% endblock %}