{% extends 'Admin/main_frame.twig' %}

{% block main %}

    {% for message in app.session.flashbag.get('point.complete')  %}
        {{ message|trans|raw }}<br />
    {% endfor %}

<form name="point_form" id="point_form" method="post" action="{{ url('admin_basis_point') }}">
    {{ form_widget(form._token) }}
    <div id="basis" class="contents-main">
        <table>
            <tr>
                <th>ポイント付与率（初期値）<span class="attention"> *</span></th>
                <td>
                    {{ form_widget(form.point_rate) }} ％　小数点以下切り捨て
                    {{ form_errors(form.point_rate) }}
                </td>
            </tr>
            <tr>
                <th>会員登録時付与ポイント<span class="attention"> *</span></th>
                <td>
                    {{ form_widget(form.welcome_point) }} pt
                    {{ form_errors(form.welcome_point) }}
                </td>
            </tr>
        </table>

        <div class="btn-area">
            {{ form_widget(form.save) }}
        </div>
    </div>
</form>

{% endblock %}