<ul class="level1">
    <li id="navi-basis-index"><a href="{{ url('admin_basis') }}"><span>SHOPマスター</span></a></li>
    <li id="navi-basis-tradelaw"><a href="{{ url('admin_basis_tradelaw') }}"><span>特定商取引法</span></a></li>
    <li id="navi-basis-delivery"><a href="{{ url('admin_basis_delivery') }}"><span>配送方法設定</span></a></li>
    <li id="navi-basis-payment"><a href="{{ url('admin_basis_payment') }}"><span>支払方法設定</span></a></li>
    <li id="navi-basis-point"><a href="{{ url('admin_basis_point') }}"><span>ポイント設定</span></a></li>
    <li id="navi-basis-mail"><a href="{{ url('admin_basis_mail') }}"><span>メール設定</span></a></li>
    <li id="navi-basis-kiyaku"><a href="{{ url('admin_basis_agreement') }}"><span>会員規約設定</span></a></li>
    <li id="navi-basis-zip"><a href="{{ url('admin_basis_zip_install') }}"><span>郵便番号DB登録</span></a></li>
    <li id="navi-basis-holiday"><a href="{{ url('admin_basis_holiday') }}"><span>定休日管理</span></a></li>
    <li id="navi-basis-tax"><a href="{{ url('admin_basis_tax') }}"><span>税率設定</span></a></li>
</ul>
