{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['shipping', 'shipping_edit'] %}

{% block title %}{{ 'admin.shipping.edit.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.shipping.edit.sub_title'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

    <script>
        // 商品の追加モーダル#検索ボタン
        // 明細の一覧を取得し, モーダル内に描画する
        $('#addProduct').on('click', '#searchItemsButton', function () {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '{{ url('admin_shipping_search_product') }}',
            }).done(function (data) {
                // モーダルに結果を書き出し.
                $('#searchItemsResult').html(data);
            }).fail(function () {
                alert('failed.');
            });
        });
        // 商品の追加モーダル#ページャ部分
        // クリックしたページ番号の明細一覧を取得し, モーダル内に描画する
        $('#addProduct').on('click', '.page-link', function (event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: event.target.href,
            }).done(function (data) {
                // モーダルに結果を書き出し.
                $('#searchItemsResult').html(data);
            }).fail(function () {
                alert('failed.');
            });
        });
        // 商品の追加モーダル#＋ボタン
        // クリックした明細IDを取得し, 親ウインドウに描画する
        $('#addProduct').on('click', '.append-order-item', function (event) {
            var target = event.target;
            // 明細IDを取得
            var id = target.getAttribute('data-order-item-id');
            // 自身の行を削除.
            $(event.target).parents('tr').remove();

            $.ajax({
                type: 'POST',
                dataType: 'html',
                // idで明細情報を取得
                url: '{{ url('admin_shipping_search_item') }}' + '?order-item-id=' + id,
            }).done(function (data) {
                // 親ウインドウに結果を書き出し.
                $("#addOrderItem > tbody").append(data);
            }).fail(function () {
                alert('failed.');
            });
        });
        // 明細行の削除
        $('#addOrderItem').on('click', '.remove-order-item', function (event) {
            event.preventDefault();

            // 自身の行を削除.
            $(event.target).parents('tr').remove();
        });

        // お届け先の編集
        // 入力フォームの開閉を行う.
        $('#edit-shipping-addr').on('click', function () {
            $('#shipping-addr-area').toggle();
        });

        {# TODO: Should move logic js into js file intead of twig #}
        var shippedNotifyModal = $('#shippedNotifyModal'),
            shippingForm = $('#form_shipping'),
            shippingStatusSelect = shippingForm.find('select[name*="ShippingStatus"]');

        shippingStatusSelect.on('change', function() {
            if ($(this).val() == {{ constant('Eccube\\Entity\\Master\\ShippingStatus::SHIPPED') }}) {
                {%  if Shipping.ShippingStatus and  Shipping.ShippingStatus.id != constant('Eccube\\Entity\\Master\\ShippingStatus::SHIPPED') %}
                    shippingForm.find('#btn_save')
                        .attr('data-toggle', 'modal')
                        .attr('data-target', '#shippedNotifyModal')
                        .attr('type', 'button');
                {% endif %}
            } else {
                {%  if Shipping.ShippingStatus and  Shipping.ShippingStatus.id != constant('Eccube\\Entity\\Master\\ShippingStatus::SHIPPED') %}
                    shippingForm.find('#btn_save')
                        .attr('type', 'submit')
                        .removeAttr('data-toggle')
                        .removeAttr('data-target');
                {%  endif %}
            }
        });
        shippingStatusSelect.trigger('change');
        shippedNotifyModal.on('show.bs.modal', function(e) {
            var viewUrl = $('#viewEmail');
            if (viewUrl.length) {
                $.ajax(viewUrl.data('preview-url')).done(function(res) {
                    viewUrl.find(' > pre').text(res);
                });
            }
        });

    </script>

{% endblock javascript %}

{% block main %}
    <form action="{{ Shipping.id ? url('admin_shipping_edit', {id: Shipping.id}) : url('admin_shipping_new') }}"
          method="post" id="form_shipping">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="modal fade" id="shippedNotifyModal" tabindex="-1" role="dialog" aria-labelledby="shippedNotifyModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">{{ 'admin.shipping.index.829'|trans }}</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p class="mb-4">{{ 'admin.shipping.index.830'|trans }}</p>
                                    <div id="mail-options">
                                        <div class="font-weight-bold mb-2">{{ 'admin.shipping.index.812'|trans }}</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                {{ form_widget(form.notify_email, {'label_attr': {'class': 'checkbox-inline'}}) }}
                                            </label>
                                        </div>
                                        {% if (Shipping.id) %}
                                        <div>
                                            <div class="d-inline-block" data-toggle="collapse" href="#viewEmail" aria-expanded="false" aria-controls="viewEmail">
                                                <a>
                                                    <i class="fa fa-plus-square-o font-weight-bold mr-1"></i>
                                                    <span class="font-weight-bold">{{ 'admin.shipping.index.814'|trans }}</span>
                                                </a>
                                            </div>
                                            <div class="collapse bg-light p-4 ec-collapse bg-ec-formGray" id="viewEmail" style="word-wrap: break-word; word-break:break-all" data-preview-url="{{ url('admin_shipping_preview_notify_mail', {id: Shipping.id}) }}">
                                                <pre></pre>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.shipping.index.815'|trans }}</button>
                                    <button class="btn btn-ec-conversion" type="submit">{{ 'admin.shipping.index.816'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">{{ 'admin.shipping.edit.description_title'|trans }}</span>
                                        <i class="fa fa-question-circle fa-lg ml-1" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#shipmentOverview"
                                                                 aria-expanded="false" aria-controls="shipmentOverview"><i
                                                class="fa fa-angle-up fa-lg" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shipmentOverview">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><span>{{ 'admin.shipping.edit.shipping_id'|trans }}</span></div>
                                            <div class="col">{{ Shipping.id ? Shipping.id }}</div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-3"><span>{{ 'admin.shipping.edit.shipping_address'|trans }}</span></div>
                                            <div class="col">
                                                <div id="shipping-addr-area" style="{{ Shipping.id ? 'display:none' }}">
                                                    {{ form_widget(form.name.name01) }}
                                                    {{ form_errors(form.name.name01) }}
                                                    {{ form_widget(form.name.name02) }}
                                                    {{ form_errors(form.name.name02) }}
                                                    {{ form_widget(form.kana.kana01) }}
                                                    {{ form_errors(form.kana.kana01) }}
                                                    {{ form_widget(form.kana.kana02) }}
                                                    {{ form_errors(form.kana.kana02) }}
                                                    {{ form_widget(form.company_name) }}
                                                    {{ form_errors(form.company_name) }}
                                                    {{ form_widget(form.zip.zip01) }}-{{ form_widget(form.zip.zip02) }}
                                                    {{ form_errors(form.zip.zip01) }}{{ form_errors(form.zip.zip02) }}
                                                    {{ form_widget(form.address.pref) }}
                                                    {{ form_errors(form.address.pref) }}
                                                    {{ form_widget(form.address.addr01, {'attr':{'placeholder':'admin.shipping.edit.736'}}) }}
                                                    {{ form_errors(form.address.addr01) }}
                                                    {{ form_widget(form.address.addr02, {'attr':{'placeholder':'admin.shipping.edit.737'}}) }}
                                                    {{ form_errors(form.address.addr02) }}
                                                    {{ form_widget(form.tel.tel01) }}
                                                    {{ form_errors(form.tel.tel01) }}
                                                    {{ form_widget(form.tel.tel02) }}
                                                    {{ form_errors(form.tel.tel02) }}
                                                    {{ form_widget(form.tel.tel03) }}
                                                    {{ form_errors(form.tel.tel03) }}
                                                    {{ form_widget(form.fax.fax01) }}
                                                    {{ form_errors(form.fax.fax01) }}
                                                    {{ form_widget(form.fax.fax02) }}
                                                    {{ form_errors(form.fax.fax02) }}
                                                    {{ form_widget(form.fax.fax03) }}
                                                    {{ form_errors(form.fax.fax03) }}
                                                </div>
                                                {% if Shipping.id %}
                                                    <label>{{ Shipping.name01 }} {{ Shipping.name02 }}（{{ Shipping.kana01 }} {{ Shipping.kana02 }}）<br>
                                                        {{ 'admin.shipping.edit.zip'|trans({
                                                            '%zip01%': Shipping.zip01,
                                                            '%zip02%': Shipping.zip02
                                                        }) }}<br>
                                                        {{ Shipping.pref ~ Shipping.addr01 ~ Shipping.addr02 }}<br><a
                                                                href="#" id="edit-shipping-addr"><i
                                                                    class="fa fa-pencil"
                                                                    aria-hidden="true">{{ 'admin.shipping.edit.edit_shipping_address'|trans }}</i></a></label>
                                                {% else %}

                                                    {# TODO お届け先入力のデザインを検討 #}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-3"><span>{{ 'admin.shipping.edit.orderer'|trans }}</span></div>
                                            <div class="col">
                                                {% if Shipping.id %}
                                                    {% for Order in Shipping.Orders %}
                                                        <label>{{ Order.name01 }} {{ Order.name02 }}
                                                            ({{ Order.kana01 }} {{ Order.kana02 }})
                                                            <br>{{ 'admin.shipping.edit.zip'|trans({
                                                                '%zip01%': Order.zip01,
                                                                '%zip02%': Order.zip02
                                                            }) }}
                                                            <br>{{ Order.pref.name ~ Order.addr01 ~ Order.addr02 }}
                                                        </label>
                                                    {% endfor %}
                                                {% else %}
                                                    {# TODO 新規登録時の注文者情報をどう扱うか検討 #}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><span>{{ 'admin.shipping.edit.slip_number'|trans }}</span></div>
                                            <div class="col">
                                                {{ form_widget(form.tracking_number, {'attr': {'placeholder': 'admin.shipping.placeholder.tracking_number'}}) }}
                                                {{ form_errors(form.tracking_number) }}
                                            </div>
                                        </div>
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><span>{{ 'admin.shipping.edit.delivery_provider'|trans }}</span></div>
                                            <div class="col">
                                                {{ form_widget(form.Delivery) }}
                                                {{ form_errors(form.Delivery) }}
                                            </div>
                                            <div class="col-6"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><i class="fa fa-calendar-check-o mr-1"
                                                                  aria-hidden="true"></i><span>{{ 'admin.shipping.edit.date_to_deliver'|trans }}</span></div>
                                            <div class="col">
                                                {{ form_widget(form.shipping_delivery_date) }}
                                                {{ form_errors(form.shipping_delivery_date) }}
                                            </div>
                                        </div>
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><i class="fa fa-clock-o mr-1"
                                                                  aria-hidden="true"></i><span>{{ 'admin.shipping.edit.specified_time_zone'|trans }}</span>
                                            </div>
                                            <div class="col">
                                                {{ form_widget(form.DeliveryTime) }}
                                                {{ form_errors(form.DeliveryTime) }}
                                            </div>
                                        </div>
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><i class="fa fa-truck mr-1"
                                                                  aria-hidden="true"></i><span>{{ 'admin.shipping.edit.ship_date'|trans }}</span></div>
                                            <div class="col">
                                                <span>{{ Shipping.id ? Shipping.shipping_date|date_min }}</span></div>
                                        </div>
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><i class="fa fa-refresh mr-1"
                                                                  aria-hidden="true"></i><span>{{ 'admin.shipping.edit.last_update_date'|trans }}</span>
                                            </div>
                                            <div class="col">
                                                <span>{{ Shipping.id ? Shipping.update_date|date_min }}</span></div>
                                        </div>
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-3"><i class="fa fa-user mr-1"
                                                                  aria-hidden="true"></i><span>{{ 'admin.shipping.edit.last_modified_by'|trans }}</span></div>
                                            <div class="col"><span>{{ Shipping.id ? Shipping.creator }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">{{ 'admin.shipping.edit.produtcs_title'|trans }}</span><i
                                                class="fa fa-question-circle fa-lg ml-1"
                                                aria-hidden="true"></i></div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#shipmentItem"
                                                                 aria-expanded="false" aria-controls="shipmentItem"><i
                                                class="fa fa-angle-up fa-lg" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shipmentItem">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <button class="btn btn-ec-regular mr-2" type="button" data-toggle="modal"
                                                data-target="#addProduct">{{ 'admin.shipping.edit.add_product'|trans }}
                                        </button>
                                        <div class="modal fade" id="addProduct" tabindex="-1" role="dialog"
                                             aria-labelledby="addProduct" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">{{ 'admin.shipping.edit.add_product'|trans }}</h5>
                                                        <button class="close" type="button" data-dismiss="modal"
                                                                aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {# TODO 検索項目を検討する #}
                                                        <button id="searchItemsButton"
                                                                class="btn btn-ec-conversion px-5 mb-4" type="button">{{ 'admin.shipping.edit.search'|trans }}
                                                        </button>
                                                        <div id="searchItemsResult"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {# 明細行のエラー表示 #}
                                        {{ form_errors(form.OrderItemsError) }}

                                    </div>
                                </div>
                                <table id="addOrderItem" class="table table-striped table-sm mb-0">
                                    <thead class="table-active">
                                    <th class="pt-2 pb-2 pl-3">{{ 'admin.shipping.edit.product_name_and_code'|trans }}</th>
                                    <th class="pt-2 pb-2">{{ 'admin.shipping.edit.order_id'|trans }}</th>
                                    <th class="pt-2 pb-2">{{ 'admin.shipping.edit.price'|trans }}</th>
                                    <th class="pt-2 pb-2">{{ 'admin.shipping.edit.quantity'|trans }}</th>
                                    <th class="pt-2 pb-2">{{ 'admin.shipping.edit.tax_rate'|trans }}</th>
                                    <th class="pt-2 pb-2">{{ 'admin.shipping.edit.sub_total'|trans }}</th>
                                    <th class="pt-2 pb-2 pr-3"></th>
                                    </thead>
                                    <tbody>
                                    {% for OrderItem in Shipping.OrderItems %}
                                        {% include '@admin/Shipping/order_item_prototype.twig' with { 'OrderItem': OrderItem } %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                    <span class="card-title">{{ 'admin.shipping.edit.note_title'|trans }}<i
                                                class="fa fa-question-circle fa-lg ml-1"></i></span></div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#freeArea"
                                                                 aria-expanded="false" aria-controls="freeArea"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="freeArea">
                            <div class="card-body">
                                {{ form_widget(form.note, { attr: { rows: 8 }}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem"><a class="c-beseLink"
                                                                        href="{{ url("admin_shipping") }}?resume=1"><i
                                        class="fa fa-backward" aria-hidden="true"></i><span>{{ 'admin.shipping.edit.shipping_mastar'|trans }}</span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                {{ form_widget(form.ShippingStatus) }}
                                {{ form_errors(form.ShippingStatus) }}
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-ec-conversion px-4" id="btn_save">
                                    {{ 'admin.shipping.edit.register_shipping'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
