{#
    This file is part of EC-CUBE

    Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

    http://www.lockon.co.jp/

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
    #}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['shipping', 'shipping_master'] %}

{% block title %}{{'admin.shipping.index.760'|trans}}{% endblock %}
{% block sub_title %}{{'admin.shipping.index.759'|trans}}{% endblock %}

{% form_theme searchForm '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/moment.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/moment-ja.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/bootstrap-datetimepicker.min.js', 'admin') }}"></script>
    <script>
        $(function() {

            // 登録チェックボックス
            $('#check-all').click(function() {
                var checkall = $('#check-all').prop('checked');
                if (checkall) {
                    $('input[id^=check-]').prop('checked', true);
                } else {
                    $('input[id^=check-]').prop('checked', false);
                }
            });

            // フォーム値を確認し、アコーディオンを制御
            // 値あり : 開く / 値なし : 閉じる
            (function($, f) {
                //フォーム内全項目取得
                var c = f();
                if (c.formState()) {
                    $('#searchDetail').removeClass('collapse').addClass('collapsed');
                }
            })($, formPropStateSubscriber);
        });
    </script>
{% endblock javascript %}

{% block main %}
<div class="c-outsideBlock">
    <form name="search_form" id="search_form" method="post" action="{{ url('admin_shipping') }}">
        {{ form_widget(searchForm._token) }}
        <div class="c-outsideBlock__contents">
            <div class="row">
                <div class="col-12">

                        <label class="col-form-label">{{ 'admin.shipping.index.762'|trans }}</label>
                        {{ form_widget(searchForm.multi, { attr: { class : 'input_search' } } ) }}
                        <div class="form-group col-12">
                            <p class="col-form-label">{{'admin.shipping.index.763'|trans}}</p>
                            {# TODO 受注状況を横並びにする #}
                            {{ form_widget(searchForm.order_status) }}
                        </div>
                    <div class="d-inline-block mb-3 collapsed" data-toggle="collapse" href="#searchDetail" aria-expanded="false" aria-controls="searchDetail"><a><i class="fa font-weight-bold mr-1 fa-plus-square-o"></i><span class="font-weight-bold">{{ 'admin.shipping.index.823'|trans }}</span></a></div>
                </div>
            </div>
        </div>
        <div class="c-subContents ec-collapse collapse search-box-inner" id="searchDetail" style="">
            <div class="row">
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.765'|trans }}</label>
                    {{ form_widget(searchForm.name) }}
                </div>
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.766'|trans }}</label>
                    {{ form_widget(searchForm.kana) }}
                    {{ form_errors(searchForm.kana) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.767'|trans }}</label>
                    {{ form_widget(searchForm.order_name) }}
                </div>
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.768'|trans }}</label>
                    {{ form_widget(searchForm.order_kana) }}
                    {{ form_errors(searchForm.order_kana) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.801'|trans }}</label>
                    {{ form_widget(searchForm.order_id) }}
                    {{ form_errors(searchForm.order_id) }}
                </div>
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.770'|trans }}</label>
                    {{ form_widget(searchForm.tel) }}
                    {{ form_errors(searchForm.tel) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.771'|trans }}</label>
                    <div class="form-row align-items-center">
                        <div class="col">
                            {{ form_widget(searchForm.shipping_delivery_date_start, {'attr': {'class': 'input_cal'}}) }}
                        </div>
                        <div class="col-auto text-center"><span>〜</span></div>
                        <div class="col">
                            {{ form_widget(searchForm.shipping_delivery_date_end, {'attr': {'class': 'input_cal'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.773'|trans }}</label>
                    <div class="form-row align-items-center">
                        <div class="col">
                            {{ form_widget(searchForm.shipping_date_start, {'attr': {'class': 'input_cal'}}) }}
                        </div>
                        <div class="col-auto text-center"><span>〜</span></div>
                        <div class="col">
                            {{ form_widget(searchForm.shipping_date_end, {'attr': {'class': 'input_cal'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.775'|trans }}</label>
                    <div class="form-row align-items-center">
                        <div class="col">
                            {{ form_widget(searchForm.update_date_start, {'attr': {'class': 'input_cal'}}) }}
                        </div>
                        <div class="col-auto text-center"><span>〜</span></div>
                        <div class="col">
                            {{ form_widget(searchForm.update_date_end, {'attr': {'class': 'input_cal'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.777'|trans }}</label>
                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">￥</div>
                                </div>
                                {{ form_widget(searchForm.payment_total_start) }}
                            </div>
                        </div>
                        <div class="col-auto"><span>〜</span></div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">￥</div>
                                </div>
                                {{ form_widget(searchForm.payment_total_end) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label class="col-form-label">{{ 'admin.shipping.index.779'|trans }}</label>
                    {{ form_widget(searchForm.buy_product_name) }}
                </div>
            </div>
            <div class="d-block text-center">
                <button class="btn btn-ec-regular search-clear" type="button">{{'admin.shipping.index.780'|trans}}</button>
            </div>
        </div>
        <div class="c-outsideBlock__contents mb-3">
            <button type="submit" class="btn btn-ec-conversion px-5">{{'admin.shipping.index.781'|trans}}</button>
            {% if pagination %}
            <span class="font-weight-bold ml-2">{{'admin.shipping.index.782'|trans({'%count%':pagination.totalItemCount})|raw}}</span>
            {% endif %}
        </div>
    </form>
</div>
<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div class="c-primaryCol">
            {% if pagination %}
                <div class="row justify-content-between mb-2">
                    <div class="col-6">
                        <label class="mr-2">{{ 'admin.shipping.index.803'|trans }}</label>
                        {# TODO 一括メール #}
                        <button class="btn btn-ec-regular mr-2">{{ 'admin.shipping.index.804'|trans }}</button>
                        {# TODO 一括ステタース更新 #}
                        <button class="btn btn-ec-regular mr-2" data-toggle="modal" data-target="#sentUpdate">{{ 'admin.shipping.index.805'|trans }}</button>
                        <div class="modal fade" id="sentUpdate" tabindex="-1" role="dialog" aria-labelledby="sentUpdate" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title font-weight-bold">{{ 'admin.shipping.index.807'|trans }}</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="mb-4">{{ 'admin.shipping.index.808'|trans }}</p>
                                        <form class="mb-4">
                                            <div class="font-weight-bold mb-2">{{ 'admin.shipping.index.809'|trans }}</div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="orderStatus" checked=""> {{ 'admin.shipping.index.810'|trans }}
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="orderStatus"> {{ 'admin.shipping.index.811'|trans }}
                                                </label>
                                            </div>
                                        </form>
                                        <form>
                                            <div class="font-weight-bold mb-2">{{ 'admin.shipping.index.812'|trans }}</div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="notificationMail" checked=""> {{ 'admin.shipping.index.813'|trans }}
                                                </label>
                                            </div>
                                        </form>
                                        <div class="d-inline-block" data-toggle="collapse" href="#viewEmail" aria-expanded="false" aria-controls="viewEmail"><a><i class="fa fa-plus-square-o font-weight-bold mr-1"></i><span class="font-weight-bold">{{ 'admin.shipping.index.814'|trans }}</span></a></div>
                                        <div class="collapse bg-light p-4 ec-collapse bg-ec-formGray" id="viewEmail">
                                            {# TODO 発送お知らせメール表示 #}
                                            <p>[注文者名]様</p>
                                            <p>お客さまがご注文された以下の商品を発送いたしました。商品の到着まで、今しばらくお待ちくださいませ。</p>
                                            <p>[発送商品リストと明細]</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.shipping.index.815'|trans }}</button>
                                        <button class="btn btn-ec-conversion" type="button" data-dismiss="modal">{{ 'admin.shipping.index.816'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# TODO 一括削除 #}
                        <button class="btn btn-ec-delete">{{ 'admin.shipping.index.817'|trans }}</button>
                    </div>
                    <div class="col-5 text-right">
                        <div class="d-inline-block mr-2">
                            <form>
                                <select class="custom-select">
                                    {# TODO リンクからセレクトボックスに変更されているので実装必要 #}
                                    {% for pageMax in pageMaxis %}
                                        <option {% if pageMax.name == page_count %}selected=""{% endif %}>{{ pageMax.name|e }}{{ 'admin.shipping.index.822'|trans }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="d-inline-block">
                            <div class="btn-group" role="group">
                                {# TODO CSVダウンロード #}
                                <button class="btn btn-ec-regular" type="button"><i class="fa fa-cloud-download mr-1 text-secondary"></i><span>{{ 'admin.shipping.index.785'|trans }}</span></button>
                                {# TODO CSV出力項目設定 #}
                                <button class="btn btn-ec-regular" type="button"><i class="fa fa-cog mr-1 text-secondary"></i><span>{{ 'admin.shipping.index.818'|trans }}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded border-0 mb-4">
                    {% if pagination.totalItemCount > 0 %}
                        <div class="card-body p-0">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-2 pl-3">
                                        <input type="checkbox" id="check-all" name="filter" value="open">
                                    </th>
                                    <th class="border-top-0 pt-2 pb-2">{{'admin.shipping.index.791'|trans}}</th>
                                    <th class="border-top-0 pt-2 pb-2">{{'admin.shipping.index.792'|trans}}</th>
                                    <th class="border-top-0 pt-2 pb-2">{{'admin.shipping.index.801'|trans}}</th>
                                    <th class="border-top-0 pt-2 pb-2">{{'admin.shipping.index.800'|trans}}</th>
                                    <th class="border-top-0 pt-2 pb-2">{{'admin.shipping.index.802'|trans}}</th>
                                    <th class="border-top-0 pt-2 pb-2">{{'admin.shipping.index.796'|trans}}</th>
                                    <th class="border-top-0 pt-2 pb-2">&nbsp;</th>
                                    <th class="border-top-0 pt-2 pb-2 pr-3">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Shipping in pagination %}
                                <tr>
                                    <td class="align-middle pl-3">
                                        <input type="checkbox" id="check-{{ Shipping.id }}" data-id="{{ Shipping.id }}" name="ids{{ Shipping.id }}">
                                    </td>
                                    <td class="align-middle"><a href="{{ url('admin_shipping_edit', { id : Shipping.id }) }}">{{ Shipping.id }}</a></td>
                                    <td class="align-middle">{{ Shipping.TrackingNumber|default('admin.shipping.index.798'|trans) }}</td>
                                    <td class="align-middle">
                                        {% for Order in Shipping.Orders %}
                                            {# TODO 受注ステータスごとの色 #}
                                            <div class="d-block"><a href="{{ url('admin_order_edit', { id : Order.id }) }}">{{ Order.id }}</a><span class="badge badge-ec-blue ml-2 mb-2">{{ Order.OrderStatus }}</span></div>
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle">
                                        <label class="m-0">{{ Shipping.zip01 }}-{{ Shipping.zip02 }}<br>{{ Shipping.pref }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}<br>{{ Shipping.name01 }} {{ Shipping.name02 }}<br>{{ Shipping.tel01 }}-{{ Shipping.tel02 }}-{{ Shipping.tel03 }}</label>
                                    </td>
                                    <td class="align-middle">{{ Shipping.ShippingDeliveryName }}</td>
                                    <td class="align-middle">
                                        {% if Shipping.ShippingDeliveryDate %}
                                        <i class="fa fa-check fa-lg text-success mr-1" aria-hidden="true"></i>{{ Shipping.ShippingDeliveryDate|date_format }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle pr-3">
                                        <div class="row text-center">
                                            {# TODO メール送信ボタン #}
                                            {# TODO 発送済みにするボタン #}
                                            <div class="col" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ 'admin.shipping.index.824'|trans }}"><a class="btn btn-ec-actionIcon" href="/shipment/mail/"><i class="fa fa-send fa-lg text-secondary" aria-hidden="true"></i></a></div>
                                            <div class="col" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ 'admin.shipping.index.825'|trans }}"><a class="btn btn-ec-actionIcon"><i class="fa fa-check fa-lg text-secondary" aria-hidden="true"></i></a></div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row justify-content-md-center mb-4">
                                {% include "@admin/styleguide_pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_shipping_page' } %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card rounded border-0">
                            <div class="card-body p-4">
                                <div class="text-center text-muted mb-4 h5">{{ 'admin.shipping.index.819'|trans }}</div>
                                <div class="text-center text-muted">{{ 'admin.shipping.index.820'|trans }}</div>
                                <div class="text-center text-muted">{{ 'admin.shipping.index.821'|trans }}</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {# TODO 「商品が全く登録されていない場合のみ表示する #}
                <div class="card rounded border-0">
                    <div class="card-body p-4">
                        <div class="text-center text-muted mb-2 h5">{{ 'admin.product.index.text08'|trans }}</div>
                        <div class="text-center mb-4"><a class="btn btn-ec-regular pl-4 pr-4"
                                                         href="{{ url('admin_shipping_new') }}">{{ 'admin.product.index.text09'|trans }}</a>
                        </div>
                        <div class="text-center text-muted">{{ 'admin.product.index.text10'|trans }}</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
