{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<tr>
    <input type="hidden" name="shipping[OrderItems][{{ OrderItem.id }}][id]" value="{{ OrderItem.id }}">
    <td class="align-middle w-25 pl-3">
        <p class="font-weight-bold mb-0">{{ OrderItem.Product is not empty ? OrderItem.Product.name }}</p>
        <span>{{ OrderItem.product_code }}
            {% if OrderItem.Product is not empty and OrderItem.Product.has_product_class %}
                / ( {{ OrderItem.class_name1 }}： {{ OrderItem.class_category_name1 }}
                {% if OrderItem.class_name2 %}
                    / {{ OrderItem.class_name2 }}: {{ OrderItem.class_category_name2 }}
                {% endif %}
                )
            {% endif %}
        </span>
    </td>
    <td class="align-middle">
        <a href="{{ url('admin_order_edit', {'id': OrderItem.order_id}) }}">{{ OrderItem.Order.order_code }}</a>
    </td>
    <td class="align-middle"><span>{{ OrderItem.price|price }}</span></td>
    <td class="align-middle"><span>{{ OrderItem.quantity }}</span></td>
    <td class="align-middle"><span>{{ OrderItem.tax_rate }}%</span></td>
    <td class="align-middle">
        <span>{{ OrderItem.total_price|price }}</span>
        <small>{{ 'admin.shipping.edit.include_tax'|trans }}</small>
    </td>
    <td class="align-middle text-right pr-3">
        <div class="row justify-content-end">
            <div class="col-auto text-center"><a class="btn btn-ec-actionIcon remove-order-item"
                                                 data-toggle="tooltip"
                                                 data-placement="top" title="{{ 'admin.shipping.edit.remove'|trans }}"><i
                            class="fa fa-close fa-lg text-secondary"
                            aria-hidden="true"></i></a></div>
        </div>
    </td>
</tr>
