{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if pagination|length > 0 %}
    <table class="table table-striped table-sm mb-3">
        <thead class="table-active">
        <th class="pt-2 pb-2 pl-3">{{ 'admin.shipping.edit.order_date'|trans }}</th>
        <th class="pt-2 pb-2">{{ 'admin.shipping.edit.order_id'|trans }}</th>
        <th class="pt-2 pb-2">{{ 'admin.shipping.edit.order_name'|trans }}</th>
        <th class="pt-2 pb-2">{{ 'admin.shipping.edit.order_item'|trans }}</th>
        <th class="pt-2 pb-2 pr-3"></th>
        </thead>
        <tbody>
        {% for OrderItem in pagination %}
            {% set Order = OrderItem.Order %}
            <tr>
                <td class="align-middle pl-3">
                    <p class="m-0">{{ Order.order_date|date_format }}</p>
                </td>
                <td class="align-middle">
                    <p class="m-0">{{ Order.id }}</p>
                </td>
                <td class="align-middle">
                    <p class="m-0">
                        {{ Order.name01 }} {{ Order.name02 }} ({{ Order.kana01 }} {{ Order.kana02 }})<br>
                        {{ 'admin.shipping.edit.zip'|trans({
                            '%zip01%': Order.zip01,
                            '%zip02%': Order.zip02
                        }) }}<br>
                        {{ Order.pref.name ~ Order.addr01 ~ Order.addr02 }}<br>
                    </p>
                </td>
                <td class="align-middle">
                    <p class="m-0">
                        {{ OrderItem.product_name }}{% if OrderItem.product_code %}({{ OrderItem.product_code }}){% endif %}
                        <br>
                        {{ OrderItem.price|price }}
                    </p>
                </td>
                <td class="align-middle pr-3 text-right">
                    <i class="fa fa-plus fa-lg font-weight-bold text-secondary append-order-item"
                       data-order-item-id="{{ OrderItem.id }}"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.getTotalItemCount / pagination.count > 1 %}
        <div class="row justify-content-md-center mb-4">
            {% include "@admin/styleguide_pager.twig" with { 'pages' : pagination.paginationData } %}
        </div>
    {% endif %}
{% else %}
    <div class="card rounded border-0">
        <div class="card-body p-4">
            <div class="text-center text-muted mb-4 h5">{{ 'admin.shipping.edit.search_not_found'|trans }}</div>
        </div>
    </div>
{% endif %}
