<script>

    // 受注明細行を追加する.
    // 受注明細行のレコード数カウンタ(order_details_count)は, edit.twig側で定義している.
    function fnAddOrderDetail($row, order_item_id, order_id, type) {

        type = type === undefined ? {{ constant('Eccube\\Entity\\Master\\OrderItemType::PRODUCT') }} : type;

        // 受注明細行を取得.
        var list = $('#order_detail_list');
        var orderDetailExists = false;

        $('*[id^="product_info_list__item--"]').each(function () {
            var $inputs = $(this).find(':input');

            if ($inputs.filter('[id$="_ProductClass"][value="'+order_item_id+'"]').length > 0) {

                orderDetailExists = true;
                return false;
            }
        });

        if (!orderDetailExists) {

            // prototype templateを取得.
            var newWidget = list.attr('data-prototype');

            // レコード数カウンタで置換.
            newWidget = newWidget.replace(/__name__/g, order_details_count);
            // フォーム入力値をセットm
            $newWidget = $(newWidget);
            $newWidget.find('#shipping_OrderItems_' + order_details_count + '_Order').val(order_id);
            $newWidget.find('#shipping_OrderItems_' + order_details_count + '_id').val(order_item_id);
            $newWidget.find('#shipping_OrderItems_' + order_details_count + '_order_item_type').val(type);

            // 明細行に追加.
            list.append($newWidget);
        }

        if (orderDetailExists) {
            // カウンタを更新.
            order_details_count++;
        }

        // モーダル閉じる.
        $('#searchProductModal').modal('hide');

        // 再計算のためsubmit.
        setModeAndSubmit('modal');

        return false;
    }

    // 商品検索
    $('#product_pagination a').on('click', function(event) {
        var list = $('#searchProductModalList');
        list.children().remove();

        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: $(this).attr('href'),
            success: function(data) {
                $('#searchProductModalList').html(data);
            },
            error: function() {
                alert('search product failed.');
            }
        });
        event.preventDefault();
    });
</script>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>注文日・注文ID</th><th>注文者</th><th>注文内容</th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for OrderItem in pagination %}
                <form name="product_form{{ OrderItem.id }}">
                    {% set form = forms[OrderItem.id] %}

                    <tr>
                        <td>
                            {{ OrderItem.Order.order_date ? OrderItem.Order.order_date |date("Y/m/d H:i:s") : '' }}<br>注文ID: {{ OrderItem.Order.id }}
                        </td>
                        <td>
                            {{ OrderItem.Order.Name01 }} {{ OrderItem.Order.Name02 }} ({{ OrderItem.Order.Kana01 }} {{ OrderItem.Order.Kana02 }})<br>
                            {{ OrderItem.Order.Zip01 }}-{{ OrderItem.Order.Zip02 }}<br>
                            {{ OrderItem.Order.Pref }}{{ OrderItem.Order.Addr01 }}{{ OrderItem.Order.Addr02 }}<br>
                        </td>
                        <td>
                            {{ OrderItem.product_name }}
                            {% if OrderItem.product_code %}
                                <span><br/>{{ OrderItem.product_code }}
                            {% endif %}
                            <br />{{ OrderItem.price|price }}
                        </td>
                        <div class="extra-form">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    {{ form_label(f) }}
                                    {{ form_widget(f) }}
                                    {{ form_errors(f) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <td class="text-right">
                            <button onclick="fnAddOrderDetail($(this).parent().parent(), {{ OrderItem.id }}, {{ OrderItem.Order.id }}, {{ OrderItem.OrderItemType.id }})" type="button" class="btn btn-default btn-sm" name="mode" value="modal">
                                決定
                            </button>
                        </td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
    {% if pagination.totalItemCount > 0 %}
        {% include "pager.twig" with {'id': 'product_pagination', 'pages': pagination.paginationData, 'routes': 'admin_order_search_product_page'} %}
    {% endif %}
</div>
