{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['store', 'authentication_setting'] %}

{% block title %}{{'admin.store.authentication_setting.804'|trans}}{% endblock %}
{% block sub_title %}{{'admin.store.authentication_setting.803'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('admin_store_authentication_setting') }}">
    {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <h4 class="box-title font-weight-bold">{{'admin.store.authentication_setting.805'|trans}}</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                {{ form_label(form.authentication_key) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.authentication_key) }}
                                    {{ form_errors(form.authentication_key) }}
                                    <p>{{'admin.store.authentication_setting.807'|trans({'owners_store_url' : eccube_config.eccube_owners_store_url})|raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            &nbsp;
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">{{'admin.store.authentication_setting.808'|trans}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}