{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if Plugins|length > 0 %}
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
            <tr>
                <th class="border-top-0 pl-3 pt-2 pb-2">{{ 'admin.store.plugin_table_official.901'|trans }}</th>
                <th class="border-top-0 pt-2 pb-2">{{ 'admin.store.plugin_table_official.902'|trans }}</th>
                <th class="border-top-0 pt-2 pb-2">{{ 'admin.store.plugin_table_official.903'|trans }}</th>
                <th class="border-top-0 pt-2 pb-2">{{ 'admin.store.plugin_table_official.904'|trans }}</th>
                <th class="border-top-0 pt-2 pb-2">{{ 'admin.store.plugin_table_official.905'|trans }}</th>
                <th class="border-top-0 pt-2 pb-2">{{ 'admin.store.plugin_table_official.906'|trans }}</th>
                <th class="border-top-0 pt-2 pb-2">{{ 'admin.store.plugin_table_official.907'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key,Plugin in Plugins %}
                {% set form = plugin_forms[Plugin.id] %}
                {% set pluginDetail = officialPluginsDetail[key] %}
                <tr class="{% if Plugin.enabled == false %}active{% endif %}">
                    <td class="align-middle pl-3">
                        <strong>{{ Plugin.name }}</strong>{% if Plugin.enabled == 0 %}<span
                                class="text-danger"> {{ 'admin.store.plugin_table_official.908'|trans }}</span>{% endif %}
                        <br>
                        {% if Plugin.enabled %}
                            <a href="{{ url('admin_store_plugin_disable', { id : Plugin.id }) }}" {{ csrf_token_for_anchor() }}
                               data-method="put" data-confirm="false">
                                {{ 'admin.store.plugin_table_official.909'|trans }}
                            </a>
                        {% else %}
                            <a href="{{ url('admin_store_plugin_enable', { id : Plugin.id }) }}" {{ csrf_token_for_anchor() }}
                               data-method="put" data-confirm="false">
                                {{ 'admin.store.plugin_table_official.910'|trans }}
                            </a>
                        {% endif %}
                        /
                        {% if Plugin.enabled %}
                            <span class="disabled">{{ 'admin.store.plugin_table_official.911'|trans }}</span>
                        {% else %}
                            <a href="{{ url('admin_store_plugin_delete_confirm', { id : Plugin.id }) }}">
                                {{ 'admin.store.plugin_table_official.911'|trans }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <div class="plugin-logo">
                            <a href="{{ pluginDetail.product_url }}" target="_blank"><img class="img-rounded"
                                                                                          src="{{ pluginDetail.product_image_url }}"></a>
                        </div>
                    </td>
                    <td class="align-middle" style="width: 136px">{{ Plugin.version }}</td>
                    <td class="align-middle"><p>{{ Plugin.code }}</p>
                        {% if attribute(app.config[Plugin.code].const, 'readme') is defined %}
                            <a href="#" class="view_readme" data-toggle="modal" data-target="#readmeModal"
                               data-name="{{ Plugin.name }}"
                               data-readme="{{ attribute(app.config[Plugin.code].const, 'readme') }}">{{ 'admin.store.unregisterd_plugin_table.948'|trans }}</a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        {% if pluginDetail.update_status == 1 %}
                            {{ 'admin.store.plugin_table_official.913'|trans }}
                            <a class="btn btn-default btn-xs"
                               href="{{ url('admin_store_plugin_update_confirm', {'id': Plugin.id}) }}">{{ 'admin.store.plugin_table_official.916'|trans }}</a>
                            <ul class="plugin-meta dl-horizontal">
                                <li class="plugin-version">{{ 'admin.store.plugin_owners_confirm.845'|trans }} : {{ pluginDetail.version }}</li>
                                <li class="plugin-version">{{ 'admin.store.plugin_owners_confirm.847'|trans }}
                                    : {% for version in pluginDetail.eccube_version %}{{ version }} {%- if loop.last == false %}, {% endif -%}{% endfor %}</li>
                                <li class="plugin-update">{{ 'admin.store.plugin_owners_panel.864'|trans }} : {{ pluginDetail.last_update_date|time_ago }}</li>
                            </ul>
                        {% else %}
                            <p>{{ 'admin.store.plugin_table_official.920'|trans }}。</p>
                        {% endif %}
                        <p><a href="{{ pluginDetail.product_url }}"
                              target="_blank">{{ 'admin.store.plugin_table_official.921'|trans }}</a></p>
                    </td>
                    <td class="align-middle">
                        {% if configPages[Plugin.code] is defined %}
                            <a href='{{ configPages[Plugin.code] }}'>{{ 'admin.store.plugin_table_official.922'|trans }}</a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a href="{{ pluginDetail.developer_url }}" target="_blank">{{ pluginDetail.developer }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- /.col -->
{% else %}
    <div class="card-body">
        <div class="text-danger">
            {{ 'admin.store.plugin_table_official.923'|trans }}
        </div>
    </div><!-- /.col -->
{% endif %}
