{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set is_supported_eccube_version = item.is_supported_eccube_version  %}
<div class="plugin-panel {% if is_supported_eccube_version == 0 %}plugin-panel-not{% endif %}">
    <div class="plugin-logo">
        <a href="{{ item.product_url }}" target="_blank"><img class="img-rounded" src="{{ item.product_image_url }}"></a>
    </div>
    <div class="plugin-content-top">
        <div class="plugin-title">
            <a class="plugin-name" href="{{ item.product_url }}" target="_blank">{{ item.name }}</a>
        </div>
        <div class="plugin-description">
            {{ item.summary }}
        </div>
        <div class="plugin-description">
            {% if item.promotion == 1 %}
                {{ item.description|ellipsis(500) }}
            {% else %}
                {{ item.description|ellipsis(400) }}
            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="plugin-content-bottom">
        <dl class="plugin-meta dl-horizontal">
            <dt class="plugin-price">価格</dt><dd>{{ item.price|price }}</dd>
            <dt class="plugin-download">DL数</dt><dd>{{ item.download_number }}</dd>
            <dt class="plugin-version">プラグインバージョン</dt><dd>{{ item.version }}</dd>
            <dt class="plugin-update">最終更新日</dt><dd>{{ item.last_update_date|time_ago }}</dd>
            <dt class="plugin-eccubeversion">EC-CUBE対応バージョン</dt><dd>{% for version in item.eccube_version %}{{ version }} {%- if loop.last == false%}, {% endif -%}{% endfor %}</dd>
            <dt class="plugin-size">ファイルサイズ</dt><dd>約 {{ (item.file_size / 1024)|round(0, 'ceil')|number_format }} KB</dd>
            <dt class="plugin-licence">ライセンス</dt><dd>{{ item.licence }}</dd>
        </dl>
        {% if is_supported_eccube_version == 0 %}
            <p class="text-danger">このプラグインはEC-CUBE {{ constant('Eccube\\Common\\Constant::VERSION') }}をサポートしていないため、正常に動作しない可能性があります。</p>
        {% endif %}
        <p class="plugin-developer">
            <strong>制作者</strong> : {% if item.developer_url is not null %}<a href="{{ item.developer_url }}" target="_blank">{{ item.developer }}</a>{% else %}{{ item.developer }}{% endif %}
        </p>
    </div>
</div>
