{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% if Plugins|length > 0 %}
    <div class="table_list plugin-table">
        <div class="table-responsive with-border">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>プラグイン名</th>
                    <th>プラグインアイコン画像</th>
                    <th>プラグインバージョン</th>
                    <th>プラグインコード</th>
                    <th>アップデート</th>
                    <th>設定</th>
                    <th>制作者</th>
                </tr>
                </thead>
                <tbody>
                {% for key,Plugin in Plugins %}
                    {% set form = plugin_forms[Plugin.id] %}
                    {% set pluginDetail = officialPluginsDetail[key] %}
                        <tr class="{% if Plugin.enable == false %}active{% endif %}">
                            <td class="tp">
                                <strong>{{ Plugin.name }}</strong>{% if Plugin.enable == 0 %}<span class="text-danger"> (停止中)</span>{% endif %}<br>
                                {% if Plugin.enable %}
                                    <a href="{{ url('admin_store_plugin_disable', { id : Plugin.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                        無効にする
                                    </a>
                                {% else %}
                                    <a href="{{ url('admin_store_plugin_enable', { id : Plugin.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                        有効にする
                                    </a>
                                {% endif %}
                                /
                                <a href="{{ url('admin_store_plugin_delete_confirm', { id : Plugin.id }) }}">
                                    削除
                                </a>
                            </td>
                            <td class="tc">
                                <div class="plugin-logo">
                                    <a href="{{ pluginDetail.product_url }}" target="_blank"><img class="img-rounded" src="{{ pluginDetail.product_image_url }}"></a>
                                </div>
                            </td>
                            <td class="tv text-center" style="width: 136px">{{ Plugin.version }}</td>
                            <td class="tc"><p>{{ Plugin.code }}</p>
                                {% if attribute(app.config[Plugin.code].const, 'readme') is defined %}
                                    <a href="#" class="view_readme" data-toggle="modal" data-target="#readmeModal" data-name="{{ Plugin.name }}" data-readme="{{ attribute(app.config[Plugin.code].const, 'readme')  }}">詳細を表示</a>
                                {% endif %}
                            </td>
                            <td class="tu">
                                {% if pluginDetail.update_status == 1 %}
                                    新バージョンのプラグインが利用可能です。
                                    <span {% if Plugin.enable %}data-toggle="tooltip" data-placement="top" title="無効にする状態で利用可能"{% endif %}>
                                        <a class="btn btn-default btn-xs prevention-mask {% if Plugin.enable %}disabled{% endif %}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false" href="{{ url('admin_store_plugin_api_upgrade', {'id': Plugin.id, 'version': pluginDetail.version}) }}">アップデート</a>
                                    </span>
                                    <ul class="plugin-meta dl-horizontal">
                                        <li class="plugin-version">プラグインバージョン : {{ pluginDetail.version }}</li>
                                        <li class="plugin-version">EC-CUBE対応バージョン : {% for version in pluginDetail.eccube_version %}{{ version }} {%- if loop.last == false%}, {% endif -%}{% endfor %}</li>
                                        <li class="plugin-update">更新日 : {{ pluginDetail.last_update_date|time_ago }}</li>
                                    </ul>
                                {% else %}
                                    <p>アップデート対象プラグインはありません。</p>
                                {% endif %}
                                <p><a href="{{ pluginDetail.product_url }}" target="_blank">詳細情報</a></p>
                            </td>
                            <td class="ta text-center">
                                {% if configPages[Plugin.code] is defined %}
                                   <a href='{{configPages[Plugin.code]}}'>設定</a>
                                {% endif %}
                            </td>
                            <td class="tv">
                                <a href="{{ pluginDetail.developer_url }}" target="_blank">{{ pluginDetail.developer }}</a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="text-danger">
        インストールされているプラグインはありません。
    </div>
{% endif %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
