{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}独自プラグインのアップロード{% endblock %}
{% block sub_title %}オーナーズストア{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form id="upload-form" class="" method="post" action="{{ url('admin_store_plugin_install') }}" enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <h5 class="box-title">新規プラグインのアップロード</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <label class="col-auto control-label">{{ 'admin.store.install.label'|trans }}</label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.plugin_archive, {'attr': {'accept': 'application/zip,application/x-tar,application/x-gzip'}}) }}
                                    {% for error in errors %}
                                        <div class="errormsg text-danger">{{ error.message|trans }}</div>
                                    {% endfor %}
                                    <button class="btn btn-primary mt-3 px-5" type="submit">{{ 'admin.common.upload'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
