{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}
    {% if is_update %}
        {{'admin.store.plugin_confirm.title.upgrade'|trans}}
    {% else %}
        {{'admin.store.plugin_confirm.title'|trans}}
    {% endif %}
{% endblock %}
{% block sub_title %}
    {{'admin.store.plugin_confirm.subtitle'|trans}}
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div id="plugin-list" class="card rounded mb-4">
                    <div class="card-header">
                        <span class="card-title">
                            {% if is_update %}
                                {{ 'admin.store.plugin_confirm.header.upgrade'|trans }}
                            {% else %}
                                {{'admin.store.plugin_confirm.header'|trans}}
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row pb-4 mb-4 border-bottom border-ec-gray">
                        {{ include('@admin/Store/plugin_confirm_panel.twig') }}
                        {% if is_update %}
                            {#Todo: Release notes will be implemented later#}
                            {#<div class="row">#}
                                {#<div class="col-12 mx-2">#}
                                    {#<hr>#}
                                {#</div>#}
                                {#<div class="col-8 mx-auto m-0">#}
                                    {#<h4 class="font-weight-bold">リリースノート</h4>#}
                                    {#<dl>#}
                                        {#<dt class="py-2">2.1.5(ィナー用のカトラリー。)</dt>#}
                                        {#<dd class="pl-3">.ィナー用のカトラリは、シルバー特有の美しい輝きと柔らかな曲線が特徴です。</dd>#}
                                        {#<dd class="pl-3">#}
                                            {#.ィナー用のカトラリは、シルバー特有の美しい輝きと柔らかな曲線が特徴です。適度な重みと日本人の手に合いやすいサイズ感で長く愛用いただけます。#}
                                        {#</dd>#}
                                    {#</dl>#}
                                    {#<dl>#}
                                        {#<dt class="py-2">2.1.4(2.18.04.17ィナー用)</dt>#}
                                        {#<dd class="pl-3">.セットで揃えたいディナー用のカトラリー。</dd>#}
                                        {#<dd class="pl-3">#}
                                            {#.セットで揃えたいディナー用のカトラリー。定番の銀製は、シルバー特有の美しい輝きと柔らかな曲線が特徴です。適度な重みと日本人の手に合いやすいサイズ感で長く愛用いただけます。#}
                                        {#</dd>#}
                                    {#</dl>#}
                                {#</div>#}
                            {#</div>#}
                        {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    {#Todo: need confirm about this feature#}
                                    <span class="col-auto font-weight-bold align-middle">オプション：バージョンを指定</span>
                                    <div class="col-auto">
                                        <select class="custom-select">
                                            <option>最新版</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <button class="btn btn-ec-sub" type="button" onclick="return window.history.back()">{{ 'admin.common.cancel'|trans }}</button>
                                {% if is_update %}
                                    <a class="btn btn btn-primary prevention-mask" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false" href="{{ url('admin_store_plugin_api_upgrade', {'pluginCode': item.code, 'version': item.version}) }}">{{ 'admin.store.plugin.upgrade'|trans }}</a>
                                {% else %}
                                    <a class="btn btn btn-primary prevention-mask" href="{{ url('admin_store_plugin_api_install', {'pluginCode': item.code, 'eccubeVersion': constant('Eccube\\Common\\Constant::VERSION'), 'version': item.version}) }}">{{ 'admin.store.plugin.install'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if is_update == false and requires|length > 0 %}
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">{{ 'admin.store.plugin_confirm.require.header'|trans({'%name%': item.name}) }}</span>
                    </div>
                    <div class="card-body">
                        {% for plugin in requires %}
                            {% include '@admin/Store/plugin_confirm_panel.twig' with {'item': plugin, 'is_update': is_update} only %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}