{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if Plugins|length > 0 %}
    <div class="table_list plugin-table">
        <div class="table-responsive with-border">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>{{'admin.store.plugin_table_official.901'|trans}}</th>
                    <th>{{'admin.store.plugin_table_official.902'|trans}}</th>
                    <th>{{'admin.store.plugin_table_official.903'|trans}}</th>
                    <th>{{'admin.store.plugin_table_official.904'|trans}}</th>
                    <th>{{'admin.store.plugin_table_official.905'|trans}}</th>
                    <th>{{'admin.store.plugin_table_official.906'|trans}}</th>
                    <th>{{'admin.store.plugin_table_official.907'|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for key,Plugin in Plugins %}
                    {% set form = plugin_forms[Plugin.id] %}
                    {% set pluginDetail = officialPluginsDetail[key] %}
                        <tr class="{% if Plugin.enabled == false %}active{% endif %}">
                            <td class="tp">
                                <strong>{{ Plugin.name }}</strong>{% if Plugin.enabled == 0 %}<span class="text-danger"> {{'admin.store.plugin_table_official.908'|trans}}</span>{% endif %}<br>
                                {% if Plugin.enabled %}
                                    <a href="{{ url('admin_store_plugin_disable', { id : Plugin.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                        {{'admin.store.plugin_table_official.909'|trans}}
                                    </a>
                                {% else %}
                                    <a href="{{ url('admin_store_plugin_enable', { id : Plugin.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                        {{'admin.store.plugin_table_official.910'|trans}}
                                    </a>
                                {% endif %}
                                /
                                {% if Plugin.enabled %}
                                    <span class="disabled">{{'admin.store.plugin_table_official.911'|trans}}</span>
                                {% else %}
                                    <a href="{{ url('admin_store_plugin_delete_confirm', { id : Plugin.id }) }}">
                                        {{'admin.store.plugin_table_official.911'|trans}}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="tc">
                                <div class="plugin-logo">
                                    <a href="{{ pluginDetail.product_url }}" target="_blank"><img class="img-rounded" src="{{ pluginDetail.product_image_url }}"></a>
                                </div>
                            </td>
                            <td class="tv text-center" style="width: 136px">{{ Plugin.version }}</td>
                            <td class="tc"><p>{{ Plugin.code }}</p>
                                {% if attribute(app.config[Plugin.code].const, 'readme') is defined %}
                                    <a href="#" class="view_readme" data-toggle="modal" data-target="#readmeModal" data-name="{{ Plugin.name }}" data-readme="{{ attribute(app.config[Plugin.code].const, 'readme')  }}">詳細を表示</a>
                                {% endif %}
                            </td>
                            <td class="tu">
                                {% if pluginDetail.update_status == 1 %}
                                    {{'admin.store.plugin_table_official.913'|trans}}
                                    <a class="btn btn-default btn-xs" href="{{ url('admin_store_plugin_update_confirm', {'id': Plugin.id}) }}">{{'admin.store.plugin_table_official.916'|trans}}</a>
                                    <ul class="plugin-meta dl-horizontal">
                                        <li class="plugin-version">プラグインバージョン : {{ pluginDetail.version }}</li>
                                        <li class="plugin-version">EC-CUBE対応バージョン : {% for version in pluginDetail.eccube_version %}{{ version }} {%- if loop.last == false%}, {% endif -%}{% endfor %}</li>
                                        <li class="plugin-update">更新日 : {{ pluginDetail.last_update_date|time_ago }}</li>
                                    </ul>
                                {% else %}
                                    <p>{{'admin.store.plugin_table_official.920'|trans}}。</p>
                                {% endif %}
                                <p><a href="{{ pluginDetail.product_url }}" target="_blank">{{'admin.store.plugin_table_official.921'|trans}}</a></p>
                            </td>
                            <td class="ta text-center">
                                {% if configPages[Plugin.code] is defined %}
                                   <a href='{{configPages[Plugin.code]}}'>{{'admin.store.plugin_table_official.922'|trans}}</a>
                                {% endif %}
                            </td>
                            <td class="tv">
                                <a href="{{ pluginDetail.developer_url }}" target="_blank">{{ pluginDetail.developer }}</a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="text-danger">
        {{'admin.store.plugin_table_official.923'|trans}}
    </div>
{% endif %}
