{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

{% extends 'default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}オーナーズストア{% endblock %}
{% block sub_title %}プラグイン一覧{% endblock %}

{% block javascript %}
<script>
    function changeActionSubmit(action, form_name) {
        document.forms[form_name].action = action;
        document.forms[form_name].submit();
    }
    $(function(){
        $('[data-readme]').on('click', function() {
            var url = '{{ url('admin_store_plugin_readme', {'id': '999999'}) }}';
            $.ajax({
                type: 'GET',
                url: url.replace('999999', $(this).data('readme')),
                dataType: "json",
                success: function(data) {
                    $(".prevention-masked").remove();
                    $('#readmeModalLabel').text(data.name);
                    $('#readmeContent').html(data.readme);
                    $('#readmeModal').modal('show');
                },
                error: function() {
                    $(".prevention-masked").remove();
                    alert('Failed to read README.');
                }
            });
            return false;
        });
    });
</script>
{% endblock javascript %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <a href="{{ url('admin_store_plugin_owners_install') }}" class="btn btn-info btn-xs pull-right">プラグインの新規追加はこちら</a>
                    <h3 class="box-title">オーナーズストアプラグイン</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {{ include('Store/plugin_table.twig', {'Plugins': officialPlugins}) }}
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <a href="{{ url('admin_store_plugin_install') }}" class="btn btn-info btn-xs pull-right">プラグインのアップロードはこちら</a>
                    <h3 class="box-title">独自プラグイン</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {{ include('Store/plugin_table.twig', {'Plugins': unofficialPlugins}) }}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {% if unregisterdPlugins is not empty %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">未登録プラグイン</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {{ include('Store/unregisterd_plugin_table.twig', {'Plugins': unregisterdPlugins}) }}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {% endif %}
        </div><!-- /.col -->
    </div>
{% endblock %}
{% block modal %}
<div class="modal" id="readmeModal" tabindex="-1" role="dialog" aria-labelledby="readmeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><svg class="cb cb-close" aria-hidden="true"><use xlink:href="#cb-close"></svg></button>
                <h4 class="modal-title" id="readmeModalLabel">{# プラグイン名 #}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="readmeContent">
                    {# README #}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}