{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_owners_search'] %}

{% block title %}{{'admin.store.plugin_search.885'|trans}}{% endblock %}
{% block sub_title %}{{'admin.store.plugin_search.884'|trans}}{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/masonry.pkgd.min.js', 'admin') }}"></script>
    <script>
        $(function() {
            $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-item'
            });

            $('a.searchPluginModal').on('click', function (e) {
                e.preventDefault();
                var obj = $(this);
                var id = obj.attr('data-id');
                $.ajax({
                    type: 'GET',
                    dataType: 'jsonp',
                    crossDomain: true,
                    url: '{{ eccube_config.eccube_package_repo_url }}/detail/' + id,
                    success: function (data) {
                        showPopup(obj, data, id);
                    },
                    error: function () {
                        alert('Plugin not found !');
                    }
                });
            });

            function showPopup(obj, data, id) {
                var modal_plugin = $('#searchPluginModal');
                var btn_html = obj.closest('div').find('#plugin-id-' + id).get(0).outerHTML;
                $('#search_plugin_modal_box__body', modal_plugin).html(data);
                $('#search_plugin_modal_box__buttons', modal_plugin).html(btn_html);
                modal_plugin.modal('show');
            }
        });

    </script>
{% endblock javascript %}

{% block stylesheet %}
    <style type="text/css">
        .plugin-panel {
            border: 1px solid #dedede;
            padding: 10px;
            margin: 5px 0;
        }
        .plugin-meta {
            padding: 0;
            list-style: none;
            margin: 0 0 15px;
        }
        .plugin-meta.dl-horizontal dt {
            text-align: right;
            padding-bottom: 0;
            width: 180px;
        }
        .dl-horizontal dt {
            text-align: left;
            white-space: normal;
            padding-bottom: 8px;
            float: left;
        }
        .plugin-logo img {
            width: 168px;
            height: 126px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            float: left;
        }
        .plugin-meta.dl-horizontal dd {
            padding-bottom: 0;
            margin-left: 200px;
        }
        .plugin-block .grid{
            padding: 10px 0;
        }
        #search_plugin_modal_box__body{
            padding: 0 5px;
        }
    </style>
{% endblock stylesheet %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <h4 class="box-title font-weight-bold">{{'admin.store.plugin_search.886'|trans}}</h4>
                    </div>
                    <div class="card-body p-0">
                        {% if items|length > 0%}
                            <div class="plugin-block">
                                {% for item in promotionItems %}
                                    <div class="col-12">
                                        {{ include('@admin/Store/plugin_search_panel.twig') }}
                                    </div>
                                {% endfor %}

                                <div class="grid">
                                    {% for item in items %}
                                        <div class="col-12 col-md-12 grid-item">
                                            {{ include('@admin/Store/plugin_search_panel.twig') }}
                                        </div>
                                    {% endfor %}
                                </div><!-- .row -->
                            </div><!-- .plugin-block -->
                        {% else %}
                            <p class="text-danger">{{ message }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchPluginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div id="search_plugin_modal_box" class="modal-content">
                <div id="search_plugin_modal_box__header" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-close" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div id="search_plugin_modal_box__body" class="modal-body" style="background: #fff"></div>
                <div id="search_plugin_modal_box__buttons" class="modal-footer" style="background: #fff"></div>
            </div>
        </div>
    </div>
{% endblock %}

