{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<ul class="plugin-ver col-12">
    {% if not item.price %}
    <li class="row"><span class="font-weight-bold col-7 col-sm-6 pl-0">{{ 'admin.store.plugin.detail.download'|trans }}</span>{{ item.downloads|number_format }}</li>
    {% endif %}
    <li class="row"><span class="font-weight-bold col-7 col-sm-6 pl-0">{{ 'admin.store.plugin.detail.version'|trans }}</span>{{ item.version }}</li>
    <li class="row"><span class="font-weight-bold col-7 col-sm-6 pl-0">{{ 'admin.store.plugin.detail.support'|trans }}</span>{% for version in item.supported_versions %}{{ version }} {%- if loop.last == false%}, {% endif -%}{% endfor %}</li>
    <li class="row"><span class="font-weight-bold col-7 col-sm-6 pl-0">{{ 'admin.store.plugin.detail.public_date'|trans }}</span>{{ item.publish_date|date_day }}</li>
    <li class="row"><span class="font-weight-bold col-7 col-sm-6 pl-0">{{ 'admin.store.plugin.detail.update_date'|trans }}</span>{{ item.update_date|date_day }}</li>
    <li class="row"><span class="font-weight-bold col-7 col-sm-6 pl-0">{{ 'admin.store.plugin.detail.license'|trans }}</span>{{ item.license }}</li>
    <li class="row"><span class="font-weight-bold col-7 col-sm-6 pl-0">{{ 'admin.store.plugin.detail.develop'|trans }}</span>
        {% if item.author is not empty %}
            {% if item.author.url is not empty %}
                <a href="{{ item.author.url }}" target="_blank">{{ item.author.name }}</a>{% else %}{{ item.author.name }}
            {% endif %}
        {% endif %}
    </li>
</ul>