{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}{{'admin.store.plugin.809'|trans}}{% endblock %}
{% block sub_title %}{{'admin.store.plugin.810'|trans}}{% endblock %}

{% block javascript %}
    <script>
        function changeActionSubmit(action, form_name) {
            document.forms[form_name].action = action;
            document.forms[form_name].submit();
            return false;
        }
        $(function(){
            $('#readmeModal').on('show.bs.modal', function(event) {
                var target = $(event.relatedTarget);
                var modal = $(this);
                modal.find('#readmeModalLabel').text(target.data('name'));
                modal.find('#readmeContent').html(target.data('readme'));
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <a href="{{ url('admin_store_plugin_owners_search') }}"
                           class="btn btn-info btn-xs pull-right">{{ 'admin.store.plugin.811'|trans }}</a>
                        <h4 class="box-title font-weight-bold">{{ 'admin.store.plugin.812'|trans }}</h4>
                    </div>

                    {{ include('@admin/Store/plugin_table_official.twig', {'Plugins': officialPlugins}) }}
                </div>

                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <a href="{{ url('admin_store_plugin_install') }}"
                           class="btn btn-info btn-xs pull-right">{{ 'admin.store.plugin.813'|trans }}</a>
                        <h4 class="box-title font-weight-bold">{{ 'admin.store.plugin.814'|trans }}</h4>
                    </div><!-- /.box-header -->

                    {{ include('@admin/Store/plugin_table.twig', {'Plugins': unofficialPlugins}) }}
                </div>

                {% if unregisterdPlugins is not empty %}

                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <h4 class="box-title font-weight-bold">{{ 'admin.store.plugin.815'|trans }}</h4>
                    </div><!-- /.col -->

                    {{ include('@admin/Store/unregisterd_plugin_table.twig', {'Plugins': unregisterdPlugins}) }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="readmeModal" tabindex="-1" role="dialog" aria-labelledby="readmeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="readmeModalLabel">{# {{'admin.store.plugin.816'|trans}} #}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="readmeContent">
                        {# README #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}