<div class="modal fade" id="searchPluginModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="searchPluginModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">{{ 'admin.store.plugin_owners_search.modal.header'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-6">
                        <img class="w-100 img-responsive"
                             src="{{ item.image|default(asset('noimage_plugin_list.png', 'save_image')) }}" alt="{{ item.name }}">
                    </div>
                    <div class="col-6">
                        <h5 class="font-weight-bold mb-3">{{ item.name }}</h5>
                        <p>{{ item.short_description }}</p>
                        <p class="plg-prices text-danger"><span class="font-weight-bold text-dark">{{ 'admin.store.plugin.price'|trans }} </span> {{ item.price|price }}<small> ({{ 'common.tax_include'|trans }})</small></p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-7">
                        {{ include('@admin/Store/plugin_detail_info.twig') }}
                    </div>
                    <div class="col-5 text-right">
                        {% if item.contact_url %}
                        <a class="btn btn-ec-regular btn-lg mb-3" href="{{ item.contact_url }}" target="_blank"><i class="fa fa-image fa-lg text-secondary"></i> {{ 'admin.store.plugin_owners_search.modal.contact'|trans }}</a>{ }}
                        {% endif %}
                        {% if item.manual_url %}
                        <a class="btn btn-ec-regular btn-lg" href="{{ item.manual_url }}" target="_blank"><i class="fa fa-image fa-lg text-secondary"></i> {{ 'admin.store.plugin_owners_search.modal.manual'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% set version_check = item.version_check  %}
                        {% if version_check == 0 %}
                        <div class="alert alert-danger border border-danger">
                                <p class="text-danger mb-1">{{ 'admin.store.plugin_owners_search.modal.note'|trans({"%version%": constant('Eccube\\Common\\Constant::VERSION') }) }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <div class="col-12">
                        {{ item.long_description|raw }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form action="{{ eccube_config.eccube_owners_store_url }}/gateway/purchase/?product_id={{ item.id }}" method="post" target="_blank">
                <button type="button" class="btn btn-ec-sub" data-dismiss="modal">{{ 'admin.store.plugin_owners_search.modal.cancel'|trans }}</button>
                {% if item.update_status == 1 %}
                    <a href="{{ url('admin_store_plugin_install_confirm', {'id': item.id}) }}" class="btn btn-primary">
                        {{ 'admin.store.plugin_owners_search.install.free'|trans }}
                    </a>
                {% elseif item.update_status == 2 %}
                    <a href="#" class="btn btn-ec-regular">{{ 'admin.store.plugin.installed'|trans }}</a>
                {% elseif item.update_status == 3 %}
                    <a href="{{ url('admin_store_plugin_install_confirm', {'id': item.id}) }}" class="btn btn-primary">
                        {{ 'admin.store.plugin.update'|trans }}
                    </a>
                {% elseif item.update_status == 4 %}
                    <input type="hidden" name="mode" value="link_site" />
                    <input type="hidden" name="public_key" value="{{ BaseInfo.authentication_key }}" />
                    <input type="submit" class="btn btn-primary" value="{{ 'admin.store.plugin_owners_search.install.fee'|trans }}" />
                {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>