{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_search'] %}

{% block title %}オーナーズストア{% endblock %}
{% block sub_title %}プラグインを探す{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/masonry.pkgd.min.js', 'admin') }}"></script>
    <script>
        $(function() {
            $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-item'
            });

            $('a.searchPluginModal').on('click', function (e) {
                e.preventDefault();
                var obj = $(this);
                var id = obj.attr('data-id');
                $.ajax({
                    type: 'GET',
                    dataType: 'jsonp',
                    crossDomain: true,
                    url: '{{ url_detail }}' + id,
                    success: function (data) {
                        showPopup(obj, data, id);
                    },
                    error: function () {
                        alert('Plugin not found !');
                    }
                });
            });

            function showPopup(obj, data, id) {
                var modal_plugin = $('#searchPluginModal');
                var btn_html = obj.closest('div').find('#plugin-id-' + id).get(0).outerHTML;

                $('#search_plugin_modal_box__body .detail', modal_plugin).html(data);
                $('#search_plugin_modal_box__buttons', modal_plugin).html(btn_html);
                modal_plugin.modal('show');
            }
        });

    </script>
{% endblock javascript %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">検索結果</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if success == 1 %}
                                <div class="plugin-block">
                                    <div class="row">
                                        {% for item in promotionItems %}
                                            <div class="col-xs-12">
                                                {{ include('Store/plugin_owners_search.twig') }}
                                            </div>
                                        {% endfor %}
                                    </div><!-- .row -->
                                    <div class="row grid">
                                        {% for item in items %}
                                            <div class="col-xs-12 grid-item">
                                                {{ include('Store/plugin_owners_search.twig') }}
                                            </div>
                                        {% endfor %}
                                    </div><!-- .row -->
                                </div><!-- .plugin-block -->
                            {% else %}
                                <p class="text-danger">{{ message }}</p>
                            {% endif %}
                        </div><!-- .col-xs-12 -->
                    </div><!-- .row -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="searchPluginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div id="search_plugin_modal_box" class="modal-content">
                <div id="search_plugin_modal_box__header" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-close" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div id="search_plugin_modal_box__body" class="modal-body" style="background: #fff">
                    <div class="detail">

                    </div>
                </div>
                <div id="search_plugin_modal_box__buttons" class="modal-footer" style="background: #fff"></div>
            </div>
        </div>
    </div>
{% endblock %}
