{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'template', 'template_list'] %}

{% block title %}{{'admin.store.template.924'|trans}}{% endblock %}
{% block sub_title %}{{'admin.store.template.925'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div class="row" id="aside_wrap">
        <form name="form1" id="form1" method="post" action="{{ url('admin_store_template') }}">
        {{ form_widget(form._token) }}
        {{ form_widget(form.selected) }}
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{'admin.store.template.926'|trans}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table_list">
                        <div class="table-responsive with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{'admin.store.template.927'|trans}}</th>
                                    <th>{{'admin.store.template.928'|trans}}</th>
                                    <th>{{'admin.store.template.929'|trans}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Template in Templates %}
                                <tr>
                                    <td>
                                        <input type="radio" name="template" value="{{ Template.id }}" {% if eccube_config.eccube_theme_code == Template.code %}checked="checked"{% endif %}/>
                                    </td>
                                    <td>{{ Template.name }}</td>
                                    <td>
                                        <ul>
                                            <li>app/template/{{Template.code }}</li>
                                            <li>html/template/{{ Template.code }}</li>
                                        </ul>
                                    </td>
                                    <td class="icon_edit">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="{{ url('admin_store_template_download', { 'id' : Template.id }) }}" >{{'admin.store.template.930'|trans}}</a></li>
                                                {% if Template.default_template %}
                                                    <li>
                                                        <a>{{'admin.store.template.931'|trans}}</a>
                                                    </li>
                                                {% else %}
                                                        <li><a href="{{ url('admin_store_template_delete', { 'id': Template.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="{{'admin.store.template.932'|trans}}">{{'common.label.delete'|trans}}</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-3" id="aside_column">
            <div id="common_box" class="col_inner">
                <div class="box no-header">
                    <div class="box-body">
                        <div class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg"
                                        onclick="$('#form_selected').val($('input[name=template]:checked').val());document.form1.submit(); return false;">{{'admin.store.template.933'|trans}}</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col -->
        </form>
    </div>

{% endblock %}