{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="card-body p-0">
    <table class="table table-sm">
        <thead>
        <tr>
            <th class="border-top-0 pl-3 pt-2 pb-2">{{'admin.store.unregistered_plugin_table.941'|trans}}</th>
            <th class="border-top-0 pt-2 pb-2">{{'admin.store.unregistered_plugin_table.942'|trans}}</th>
            <th class="border-top-0 pt-2 pb-2">{{'admin.store.unregistered_plugin_table.943'|trans}}</th>
            <th class="border-top-0 pt-2 pb-2">{{'admin.store.unregistered_plugin_table.944'|trans}}</th>
            <th class="border-top-0 pt-2 pb-2">{{'admin.store.unregistered_plugin_table.945'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% for Plugin in Plugins %}
            <form id="{{ Plugin.name }}" name="{{ Plugin.name }}" method="post" action="">
                <tr class="{% if Plugin.enabled == false %}active{% endif %}">
                    {% if Plugin.name is defined %}
                        <td class="align-middle pl-3">
                            <strong>{{ Plugin.name }}</strong>
                        </td>
                    {% else %}
                        <td class="align-middle pl-3">
                            <strong>{{'admin.store.unregistered_plugin_table.946'|trans}}</strong>
                        </td>
                    {% endif %}
                    {% if Plugin.version is defined %}
                        <td class="align-middle">{{ Plugin.version }}</td>
                    {% else %}
                        <td class="align-middle">{{'admin.store.unregistered_plugin_table.947'|trans}}</td>
                    {% endif %}
                    {% if Plugin.code is defined %}
                        <td class="align-middle"><p>{{ Plugin.code }}</p>
                            {% if attribute(app.config[Plugin.code].const, 'readme') is defined %}
                                <a href="#" class="view_readme" data-toggle="modal" data-target="#readmeModal" data-name="{{ Plugin.name }}" data-readme="{{ attribute(app.config[Plugin.code].const, 'readme')  }}">{{ 'admin.store.plugin_table.897'|trans }}</a>
                            {% endif %}
                        </td>
                    {% else %}
                        <td class="align-middle">{{'admin.store.unregistered_plugin_table.949'|trans}}</td>
                    {% endif %}
                    <td class="align-middle">
                        &nbsp;-&nbsp;
                    </td>
                    <td class="align-middle">
                        {% if unregisteredPluginsConfigPages[Plugin.code] is defined %}
                            <a href='{{ unregisteredPluginsConfigPages[Plugin.code]}}'>{{'admin.store.unregistered_plugin_table.950'|trans}}</a>
                        {% else %}
                            &nbsp;-&nbsp;
                        {% endif %}
                    </td>
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>
</div>
