{% extends 'site_main.twig' %}

{% block main %}

<div id="undercolumn">
    <div id="undercolumn_entry">
        <h2 class="title">{{ title }}</h2>
        <p class="message">【重要】 会員登録をされる前に、下記ご利用規約をよくお読みください。</p>
        <p>
            規約には、本サービスを使用するに当たってのあなたの権利と義務が規定されております。<br />
            「同意して会員登録へ」ボタンをクリックすると、あなたが本規約の全ての条件に同意したことになります。
        </p>

        <form name="form1" id="form1" method="post" action="?">
            {{ form_widget(form._token) }}
            <textarea name="textfield" class="kiyaku_text" cols="80" rows="30" readonly="readonly">
                {{ kiyaku }}
            </textarea>

            <div class="btn_area">
                <ul>
                    <li>
                        <a href="{{ url('index') }}">
                            <img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_entry_cannot.jpg" alt="同意しない" />
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('entry') }}">
                            <img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_entry_agree.jpg" alt="同意して会員登録へ" />
                        </a>
                    </li>
                </ul>
            </div>

        </form>
    </div>
</div>

{% endblock %}