{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!DOCTYPE html>
<html lang="{{ eccube_config.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('img/common/favicon.ico', 'install') }}">
    <title>{{ 'install.title'|trans }}</title>
    <link href="{{ asset('dist/css/bootstrap.min.css', 'install') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/dashboard.css', 'install') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/ie10-viewport-bug-workaround.js', 'install') }}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="wrapper">
    <!-- ▼ #header ▼ -->
    <header id="header" role="navigation">
        <div class="navbar">
            <div class="logo" href="./"><svg class="cb cb-logomark"><use xlink:href="#cb-logomark" /></svg><svg class="cb cb-logotext"><use xlink:href="#cb-logotext" /></svg></div>
        </div>
    </header>
    <!-- ▲ #header ▲ -->
    <div class="main_wrap">
        <!-- ▼ #side ▼ -->
        <aside id="side">
            <div class="step_nav">
                <ol>
                    <li{% if current >= 1 %} class="current"{% endif %}><span class="number">1</span>{{ 'install.welcom'|trans }}</li>
                    <li{% if current >= 2 %} class="current"{% endif %}><span class="number">2</span>{{ 'install.check_permission'|trans }}</li>
                    <li{% if current >= 3 %} class="current"{% endif %}><span class="number">3</span>{{ 'install.site_configuration'|trans }}</li>
                    <li{% if current >= 4 %} class="current"{% endif %}><span class="number">4</span>{{ 'install.database_configuration'|trans }}</li>
                    <li{% if current >= 5 %} class="current"{% endif %}><span class="number">5</span>{{ 'install.database_initalization'|trans }}</li>
                    <li{% if current >= 6 %} class="current"{% endif %}><span class="number">6</span>{{ 'install.install_completed'|trans }}</li>
                </ol>
            </div>
        </aside>
        <!-- ▲ #side ▲ -->
        <!-- ▼ #main ▼ -->
        {% block main %}{% endblock %}
        <!-- ▲ #main ▲ -->
    </div>

</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('assets/js/vendor/jquery-1.11.3.min.js', 'install') }}"><\/script>')</script>
<script src="{{ asset('dist/js/bootstrap.min.js', 'install') }}"></script>
<script src="{{ asset('assets/js/function.js', 'install') }}"></script>

</body>
</html>
