{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'frame.twig' %}

{% set current = 2 %}

{% block main %}
    <div id="main" class="step2">
        <div class="main_inner">
            <div class="main_content">
                <div class="page-header">
                    <h1>{{ 'install.check_permission'|trans }}</h1>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control disp_area" name="disp_area">
{% if noWritePermissions|length == 0 %}
&gt;&gt;○：{{ 'install.permission_is_valid'|trans }}
{% else %}
{{ 'install.permission_is_invalid'|trans }}
{% for noWritePermission in noWritePermissions %}
&gt;&gt;☓：{{ noWritePermission }}
{% endfor %}
{% endif %}
                            </textarea>
                            <ul class="btn_area">
                                <li>
                                    {% if noWritePermissions|length > 0 %}
                                        <a href="{{ path('install_step2') }}" class="btn btn-primary btn-block btn-lg">{{ 'install.update'|trans }}</a>
                                    {% else %}
                                        <a href="{{ path('install_step3') }}" class="btn btn-primary btn-block btn-lg">{{ 'install.next'|trans }}</a>
                                    {% endif %}
                                </li>
                                <li><a href="{{ path('install_step1') }}" class="btn btn-link btn-block btn-lg">{{ 'install.back'|trans }}</a></li>
                            </ul>
                        </div><!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}