{%- extends 'form_table_layout.html.twig' -%}

{%- block form_widget_compound -%}
    <table {{ block('widget_container_attributes') }}>
        <col width="30%" />
        <col width="70%" />
        {%- if form.parent is empty and errors|length > 0 -%}
        <tr>
            <td colspan="2">
                {{- form_errors(form) -}}
            </td>
        </tr>
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </table>
{%- endblock form_widget_compound -%}

{%- block form_row -%}
    <tr>
        <th>
            {{- form_label(form) -}}
            {% if form.vars.required %}<span class="attention">※</span>{% endif %}
        </th>
        <td>
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </td>
    </tr>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <span class="attention">※ {{ error.messageTemplate|trans(error.messageParameters, 'validators')|replace({'{{ field }}': label}) }}<br /></span>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{# Widgets #}

{%- block form_widget -%}
    {{- parent() -}}
    {%- if freeze == false -%}
        {%- if help is defined and help is not empty -%}
            <p class="mini"><span class="attention">{{ help|trans({}, translation_domain) }}</span></p>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_widget -%}

{%- block form_widget_simple -%}
    {%- if freeze -%}
        {%- set type = 'hidden' -%}
        {{- value|nl2br|default('') -}}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{%- block widget_attributes -%}
    {%- if errors|length > 0 -%}
        {%- set style = 'background-color:#ffe8e8;' -%}
        {%- if attr -%}
            {%- if attr['style'] is defined and attr['style']|length > 0 -%}
                {%- set style = style~' '~attr['style'] -%}
            {%- endif -%}
            {%- set attr = attr|merge({'style': style}) -%}
        {%- else -%}
            {%- set attr = {'style': style} -%}
        {%- endif -%}
    {%- endif -%}
    id="{{ id }}" name="{{ full_name }}"{%- if read_only -%} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif -%}
    {%- for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor -%}
{%- endblock widget_attributes -%}

{%- block textarea_widget -%}
    {%- if freeze -%}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        {{- parent() -}}
        {%- if help is defined and help is not empty -%}
            <p class="mini"><span class="attention">{{ help|trans({}, translation_domain) }}</span></p>
        {%- endif -%}
    {%- endif -%}
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    {% if freeze %}
        {% for choice in choices %}
            {% if choice is selectedchoice(value) %}
                {{ choice.label|trans({}, translation_domain) }}
                <input type="hidden" value="{{ choice.value }}" {{ block('widget_attributes') }}>
            {% endif %}
        {% endfor %}
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock choice_widget_collapsed -%}

{%- block checkbox_widget -%}
    {%- if freeze -%}
        {%- if checked -%}
            {{ block('form_label') }}
            <input type="hidden" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
        {%- endif -%}
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {%- if freeze -%}
        {%- if checked -%}
            {{ block('form_label') }}
            <input type="hidden" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
        {%- endif -%}
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock radio_widget -%}



{# EC-CUBE Widget #}

{%- block name_widget -%}
    {%- for child in form %}
        {{- form_errors(child) -}}
    {% endfor -%}
    {%- for child in form %}
        {{- form_label(child) }}&nbsp;{{ form_widget(child, {'attr': {'class': 'box120', 'style': 'ime-mode: active;'}}) -}}
        {%- if loop.last == false%}　{% endif -%}
    {% endfor -%}
{%- endblock name_widget -%}

{%- block tel_widget -%}
    {%- for child in form %}
        {{- form_errors(child) -}}
    {% endfor -%}
    {%- for child in form %}
        {{- form_widget(child, {'attr': {'class': 'box60', 'style': 'ime-mode: disabled;'}}) -}}
        {%- if loop.last == false%}&nbsp;-&nbsp;{% endif -%}
    {% endfor -%}
{%- endblock tel_widget -%}

{%- block zip_widget -%}
    {%- for child in form %}
        {{- form_errors(child) -}}
    {% endfor -%}
    {%- if freeze -%}
        〒&nbsp;{{ form_widget(form[form.vars.zip01_name]) }}&nbsp;-&nbsp;{{- form_widget(form[form.vars.zip02_name]) }}
    {%- else -%}
        <p class="top">
            〒&nbsp;{{ form_widget(form[form.vars.zip01_name], {'attr': {'class': 'box60', 'style': 'ime-mode: disabled;'}}) }}&nbsp;-&nbsp;
            {{- form_widget(form[form.vars.zip02_name], {'attr': {'class': 'box60', 'style': 'ime-mode: disabled;'}}) }}　
            <a href="http://search.post.japanpost.jp/zipcode/" target="_blank"><span class="mini">郵便番号検索</span></a>
        </p>
        <p class="zipimg">
            <a href="javascript:eccube.getAddress('{{ path('input_zip') }}', 'zip01', 'zip02', 'pref', 'addr01');">
                <img src="{{ app.config.tpl }}img/button/btn_address_input.jpg" alt="住所自動入力" /></a>
            <span class="mini">&nbsp;郵便番号を入力後、クリックしてください。</span>
        </p>
    {%- endif -%}
{%- endblock zip_widget -%}

{%- block address_widget -%}
    {%- for child in form %}
        {{- form_errors(child) -}}
    {% endfor -%}
    {{- form_widget(form[form.vars.pref_name]) -}}
    {%- if freeze -%}
        {{- form_widget(form[form.vars.addr01_name]) -}}
        {{- form_widget(form[form.vars.addr02_name]) -}}
    {%- else -%}
        <p>
            {{- form_widget(form[form.vars.addr01_name], {'attr': {'class': 'box380', 'style': 'ime-mode: active;'}}) -}}<br />
            {{ app.config.sample_address1 }}
        </p>
        <p>
            {{- form_widget(form[form.vars.addr02_name], {'attr': {'class': 'box380', 'style': 'ime-mode: active;'}}) -}}<br />
            {{ app.config.sample_address2 }}
        </p>
        {%- if help is defined and help is not empty -%}
            <p class="mini"><span class="attention">{{ help|trans({}, translation_domain) }}</span></p>
        {%- endif -%}
    {%- endif -%}
{%- endblock address_widget -%}

{% block sex_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <li>
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {# choice widgetにそのままselectタグを出力させる #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}