{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% if is_granted('ROLE_USER') %}
<script type="text/javascript">//<![CDATA[
    $(function(){
        var $login_email = $('#header_login_area input[name=login_email]');

        if (!$login_email.val()) {
            $login_email
                .val('メールアドレス')
                .css('color', '#AAA');
        }

        $login_email
            .focus(function() {
                if ($(this).val() == 'メールアドレス') {
                    $(this)
                        .val('')
                        .css('color', '#000');
                }
            })
            .blur(function() {
                if (!$(this).val()) {
                    $(this)
                        .val('メールアドレス')
                        .css('color', '#AAA');
                }
            });

        $('#header_login_form').submit(function() {
            if (!$login_email.val()
                || $login_email.val() == 'メールアドレス') {
                if ($('#header_login_area input[name=login_pass]').val()) {
                    alert('メールアドレス/パスワードを入力して下さい。');
                }
                return false;
            }
            return true;
        });
    });
//]]></script>
{% endif %}
    <div class="block_outer">
        <div id="header_login_area" class="clearfix">
            <form name="header_login_form" id="header_login_form" method="post" action="{{ path('login_check') }}"
            {% if is_granted('ROLE_USER') %}
                onsubmit="return eccube.checkLoginFormInputted('header_login_form')"
            {% endif %}
            >
                <div class="block_body clearfix">
                    {% if is_granted('ROLE_USER') %}
                        <p class="btn">
                            ようこそ <span class="user_name">{{ app.user.name01 }} {{ app.user.name02 }} 様</span>
                            {% if app.config.use_point %}
                                / 所持ポイント: <span class="point"> {{ app.user.point|default(0) }} pt</span>&nbsp;&nbsp;
                            {% endif %}
                            {% if disableLogout %}
                                <a href="{{ path('logout') }}">
                                    <img class="hover_change_image" src="{{ app.config.tpl }}img/common/btn_header_logout.jpg" alt="ログアウト" />
                                </a>
                            {% endif %}
                        </p>
                    {% else %}
                        <ul class="formlist clearfix">
                            <li class="mail">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                {{ form_widget(form.login_email, {'attr': {'class': "box150", 'style': 'ime-mode: disabled;'}}) }}
                            </li>
                            <li class="login_memory">
                                {{ form_widget(form.login_memory) }}
                            </li>
                            <li class="password">
                                {{ form_widget(form.login_pass, {'attr': {'class': 'box100'}}) }}
                            </li>
                            <li class="btn">
                                <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/common/btn_header_login.jpg" />
                            </li>
                            <li class="forgot">
                                <a href="{{ path('forgot') }}" onclick="eccube.openWindow('{{ url('forgot') }}','forget','600','400',{scrollbars:'no',resizable:'no'}); return false;" target="_blank">パスワードを忘れた方</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
