{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
    {% if BestProducts|length > 0 %}
        <div class="block_outer clearfix">
            <div id="recommend_area">
                <h2><img src="{{ app.config.tpl }}img/title/tit_bloc_recommend.png" alt="*" class="title_icon" /></h2>
                <div class="block_body clearfix">
                    {% for BestProduct in BestProducts %}
                        <div class="product_item clearfix">
                            <div class="productImage">
                                <a href="{{ path('product_detail', { productId : BestProduct.Product.id}) }}">
                                    <img src="{{ app.config.image_save_urlpath }}{{ BestProduct.Product.main_list_image }}" style="max-width: 80px;max-height: 80px;" alt="{{ BestProduct.Product.name }}" />
                                </a>
                            </div>
                            <div class="productContents">
                                <h3>
                                    <a href="{{ path('product_detail', { productId : BestProduct.Product.id }) }}">{{ BestProduct.Product.name }}</a>
                                </h3>
                                <p class="sale_price">
                                    {{ app.config.sale_price_title }}(税込)： <span class="price"> {{ BestProduct.Product.price02_inc_tax_min}} 円</span>
                                </p>
                                <p class="mini comment">{{ BestProduct.comment|nl2br }}</p>
                            </div>
                        </div>
                        {% if loop.index is even %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
