{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block main %}
<div id="mypagecolumn">
    <h2 class="title">{{ title }}</h2>
    {% include 'Mypage/navi.twig' %}
    <div id="mycontents_area">
        <h3 class="title">{{ subtitle }}</h3>
        <p class="inforamtion">登録住所以外への住所へ送付される場合等にご利用いただくことができます。<br />
        ※最大<span class="attention">{{ app.config.deliv_addr_max }}件</span>まで登録できます。</p>

        {% if Customer.OtherDelivs|length < app.config.deliv_addr_max %}
            <p class="add_address">
                <a href="{{ path('mypage_delivery_address') }}" onclick="eccube.openWindow('{{ path('mypage_delivery_address') }}','delivadd','600','640',{menubar:'no'}); return false;" target="_blank"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_add_address.jpg" alt="新しいお届け先を追加" /></a>
            </p>
        {% endif %}

        {% if Customer.OtherDelivs|length > 0 %}
            <form name="form1" id="form1" method="post" action="{{ path('mypage_delivery') }}" >
                <input type="hidden" name="mode" value="" />
                <input type="hidden" name="other_deliv_id" value="" />
                {{ form_widget(form) }}

                <table summary="お届け先">
                    <col width="5%" />
                    <col width="25%" />
                    <col width="50%" />
                    <col width="10%" />
                    <col width="10%" />
                    <tr>
                        <th colspan="5">お届け先</th>
                    </tr>
                    {% for OtherDeliv in Customer.OtherDelivs %}
                        <tr>
                            <td class="alignC">{{ loop.index }}</td>
                            <td><label for="add{{ loop.index }}">お届け先住所</label></td>
                            <td>
                                {% if app.config.form_country_enable %}
                                    {{ OtherDeliv.Country }}<br/>
                                {% endif %}
                                〒{{ OtherDeliv.zip01 }}-{{ OtherDeliv.zip02 }}<br />
                                {{ OtherDeliv.Pref }}{{ OtherDeliv.addr01 }}{{ OtherDeliv.addr02 }}<br />
                                {% if OtherDeliv.company_name is not empty %}{{ OtherDeliv.company_name }}&nbsp;{% endif -%}
                                {{ OtherDeliv.name01 }}&nbsp;{{ OtherDeliv.name02 }}
                            </td>
                            <td class="alignC">
                                <a href="{{ path('mypage_delivery_address', {'other_deliv_id': OtherDeliv.id}) }}" onclick="eccube.openWindow('{{ path('mypage_delivery_address', {'other_deliv_id': OtherDeliv.id}) }}','deliv_disp','600','640'); return false;">変更</a>
                            </td>
                            <td class="alignC">
                                <a href="#" onclick="eccube.setModeAndSubmit('delete','other_deliv_id','{{ OtherDeliv.id }}'); return false;">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        {% else %}
            <p class="delivempty"><strong>新しいお届け先はありません。</strong></p>
        {% endif %}
    </div>
</div>
{% endblock %}
