{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'popup.twig' %}

{% set subtitle='新しいお届け先の追加・変更' %}

{% block onload %}
    {% if app.session.flashBag.get('mypage_delivery_address.just_added') %}
        eccube.changeParentUrl('{{ parentPage }}');
        window.close();
    {% endif %}
{% endblock %}

{% block main %}
<div id="window_area">
    <h2 class="title">{{ title }}</h2>
    <p>下記項目にご入力ください。「<span class="attention">※</span>」印は入力必須項目です。<br />
        入力後、一番下の「登録する」ボタンをクリックしてください。</p>

    <form name="form1" id="form1" method="post" action="?">
        <input type="hidden" name="other_deliv_id" value="{{ app.request.get('other_deliv_id') }}" />
        <input type="hidden" name="parent_page" value="{{ parentPage }}" />
        {{ form_widget(form) }}
        <div class="btn_area">
            <ul>
                <li>
                    <a class="btn-action single_click" href="javascript:" onclick="eccube.setValueAndSubmit('form1', 'mode', 'edit'); return false;">
                        <img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_add_address_complete.jpg" alt="登録する" />
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>
{% endblock %}
