{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'delivery' %}

{% set body_class = 'mypage' %}

{% block main %}
    <h1 class="page-heading">マイページ</h1>
    <div class="container-fluid">

        {{ include('Mypage/navi.twig') }}

        <h2 class="heading01">お届け先編集</h2>
        <div class="row">
            <div class="col-md-12">
                <p class="intro"><strong>{{ Customer.CustomerAddresses|length }}件</strong>のお届け先があります。</p>
                    <div id="deliveradd_select" class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <p>
                                <a href="{{ url('mypage_delivery_new') }}">
                                    <button class="btn btn-default btn-sm">新規お届け先を追加する</button>
                                </a>
                            </p>

                            {% if Customer.CustomerAddresses|length > 0 %}
                            <div class="table address_table">
                                <div class="tbody">

                                    {% for CustomerAddress in Customer.CustomerAddresses %}
                                        <div class="addr_box tr">
                                            <div class="icon_edit td">
                                                <a href="{{ url('mypage_delivery_delete', { id : CustomerAddress.id }) }}">
                                                    <svg class="cb cb-close"><use xlink:href="#cb-close" /></svg>
                                                </a>
                                            </div>
                                            <div class="column is-edit td">
                                                <label for="address01">
                                                <p class="address">
                                                    {{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}<br>
                                                    〒{{ CustomerAddress.zip01 }}-{{ CustomerAddress.zip02 }}　{{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}<br>
                                                    {{ CustomerAddress.tel01 }}-{{ CustomerAddress.tel02 }}-{{ CustomerAddress.tel03 }}</p>
                                                </label>
                                                <p class="btn_edit">
                                                    <a href="{{ url('mypage_delivery_edit', { id : CustomerAddress.id }) }}">
                                                        <button class="btn btn-default btn-sm">変更</button>
                                                    </a>
                                                </p>
                                            </div>
                                        </div><!--/addr_box-->
                                    {% endfor %}

                                </div>
                            </div><!--/table-->
                            {% endif %}

                        </div>
                    </div><!-- /.row -->

            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
{% endblock %}
