{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block main %}
<div id="mypagecolumn">
    <h2 class="title">{{ title }}</h2>
    {% include 'Mypage/navi.twig' %}
    <div id="mycontents_area">
        <form name="form1" id="form1" method="post" action="{{ path('mypage_favorite')}}">
            <input type="hidden" name="mode" value="" />
            <input type="hidden" name="pageno" value="{{ app.request.get('pageno') }}" />
            <input type="hidden" name="product_id" value="" />
            <h3>{{ subtitle }}</h3>

            {% if pagination.totalItemCount > 0 %}
                <p><span class="attention">{{ pagination.totalItemCount }}件</span>のお気に入りがあります。</p>
                <div class="paging">
                    <!--▼ページナビ-->
                    {% include "pagination.twig" with {'pages': pagination.paginationData} %}
                    <!--▲ページナビ-->
                </div>

                <table summary="お気に入り">
                    <col width="15%" />
                    <col width="20%" />
                    <col width="45%" />
                    <col width="20%" />
                    <tr>
                        <th class="alignC">削除</th>
                        <th class="alignC">商品画像</th>
                        <th class="alignC">商品名</th>
                        <th class="alignC">{{ app.config.sale_price_title }}(税込)</th>
                    </tr>
                    {% for Product in pagination %}
                        <tr>
                            <td class="alignC">
                                <a href="javascript:eccube.setModeAndSubmit('delete_favorite','product_id','{{ Product.id |escape('js')}}');">
                                    削除</a>
                            </td>
                            <td class="alignC">
                                <a href="{{ path('product_detail', {'productId': Product.id}) }}">
                                    <img src="{{ app.config.image_path }}{{ Product.main_list_image|no_image_product }}" style="max-width: 65px;max-height: 65px;" alt="{{ Product.name }}" />
                            </td>
                            <td>
                                <a href="{{ path('product_detail', {'productId': Product.id}) }}">
                                    {{ Product.name }}</a>
                            </td>
                            <td class="alignR sale_price">
                                <span class="price">
                                    {% if Product.price02_inc_tax_min == Product.price02_inc_tax_max %}
                                        {{ Product.price02_inc_tax_min|number_format }}
                                    {% else %}
                                        {{ Product.price02_inc_tax_min|number_format }}～{{ Product.price02_inc_tax_max|number_format }}
                                    {% endif %}円</span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br />
            {% else %}
                <p>お気に入りが登録されておりません。</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
