{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block javascript %}
    <script>
        $(function(){
            $(".title").on("click", function(){
                $(this).next().slideToggle();
            });
            $(".close").on("click", function(){
                $(this).parent().slideToggle();
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>マイページ/ご注文履歴詳細</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>

        <div class="ec-orderRole">
            <div class="ec-orderRole__detail">
                <div class="ec-orderOrder">
                    <div class="ec-definitions">
                        <dt>ご注文日時：</dt>
                        <dd>{{ Order.create_date|date("Y/m/d H:i:s") }}</dd>
                    </div>
                    <div class="ec-definitions">
                        <dt>ご注文番号：</dt>
                        <dd>{{ Order.id }}</dd>
                    </div>
                    {% if BaseInfo.option_mypage_order_status_display %}
                        <div class="ec-definitions">
                            <dt>ご注文状況：</dt>
                            <dd>{{ Order.CustomerOrderStatus }}</dd>
                        </div>
                    {% endif %}
                    <div class="ec-orderOrder__items">
                        {% set remessage = '' %}
                        {% for OrderItem in Order.OrderItems %}
                            <div class="ec-imageGrid">
                                <div class="ec-imageGrid__img">
                                    {% if OrderItem.Product is null %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" />
                                    {% else %}
                                        {% if OrderItem.enable %}
                                            <a href="{{ url('product_detail', { id : OrderItem.Product.id } ) }}">
                                                <img src="{{ app.config.image_save_urlpath }}/{{ OrderItem.product.MainListImage|no_image_product }}" />
                                            </a>
                                        {% else %}
                                            <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="ec-imageGrid__content">
                                    <p>
                                        {% if OrderItem.Product is null %}
                                            {{ OrderItem.product_name }}
                                        {% else %}
                                            {% if OrderItem.enable %}
                                                <a href="{{ url('product_detail', {'id': OrderItem.Product.id}) }}">
                                                    {{ OrderItem.product_name }}
                                                </a>
                                            {% else %}
                                                {{ OrderItem.product_name }}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    {% if OrderItem.classcategory_name1 is not empty %}
                                        {{ OrderItem.classcategory_name1 }}
                                    {% endif %}
                                    {% if OrderItem.classcategory_name2 is not empty %}
                                        / {{ OrderItem.classcategory_name2 }}
                                    {% endif %}
                                    <p>{{ OrderItem.price_inc_tax|price }} × {{ OrderItem.quantity|number_format }}</p>
                                    {% if OrderItem.product and OrderItem.price_inc_tax != OrderItem.productClass.price02IncTax %}
                                        <p class="ec-color-accent">【現在価格】{{ OrderItem.productClass.price02IncTax|price }}</p>
                                        {% set remessage = true %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ec-orderDelivery">
                    <div class="ec-rectHeading">
                        <h2>配送情報</h2>
                    </div>
                    {% set OrderItem = Order.OrderItems.0 %}
                    {% for Shipping in Order.Shippings %}
                        <div class="ec-orderDelivery__title">お届け先{% if Order.multiple %}({{ loop.index }}){% endif %}</div>
                        {% for orderItem in Shipping.orderItems %}
                            <div class="ec-orderDelivery__item">
                                <div class="ec-imageGrid">
                                    <div class="ec-imageGrid__img">
                                        {% if orderItem.product is null %}
                                            <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" />
                                        {% else %}
                                            {% if orderItem.product.enable %}
                                                <img src="{{ app.config.image_save_urlpath }}/{{ orderItem.product.MainListImage|no_image_product }}" alt="{{ orderItem.productName }}" />
                                            {% else %}
                                                <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" />
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="ec-imageGrid__content">
                                        <p>{{ orderItem.productName }} ×{{ orderItem.quantity }}</p>
                                        {% if orderItem.ProductClass is not null %}
                                            {% if orderItem.ProductClass.ClassCategory1 is not null %}
                                                {{ orderItem.productClass.classCategory1.className }}：{{ orderItem.productClass.classCategory1 }}
                                            {% endif %}
                                            {% if orderItem.ProductClass.ClassCategory2 %}
                                                <br>{{ orderItem.productClass.classCategory2.className }}：{{ orderItem.productClass.classCategory2 }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="ec-orderDelivery__address">
                            <p>{{ Shipping.name01 }}&nbsp;{{ Shipping.name02 }}&nbsp;
                                ({{ Shipping.kana01 }}&nbsp;{{ Shipping.kana02 }})&nbsp;様</p>
                            <p>〒{{ Shipping.zip01 }}-{{ Shipping.zip02 }}　{{ Shipping.Pref }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}</p>
                            <p>{{ Shipping.tel01 }}-{{ Shipping.tel02 }}-{{ Shipping.tel03 }}</p>
                        </div>
                        <div class="ec-definitions--soft">
                            <dt>配送方法：</dt>
                            <dd>{{ Shipping.shipping_delivery_name }}{{ Shipping.shipping_delivery_fee ? '（＋' ~ Shipping.shipping_delivery_fee|price ~ '）' : '' }}</dd>
                        </div>
                        <div class="ec-definitions--soft">
                            <dt>お届け日：</dt>
                            <dd>{{ Shipping.shipping_delivery_date|date_format|default('指定なし') }}</dd>
                        </div>
                        <div class="ec-definitions--soft">
                            <dt>お届け時間：</dt>
                            <dd>{{ Shipping.shipping_delivery_time|default('指定なし') }}</dd>
                        </div>

                </div>
                    {% endfor %}
                    <div class="ec-orderPayment">
                        <div class="ec-rectHeading">
                            <h2>お支払方法</h2>
                        </div>
                        <p>支払方法： {{ Order.PaymentMethod }}</p>
                    </div>
                    <div class="ec-orderConfirm">
                        <div class="ec-rectHeading">
                            <h2>お問い合わせ</h2>
                        </div>
                        <p>{{ Order.message|default('記載なし')|nl2br }}</p>
                    </div>
                    <div class="ec-orderMails">
                        <div class="ec-rectHeading">
                            <h2>メール配信履歴一覧</h2>
                        </div>
                        {% for MailHistory in Order.MailHistories %}
                            <div class="ec-orderMail">
                                <div class="ec-orderMail__time">{{ MailHistory.send_date|date("Y/m/d H:i:s") }}</div>
                                <div class="ec-orderMail__link"><a>{{ MailHistory.subject }}</a></div>
                                <pre class="ec-orderMail__body" style="display: none;">
                                    {{ MailHistory.mail_body|nl2br }}
                                    <p class="ec-orderMail__close"><a>閉じる</a></p></pre>
                            </div>
                        {% else %}
                            <p class="ec-reportDescription">メール履歴がありません。</p>
                        {% endfor %}
                        <a href="{{ url('mypage') }}" class="ec-inlineBtn">戻る</a>
                    </div>
            </div>
            <div class="ec-orderRole__summary">
                <div class="ec-totalBox">
                    <dl class="ec-totalBox__spec">
                        <dt>小計</dt>
                        <dd>{{ Order.subtotal|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>手数料</dt>
                        <dd>{{ Order.charge|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>送料</dt>
                        <dd>{{ Order.delivery_fee_total|price }}</dd>
                    </dl>
                    <div class="ec-totalBox__total">合計<span class="ec-totalBox__price">{{ Order.payment_total|price }}</span><span class="ec-totalBox__taxLabel">税込</span></div>
                    <a href="{{ url('mypage_order', {'id': Order.id }) }}" class="ec-blockBtn--action" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">再注文する</a>

                </div>
                {% if remessage %}
                    <p class="ec-color-accent">
                        <strong>※金額が変更されている商品があるため、再注文時はご注意ください。</strong>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
