{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block javascript %}
<script>
    $(function(){
        $(".title").on("click", function(){
            $(this).next().slideToggle();
        });
        $(".close").on("click", function(){
            $(this).parent().slideToggle();
        });
    });
</script>
{% endblock %}
{% block main %}
    <h1 class="page-heading">マイページ</h1>
    <div class="container-fluid">

        {% include 'Mypage/navi.twig' %}

        <h2 class="heading01">ご注文履歴詳細</h2>
        <div class="row">
            <div class="col-md-12">
                <dl class="order_detail">
                    <dt>ご注文日時：</dt><dd>{{ Order.create_date|date("Y/m/d H:i:s") }}</dd>
                    <dt>ご注文番号：</dt><dd>{{ Order.id }}</dd>
                    {% if BaseInfo.option_mypage_order_status_display %}
                        <dt>ご注文状況：</dt>
                        <dd>{{ Order.CustomerOrderStatus }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>

        <div id="shopping_confirm" class="row">
            <div id="confirm_main" class="col-sm-8">
                <div class="cart_item table">
                    <div class="tbody">

                        {% for OrderDetail in Order.OrderDetails %}
                            <div class="item_box tr">
                                <div class="td table">
                                    <div class="item_photo">
                                        <a href="{{ url('product_detail', { id : OrderDetail.Product.id } ) }}">
                                            <img src="{{ app.config.image_save_urlpath }}/{{ OrderDetail.Product.mainFileName|no_image_product }}">
                                        </a>
                                    </div>
                                    <dl class="item_detail">
                                        <dt class="item_name text-default">
                                            {% if OrderDetail.enable %}
                                                <a href="{{ url('product_detail', {'productId': OrderDetail.Product.id}) }}">
                                            {% endif %}
                                                    {{ OrderDetail.product_name }}
                                            {% if OrderDetail.enable %}
                                                </a>
                                            {% endif %}
                                        </dt>
                                        <dd class="item_pattern small">
                                            {% if OrderDetail.classcategory_name1 is not empty %}
                                                {{ OrderDetail.classcategory_name1 }}
                                            {% endif %}
                                            {% if OrderDetail.classcategory_name2 is not empty %}
                                                / {{ OrderDetail.classcategory_name2 }}
                                            {% endif %}
                                        </dd>
                                        <dd class="item_price">{{ OrderDetail.price_inc_tax|price }} × {{ OrderDetail.quantity }}</dd>
                                        <dd class="item_subtotal">小計：{{ OrderDetail.total_price|price }}</dd>
                                    </dl>
                                </div>
                            </div><!--/item_box-->
                        {% endfor %}

                    </div>
                </div><!--/cart_item-->

                <h2 class="heading02">お客様情報</h2>
                {% set OrderDetail = Order.OrderDetails.0 %}
                {% for Shipping in Order.Shippings %}
                    <div class="column">
                        <p class="address">
                            {{ Shipping.name01 }}&nbsp;{{ Shipping.name02 }}&nbsp;
                            ({{ Shipping.kana01 }}&nbsp;{{ Shipping.kana02 }})&nbsp;様<br>
                            〒{{ Shipping.zip01 }}-{{ Shipping.zip02 }}　{{ Shipping.Pref }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}<br>
                            {{ Shipping.tel01 }}-{{ Shipping.tel02 }}-{{ Shipping.tel03 }}
                        </p>
                        <p>
                            配送方法：　{{ Shipping.shipping_delivery_name }}（＋{{ Shipping.delivery_fee.fee|price }}）<br>
                            お届け日：　{{ Shipping.shipping_date|default('指定なし') }}<br>
                            お届け時間：　{{ Shipping.shipping_time|default('指定なし') }}
                        </p>
                    </div>
                {% endfor %}
                <h2 class="heading02">お支払方法</h2>
                <div class="column">
                    <p>
                        支払方法：　{{ Order.Payment }}
                    </p>
                </div>

                <h2 class="heading02">メール配信履歴一覧</h2>
                <div class="column mail_list">
                    {% for MailHistory in Order.MailHistories %}
                        <dl>
                            <dt>
                                <span class="date">{{ MailHistory.send_date|date("Y/m/d H:i:s") }}</span>
                            </dt>
                            <dd>
                                <span class="title">
                                    <a data-toggle="modal" data-target="#myModal{{ loop.index }}">{{ MailHistory.subject }}</a>
                                </span>
                                <p style="display: none;">
                                    {{ MailHistory.mail_body|nl2br }}<br>
                                    <span class="close"><a>閉じる</a></span>
                                </p>
                            </dd>
                        </dl>

                        <!-- Modal -->
                        {#<div class="modal" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
                            {#<div class="modal-dialog modal-lg">#}
                                {#<div class="modal-content">#}
                                    {#<div class="modal-header">#}
                                        {#<button type="button" class="close no-style" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg class="cb cb-close"><use xlink:href="#cb-close" /></svg></span></button>#}
                                        {#<h4 class="modal-title" id="myModalLabel">{{ MailHistory.subject }}</h4>#}
                                    {#</div>#}
                                    {#<div class="modal-body">#}
                                        {#<p>{{ MailHistory.mail_body|nl2br }}</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        <!-- Modal -->
                    {% else %}
                        メール履歴がありません。
                    {% endfor %}
                </div>


            </div><!-- /.col -->

            <div id="confirm_side" class="col-sm-4">
                <div class="total_box">
                    <dl>
                        <dt>小計</dt>
                        <dd>{{ Order.subtotal|price }}</dd>
                    </dl>
                    <dl>
                        <dt>手数料</dt>
                        <dd>{{ Order.charge|price }}</dd>
                    </dl>
                    <dl>
                        <dt>送料合計</dt>
                        <dd>{{ Order.delivery_fee_total|price }}</dd>
                    </dl>
                    {% if Order.discount > 0 %}
                        <dl>
                            <dt>値引き</dt>
                            <dd>
                                    &minus;{{ Order.discount|price }}
                            </dd>
                        </dl>
                    {% endif %}

                    <div class="total_amount">
                        <p class="total_price">合計 <strong class="text-primary">{{ Order.payment_total|price }}<span class="small">税込</span></strong></p>
                    </div>
                </div>

            </div>

        </div><!-- /.row -->

    </div>
{% endblock %}
