{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block main %}
<div id="mypagecolumn">
    <h2 class="title">{{ title }}</h2>
    {% include 'Mypage/navi.twig' %}
    <div id="mycontents_area">
        <h3>{{ subtitle }}</h3>
        <div class="mycondition_area clearfix">
            <p>
                <span class="st">購入日時：&nbsp;</span>{{ Order.create_date|date("Y/m/d H:i:s") }}<br />
                <span class="st">注文番号：&nbsp;</span>{{ Order.id }}<br />
                <span class="st">お支払い方法：&nbsp;</span>{{ Order.Payment }}<br />
                {% if app.config.mypage_order_status_disp_flag %}
                    <span class="st">ご注文状況：&nbsp;</span>
                    {% if Order.CustomerOrderStatus.id != app.config.order_pending %}
                        {{ Order.CustomerOrderStatus }}
                    {% else %}
                        <span class="attention">{{ Order.CustomerOrderStatus }}</span>
                    {% endif %}
                {% endif %}
                {% if Order.price_change %}
                    <div class="attention" align="right">※金額が変更されている商品があるため、再注文時はご注意ください。</div>
                {% endif %}
            </p>
            <form action="{{ path('mypage_order') }}" method="post">
                <p class="btn">
                    <input type="hidden" name="order_id" value="{{ Order.id }}" />
                    <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_order_re.jpg" alt="この購入内容で再注文する" name="submit" value="この購入内容で再注文する" />
                </p>
            </form>
        </div>

        <table summary="購入商品詳細">
            <col width="15%" />
            <col width="25%" />
            <col width="20%" />
            <col width="15%" />
            <col width="10%" />
            <col width="15%" />
            <tr>
                <th class="alignC">商品コード</th>
                <th class="alignC">商品名</th>
                <th class="alignC">商品種別</th>
                <th class="alignC">単価</th>
                <th class="alignC">数量</th>
                <th class="alignC">小計</th>
            </tr>
            {% for OrderDetail in Order.OrderDetails %}
                <tr>
                    <td>{{ OrderDetail.product_code }}</td>
                    <td>{% if OrderDetail.enable %}<a href="{{ path('product_detail', {'productId': OrderDetail.Product.id}) }}">{% endif %}{{ OrderDetail.product_name }}{% if OrderDetail.enable %}</a>{% endif %}<br />
                        {% if OrderDetail.classcategory_name1 is not empty %}
                            {{ OrderDetail.classcategory_name1 }}<br />
                        {% endif %}
                        {% if OrderDetail.classcategory_name2 is not empty %}
                            {{ OrderDetail.classcategory_name2 }}<br />
                        {% endif %}
                    </td>
                    <td class="alignC">
                        {% if OrderDetail.ProductClass %}
                            {% if OrderDetail.ProductClass.ProductType.id == app.config.product_type_download %}
                                {% if OrderDetail.downloadable %}
                                    <a target="_self" href="{{ path('mypage_download', {'order_id': Order.id, 'product_class_id': OrderDetail.ProductClass.id}) }}">ダウンロード</a>
                                {% elseif OrderDetail.payment_date is empty and OrderDetail.effective == 0 %}
                                    {{ OrderDetail.ProductClass.ProductType }}<BR />（入金確認中）
                                {% else %}
                                    {{ OrderDetail.ProductClass.ProductType }}<BR />（期限切れ）
                                {% endif %}
                            {% else %}
                                {{ OrderDetail.ProductClass.ProductType }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="alignR">{{ OrderDetail.price_inc_tax|number_format }}円
                    {% if OrderDetail.price_change %}
                        <div class="attention">【現在価格】</div><span class="attention">{{ OrderDetail.ProductClass.price02_inc_tax|number_format }}円</span>
                    {% endif %}
                    </td>
                    <td class="alignR">{{ OrderDetail.quantity }}</td>
                    <td class="alignR">{{ OrderDetail.total_price|number_format }}円</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="5" class="alignR">小計</th>
                <td class="alignR">{{ Order.subtotal|number_format }}円</td>
            </tr>
            {% set point_discount = Order.use_point*app.config.point_value %}
            {% if point_discount > 0 %}
            <tr>
                <th colspan="5" class="alignR">ポイント値引き</th>
                <td class="alignR">&minus;{{ point_discount|number_format }}円</td>
            </tr>
            {% endif %}
            {% if Order.discount > 0 %}
            <tr>
                <th colspan="5" class="alignR">値引き</th>
                <td class="alignR">&minus;{{ Order.discount|number_format }}円</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="5" class="alignR">送料</th>
                <td class="alignR">{{ Order.deliv_fee|number_format }}円</td>
            </tr>
            <tr>
                <th colspan="5" class="alignR">手数料</th>
                <td class="alignR">{{ Order.charge|number_format }}円</td>
            </tr>
            <tr>
                <th colspan="5" class="alignR">合計</th>
                <td class="alignR"><span class="price">{{ Order.payment_total|number_format }}円</span></td>
            </tr>
        </table>

        <!-- 使用ポイントここから -->
        {% if app.config.use_point %}
            <table summary="使用ポイント">
                <col width="30%" />
                <col width="70%" />
                <tr>
                    <th class="alignL">ご使用ポイント</th>
                    <td>{{ Order.use_point|number_format }} pt</td>
                </tr>
                <tr>
                    <th class="alignL">今回加算されるポイント</th>
                    <td>{{ Order.add_point|number_format }} pt</td>
                </tr>
            </table>
        {% endif %}
        <!-- 使用ポイントここまで -->

        {% set OrderDetail = Order.OrderDetails.0 %}
        {% for Shipping in Order.Shippings %}
            <h3>お届け先{% if Order.isMultiple %}{{ loop.index }}{% endif %}</h3>
            {% if Order.isMultiple %}
                <table summary="お届け内容確認">
                    <col width="30%" />
                    <col width="40%" />
                    <col width="20%" />
                    <col width="10%" />
                    <tr>
                        <th class="alignC">商品コード</th>
                        <th class="alignC">商品名</th>
                        <th class="alignC">単価</th>
                        <th class="alignC">数量</th>
                        {# XXX 購入小計と誤差が出るためコメントアウト
                        <th>小計</th>
                        #}
                    </tr>
                    {% for ShipmentItem in Shipping.ShipmentItems %}
                        <tr>
                            <td>{{ ShipmentItem.product_code }}</td>
                            <td>{# 商品名 #}{{ ShipmentItem.product_name }}<br />
                                {% if ShipmentItem.ProductClass.ClassCategory1 is not empty %}
                                    {{ ShipmentItem.ProductClass.ClassCategory1.ClassName }}：{{ ShipmentItem.ProductClass.ClassCategory1 }}<br />
                                {% endif %}
                                {% if ShipmentItem.ProductClass.ClassCategory2 is not empty %}
                                    {{ ShipmentItem.ProductClass.ClassCategory2.ClassName }}：{{ ShipmentItem.ProductClass.ClassCategory2 }}
                                {% endif %}
                            </td>
                            <td class="alignR">
                                {{ calc_inc_tax(ShipmentItem.price, OrderDetail.tax_rate, OrderDetail.tax_rule)|number_format }}円
                            </td>
                            <td class="alignC">{{ ShipmentItem.quantity }}</td>
                            {# XXX 購入小計と誤差が出るためコメントアウト
                            <td class="alignR">{{ ShipmentItem.total_price_inc_tax|number_format }}円</td>
                            #}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <table summary="お届け先" class="delivname">
                <col width="30%" />
                <col width="70%" />
                <tbody>
                    <tr>
                        <th class="alignL">お名前</th>
                        <td>{{ Shipping.name01 }}&nbsp;{{ Shipping.name02 }}</td>
                    </tr>
                    <tr>
                        <th class="alignL">お名前(フリガナ)</th>
                        <td>{{ Shipping.kana01 }}&nbsp;{{ Shipping.kana02 }}</td>
                    </tr>
                    <tr>
                        <th class="alignL">会社名</th>
                        <td>{{ Shipping.company_name }}</td>
                    </tr>
                    {% if app.config.form_country_enable %}
                        <tr>
                            <th class="alignL">国</th>
                            <td>{{ Shipping.Country }}</td>
                        </tr>
                        <tr>
                            <th class="alignL">ZIPCODE</th>
                            <td>{{ Shipping.zipcode }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="alignL">郵便番号</th>
                        <td>〒{{ Shipping.zip01 }}-{{ Shipping.zip02 }}</td>
                    </tr>
                    <tr>
                        <th class="alignL">住所</th>
                        <td>{{ Shipping.Pref }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}</td>
                    </tr>
                    <tr>
                        <th class="alignL">電話番号</th>
                        <td>{{ Shipping.tel01 }}-{{ Shipping.tel02 }}-{{ Shipping.tel03 }}</td>
                    </tr>
                    <tr>
                        <th class="alignL">FAX番号</th>
                        <td>
                            {% if Shipping.fax01 is not empty and Shipping.fax02 is not empty and Shipping.fax03 is not empty %}
                                {{ Shipping.fax01 }}-{{ Shipping.fax02 }}-{{ Shipping.fax03 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="alignL">お届け日</th>
                        <td>{{ Shipping.shipping_date|default('指定なし') }}</td>
                    </tr>
                    <tr>
                        <th class="alignL">お届け時間</th>
                        <td>{{ Shipping.shipping_time|default('指定なし') }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}

        <br />

        <h3>メール配信履歴一覧</h3>
        <table>
            <tr>
                <th class="alignC">処理日</th>
                <th class="alignC">通知メール</th>
                <th class="alignC">件名</th>
            </tr>
            {% for MailHistory in Order.MailHistories %}
                <tr class="center">
                    <td class="alignC">{{ MailHistory.send_date|date("Y/m/d H:i:s") }}
                    <td class="alignC">{{ MailHistory.MailTemplate }}</td>
                    <td><a href="#" onclick="eccube.openWindow('{{ path('mypage_mail_view', {'sendId': MailHistory.id}) }}','mail_view','650','800'); return false;">{{ MailHistory.subject }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <div class="btn_area">
            <ul>
                <li>
                    <a href="{{ path('mypage') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る" /></a>
                </li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
