{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block javascript %}
    <script>
        $(function(){
            $(".title").on("click", function(){
                $(this).next().slideToggle();
            });
            $(".close").on("click", function(){
                $(this).parent().slideToggle();
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{'mypage.label.my_account'|trans}}/{{'mypage.label.order_history'|trans}}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>

        {% set remessage = false %}

        <div class="ec-orderRole">
            <div class="ec-orderRole__detail">
                <div class="ec-orderOrder">
                    <div class="ec-definitions">
                        <dt>{{'admin.customer.edit.100'|trans}}</dt>
                        <dd>{{ Order.create_date|date("Y/m/d H:i:s") }}</dd>
                    </div>
                    <div class="ec-definitions">
                        <dt>{{ 'mypage.history.label.order_no'|trans}}</dt>
                        <dd>{{ Order.order_no }}</dd>
                    </div>
                    {% if BaseInfo.option_mypage_order_status_display %}
                        <div class="ec-definitions">
                            <dt>{{  'mypage.history.label.order_status'|trans}}</dt>
                            <dd>{{ Order.CustomerOrderStatus }}</dd>
                        </div>
                    {% endif %}
                    {% if BaseInfo.isOptionPoint %}
                        <div class="ec-definitions">
                            <dt>ご利用ポイント：</dt>
                            <dd>{{ Order.usePoint }}pt</dd>
                        </div>
                        <div class="ec-definitions">
                            <dt>加算ポイント：</dt>
                            <dd>{{ Order.addPoint }}pt</dd>
                        </div>
                    {% endif %}

                </div>
                <div class="ec-orderDelivery">
                    <div class="ec-rectHeading">
                        <h2>{{'mypage.history.detail.title.delivery'|trans}}</h2>
                    </div>
                    {% for Shipping in Order.Shippings %}
                        <div class="ec-orderDelivery__title">{{'mypage.history.detail.label.shipping'|trans}}{% if Order.multiple %}({{ loop.index }}){% endif %}</div>
                        {% for orderItem in Shipping.productOrderItems %}
                            <div class="ec-orderDelivery__item">
                                <div class="ec-imageGrid">
                                    <div class="ec-imageGrid__img">
                                        {% if orderItem.product is null %}
                                            <img src="{{ asset(''|no_image_product, 'save_image') }}" />
                                        {% else %}
                                            <img src="{{ asset(orderItem.Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}" />
                                        {% endif %}
                                    </div>
                                    <div class="ec-imageGrid__content">
                                        <p>
                                            {% if orderItem.Product is not null and orderItem.Product.enable %}
                                                <a href="{{ url('product_detail', {'id': orderItem.Product.id}) }}">{{ orderItem.productName }}</a>
                                            {% else %}
                                                {{ orderItem.productName }}
                                            {% endif %} ×{{ orderItem.quantity }}
                                        </p>
                                        {% if orderItem.ProductClass is not null %}
                                            {% if orderItem.ProductClass.ClassCategory1 is not null %}
                                                {{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}
                                            {% endif %}
                                            {% if orderItem.ProductClass.ClassCategory2 %}
                                                <br>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}
                                            {% endif %}
                                        {% endif %}
                                        <p>{{ orderItem.price_inc_tax|price }} × {{ orderItem.quantity|number_format }}</p>
                                        {% if orderItem.product and orderItem.price_inc_tax != orderItem.productClass.price02IncTax %}
                                            <p class="ec-color-accent">【現在価格】{{ orderItem.productClass.price02IncTax|price }}</p>
                                            {% set remessage = true %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="ec-orderDelivery__address">
                            <p>{{ Shipping.name01 }}&nbsp;{{ Shipping.name02 }}&nbsp;
                                ({{ Shipping.kana01 }}&nbsp;{{ Shipping.kana02 }})</p>
                            <p>〒{{ Shipping.postal_code }}　{{ Shipping.Pref }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}</p>
                            <p>{{ Shipping.phone_number }}</p>
                        </div>
                        <div class="ec-definitions--soft">
                            <dt>{{'mypage.history.detail.label.shipping_method'|trans}}</dt>
                            <dd>{{ Shipping.shipping_delivery_name }}{{ Shipping.shipping_delivery_fee ? '（＋' ~ Shipping.shipping_delivery_fee|price ~ '）' : '' }}</dd>
                        </div>
                        <div class="ec-definitions--soft">
                            <dt>{{'mypage.history.detail.label.shipping_date'|trans}} : </dt>
                            <dd>{{ Shipping.shipping_delivery_date|date_day_with_weekday|default('admin.shipping.edit.719'|trans) }}</dd>
                        </div>
                        <div class="ec-definitions--soft">
                            <dt>{{'mypage.history.detail.label.shipping_time'|trans}} : </dt>
                            <dd>{{ Shipping.shipping_delivery_time|default('admin.shipping.edit.719'|trans) }}</dd>
                        </div>
                    {% endfor %}
                </div>
                    <div class="ec-orderPayment">
                        <div class="ec-rectHeading">
                            <h2>{{'mypage.history.detail.title.payment'|trans}}</h2>
                        </div>
                        <p>{{'admin.setting.shop.payment.597'|trans}} : {{ Order.PaymentMethod }}</p>
                    </div>
                    <div class="ec-orderConfirm">
                        <div class="ec-rectHeading">
                            <h2>{{'shopping.label.inquiry_comment'|trans}}</h2>
                        </div>
                        <p>{{ Order.message|default('')|nl2br }}</p>
                    </div>
                    <div class="ec-orderMails">
                        <div class="ec-rectHeading">
                            <h2>{{'mypage.history.detail.title.mail'|trans}}</h2>
                        </div>
                        {% for MailHistory in Order.MailHistories %}
                            <div class="ec-orderMail">
                                <div class="ec-orderMail__time">{{ MailHistory.send_date|date("Y/m/d H:i:s") }}</div>
                                <div class="ec-orderMail__link"><a>{{ MailHistory.mail_subject }}</a></div>
                                <pre class="ec-orderMail__body" style="display: none;">
                                    {{ MailHistory.mail_body|nl2br }}
                                    <p class="ec-orderMail__close"><a>{{'common.label.close'|trans}}</a></p></pre>
                            </div>
                        {% else %}
                            <p class="ec-reportDescription">メール履歴がありません。</p>
                        {% endfor %}
                        <a href="{{ url('mypage') }}" class="ec-inlineBtn">{{'common.label.btn.go_back'|trans}}</a>
                    </div>
            </div>
            <div class="ec-orderRole__summary">
                <div class="ec-totalBox">
                    <dl class="ec-totalBox__spec">
                        <dt>{{'shopping.label.subtotal'|trans}}</dt>
                        <dd>{{ Order.subtotal|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{'shopping.label.charges'|trans}}</dt>
                        <dd>{{ Order.charge|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{'shopping.label.shipping_charge'|trans}}</dt>
                        <dd>{{ Order.delivery_fee_total|price }}</dd>
                    </dl>
                    {% if Order.discount > 0 %}
                    <dl class="ec-totalBox__spec">
                        <dt>内値引き</dt>
                        <dd>{{ (0 - Order.discount)|price }}</dd>
                    </dl>
                    {% endif %}
                    <div class="ec-totalBox__total">{{'common.label.cart_total'|trans}}<span class="ec-totalBox__price">{{ Order.payment_total|price }}</span><span class="ec-totalBox__taxLabel">{{'shopping.label.tax_incl'|trans}}</span></div>
                    <a href="{{ url('mypage_order', {'order_no': Order.order_no }) }}" class="ec-blockBtn--action load-overlay" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">{{'mypage.history.detail.re_order'|trans}}</a>

                </div>
                {% if remessage %}
                    <p class="ec-color-accent">
                        <strong>※金額が変更されている商品があるため、再注文時はご注意ください。</strong>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
