{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
    <h1 class="page-heading">マイページ</h1>
    <div class="container-fluid">

        {% include 'Mypage/navi.twig' %}

        <h2 class="heading01">ご注文履歴</h2>
        <div class="row">
            <div class="col-md-12">

                {% if pagination.totalItemCount > 0 %}
                    <p class="intro"><strong>{{ pagination.totalItemCount }}件</strong>の履歴があります。</p>

                    {% for Order in pagination %}
                        <div class="historylist_column row">
                            <div class="col-sm-4">
                                <h3 class="order_date">{{ Order.order_date|date("Y/m/d H:i:s") }}</h3>
                                <dl class="order_detail">
                                    <dt>ご注文番号：</dt>
                                    <dd>{{ Order.id }}</dd>
                                    {% if BaseInfo.option_mypage_order_status_display %}
                                        <dt>ご注文状況：</dt>
                                        <dd>{{ Order.CustomerOrderStatus }}</dd>
                                    {% endif %}
                                </dl>
                                <p><a class="btn btn-default btn-sm" href="{{ url('mypage_history', {'id': Order.id}) }}">詳細を見る</a></p>
                            </div>
                            <div class="col-sm-8">
                                {% for OrderDetail in Order.OrderDetails %}
                                    <div class="item_box table">
                                        <div class="tbody">
                                            <div class="tr">
                                                <div class="item_photo td">
                                                    <img src="{{ app.config.image_save_urlpath }}/{{ OrderDetail.Product.mainFileName|no_image_product }}" />
                                                </div>
                                                <dl class="item_detail td">
                                                    <dt class="item_name">{{ OrderDetail.product_name }}</dt>
                                                    <dd class="item_pattern small">
                                                        {% if OrderDetail.class_category_name1 is not empty %}
                                                            {{ OrderDetail.class_category_name1 }}
                                                        {% endif %}
                                                        {% if OrderDetail.class_category_name1 is not empty %}
                                                            / {{ OrderDetail.class_category_name2 }}
                                                        {% endif %}
                                                    </dd>
                                                    <dd class="item_price">{{ OrderDetail.price|price }} ×{{ OrderDetail.quantity }}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div><!--/item_box-->
                                {% endfor %}
                            </div>
                        </div><!--/historylist_column-->
                    {% endfor %}

                    {% include "pagination.twig" with {'pages': pagination.paginationData} %}

                {% else %}
                    <p class="intro">ご注文履歴がありません。</p>
                {% endif %}

            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
{% endblock %}
