{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>マイページ/ご注文履歴</h1>
        </div>
        {% include 'Mypage/navi.twig' %}
    </div>
    {% if pagination.totalItemCount > 0 %}
        <div class="ec-role">
            <p><strong>{{ pagination.totalItemCount }}件</strong>の履歴があります。</p>
        </div>
        {% for Order in pagination %}
            <div class="ec-historyRole">
                <div class="ec-historyRole__contents">

                    <div class="ec-historyRole__header">
                        <div class="ec-historyListHeader">
                            <p class="ec-historyListHeader__date">{{ Order.order_date|date("Y/m/d H:i:s") }}</p>
                            <dl class="ec-definitions">
                                <dt>ご注文番号：</dt>
                                <dd>{{ Order.id }}</dd>
                            </dl>
                            <dl class="ec-definitions">
                                <dt>ご注文状況：</dt>
                                <dd>{{ Order.CustomerOrderStatus }}</dd>
                            </dl>
                            <p class="ec-historyListHeader__action"><a class="ec-inlineBtn" href="{{ url('mypage_history', {'id': Order.id}) }}">詳細を見る</a></p>
                        </div>
                    </div>
                    <div class="ec-historyRole__detail">
                        {% for OrderDetail in Order.OrderDetails %}
                            <div class="ec-imageGrid">
                                <div class="ec-imageGrid__img">
                                    {% if OrderDetail.Product is null %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ '' | no_image_product }}" />
                                    {% else %}
                                        {% if OrderDetail.enable %}
                                            <img src="{{ app.config.image_save_urlpath }}/{{ OrderDetail.product.MainListImage|no_image_product }}">
                                        {% else %}
                                            <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="ec-imageGrid__content">
                                    <p class="ec-font-bold">{{ OrderDetail.product_name }}</p>
                                    {% if OrderDetail.class_category_name1 is not empty %}
                                        {{ OrderDetail.class_category_name1 }}
                                    {% endif %}
                                    {% if OrderDetail.class_category_name1 is not empty %}
                                        / {{ OrderDetail.class_category_name2 }}
                                    {% endif %}
                                    <p>{{ OrderDetail.price_inc_tax|price }} ×{{ OrderDetail.quantity }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="ec-pagerRole">
            {% include "pagination.twig" with {'pages': pagination.paginationData} %}
        </div>
    {% else %}
        <div class="ec-welcomeMsg">ご注文履歴がありません。</div>
    {% endif %}
{% endblock %}
