{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-mypageRole">
        <div class="ec-pageHeader">
            <h1>{{'mypage.label.my_account'|trans}}/{{'mypage.label.order_history'|trans}}</h1>
        </div>
        {% include 'Mypage/navi.twig' %}
    </div>
    <div class="ec-mypageRole">
        {% if pagination.totalItemCount > 0 %}
            <p class="ec-para-nomal">{{'mypage.history.message.order_history_num'|trans({'%num%':pagination.totalItemCount})|raw}}</p>
            {% for Order in pagination %}
                <div class="ec-historyRole">
                    <div class="ec-historyRole__contents">

                        <div class="ec-historyRole__header">
                            <div class="ec-historyListHeader">
                                <p class="ec-historyListHeader__date">{{ Order.order_date|date("Y/m/d H:i:s") }}</p>
                                <dl class="ec-definitions">
                                    <dt>{{'admin.mail.order.200'|trans}}</dt>
                                    <dd>{{ Order.order_code }}</dd>
                                </dl>
                                <dl class="ec-definitions">
                                    <dt>{{  'mypage.history.label.order_status'|trans}}</dt>
                                    <dd>{{ Order.CustomerOrderStatus }}</dd>
                                </dl>
                                <p class="ec-historyListHeader__action"><a class="ec-inlineBtn" href="{{ url('mypage_history', {'id': Order.id}) }}">{{'mypage.history.label.view_detail'|trans}}</a></p>
                            </div>
                        </div>
                        <div class="ec-historyRole__detail">
                            {% for OrderItem in Order.MergedProductOrderItems %}
                                <div class="ec-imageGrid">
                                    <div class="ec-imageGrid__img">
                                        {% if OrderItem.Product is null %}
                                            <img src="{{ asset(''|no_image_product, 'save_image') }}" />
                                        {% else %}
                                            <img src="{{ asset(OrderItem.Product.MainListImage|no_image_product, 'save_image') }}">
                                        {% endif %}
                                    </div>
                                    <div class="ec-imageGrid__content">
                                        <p class="ec-historyRole__detailTitle">{{ OrderItem.product_name }}</p>
                                        {% if OrderItem.class_category_name1 is not empty %}
                                            {{ OrderItem.class_category_name1 }}
                                        {% endif %}
                                        {% if OrderItem.class_category_name1 is not empty %}
                                            / {{ OrderItem.class_category_name2 }}
                                        {% endif %}
                                        <p class="ec-historyRole__detailPrice">{{ OrderItem.price_inc_tax|price }} × {{ OrderItem.quantity }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="ec-pagerRole">
                {% include "pagination.twig" with {'pages': pagination.paginationData} %}
            </div>
        {% else %}
            <div class="text-center">{{'mypage.text.message.no_order_history'|trans}}</div>
        {% endif %}
    </div>
{% endblock %}
