{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block main %}
    <h1 class="page-heading">{{ title }}</h1>
    <div class="container-fluid">
        <form name="login_mypage" id="login_mypage" method="post" action="{{ url('login_check') }}" onsubmit="return eccube.checkLoginFormInputted('login_mypage')" {{ form_enctype(form) }}>
            <div id="login_box" class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="column">
                        <div class="column_inner clearfix">
                            <div class="icon"><svg class="cb cb-user-circle"><use xlink:href="#cb-user-circle" /></svg></div>
                            <div class="form-group">
                                {{ form_widget(form.login_email, {'attr': {'style' : 'ime-mode: disabled;', 'placeholder' : form.login_email.vars.label }}) }}
                                {{ form_widget(form.login_memory) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.login_pass, { placeholder : form.login_pass.vars.label }) }}
                            </div>
                            {% if error %}
                            <div class="form-group">
                                <span class="text-danger">{{ error|trans }}</span>
                            </div>
                            {% endif %}
                            <div class="btn_area">
                                <p><button type="submit" class="btn btn-info btn-block btn-lg">ログイン</button></p>
                                <ul>
                                    <li><a href="{{ url('forgot') }}">ログイン情報をお忘れですか？</a></li>
                                    <li><a href="{{ url('entry') }}">新規会員登録</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}
