{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{'mypage.label.login'|trans}}</h1>
        </div>
        <div class="ec-off2Grid">
            <div class="ec-off2Grid__cell">
                <form name="login_mypage" id="login_mypage" method="post" action="{{ url('mypage_login') }}" onsubmit="return eccube.checkLoginFormInputted('login_mypage')">


                    <div class="ec-login">
                        <div class="ec-login__icon">
                            <div class="ec-icon"><img src="{{ asset('assets/icon/user.svg') }}" alt=""></div>
                        </div>
                        <div class="ec-login__input">
                            <div class="ec-input">
                                {{ form_widget(form.login_email, {'attr': {'style' : 'ime-mode: disabled;', 'placeholder' : 'login.label.mail', 'autofocus': true}}) }}
                                {{ form_widget(form.login_pass,  {'attr': {'placeholder' : 'login.label.pass' }}) }}
                            </div>

                            <div class="ec-checkbox">
                                <label>
                                    {% if BaseInfo.option_remember_me %}
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <input id="mypage_login_box__login_memory" type="hidden" name="login_memory" value="1">
                                        {% else %}
                                            {{ form_widget(form.login_memory) }}
                                        {% endif %}
                                    {% endif %}
                                </label>
                            </div>
                            {% for reset_complete in app.session.flashbag.get('password_reset_complete') %}
                                <p>{{ reset_complete|trans }}</p>
                            {% endfor %}
                            {% if error %}
                                <p class="ec-errorMessage">{{ error.messageKey|trans(error.messageData)|raw }}</p>
                            {% endif %}
                        </div>
                        <div class="ec-grid2">
                            <div class="ec-grid2__cell">
                                <div class="ec-login__actions"><button type="submit" class="ec-blockBtn--cancel">{{'mypage.label.log_in'|trans}}</button>
                                </div>
                            </div>
                            <div class="ec-grid2__cell">
                                <div class="ec-login__link"><a class="ec-link" href="{{ url('forgot') }}">{{'mypage.text.message.forgot_login'|trans}}</a>
                                </div>
                                <div class="ec-login__link"><a class="ec-link" href="{{ url('entry') }}">{{'mypage.label.register'|trans}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
