{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set favorite = BaseInfo.option_favorite_product %}
<div class="ec-navlistRole">

    <ul class="ec-navlistRole__navlist {% if favorite %}favorite{% endif %}">
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'index' %}active{% endif %}"><a href="{{ url('mypage') }}">{{'mypage.label.order_history'|trans}}</a>
        </li>
        {% if (favorite) %}
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'favorite' %}active{% endif %}"><a href="{{ url('mypage_favorite') }}">{{'mypage.label.favorites'|trans}}</a>
        </li>
        {% endif %}
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'change' %}active{% endif %}"><a href="{{ url('mypage_change') }}">{{'mypage.label.customer_info'|trans}}</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'delivery' %}active{% endif %}"><a href="{{ url('mypage_delivery') }}">{{'mypage.label.edit_address'|trans}}</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'withdraw' %}active{% endif %}"><a href="{{ url('mypage_withdraw') }}">{{'mypage.label.cancel_membership'|trans}}</a>
        </li>
    </ul>
</div>

<div class="ec-welcomeMsg">{{'mypage.message.welcome'|trans({'%user_name%': app.user.name01 ~ ' ' ~ app.user.name02, '%point%': app.user.point|number_format}) }}</div>

