{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% set favorite = BaseInfo.option_favorite_product %}

{% block stylesheet %}
		<style>
				#svgicon {
					display: block;
					width: 0;
					height: 0;
					overflow: hidden;
				}
				.alert-section {
					border-radius: 0;
					margin-top: 0;
					margin-bottom: 10px;
					position: relative;
				}
				@media screen and (min-width: 768px) {
					.alert-section {
						margin-top: -28px;
						margin-bottom: 20px;
					}
				}
				.alert-success {
					color: #fff;
					background-color: #18a689;
					border-color: transparent;
				}
				.alert-dismissible .close {
					font-size: 13px;
				}
				.alert-close {
					font-size: 21px;
					font-weight: 700;
					line-height: 1;
					text-shadow: 0 1px 0 #fff;
				}
				.close {
					text-shadow: none;
					filter: alpha(opacity=80);
					opacity: .8;
				}
				.close:hover,
				.close:focus {
				  color: #fff;
					filter: alpha(opacity=100);
					opacity: 1;
				}
				.cb {
					display: inline-block;
					width: 1em;
					height: 1em;
					vertical-align: middle;
					fill: currentColor;
				}
		</style>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $.ajax({
                url: "{{ asset('img/common/svg.html') }}",
                type: 'GET',
                dataType: 'html',
            }).done(function(data){
                $('body').prepend(data);
            }).fail(function(data){
            });
        });
    </script>
{% endblock %}

{% if app.session.flashBag.has('eccube.front.success') %}
    {% for message in app.session.flashBag.get('eccube.front.success') %}
				<div class="alert alert-success alert-dismissable alert-section">
						<button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
						<svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
				</div>
    {% endfor %}
{% endif %}

{% if app.session.flashBag.has('eccube.front.warning') %}
    {% for message in app.session.flashBag.get('eccube.front.warning') %}
				<div class="alert alert-warning alert-dismissable alert-section">
						<button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
						<svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
				</div>
    {% endfor %}
{% endif %}

<div class="ec-navlistRole">

    <ul class="ec-navlistRole__navlist {% if favorite %}favorite{% endif %}">
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'index' %}active{% endif %}"><a href="{{ url('mypage') }}">ご注文履歴</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'favorite' %}active{% endif %}"><a href="{{ url('mypage_favorite') }}">お気に入り一覧</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'change' %}active{% endif %}"><a href="{{ url('mypage_change') }}">会員情報編集</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'delivery' %}active{% endif %}"><a href="{{ url('mypage_delivery') }}">お届け先編集</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'withdraw' %}active{% endif %}"><a href="{{ url('mypage_withdraw') }}">退会手続き</a>
        </li>
    </ul>
</div>

<div class="ec-welcomeMsg">ようこそ ／ {{ app.user.name01 }} {{ app.user.name02 }} 様</div>

