{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="mynavi_area">
    {% spaceless %}
        <ul class="mynavi_list clearfix">
            {# 会員状態 #}
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('mypage') }}"{% if mypageno == 'index' %} class="selected"{% endif %}>購入履歴一覧</a></li>
                {% if app.config.option_favorite_product %}
                    <li><a href="{{ path('mypage_favorite') }}"{% if mypageno == 'favorite' %} class="selected"{% endif %}>お気に入り一覧</a></li>
               {% endif %}
                <li><a href="{{ path('mypage_change') }}"{% if mypageno == 'change' %} class="selected"{% endif %}>会員登録内容変更</a></li>
                <li><a href="{{ path('mypage_delivery') }}"{% if mypageno == 'delivery' %} class="selected"{% endif %}>お届け先追加・変更</a></li>
                <li><a href="{{ path('mypage_refusal') }}"{% if mypageno == 'refusal' %} class="selected"{% endif %}>退会手続き</a></li>

            {# 退会状態 #}
            {% else %}
                <li><a href="{{ path('homepage') }}"{% if mypageno == 'index' %} class="selected"{% endif %}>購入履歴一覧</a></li>
                {% if app.config.option_favorite_product %}
                    <li><a href="{{ path('homepage') }}"{% if mypageno == 'favorite' %} class="selected"{% endif %}>お気に入り一覧</a></li>
                {% endif %}
                <li><a href="{{ path('homepage') }}"{% if mypageno == 'change' %} class="selected"{% endif %}>会員登録内容変更</a></li>
                <li><a href="{{ path('homepage') }}"{% if mypageno == 'delivery' %} class="selected"{% endif %}>お届け先追加・変更</a></li>
                <li><a href="{{ path('homepage') }}"{% if mypageno == 'refusal' %} class="selected"{% endif %}>退会手続き</a></li>
            {% endif %}
        </ul>

        <!--▼現在のポイント-->
        {% if is_granted('ROLE_USER') %}
            <div class="point_announce clearfix">
                <p>ようこそ&nbsp;／&nbsp;
                    <span class="user_name">{{ app.user.name01 }} {{ app.user.name02 }}様</span>
                    {% if app.config.use_point %}&nbsp;
                        現在の所持ポイントは&nbsp;<span class="point st">{{ app.user.point|number_format }}pt</span>&nbsp;です。
                    {% endif %}
                </p>
            </div>
        {% endif %}
        <!--▲現在のポイント-->
    {% endspaceless %}
</div>
<!--▲NAVI-->
