{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['customer', 'customer_edit'] %}

{% block title %}{{ 'admin.customer.delivery_edit.111'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.customer.delivery_edit.110'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}

    <form name="customer_address_form"
          role="form"
          id="customer_address_form"
          method="post"
          action="{%- if CustomerAddress.id %}{{ url('admin_customer_delivery_edit', { id : Customer.id, did: CustomerAddress.id }) }}{% else %}{{ url('admin_customer_delivery_new', { id: Customer.id }) }}{% endif -%}"
          novalidate class="h-adr">
        {{ form_widget(form._token) }}
        <span class="p-country-name" style="display:none;">Japan</span>
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <h4 class="box-title font-weight-bold">{{ 'admin.customer.delivery_edit.112'|trans }}</h4>
                        </div>
                        <div class="card-body">
                            {% if CustomerAddress.id %}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        {{ 'admin.customer.delivery_edit.113'|trans }}
                                    </div>
                                    <div class="col">
                                        {{ CustomerAddress.id }}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row mb-2">
                                <div class="col-3">
                                    {{ 'admin.customer.delivery.label.001'|trans }}
                                </div>
                                <div class="col">
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{ form_widget(form.name.name01) }}
                                            {{ form_errors(form.name.name01) }}
                                        </div>
                                        <div class="col">
                                            {{ form_widget(form.name.name02) }}
                                            {{ form_errors(form.name.name02) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3">
                                    {{ 'admin.customer.delivery.label.002'|trans }}
                                </div>
                                <div class="col">
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{ form_widget(form.kana.kana01) }}
                                            {{ form_errors(form.kana.kana01) }}
                                        </div>
                                        <div class="col">
                                            {{ form_widget(form.kana.kana02) }}
                                            {{ form_errors(form.kana.kana02) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3 mb-2">
                                    {{ 'admin.customer.delivery.label.003'|trans }}
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.company_name) }}
                                    {{ form_errors(form.company_name) }}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3">
                                    {{ 'admin.customer.delivery.label.004'|trans }}
                                </div>
                                <div class="col">
                                    <div class="row mb-2">
                                        <div class="col-auto pr-0 align-self-center"><span>{{ 'admin.customer.edit.post'|trans }}</span></div>
                                        <div class="col-2">
                                            {{ form_widget(form.zip.zip01) }}
                                            {{ form_errors(form.zip) }}
                                            {{ form_errors(form.zip.zip01) }}
                                            {{ form_errors(form.zip.zip02) }}
                                        </div>
                                        <div class="col-auto p-0 align-self-center"><span>-</span></div>
                                        <div class="col-2">
                                            {{ form_widget(form.zip.zip02) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3">
                                    &nbsp;
                                </div>
                                <div class="col form-inline mb-2">
                                    {{ form_widget(form.address.pref) }}
                                    {{ form_errors(form.address.pref) }}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3">
                                    &nbsp;
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.address.addr01, { attr : { placeholder : 'admin.customer.delivery_edit.114'}} ) }}
                                    {{ form_errors(form.address.addr01) }}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3">
                                    &nbsp;
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.address.addr02, { attr : { placeholder : 'admin.customer.delivery_edit.115'}}) }}
                                    {{ form_errors(form.address.addr02) }}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3">
                                    {{ 'admin.customer.delivery.label.005'|trans }}
                                </div>
                                <div class="col">
                                    <div class="row mb-2 justify-content-start">
                                        <div class="col-2">
                                            {{ form_widget(form.tel.tel01) }}
                                            {{ form_errors(form.tel.tel01) }}
                                        </div>
                                        <div class="col-auto text-center p-0"><span class="align-middle">-</span></div>
                                        <div class="col-2">
                                            {{ form_widget(form.tel.tel02) }}
                                            {{ form_errors(form.tel.tel02) }}
                                        </div>
                                        <div class="col-auto text-center p-0"><span class="align-middle">-</span></div>
                                        <div class="col-2">
                                            {{ form_widget(form.tel.tel03) }}
                                            {{ form_errors(form.tel.tel03) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-3">
                                    {{ 'admin.customer.delivery.label.006'|trans }}
                                </div>
                                <div class="col">
                                    <div class="row mb-2 justify-content-start">
                                        <div class="col-2">
                                            {{ form_widget(form.fax.fax01) }}
                                            {{ form_errors(form.fax.fax01) }}
                                        </div>
                                        <div class="col-auto text-center p-0"><span class="align-middle">-</span></div>
                                        <div class="col-2">
                                            {{ form_widget(form.fax.fax02) }}
                                            {{ form_errors(form.fax.fax02) }}
                                        </div>
                                        <div class="col-auto text-center p-0"><span class="align-middle">-</span></div>
                                        <div class="col-2">
                                            {{ form_widget(form.fax.fax03) }}
                                            {{ form_errors(form.fax.fax03) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% for f in form %}
                                {# auto_render有効時に出力 #}
                                {% if f.vars.eccube_form_options.auto_render %}
                                    {# form_themeが設定されている場合にthemeを適用 #}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                    {% endif %}
                                    {{ form_row(f) }}
                                {% endif %}
                            {% endfor %}
                            <div class="extra-form">
                                {% for f in form.getIterator %}
                                    {% if f.vars.name matches '[^plg*]' %}
                                        {{ form_row(f) }}
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-beseLink" href="{{ url('admin_customer_edit', { id: Customer.id }) }}">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'admin.customer.delivery_edit.117'|trans }}</span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.customer.delivery_edit.116'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
