{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['customer', 'customer_edit'] %}

{% block title %}{{ 'admin.customer.edit.93'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.customer.edit.92'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
    <form name="customer_form" role="form" id="customer_form" method="post"
          action="{%- if Customer.id %}{{ url('admin_customer_edit', { id : Customer.id }) }}{% else %}{{ url('admin_customer_new') }}{% endif -%}"
          novalidate>
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">{{ 'admin.customer.edit.94'|trans }}</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                {% if Customer.id %}
                                    <div class="row mb-2">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                                 title="Tooltip">
                                                <span>{{ 'admin.customer.edit.95'|trans }}</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>{{ Customer.id }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.name'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.customer.edit.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.name.name01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_widget(form.name.name02) }}
                                            </div>
                                            {{ form_errors(form.name.name01) }}
                                            {{ form_errors(form.name.name02) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.kana'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.customer.edit.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.kana.kana01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_widget(form.kana.kana02) }}
                                            </div>
                                            {{ form_errors(form.kana.kana01) }}
                                            {{ form_errors(form.kana.kana02) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.company_name'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.company_name) }}
                                        {{ form_errors(form.company_name) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3"><span>{{ 'admin.customer.edit.address'|trans }}</span><span
                                                class="badge badge-primary ml-1">{{ 'admin.customer.edit.required'|trans }}</span>
                                    </div>
                                    <div class="col mb-3">
                                        <div class="mb-3">
                                            <div class="row justify-content-start">
                                                <div class="col-auto pr-0 align-self-center"><span>{{ 'admin.customer.edit.post'|trans }}</span></div>
                                                <div class="col-2">
                                                    {{ form_widget(form.zip.zip01, { attr : { placeholder : 'admin.customer.edit.zip_placeholder1' }}) }}
                                                </div>
                                                <div class="col-auto p-0 align-self-center"><span>-</span></div>
                                                <div class="col-2">
                                                    {{ form_widget(form.zip.zip02, { attr : { placeholder : 'admin.customer.edit.zip_placeholder2' }}) }}
                                                </div>
                                                {{ form_errors(form.zip) }}
                                                {{ form_errors(form.zip.zip01) }}
                                                {{ form_errors(form.zip.zip02) }}
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <div class="row justify-content-start">
                                                <div class="col-auto">
                                                    {{ form_widget(form.address.pref) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            {{ form_widget(form.address.addr01, { attr : { placeholder : 'admin.customer.edit.97', 'class': 'mb-3'}} ) }}
                                            {{ form_errors(form.address.addr01) }}
                                            {{ form_widget(form.address.addr02, { attr : { placeholder : 'admin.customer.edit.98' }}) }}
                                            {{ form_errors(form.address.addr02) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.email'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.customer.edit.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.tel'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.customer.edit.required'|trans }}</span>
                                    </div>
                                    <div class="col">

                                        <div class="row justify-content-start">
                                            <div class="col-2">
                                                {{ form_widget(form.tel.tel01) }}
                                            </div>
                                            <div class="col-auto text-center p-0">
                                                <span class="align-middle">-</span>
                                            </div>
                                            <div class="col-2">
                                                {{ form_widget(form.tel.tel02) }}
                                            </div>
                                            <div class="col-auto text-center p-0">
                                                <span class="align-middle">-</span>
                                            </div>
                                            <div class="col-2">
                                                {{ form_widget(form.tel.tel03) }}
                                            </div>
                                        </div>
                                        {{ form_errors(form.tel.tel01) }}
                                        {{ form_errors(form.tel.tel02) }}
                                        {{ form_errors(form.tel.tel03) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3"><span>{{ 'admin.customer.edit.fax'|trans }}</span></div>
                                    <div class="col">
                                        <div class="row justify-content-start">
                                            <div class="col-2">
                                                {{ form_widget(form.fax.fax01) }}
                                            </div>
                                            <div class="col-auto text-center p-0">
                                                <span class="align-middle">-</span>
                                            </div>
                                            <div class="col-2">
                                                {{ form_widget(form.fax.fax02) }}
                                            </div>
                                            <div class="col-auto text-center p-0">
                                                <span class="align-middle">-</span>
                                            </div>
                                            <div class="col-2">
                                                {{ form_widget(form.fax.fax03) }}
                                            </div>
                                        </div>
                                        {{ form_errors(form.fax.fax01) }}
                                        {{ form_errors(form.fax.fax02) }}
                                        {{ form_errors(form.fax.fax03) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.password'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.customer.edit.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.password.first, { type : 'password'}) }}
                                        {{ form_errors(form.password.first) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.password2'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.customer.edit.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.password.second, { type : 'password'}) }}
                                        {{ form_errors(form.password.second) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.sex'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {# TODO: classを整える。ラジオボタンが横に並ぶよう表示する。 #}
                                        {{ form_widget(form.sex) }}
                                        {{ form_errors(form.sex) }}
                                        {#<div class="form-check form-check-inline">#}
                                            {#<label class="form-check-label" for="male">#}
                                                {#<input class="form-check-input" id="male" type="radio" name="gender"> 男性#}
                                            {#</label>#}
                                        {#</div>#}
                                        {#<div class="form-check form-check-inline">#}
                                            {#<label class="form-check-label" for="female">#}
                                                {#<input class="form-check-input" id="female" type="radio" name="gender">#}
                                                {#女性#}
                                            {#</label>#}
                                        {#</div>#}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.job'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.job) }}
                                        {{ form_errors(form.job) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.birth'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.birth) }}
                                        {{ form_errors(form.birth) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.customer.edit.point'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.point) }}
                                        {{ form_errors(form.point) }}
                                    </div>
                                </div>
                                {# エンティティ拡張の自動出力 #}
                                {% for f in form %}
                                    {# auto_render有効時に出力 #}
                                    {% if f.vars.eccube_form_options.auto_render %}
                                        {# form_themeが設定されている場合にthemeを適用 #}
                                        {% if f.vars.eccube_form_options.form_theme %}
                                            {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {% endif %}
                                        {{ form_row(f) }}
                                    {% endif %}
                                {% endfor %}
                                <div class="extra-form">
                                    {% for f in form.getIterator %}
                                        {% if f.vars.name matches '[^plg*]' %}
                                            {{ form_row(f) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if Customer.id %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                             title="Tooltip">
                                        <span class="card-title">
                                            {{ 'admin.customer.edit.sipping'|trans }}
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a data-toggle="collapse" href="#delivery" aria-expanded="false"
                                           aria-controls="delivery">
                                            <i class="fa fa-angle-up fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="delivery">
                                {% if Customer.CustomerAddresses|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-striped table-sm">
                                            <thead class="table-active">
                                            <th class="align-middle pt-2 pb-2 pl-3">{{ 'admin.customer.edit.sipping_id'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.customer.edit.sipping_name'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.customer.edit.sipping_addresses'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2 pr-3">{{ 'admin.customer.edit.sipping_tel'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2 pr-3"></th>
                                            </thead>
                                            <tbody>
                                            {% for CustomerAddress in Customer.CustomerAddresses %}
                                                <tr>
                                                    <td class="align-middle pl-3">{{ CustomerAddress.id }}</td>
                                                    <td class="align-middle">
                                                        {{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}
                                                    </td>
                                                    <td class="align-middle">
                                                        〒{{ CustomerAddress.zip01 }}-{{ CustomerAddress.zip02 }}
                                                        　{{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}
                                                    </td>
                                                    <td class="align-middle">
                                                        {{ CustomerAddress.tel01 }}-{{ CustomerAddress.tel02 }}
                                                        -{{ CustomerAddress.tel03 }}
                                                    </td>
                                                    {# TODO: メニューのデザインを整える #}
                                                    <td class="align-middle pr-3">
                                                        <div id="address_box__menu_box_toggle--{{ CustomerAddress.id }}"
                                                             class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                                {#<svg class="cb cb-ellipsis-h">#}
                                                                {#<use xlink:href="#cb-ellipsis-h"/>#}
                                                                {#</svg>#}
                                                            </a>
                                                            <ul id="address_box__menu--{{ CustomerAddress.id }}"
                                                                class="dropdown-menu dropdown-menu-right">
                                                                <li>
                                                                    <a href="{{ url('admin_customer_delivery_edit', { 'id': Customer.id, 'did': CustomerAddress.id}) }}">{{ 'admin.customer.edit.sipping_edit'|trans }}</a>
                                                                </li>
                                                                <!--
                                                                {#<li><a href="{{ url('admin_customer_delivery_delete', { 'id': Customer.id, 'did': CustomerAddress.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="このお届け先情報を削除してもよろしいですか？">削除</a></li>#}
                                                                -->
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        {# TODO: 新規追加ボタンと文言のデザインを整える #}
                                        {% if Customer.CustomerAddresses|length < eccube_config.eccube_deliv_addr_max %}
                                            <div class="d-block text-center">
                                                <a href="{{ url('admin_customer_delivery_new', { id: Customer.id }) }}"
                                                    class="btn btn-ec-regular">{{ 'admin.customer.edit.sipping_add'|trans }}</a>
                                            </div>
                                        {% else %}
                                            <span class="ec-errorMessage">
                                                {{ 'admin.customer.edit.sipping_text01'|trans({"%eccube_deliv_addr_max%":eccube_config.eccube_deliv_addr_max}) }}
                                            </span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div id="address_box" class="data-empty">
                                            <span>{{ 'admin.customer.edit.no_customer_address'|trans }}</span>
                                        </div>

                                        <div class="d-block text-center">
                                            <a href="{{ url('admin_customer_delivery_new', { id: Customer.id }) }}"
                                               class="btn btn-ec-regular">{{ 'admin.customer.edit.sipping_add'|trans }}</a>
                                        </div>

                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if Customer.id %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                             title="Tooltip">
                                        <span class="card-title">
                                            {{ 'admin.customer.edit.99'|trans }}
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a data-toggle="collapse" href="#orderHistory" aria-expanded="false"
                                           aria-controls="orderHistory">
                                            <i class="fa fa-angle-up fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="orderHistory">
                                {% if Customer.Orders|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-striped table-sm">
                                            <thead class="table-active">
                                            <th class="align-middle pt-2 pb-2 pl-3">{{ 'admin.customer.edit.100'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.customer.edit.101'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.customer.edit.102'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2 pr-3">{{ 'admin.customer.edit.order_status'|trans }}</th>
                                            </thead>
                                            <tbody>
                                            {% for Order in Customer.Orders %}
                                                <tr>
                                                    <td class="align-middle pl-3">{{ Order.order_date|date_format }}</td>
                                                    <td class="align-middle">
                                                        <a href="{{ url('admin_order_edit', { 'id' : Order.id }) }}">
                                                            {{ Order.id }}
                                                        </a>
                                                    </td>
                                                    <td class="align-middle">
                                                        <span class="h5 font-weight-normal">{{ Order.total|price }}</span>
                                                    </td>
                                                    <td class="align-middle pr-3">
                                                        <span class="badge badge-ec-glay">{{ Order.OrderStatus }}</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                <div class="card-body">
                                    <div id="history_box" class="data-empty">
                                        <span>
                                            {{ 'admin.customer.edit.no_purchase_history'|trans }}
                                        </span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">{{ 'admin.customer.edit.109'|trans }}</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#shopMemo" aria-expanded="false"
                                       aria-controls="shopMemo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shopMemo">
                            <div class="card-body">
                                {{ form_widget(form.note) }}
                                {{ form_errors(form.note) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# TODO: conversionAreaがmockではbody直下にあるが、formの関係でcontentsArea内に移動させる #}
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-beseLink"
                               href="{{ url('admin_customer_page', { page_no : app.session.get('eccube.admin.customer.search.page_no')|default('1') } ) }}?resume=1">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'admin.customer.edit.customer_index'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                {{ form_widget(form.status) }}
                                {{ form_errors(form.status) }}
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.customer.edit.108'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
