{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['customer', 'customer_master'] %}

{% block title %}会員管理{% endblock %}
{% block sub_title %}会員マスター{% endblock %}

{% form_theme searchForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/bootstrap-datetimepicker.min.css">
{% endblock stylesheet %}

{% block javascript %}
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment.min.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment-ja.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/bootstrap-datetimepicker.min.js"></script>
<script>
$(function() {

    var inputDate = document.createElement('input');
    inputDate.setAttribute('type', 'date');
    if (inputDate.type !== 'date') {
        $('input[id$=_date_start]').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

        $('input[id$=_date_end]').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

       $('#admin_search_customer_birth_start').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

       $('#admin_search_customer_birth_end').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

       $('#admin_search_customer_last_buy_start').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });

       $('#admin_search_customer_last_buy_end').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });
    }

});

function fnChangeActionSubmit(action) {
    document.search_form.action = action;
    document.search_form.submit();
}
function fnDelete(action) {
    if (confirm('この会員情報を削除しても宜しいですか？')) {
        document.search_form.action = action;
        document.search_form.submit();
    }
}
function fnReSendMail(action) {
    if (confirm('仮登録メールを再送しても宜しいですか？')) {
        document.search_form.action = action;
        document.search_form.submit();
    }
}
</script>
{% endblock javascript %}

{% block main %}
<form name="search_form" id="search_form" method="post" action="">
    {{ form_widget(searchForm._token) }}
    <!--検索条件設定テーブルここから-->
    <div class="search-box">
            <div class="row">
                <div class="col-md-12 accordion">

                    {{ form_widget(searchForm.multi, { attr: { placeholder: '会員ID・メールアドレス・お名前', class : 'input_search' } } ) }}

                    <a class="toggle" href="#"><svg class="cb cb-minus"> <use xlink:href="#cb-minus"/></svg> <svg class="cb cb-minus"> <use xlink:href="#cb-minus"/></svg></a>
                    <div class="search-box-inner accpanel">
                    	<div class="row">
                            <div class="col-sm-12 col-lg-10 col-lg-offset-1 search">

                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                        <label>会員種別</label>
                                        {{ form_widget(searchForm.customer_status) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <label>性別</label>
                                            {{ form_widget(searchForm.sex) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group">
                                            <label>誕生月</label>
                                            {{ form_widget(searchForm.birth_month) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>誕生日</label>
                                        <div class="form-group range">
                                            {{ form_widget(searchForm.birth_start, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(searchForm.birth_end, {'attr': {'class': 'input_cal'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                        <label>都道府県</label>
                                        {{ form_widget(searchForm.pref) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>電話番号</label>
                                            <div class="input_tel">
                                            {{ form_widget(searchForm.tel) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>登録日</label>
                                        <div class="form-group range">
                                            {{ form_widget(searchForm.create_date_start, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(searchForm.create_date_end, {'attr': {'class': 'input_cal'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>更新日</label>
                                        <div class="form-group range">
                                            {{ form_widget(searchForm.update_date_start, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(searchForm.update_date_end, {'attr': {'class': 'input_cal'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group range">
                                            <label>購入金額</label>
                                            {{ form_widget(searchForm.buy_total_start) }} ～ {{ form_widget(searchForm.buy_total_end) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group range">
                                            <label>購入回数</label>
                                            {{ form_widget(searchForm.buy_times_start) }} ～ {{ form_widget(searchForm.buy_times_end) }}
                                        </div>
                                    </div>
                                    {#
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>購入商品カテゴリー</label>
                                            {{ form_widget(searchForm.buy_category) }}
                                            </select>
                                        </div>
                                    </div>
                                    #}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>購入商品名・コード</label>
                                            {{ form_widget(searchForm.buy_product_code) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>最終購入日</label>
                                        <div class="form-group range">
                                            {{ form_widget(searchForm.last_buy_start, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(searchForm.last_buy_end, {'attr': {'class': 'input_cal'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="text-center"><a href="#" class="search-clear">検索条件をクリア</a></p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <div class="row btn_area">
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
                    <button class="btn btn-primary btn-block btn-lg" onclick="fnChangeActionSubmit('{{ url('admin_customer') }}'); return false;">
                        検索する <svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right"></svg>
                    </button>
                </div>
                <!-- /.col -->
            </div>
    </div>
    <!--検索条件設定テーブルここまで-->
{% if pagination %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {% if pagination and pagination.totalItemCount > 0 %}
                <div class="box-header with-arrow">
                    <h3 class="box-title">検索結果 <span class="normal"><strong>{{ pagination.totalItemCount }} 件</strong> が該当しました</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="sort-dd">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">20件<svg class="cb cb-angle-down icon_down"><use xlink:href="#cb-angle-down"></svg></a>
                                    <ul class="dropdown-menu">
                                        <li><a>50件</a></li>
                                        <li><a>100件</a></li>
                                    </ul>
                                </li>
                                {# var3.0.0では未対応
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">CSVダウンロード<svg class="cb cb-angle-down icon_down"><use xlink:href="#cb-angle-down"></svg></a>
                                    <ul class="dropdown-menu">
                                        <li><a>ダウンロード</a></li>
                                        <li><a>出力項目設定</a></li>
                                    </ul>
                                </li>
                                #}
                            </ul>
                        </div>
                    </div>
                    <div class="table_list">
                        <div class="table-responsive with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>会員ID</th>
                                    <th>会員名</th>
                                    <th>電話番号</th>
                                    <th>メールアドレス</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Customer in pagination %}
                                <tr>
                                    <td class="member_id">{{ Customer.id }}</td>
                                    <td class="member_name"><a href="#" onclick="fnChangeActionSubmit('{{ url('admin_customer_edit', { 'id': Customer.id}) }}');return false;">{{ Customer.name01 }}&nbsp;{{ Customer.name02 }}</a></td>
                                    <td class="member_tel">{{ Customer.tel01 }}-{{ Customer.tel02 }}-{{ Customer.tel03 }}</td>
                                    <td class="member_mail">{{ Customer.email }}</td>
                                    <td class="icon_edit">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#" onclick="fnChangeActionSubmit('{{ url('admin_customer_edit', { 'id': Customer.id}) }}');return false;">編集</a></li>
                                                <li><a href="#" onclick="fnDelete('{{ url('admin_customer_delete', { 'id': Customer.id}) }}');return false;">削除</a></li>
                                                {% if Customer.Status.id == 1 %}
                                                <li><a href="#" onclick="fnReSendMail('{{ url('admin_customer_resend', { 'id': Customer.id}) }}');return false;">仮会員メール再送</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                {% if pagination.totalItemCount > 0 %}
                    {% include "pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_customer_page' } %}
                {% endif %}
                {% else %}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">検索条件に該当するデータがありませんでした。</h3>
                    </div><!-- /.box-header -->
                {% endif %}
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
{% endif %}
</form>
{% endblock %}