{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'main_frame.twig' %}

{% block title %}会員管理{% endblock %}
{% block sub_title %}会員マスター{% endblock %}

{% form_theme searchForm 'Form/bootstrap_3_layout.html.twig' %}

{% block javascript %}
function fnChangeActionSubmit(action) {
    document.search_form.action = action;
    document.search_form.submit();
}
function fnDelete(action) {
    if (confirm('この会員情報を削除しても宜しいですか？')) {
        document.search_form.action = action;
        document.search_form.submit();
    }
}
function fnReSendMail(action) {
    if (confirm('仮登録メールを再送しても宜しいですか？')) {
        document.search_form.action = action;
        document.search_form.submit();
    }
}
{% endblock %}

{% block main %}
<form name="search_form" id="search_form" method="post" action="">
    <!--検索条件設定テーブルここから-->
    <div class="search-box">
            <div class="row">
                <div class="col-md-12 accordion">

                    {{ form_widget(searchForm.multi, { attr: { placeholder: '会員ID・メールアドレス・お名前・お名前(フリガナ)', class : 'input_search' } } ) }}

                    <a class="toggle fa-stack" href="#"><span class="fa fa-minus fa-stack-1x"></span> <span class="fa fa-minus fa-stack-1x"></span></a>
                    <div class="search-box-inner accpanel">
                        {{ form_rest(searchForm, { attr : { class : 'search' } }) }}

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center"><a href="#">検索条件をクリア</a></p>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <div class="row btn_area">
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
                    <button class="btn btn-primary btn-block btn-lg" onclick="fnChangeActionSubmit('{{ url('admin_customer') }}'); return false;">
                        検索する <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
                <!-- /.col -->
            </div>
    </div>
    <!--検索条件設定テーブルここまで-->

{% if pagination and pagination.totalItemCount > 0 %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-arrow">
                    <h3 class="box-title">検索結果 <span class="normal"><strong>{{ pagination.totalItemCount }} 件</strong> が該当しました</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="sort-dd">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">20件<span class="fa fa-chevron-down icon_down"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a>50件</a></li>
                                        <li><a>100件</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">CSVダウンロード<span class="fa fa-chevron-down icon_down"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a>ダウンロード</a></li>
                                        <li><a>出力項目設定</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table_list">
                        <div class="table-responsive with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>会員ID</th>
                                    <th>会員名</th>
                                    <th>電話番号</th>
                                    <th>メールアドレス</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Customer in pagination %}
                                <tr>
                                    <td class="member_id">{{ Customer.id }}</td>
                                    <td class="member_name"><a href="#" onclick="fnChangeActionSubmit('{{ url('admin_customer_edit', { 'id': Customer.id}) }}');return false;">{{ Customer.name01 }}&nbsp;{{ Customer.name02 }}</a></td>
                                    <td class="member_tel">{{ Customer.tel01 }}-{{ Customer.tel02 }}-{{ Customer.tel03 }}</td>
                                    <td class="member_mail">{{ Customer.email }}</td>
                                    <td class="icon_edit">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#" onclick="fnChangeActionSubmit('{{ url('admin_customer_edit', { 'id': Customer.id}) }}');return false;">編集</a></li>
                                                <li><a href="#" onclick="fnDelete('{{ url('admin_customer_delete', { 'id': Customer.id}) }}');return false;">削除</a></li>
                                                {% if Customer.Status.id == 1 %}
                                                <li><a href="#" onclick="fnReSendMail('{{ url('admin_customer_delete', { 'id': Customer.id}) }}');return false;">仮会員メール再送</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                {% if pagination.totalItemCount > 0 %}
                    {% include "pager.twig" with { 'pages' : pagination.paginationData } %}
                {% endif %}
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
{% endif %}
</form>
{% endblock %}