{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

            <li class="{% if active_menus(menus)[0] == 'customer' %}active{% endif %}">
                <a class="toggle"><svg class="cb cb-users"> <use xlink:href="#cb-users" /></svg>{{'admin.customer.subnavi.148'|trans}}<svg class="cb cb-angle-down"> <use xlink:href="#cb-angle-down" /></svg></a>
                <ul {% if active_menus(menus)[0] == 'customer' %}class="active" style="display: block;"{% endif %}>
                    <li  id="navi-customer-index" class="{% if active_menus(menus)[1] == 'customer_master' %}active{% endif %}"><a href="{{ url('admin_customer') }}">{{'admin.customer.subnavi.149'|trans}}</a></li>
                    <li  id="navi-customer-customer" class="{% if active_menus(menus)[1] == 'customer_edit' %}active{% endif %}"><a href="{{ url('admin_customer_new') }}">{{'admin.customer.subnavi.150'|trans}}</a></li>
                </ul>
            </li>