{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'checkout checkout_complete' %}

{% block main %}
{% include "Components/heading.twig" with {'title': 'front.shopping.complete_title' } %}

{% include "Components/checkout/progress-bar.twig" with {'step5': 'is-complete' } %}

<div id="shopping-complete" class="row">
    <div class="col-12">
        <div class="p-4 text-center bg-light">
            <h2><b>{{ 'front.shopping.complete_message__title'|trans }}</b></h2>
            <div class="complete-message my-3">
                {{ 'front.shopping.complete_message__body'|trans|nl2br }}
            </div>
            {% if Order.id %}
                <h5>
                    <b>{{ 'front.shopping.order_no'|trans }}: {{ Order.orderNo }}</b>
                </h5>
            {% endif %}
            {% if Order.complete_message is not empty %}
                <div class="complete-message my-3">
                    {{ Order.complete_message|raw }}
                </div>
            {% endif %}
            <hr class="my-4">
            <div class="col-md-3 mx-auto px-0">
                {% if hasNextCart %}
                    <a class="btn btn-primary btn-block" href="{{ url('cart') }}">{{ 'front.shopping.continue'|trans }}</a>
                {% else %}
                    <a class="btn btn-primary btn-block" href="{{ url('homepage') }}">{{ 'common.go_to_top'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
