{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'checkout checkout_login' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'common.login' } %}
    
    <div class="page-login">
        <div class="row">
            <div class="col-md-8">
                <form name="shopping_login" id="shopping_login" method="post" action="{{ url('mypage_login') }}" class="px-5 py-3 bg-light">
                    <input type="hidden" name="_target_path" value="shopping" />
                    <input type="hidden" name="_failure_path" value="shopping_login" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="text-center text-secondary display-3">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.login_email, { attr: { 'style' : 'ime-mode: disabled;', placeholder: 'common.mail_address'|trans, 'autofocus': true, 'class': 'form-control' }}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.login_pass, { attr: {'class': 'form-control', placeholder: 'common.password'|trans }}) }}
                    </div>
                    <div class="form-group">
                        {% if BaseInfo.option_remember_me %}
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <input type="hidden" name="login_memory" value="1">
                            {% else %}
                                {{ form_widget(form.login_memory, { 'label': 'common.remember_me'|trans }) }}
                            {% endif %}
                        {% endif %}

                        {% if error %}
                            <p class="form-text text-danger">{{ error.messageKey|trans(error.messageData, 'validators')|nl2br }}</p>
                        {% endif %}
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary btn-block">{{ 'common.login'|trans }}</button>
                        </div>
                        <div class="form-group col-md-6">
                            <a class="d-block" href="{{ url('forgot') }}">{{ 'common.forgot_login'|trans }}</a>
                            <a class="d-block" href="{{ url('entry') }}">{{ 'common.signup'|trans }}</a>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
            <div id="login-guest" class="col-md-4">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                    <div class="p-4 text-center bg-light guest-checkout">
                        <p>{{ 'front.shopping.guest_purchase_message'|trans }}</p>
                        <div class="text-center">
                            <a class="btn btn-primary" href="{{ url('shopping_nonmember') }}">{{ 'front.shopping.guest_purchase'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}