{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'checkout checkout_shipping_edit' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    {% include "Components/form/postcode_script.twig" %}
{% endblock javascript %}

{% set body_class = 'cart_page' %}
{# ログイン状態によって、表示内容を切替 #}
{% if is_granted('ROLE_USER') is empty %}
    {% set title = 'front.shopping.shipping_edit_title_nomember'|trans %}
{% endif %}

{% block main %}
    {% if is_granted('ROLE_USER') %}
        {% include "Components/heading.twig" with {'title': 'front.shopping.shipping_edit_header_customer' } %}
    {% else %}
        {% include "Components/heading.twig" with {'title': 'front.shopping.shipping_edit_header_nonmember' } %}
    {% endif %}

    <div class="row">
        <div class="col-12">
             <div class="page-shipping-edit">
                <form method="post" action="{{ url('shopping_shipping_edit', {'id': shippingId}) }}" class="h-adr">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    {# Name #}
                    {% include "Components/form/name.twig" with {'form': form} %}

                    {# Kanna #}
                    {% include "Components/form/kanna.twig" with {'form': form} %}

                    {# Company Name #}
                    {% include "Components/form/company.twig" with {'form': form} %}
                    
                    {# Address #}
                    {% include "Components/form/address.twig" with {'form': form} %}
                    
                    {# Phone #}
                    {% include "Components/form/phone.twig" with {'form': form} %}

                    {# Options Render #}
                    {% include "Components/form/options_render.twig" with {'form': form} %}
                    
                    <div class="form-group row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block" type="submit">{{ 'common.registration'|trans }}</button>

                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ url('shopping_shipping', { 'id': shippingId }) }}" class="btn btn-secondary btn-block">{{ 'common.back'|trans }}</a>
                            {% else %}
                                <a href="{{ url('shopping') }}" class="btn btn-secondary btn-block">{{ 'common.back'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
