{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'checkout checkout_shipping_multiple_edit' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    {% include "Components/form/postcode_script.twig" %}
{% endblock javascript %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.shopping.shipping_edit_header_customer' } %}
    <div class="row">
        <div class="col-12">
            <div class="page-multi-shipping">
                <form method="post" action="{{ url('shopping_shipping_multiple_edit') }}" class="h-adr">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    {# Name #}
                    {% include "Components/form/name.twig" with {'form': form} %}

                    {# Kanna #}
                    {% include "Components/form/kanna.twig" with {'form': form} %}

                    {# Company Name #}
                    {% include "Components/form/company.twig" with {'form': form} %}
                    
                    {# Address #}
                    {% include "Components/form/address.twig" with {'form': form} %}
                    
                    {# Phone #}
                    {% include "Components/form/phone.twig" with {'form': form} %}

                    {# Options Render #}
                    {% include "Components/form/options_render.twig" with {'form': form} %}

                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-md-8 mx-auto">
                                    <button class="btn btn-primary btn-block" type="submit">{{ 'common.registration'|trans }}</button>
                                    <a class="btn btn-secondary btn-block" href="{{ url('shopping_shipping_multiple') }}">{{ 'common.back'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
