{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'Admin/main_frame.twig' %}

{% block title %}会員管理{% endblock %}
{% block sub_title %}会員マスター{% endblock %}

{% block main %}

<script type="text/javascript">
<!--

    function fnDelete(action) {
        if (confirm('この会員情報を削除しても宜しいですか？')) {
            document.search_form.action = action;
            document.search_form.submit();
        }
    }

    function fnEdit(action) {
        document.search_form.action = action;
        document.search_form.submit();
    }

    function fnReSendMail(action) {
        if (confirm('仮登録メールを再送しても宜しいですか？')) {
            document.search_form.action = action;
            document.search_form.submit();
        }
    }
//-->
</script>

    {% for message in app.session.flashbag.get('admin.customer.complete')  %}
        {{ message|trans|raw }}<br />
    {% endfor %}


<div id="customer" class="contents-main">
    <form name="search_form" id="search_form" method="post" action="{{ url('admin_customer') }}">

        <h2>検索条件設定</h2>

        <!--検索条件設定テーブルここから-->
        <table class="form">
            {{ form_widget(form) }}
        </table>
        <div class="btn">
            <p class="page_rows">検索結果表示件数
            {#
            <select name="search_page_max">
                <option>10<option>
            </select> 件</p>
            #}
            <div class="btn-area">
                <ul>
                    <li>
                        <input type="submit" value="この条件で検索する" />
                    </li>
                </ul>
            </div>
        </div>
    </form>
    {% if showResult %}

        <!-- ★★検索結果一覧★★ -->
        <form name="form1" id="form1" method="post" action="?">
            <h2>検索結果一覧</h2>
            <div class="btn">
                <span class="attention">{{ Customers|length }}件</span>&nbsp;が該当しました。
                <!-- 検索結果 -->
                {#
                <a class="btn-normal" href="javascript:;" onclick="eccube.setModeAndSubmit('csv','',''); return false;">CSV ダウンロード</a>
                <a class="btn-normal" href="javascript:;" onclick="location.href='../contents/csv.php?tpl_subno_csv=customer'">CSV 出力項目設定</a>
                #}
            </div>

            <!-- 検索結果表示テーブル -->
            <table class="list" id="customer-search-result">
                <col width="10%" />
                <col width="10%" />
                <col width="50%" />
                <col width="30%" />

                <tr>
                    <th>種別</th>
                    <th>会員ID</th>
                    <th>会員情報</th>
                    <th>操作</th>
                </tr>
                {% for Customer in Customers %}
                    <tr>
                        <td class="center">
                            {% if Customer.Status.id == 1 %}
                                仮
                            {% else %}
                                本
                            {% endif %}
                        </td>
                        <td>
                            {{ Customer.id }}
                        </td>
                        <td>
                            {{ Customer.name01 }} {{Customer.name02}}<br />
                            {{ Customer.tel01 }} - {{ Customer.tel02 }} - {{ Customer.tel03 }}
                        </td>
                        <td class="center">
                            {% set delete_action = url('admin_customer_delete', {id: Customer.id}) %}
                            {% set resend_action = url('admin_customer_resend', {id: Customer.id}) %}
                            <span class="icon_edit">
                                <a href="{{ url('admin_customer_edit', { id : Customer.id }) }}");">編集</a>
                            </span>
                             | 
                            <span class="icon_delete">
                                <a href="#" onclick="return fnDelete('{{ delete_action }}');">削除</a>
                            </span>
                            {% if Customer.Status.id == 1 %}
                                | <a href="#" onclick="return fnReSendMail('{{ resend_action }}');">仮登録メール再送</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="center">
                            検索条件に該当するデータがありませんでした。
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <!-- 検索結果表示テーブル -->
        </form>
        <!-- ★★検索結果一覧★★ -->
    {% endif %}
</div>

{% endblock %}