{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if type is defined and type == 'text' %}
  <h2 class="{{class|default('h6')}}">
    {{ product.name }}
  </h2>
{% else %}
  <a class="{{class|default('')}}" href="{{ url('product_detail', {id : product.id} ) }}">
    {{ product.name }}
  </a>
{% endif %}