{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <style>

        .slick-slider {
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            content: " ";
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            text-align: center;
            opacity: .25;
            background-color: black;
            border-radius: 50%;

        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            background-color: black;
        }

        .slick-dots li button.thumbnail img {
            width: 0;
            height: 0;
        }

    </style>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
    eccube.classCategories = {{ Product.class_categories|json_encode|raw }};

    // 規格2に選択肢を割り当てる。
    function fnSetClassCategories(form, classcat_id2_selected) {
        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        var $sele2 = $form.find('select[name=classcategory_id2]');
        eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
    }

    {% if form.classcategory_id2 is defined %}
    fnSetClassCategories(
            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
    );
    {% endif %}
</script>

<script>
$(function(){
    $('.carousel').slick({
        infinite: false,
        speed: 300,
        prevArrow:'<button type="button" class="slick-prev"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        nextArrow:'<button type="button" class="slick-next"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            }
        ]
    });

    $('.slides').slick({
        dots: true,
        arrows: false,
        speed: 300,
        customPaging: function(slider, i) {
            return '<button class="thumbnail">' + $(slider.$slides[i]).find('img').prop('outerHTML') + '</button>';
        }
    });

    $('#favorite').click(function() {
        $('#mode').val('add_favorite');
    });

    $('#add-cart').click(function() {
        $('#mode').val('add_cart');
    });

    // bfcache無効化
    $(window).bind('pageshow', function(event) {
        if (event.originalEvent.persisted) {
            location.reload(true);
        }
    });
});
</script>

{% endblock %}

{% block main %}
    <div class="ec-layoutRole__contentTop">
        <div class="ec-layoutRole__contents">
            <div class="ec-layoutRole__main">
                <div class="ec-layoutRole__mainTop">
                </div>
                <div class="ec-productRole">
                    <div class="ec-grid2">
                        <div class="ec-grid2__cell">
                            <div class="ec-productRole__img slides">
                            {% if Product.ProductImage|length > 0 %}
                                {% for ProductImage in Product.ProductImage %}
                                    <img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}"/>
                                {% endfor %}
                            {% else %}
                                <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}"/>
                            {% endif %}
                            </div>
                        </div>

                        <div class="ec-grid2__cell">
                            <div class="ec-productRole__profile">
                                <div class="ec-productRole__title">
                                    <h2 class="ec-headingTitle">{{ Product.name }}</h2>
                                </div>
                                {% if Product.ProductTag is not empty %}
                                    <!--▼商品タグ-->
                                    <div id="product_tag_box" class="product_tag">
                                        {% for ProductTag in Product.ProductTag %}
                                            <span id="product_tag_box__product_tag--{{ ProductTag.Tag.id }}" class="product_tag_list">{{ ProductTag.Tag }}</span>
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    <!--▲商品タグ-->
                                {% endif %}

                                <div class="ec-productRole__price">

                                    <!--★通常価格★-->
                                    {% if Product.hasProductClass -%}
                                        <div class="ec-price">
                                            {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
                                                <p id="detail_description_box__class_normal_price" class="normal_price"> 通常価格：<span class="ec-price__price price01_default">{{ Product.getPrice01IncTaxMin|price }}</span> <span class="ec-price__tax">税込</span></p>
                                            {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
                                                <p id="detail_description_box__class_normal_range_price" class="normal_price"> 通常価格：<span class="ec-price__price price01_default">{{ Product.getPrice01IncTaxMin|price }} ～ {{ Product.getPrice01IncTaxMax|price }}</span> <span class="ec-price__tax">税込</span></p>
                                            {% endif %}
                                        </div>
                                    {% else -%}
                                        {% if Product.getPrice01Max is not null %}
                                            <div class="ec-price">
                                                <p id="detail_description_box__normal_price" class="normal_price"> 通常価格：<span class="ec-price__price price01_default">{{ Product.getPrice01IncTaxMin|price }}</span> <span class="ec-price__tax">税込</span></p>
                                            </div>
                                        {% endif %}
                                    {% endif -%}

                                    <!--★販売価格★-->
                                    <div class="ec-price">
                                    {% if Product.hasProductClass -%}
                                        {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                            <p id="detail_description_box__class_sale_price" class="sale_price"><span class="ec-price__price price02_default">{{ Product.getPrice02IncTaxMin|price }}</span><span class="ec-price__tax">税込</span></p>
                                        {% else %}
                                            <p id="detail_description_box__class_range_sale_price" class="sale_price"><span class="ec-price__price price02_default">{{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}</span> <span class="ec-price__tax">税込</span></p>
                                        {% endif %}
                                    {% else -%}
                                        <p id="detail_description_box__sale_price" class="sale_price"><span class="ec-price__price price02_default">{{ Product.getPrice02IncTaxMin|price }}</span> <span class="ec-price__tax">税込</span></p>
                                    {% endif -%}
                                    </div>

                                </div>

                                {% if Product.code_min is not empty %}
                                    <div class="ec-productRole__code">商品コード：{{ Product.code_min }}
                                        {% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% if Product.ProductCategories is not empty %}
                                    <div class="ec-productRole__category">
                                        <div>関連カテゴリ</div>
                                        {% for ProductCategory in Product.ProductCategories %}
                                            <ul>
                                                <li>
                                                    {% for Category in ProductCategory.Category.path %}
                                                        <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a> {%- if loop.last == false %}<span>＞</span>{% endif -%}
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                        {% endfor %}
                                        </div>
                                {% endif %}

                                <form action="?" method="post" id="form1" name="form1">
                                    <!--▼買い物かご-->
                                        {% if Product.stock_find %}

                                            {% if form.classcategory_id1 is defined %}
                                            <ul id="detail_cart_box__cart_class_category_id" class="classcategory_list">
                                                {# 規格1 #}
                                                <li>
                                                    {{ form_widget(form.classcategory_id1) }}
                                                    {{ form_errors(form.classcategory_id1) }}
                                                </li>
                                                {# 規格2 #}
                                                {% if form.classcategory_id2 is defined %}
                                                    <li>
                                                        {{ form_widget(form.classcategory_id2) }}
                                                        {{ form_errors(form.classcategory_id2) }}
                                                    </li>
                                                 {% endif %}
                                            </ul>
                                            {% endif %}

                                            <div class="ec-productRole__actions">
                                                <div class="ec-numberInput"><span>数量</span>
                                                    {{ form_widget(form.quantity) }}
                                                    {{ form_errors(form.quantity) }}
                                                </div>
                                            </div>

                                            <div class="extra-form">
                                                {% for f in form.getIterator %}
                                                    {% if f.vars.name matches '[^plg*]' %}
                                                        {{ form_row(f) }}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <div class="ec-productRole__btn">
                                                <button type="submit" id="add-cart" class="ec-blockBtn--action prevention-btn prevention-mask">カートに入れる</button>
                                            </div>

                                        {% else %}

                                            <div class="ec-productRole__btn">
                                                <button type="button" class="ec-blockBtn--action" disabled="disabled">ただいま品切れ中です</button>
                                            </div>

                                        {% endif %}

                                        {% if BaseInfo.option_favorite_product == 1 %}
                                            <div class="ec-productRole__btn">
                                                {% if is_favorite == false %}
                                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel">お気に入りに追加</button>
                                                {% else %}
                                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel" disabled="disabled">お気に入りに追加済みです</button>
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                    {{ form_rest(form) }}
                                </form>

                                <div class="ec-productRole__description">{{ Product.description_detail|raw|nl2br }}</div>

                            </div>

                            {# フリーエリア #}
                            {% if Product.freearea %}
                                {{ include(template_from_string(Product.freearea)) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
