{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% form_theme search_form 'bootstrap_3_layout.html.twig' %}
{% form_theme disp_number_form 'bootstrap_3_layout.html.twig' %}

{% block main %}
    <div id="main">
        {#
        <!-- ▼topicpath▼ -->
        <div id="topicpath" class="row">
            <ol>
                <li><a href="./">全商品</a></li>
                <li class="last">キッチンツール</li>
            </ol>
        </div>
        <!-- ▲topicpath▲ -->
        #}

        <div class="row">
            <p class="intro col-sm-6"><strong><span id="productscount">{{ pagination.totalItemCount }}</span>件</strong>の商品がみつかりました。</p>
            <div class="col-sm-6 no-padding">

                {{ form_widget(disp_number_form) }}
                {{ form_widget(search_form.orderby) }}
                {#
                <ul class="pagenumberarea clearfix">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">20件<span class="fa fa-chevron-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>50件</a></li>
                            <li><a>100件</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">おすすめ順<span class="fa fa-chevron-down"></span></a></a>
                        <ul class="dropdown-menu">
                            <li><a>新着順</a></li>
                            <li><a>価格順</a></li>
                        </ul>
                    </li>
                </ul>
                #}
            </div>
        </div>

        <!-- ▼item_list▼ -->
        <div id="item_list">

            <div class="row no-padding">
                {% for Product in pagination %}
                <div class="col-sm-3 col-xs-6">
                    <div class="product_item">
                        <a href="{{ url('product_detail', {'id': Product.id}) }}">
                            <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}{{ Product.main_list_image|no_image_main_list }}">{#<button type="button" class="btn_circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-ellipsis-h"></span></button>#}</div>
                            <dl>
                                <dt class="item_name">{{ Product.name }}</dt>
                                {% if Product.hasProductClass %}
                                <dd class="item_price">\{{ Product.getPrice02IncTaxMin|number_format }}～\{{ Product.getPrice02IncTaxMax|number_format }}</dd>
                                {% else %}
                                <dd class="item_price">\{{ Product.getPrice02IncTaxMin|number_format }}</dd>
                                {% endif %}
                            </dl>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <!-- ▲item_list▲ -->
        {% if pagination.totalItemCount > 0 %}
            {% include "pagination.twig" with { 'pages' : pagination.paginationData } %}
        {% endif %}

    </div><!-- /#main -->

{% endblock %}
