{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'Components/form/base_input.twig' %}
{% set custom_class = customClass|default('') %}

{% block formLabel %}
  {{ form_label(form[field], label, { 'label_attr': { 'class': 'col-form-label' }}) }}
{% endblock %}

{% block formContent %}
  <div class="row {{ has_errors(form[field]) ? 'is-invalid'}}">
    <div class="col-12">
      {{ form_widget(form[field], { 'attr': 
                                    { 
                                      'class': 'form-control',
                                      'placeholder' : placeholder|default('')|trans
                                    }
                                  }) 
      }}
      {{ form_errors(form[field]) }}
      {% if help|default('false') %}
          <small class="form-text text-muted">{{ helpText|default('')|trans }}</small> 
      {% endif %}
    </div>
  </div>
{% endblock %}