{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'Components/form/base_input.twig' %}
{% set custom_class = customClass|default('form-group-password') %}

{% block formLabel %}
    {{ form_label(form.password, 'common.password', { 'label_attr': { 'class': 'col-form-label' }}) }}
{% endblock %}

{% block formContent %}
    <div class="row mb-3 {{ has_errors(form.password.first) ? 'is-invalid'}}">
        <div class="col-12">
            {{ form_widget(form.password.first, {
                'attr': { 'class': 'form-control', 'placeholder': 'common.password_sample'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                'type': 'password'
            }) }}
            {{ form_errors(form.password.first) }}
        </div>
    </div>
    <div class="row {{ has_errors(form.password.second) ? 'is-invalid'}}">
        <div class="col-12">
            {{ form_widget(form.password.second, {
                'attr': { 'class': 'form-control', 'placeholder': 'common.repeated_confirm'|trans },
                'type': 'password'
            }) }}
            {{ form_errors(form.password.second) }}
        </div>
    </div>
{% endblock %}