{% extends 'Components/form/base_input.twig' %}
{% set custom_class = customClass|default('') %}

{% block formLabel %}
    {{ form_label(form.address, 'common.address', { 'label_attr': { 'class': 'col-form-label' }}) }}
{% endblock %}

{% block formContent %}
    <div class="row {{ has_errors(form.postal_code) ? 'is-invalid'}}">
        <div class="col-12">
            <div class="form-row">
                <div class="col-auto w-50">
                    <span>{{ 'common.postal_symbol'|trans }}</span>
                    {{ form_widget(form.postal_code, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_errors(form.postal_code) }}
                </div>
                <div class="col-auto w-50 d-flex align-items-center">
                    <i class="fas fa-question-circle mx-2"></i>
                    <a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ 'common.search_postal_code'|trans }}</span></a>
                </div>
            </div>                                
        </div>
    </div>
{% endblock %}