<ul class="level1">
    <li class="on_level2">
        <div><span>プラグイン管理</span></div>
        <ul class="level2">
            <li id="navi-ownersstore-index">
                <a href="{{ url('admin_ownersstore') }}"><span>プラグイン管理</span></a>
            </li>
            <li id="navi-ownersstore-plugin-hookpoint-list">
                <a href="{{ url('admin_ownersstore_plugin_hookpoint_list') }}"><span>フックポイント管理</span></a>
            </li>
        </ul>
    </li>
    <li id="navi-ownersstore-module">
        <a href="{{ url('admin_ownersstore_module') }}"><span>モジュール管理</span></a>
    </li>
    <li id="navi-ownersstore-settings">
        <a href="{{ url('admin_ownersstore_settings') }}"><span>認証キー設定</span></a>
    </li>
    <li id="navi-ownersstore-log">
        <a href="{{ url('admin_ownersstore_log') }}"><span>ログ管理</span></a>
    </li>
</ul>
