{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Carts = get_all_carts() %}
{% set totalPrice = get_carts_total_price() %}
{% set totalQuantity = get_carts_total_quantity() %}

<div class="ec-cartNavi">
    <i class="fas fa-shopping-cart"></i>
    <small class="mini-count">{{ totalQuantity|number_format }}</small>
    <strong>{{ totalPrice|price }}</strong>
</div>
{% if totalQuantity > 0 %}
    <div class="ec-cartNaviIsset">
        {% for Cart in Carts %}
            {% for CartItem in Cart.CartItems %}
                {% set ProductClass = CartItem.ProductClass %}
                {% set Product = ProductClass.Product %}
                <div class="media mb-3 pb-3 border-bottom">
                    {# Image #}
                    {% include "Components/product/image.twig" with {'product': Product, 'imgClass': 'product-thumb mr-3'} %}
                    
                    <div class="media-body text-left">
                        <h6 class="mt-0">
                            {# Name #}
                            {% include "Components/product/name.twig" with {'product': Product} %}
                        </h6>

                        {# Options #}
                        {% include "Components/product/options.twig" with {'productClass': ProductClass, class: 'mini-product-options'} %}

                        {# Price #}
                        {% include "Components/product/price.twig" with {'product': CartItem, 'type': 'mini' } %}
                        <div class="mini-quantity">
                            {{ 'common.quantity'|trans }} {{ CartItem.quantity|number_format }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="mini-actions">
            <a class="btn btn-primary btn-block" href="{{ url('cart') }}">
                {{ 'front.block.cart.go_to_cart'|trans }}
            </a>
            <btn class="ec-cartNavi--cancel btn btn-secondary btn-block">
                {{ 'common.cancel'|trans }}
            </btn>
        </div>
    </div>
{% else %}
    <div class="ec-cartNaviNull">
        <div class="alert alert-danger mb-0" role="alert">
            {{ 'front.block.cart.no_item'|trans }}
        </div>
    </div>
{% endif %}