{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="eyecatch">
    <div class="row mb-5">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <span class="d-block mb-3">{{ 'front.block.eyecatch.title__en'|trans }}</span>
            <h4 class="mb-3 font-weight-bold">{{ 'front.block.eyecatch.title__ja'|trans }}</h4>
            <p class="mb-4">{{ 'front.block.eyecatch.descriptiron'|trans|nl2br }}</p>
            <a class="btn btn-dark btn-lg d-block d-md-inline-block px-md-5" href="{{ url('product_list') }}?category_id=4">{{ 'front.block.eyecatch.view_list'|trans }}</a>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            <img src="{{ asset('assets/img/top/img_about.jpg') }}" alt="" role="presentation"/>
        </div>
    </div>
</div>