{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="list-group list-group-flush list-group-login">
    <a class="list-group-item list-group-item-action" href="{{ url('cart') }}">
        <i class="fas fa-shopping-cart fa-fw mr-2"></i>
        <span>{{ 'front.block.login.to_cart'|trans }}</span>
    </a>
    {% if is_granted('ROLE_USER') %}
        <a class="list-group-item list-group-item-action" title="{{ 'front.block.login.mypage'|trans }}" href="{{ url('mypage') }}">
            <i class="fas fa-user fa-fw mr-2"></i>
            <span>{{ 'front.block.login.mypage'|trans }}</span>
        </a>
        {% if BaseInfo.option_favorite_product %}
            <a class="list-group-item list-group-item-action" title="{{ 'front.block.login.favorite'|trans }}" href="{{ url('mypage_favorite') }}">
                <i class="fas fa-heart fa-fw mr-2"></i>
                <span>{{ 'front.block.login.favorite'|trans }}</span>
            </a>
        {% endif %}
        <a class="list-group-item list-group-item-action" title="{{ 'front.block.login.logout'|trans }}" href="{{ url('logout') }}">
            <i class="fas fa-lock fa-fw mr-2"></i>
            <span>{{ 'front.block.login.logout'|trans }}</span>
        </a>
    {% else %}
        <a class="list-group-item list-group-item-action" title="{{ 'front.block.login.customer_registration'|trans }}" href="{{ url('entry') }}">
            <i class="fas fa-user fa-fw mr-2"></i>
            <span>{{ 'front.block.login.customer_registration'|trans }}</span>
        </a>
        {% if BaseInfo.option_favorite_product %}
            <a class="list-group-item list-group-item-action" title="{{ 'front.block.login.favorite'|trans }}" href="{{ url('mypage_favorite') }}">
                <i class="fas fa-heart fa-fw mr-2"></i>
                <span>{{ 'front.block.login.favorite'|trans }}</span>
            </a>
        {% endif %}
        <a class="list-group-item list-group-item-action" title="{{ 'front.block.login.login'|trans }}" href="{{ url('mypage_login') }}">
            <i class="fas fa-lock fa-fw mr-2"></i>
            <span>{{ 'front.block.login.login'|trans }}</span>
        </a>
    {% endif %}
    <a class="list-group-item list-group-item-action" title="{{ 'front.block.login.to_home'|trans }}" href="{{ url('homepage') }}">
        <i class="fas fa-home fa-fw mr-2"></i>
        <span>{{ 'front.block.login.to_home'|trans }}</span>
    </a>
</div>
