
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set NewsList = repository('Eccube\\Entity\\News').getList() %}

<div class="news">
    <div class="row mb-5">
        <h5 class="col-12 text-left pb-2">
            <b>{{ 'front.block.news.title__en'|trans }}</b><span class="ec-vertical-line"></span>{{ 'front.block.news.title__ja'|trans }}
        </h5>
        <div class="col-12">
            <div class="accordion news-accordion" id="news-accordion">
                {% set firstItem = NewsList|first %}
                {% for News in NewsList %}
                    <div class="card">
                        <div class="card-header" id="news-{{ News.id }}">
                            {% if News.description or News.url %}
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ News.id }}" aria-expanded="true" aria-controls="collapse-{{ News.id }}">
                                    <span>
                                        <small class="mr-4 text-left d-block d-md-inline-block">{{ News.publish_date|date_day }}</small> 
                                        {{ News.title }}
                                    </span>
                                    <i class="fas fa-minus"></i>
                                </button>
                            {% else %}
                                <small class="mr-4 text-left d-block d-md-inline-block">{{ News.publish_date|date_day }}</small> 
                                {{ News.title }}
                            {% endif %}
                        </div>

                        <div id="collapse-{{ News.id }}" class="collapse" aria-labelledby="news-{{ News.id }}" data-parent="#news-accordion">
                            <div class="card-body">
                                <div class="news-content">
                                    {{ News.description|raw|nl2br }}
                                </div>
                                {% if News.url %}
                                    <a class="btn btn-secondary mt-3" href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>{{ 'front.block.news.see_details'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
