{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% form_theme form 'Form/form_div_layout.twig' %}
<form method="get" class="form-search-head p-3 p-md-0 justify-content-center" action="{{ path('product_list') }}">
  <div class="input-group w-100">
    {{ form_widget(form.category_id, {'id': null, 'attr': {'aria-label': 'front.block.category.category__ja'|trans, 'class': 'category_id'} }) }}
    {{ form_label(form.name, '', { 'label_attr': { 'class': 'd-none' }}) }}
    {{ form_widget(form.name, {'id': null, 'attr': {'class': 'form-control rounded-right', 'placeholder' : 'common.search_keyword', 'aria-label': 'common.search_keyword'|trans }} ) }}
    <button class="btn btn-primary rounded-right" aria-label="{{ 'admin.common.search'|trans }}" type="submit">
        <i class="fas fa-search"></i>
    </button>
    </div>
</form>

