<!DOCTYPE html>
{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if Page.author is not empty %}
        <meta name="author" content="{{ Page.author }}">
    {% endif %}
    {% if Page.description is not empty %}
        <meta name="description" content="{{ Page.description }}">
    {% endif %}
    {% if Page.keyword is not empty %}
        <meta name="keywords" content="{{ Page.keyword }}">
    {% endif %}
    {% if Page.meta_robots is not empty %}
        <meta name="robots" content="{{ Page.meta_robots }}">
    {% endif %}
    <link rel="icon" href="{{ asset('img/common/favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <!-- for original theme CSS -->
    {% block stylesheet %}{% endblock %}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>

    {# Layout: HEAD #}
    {% if Page.Head %}
        {{ include('block.twig', {'Blocks': Page.Head}) }}
    {% endif %}
    {# プラグイン用styleseetやmetatagなど #}
    {% if plugin_assets is defined %}{{ include('@admin/snippet.twig', { snippets: plugin_assets }) }}{% endif %}
</head>
<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }}">
{# Layout: BODY_AFTER #}
{% if Page.BodyAfter %}
    {{ include('block.twig', {'Blocks': Page.BodyAfter}) }}
{% endif %}

<div class="ec-layoutRole">
    {# Layout: HEADER #}
    {% if Page.Header %}
        <div class="ec-layoutRole__header">
            {{ include('block.twig', {'Blocks': Page.Header}) }}
        </div>
    {% endif %}

    {# Layout: CONTENTS_TOP #}
    {% if Page.ContentsTop %}
        <div class="ec-layoutRole__contentTop">
            {{ include('block.twig', {'Blocks': Page.ContentsTop}) }}
        </div>
    {% endif %}

    <div class="ec-layoutRole__contents">
        {# Layout: SIDE_LEFT #}
        {% if Page.SideLeft %}
            <div class="ec-ec-layoutRole__left">
                {{ include('block.twig', {'Blocks': Page.SideLeft}) }}
            </div>
        {% endif %}

        {% set layoutRoleMain = 'ec-layoutRole__main' %}
        {% if Page.ColumnNum == 2 %}
            {% set layoutRoleMain = 'ec-layoutRole__mainWithColumn' %}
        {% elseif Page.ColumnNum == 3 %}
            {% set layoutRoleMain = 'ec-layoutRole__mainBetweenColumn' %}
        {% endif %}

        <div class="{{ layoutRoleMain }}">
            {# Layout: MAIN_TOP #}
            {% if Page.MainTop %}
                <div class="ec-layoutRole__mainTop">
                    {{ include('block.twig', {'Blocks': Page.MainTop}) }}
                </div>
            {% endif %}

            {# MAIN AREA #}
            {% block main %}{% endblock %}

            {# Layout: MAIN_Bottom #}
            {% if Page.MainBottom %}
                <div class="ec-layoutRole__mainBottom">
                    {{ include('block.twig', {'Blocks': Page.MainBottom}) }}
                </div>
            {% endif %}
        </div>

        {# Layout: SIDE_RIGHT #}
        {% if Page.SideRight %}
            <div class="ec-layoutRole__mainRight">
                {{ include('block.twig', {'Blocks': Page.SideRight}) }}
            </div>
        {% endif %}
    </div>

    {# Layout: CONTENTS_BOTTOM #}
    {% if Page.ContentsBottom %}
        <div class="ec-layoutRole__contentBottom">
            {{ include('block.twig', {'Blocks': Page.ContentsBottom}) }}
        </div>
    {% endif %}

    {# Layout: CONTENTS_FOOTER #}
    {% if Page.Footer %}
        <div class="ec-layoutRole__footer">
            {{ include('block.twig', {'Blocks': Page.Footer}) }}
        </div>
    {% endif %}
</div><!-- ec-layoutRole -->

<div class="ec-overlayRole"></div>
<div class="ec-drawerRole">
    {# Layout: DRAWER #}
    {% if Page.Drawer %}
        {{ include('block.twig', {'Blocks': Page.Drawer}) }}
    {% endif %}
</div>
<div class="ec-blockTopBtn pagetop"></div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>
<script src="{{ asset('js/function.js') }}"></script>
<script src="{{ asset('js/eccube.js') }}"></script>
{% block javascript %}{% endblock %}
{# Layout: CLOSE_BODY_BEFORE #}
{% if Page.CloseBodyBefore %}
    {{ include('block.twig', {'Blocks': Page.CloseBodyBefore}) }}
{% endif %}
{# プラグイン用Snippet #}
{% if plugin_snippets is defined %}
    {{ include('snippet.twig', { snippets: plugin_snippets }) }}
{% endif %}
</body>
</html>
