<!DOCTYPE html>
{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if PageLayout.author is not empty %}
        <meta name="author" content="{{ PageLayout.author }}">
    {% endif %}
    {% if PageLayout.description is not empty %}
        <meta name="description" content="{{ PageLayout.description }}">
    {% endif %}
    {% if PageLayout.keyword is not empty %}
        <meta name="keywords" content="{{ PageLayout.keyword }}">
    {% endif %}
    {% if PageLayout.meta_robots is not empty %}
        <meta name="robots" content="{{ PageLayout.meta_robots }}">
    {% endif %}
    <link rel="icon" href="{{ app.config.front_urlpath }}/img/common/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/assets/css/style.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
    <!-- for original theme CSS -->
    {% block stylesheet %}{% endblock %}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    {# Layout: HEAD #}
    {% if PageLayout.Head %}
        {{ include('block.twig', {'Blocks': PageLayout.Head}) }}
    {% endif %}
</head>
<body id="page_{{ app.request_stack.currentrequest.get('_route') }}" class="{{ body_class|default('other_page') }}">
<div class="ec-layoutRole">
    {# Layout: HEADER #}
    {% if PageLayout.Header %}
        <div class="ec-layoutRole__header">
            {{ include('block.twig', {'Blocks': PageLayout.Header}) }}
        </div>
    {% endif %}

    {# Layout: CONTENTS_TOP #}
    {% if PageLayout.ContentsTop %}
        <div class="ec-layoutRole__contentTop">
            {{ include('block.twig', {'Blocks': PageLayout.ContentsTop}) }}
        </div>
    {% endif %}

    <div class="ec-layoutRole__contents">
        {# Layout: SIDE_LEFT #}
        {% if PageLayout.SideLeft %}
            <div class="ec-ec-layoutRole__left">
                {{ include('block.twig', {'Blocks': PageLayout.SideLeft}) }}
            </div>
        {% endif %}

        {% set layoutRoleMain = 'ec-layoutRole__main' %}
        {% if PageLayout.ColumnNum == 2 %}
            {% set layoutRoleMain = 'ec-layoutRole__mainWithColumn' %}
        {% elseif PageLayout.ColumnNum == 3 %}
            {% set layoutRoleMain = 'ec-layoutRole__mainBetweenColumn' %}
        {% endif %}

        <div class="{{ layoutRoleMain }}">
            {# Layout: MAIN_TOP #}
            {% if PageLayout.MainTop %}
                <div class="ec-layoutRole__mainTop">
                    {{ include('block.twig', {'Blocks': PageLayout.MainTop}) }}
                </div>
            {% endif %}

            {# MAIN AREA #}
            {% block main %}{% endblock %}

            {# Layout: MAIN_Bottom #}
            {% if PageLayout.MainBottom %}
                <div class="ec-layoutRole__mainBottom">
                    {{ include('block.twig', {'Blocks': PageLayout.MainBottom}) }}
                </div>
            {% endif %}
        </div>

        {# Layout: SIDE_RIGHT #}
        {% if PageLayout.SideRight %}
            <div class="ec-layoutRole__mainRight">
                {{ include('block.twig', {'Blocks': PageLayout.SideRight}) }}
            </div>
        {% endif %}
    </div>

    {# Layout: CONTENTS_BOTTOM #}
    {% if PageLayout.ContentsBottom %}
        <div class="ec-layoutRole__contentBottom">
            {{ include('block.twig', {'Blocks': PageLayout.ContentsBottom}) }}
        </div>
    {% endif %}

    {# Layout: CONTENTS_FOOTER #}
    {% if PageLayout.Footer %}
        <div class="ec-layoutRole__footer">
            {{ include('block.twig', {'Blocks': PageLayout.Footer}) }}
        </div>
    {% endif %}
</div><!-- ec-layoutRole -->

<div class="ec-overlayRole"></div>
<div class="ec-drawerRole"></div>
<div class="ec-blockTopBtn"></div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="{{ app.config.front_urlpath }}/assets/js/script.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/function.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/eccube.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
