{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if app.config.pageinrange  is defined %}
    {% set pageinrange  = app.config.pageinrange %}
{% else  %}
    {% set pageinrange  = false %}
{% endif %}

{% if pages.pageCount > 1 %}
    <ul class="ec-pager">

        {% if pageinrange and pages.firstPageInRange != 1 %}
            {# 最初へリンクを表示 #}
            <li class="ec-pager__item">
                <a href="{{ path(app.request_stack.currentrequest.attributes.get('_route'), app.request_stack.currentrequest.query.all|merge({'pageno': pages.first})) }}"
                   aria-label="First"><span aria-hidden="true">{{'common.label.pager.first'|trans}}</span></a>
            </li>
        {% endif %}

        {% if pages.previous is defined %}
            <li class="ec-pager__item">
                <a href="{{ path(app.request_stack.currentrequest.attributes.get('_route'), app.request_stack.currentrequest.query.all|merge({'pageno': pages.previous})) }}"
                   aria-label="Previous"><span aria-hidden="true">{{'common.label.pager.prev'|trans}}</span></a>
            </li>
        {% endif %}

        {% if pageinrange and pages.firstPageInRange != 1 %}
            {# 1ページリンクが表示されない場合、「...」を表示 #}
            <li>...</li>
        {% endif %}

        {% for page in pages.pagesInRange %}
            {% if page == pages.current %}
                <li class="ec-pager__item--active"><a href="{{ path(app.request_stack.currentrequest.attributes.get('_route'), app.request_stack.currentrequest.query.all|merge({'pageno': page})) }}"> {{ page }} </a></li>
            {% else %}
                <li class="ec-pager__item"><a href="{{ path(app.request_stack.currentrequest.attributes.get('_route'), app.request_stack.currentrequest.query.all|merge({'pageno': page})) }}"> {{ page }} </a></li>
            {% endif %}
        {% endfor %}

        {% if pageinrange and pages.last != pages.lastPageInRange %}
            {# 最終ページリンクが表示されない場合、「...」を表示 #}
            <li>...</li>
        {% endif %}

        {% if pages.next is defined %}
            <li class="ec-pager__item">
                <a href="{{ path(app.request_stack.currentrequest.attributes.get('_route'), app.request_stack.currentrequest.query.all|merge({'pageno': pages.next})) }}"
                   aria-label="Next"><span aria-hidden="true">{{'common.label.pager.next'|trans}}</span></a>
            </li>
        {% endif %}

        {% if pageinrange and pages.last != pages.lastPageInRange %}
            {# 最後へリンクを表示 #}
            <li class="ec-pager__item">
                <a href="{{ path(app.request_stack.currentrequest.attributes.get('_route'), app.request_stack.currentrequest.query.all|merge({'pageno': pages.last})) }}"
                   aria-label="Last"><span aria-hidden="true">{{'common.label.pager.last'|trans}}</span></a>
            </li>
        {% endif %}
    </ul>
{% endif %}
