{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="{{ app.config.char_code|default('utf-8') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if PageLayout.author is not empty %}
        <meta name="author" content="{{ PageLayout.author }}">
    {% endif %}
    {% if PageLayout.description is not empty %}
        <meta name="description" content="{{ PageLayout.description }}">
    {% endif %}
    {% if PageLayout.keyword is not empty %}
        <meta name="keywords" content="{{ PageLayout.keyword }}">
    {% endif %}
    {% if PageLayout.meta_robots is not empty %}
        <meta name="robots" content="{{ PageLayout.meta_robots }}">
    {% endif %}
    <link rel="shortcut icon" href="{{ app.config.root }}img/common/favicon.ico">
    <link rel="stylesheet" href="{{ app.config.root }}css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ app.config.root }}css/slick.css">
    <link rel="stylesheet" href="{{ app.config.root }}css/theme_origin.css"><!-- for original theme CSS -->
    {% block stylesheet %}{% endblock %}
    {% if app.request.attributes.get('_route') == 'help_about' %}
        {% if app.request.isSecure %}
            <script type="text/javascript" src="//maps-api-ssl.google.com/maps/api/js?sensor=false"></script>
       {% else %}
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        {% endif %}
    {% endif %}

    {# ▼Head COLUMN #}
    {% if PageLayout.HeadNavi %}
        {# ▼上ナビ #}
        {{ include('block.twig', {'Blocs': PageLayout.HeadNavi}) }}
        {# ▲上ナビ #}
    {% endif %}
    {# ▲Head COLUMN #}
  </head>
  <body class="front_page">
    <div id="wrapper">
    <header id="header">

        {# ▼HeaderHeaderTop COLUMN #}
            {% if PageLayout.HeaderTopNavi %}
                <div id="headertopcolumn">
                    {# ▼上ナビ #}
                    {{ include('block.twig', {'Blocs': PageLayout.HeaderTopNavi}) }}
                    {# ▲上ナビ #}
                </div>
            {% endif %}
        {# ▲HeaderHeaderTop COLUMN #}

        <div class="container-fluid inner">
            <div class="header_logo_area">

                {# ▼HeaderInternal COLUMN #}
                {% if PageLayout.HeaderInternalNavi %}
                    {# ▼上ナビ #}
                    {{ include('block.twig', {'Blocs': PageLayout.HeaderInternalNavi}) }}
                    {# ▲上ナビ #}
                {% endif %}
                {# ▲HeaderInternal COLUMN #}

            </div>

            {# ▼TOP COLUMN #}
            {% if PageLayout.TopNavi %}
                {# ▼上ナビ #}
                {{ include('block.twig', {'Blocs': PageLayout.TopNavi}) }}
                {# ▲上ナビ #}
            {% endif %}
            {# ▲TOP COLUMN #}

            <p id="btn_menu"><a class="nav-trigger" href="#nav">Menu<span></span></a></p>
        </div>
    </header>
    
    <div id="contents" class="main_only">

        <div id="primary">

            {# ▼LEFT COLUMN #}
            {% if PageLayout.LeftNavi %}
                <div id="main-left">
                    {# ▼左ナビ #}
                    {{ include('block.twig', {'Blocs': PageLayout.LeftNavi}) }}
                    {# ▲左ナビ #}
                </div>
            {% endif %}
            {# ▲LEFT COLUMN #}

            {# ▼メイン上部 #}
            {% if PageLayout.MainHead %}
                <div id="main-head">
                {{ include('block.twig', {'Blocs': PageLayout.MainHead}) }}
                </div>
            {% endif %}
            {# ▲メイン上部 #}

            <div class="container-fluid inner">
            {% block main %}{% endblock %}
            </div>

            {# ▼メイン下部 #}
            {% if PageLayout.MainFoot %}
                <div id="main-foot">
                {{ include('block.twig', {'Blocs': PageLayout.MainFoot}) }}
                </div>
            {% endif %}
            {# ▲メイン下部 #}

            {# ▼RIGHT COLUMN #}
            {% if PageLayout.RightNavi %}
                <div id="main-right">
                    {# ▼右ナビ #}
                    {{ include('block.twig', {'Blocs': PageLayout.RightNavi}) }}
                    {# ▲右ナビ #}
                </div>
            {% endif %}
            {# ▲RIGHT COLUMN #}
        </div>

        {# ▼BOTTOM COLUMN #}
        {% if PageLayout.BottomNavi %}
            <div class="container-fluid inner">
                <div id="main">
                {# ▼下ナビ #}
                {{ include('block.twig', {'Blocs': PageLayout.BottomNavi}) }}
                {# ▲下ナビ #}
                </div>
            </div>
        {% endif %}
        {# ▲BOTTOM COLUMN #}

        <footer id="footer">
            <div class="container-fluid inner">
                {#
                <ul>
                <li><a href="#">当サイトについて</a></li>
                <li><a href="#">プライバシーポリシー</a></li>
                <li><a href="#">特定商取引法に関する法律について</a></li>
                <li><a href="#">お問い合わせ</a></li>
                </ul>
                #}
                <div class="footer_logo_area">
                    <p class="logo"><a href="{{url('homepage') }}">{{ BaseInfo.shop_name }}</a></p>
                    <p class="copyright"><small>copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</small></p>
                </div>
            </div>

            {# ▼FooterBottom COLUMN#}
            {% if PageLayout.FooterBottomNavi %}
                    {# ▼上ナビ #}
                    {{ include('block.twig', {'Blocs': PageLayout.FooterBottomNavi}) }}
                    {# ▲上ナビ #}
            {% endif %}
            {# ▲FooterBottom COLUMN#}

        </footer>

    </div>
    <div id="drawer" class="drawer sp">
    </div>

    <div class="overlay"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.config.root }}js/jquery-1.11.3.min.js"><\/script>')</script>
    <script src="{{ app.config.root }}js/bootstrap.min.js"></script>
    <script src="{{ app.config.root }}js/slick.min.js"></script>
    <script src="{{ app.config.root }}js/function.js"></script>
    <script src="{{ app.config.root }}js/eccube.js"></script>
    {% block javascript %}{% endblock %}
    <script type="text/javascript">
        $(function(){
            $('.main_visual').slick({
              dots: true,
              arrows: false,
              autoplay: true,
              speed: 300
            });

            $("#drawer").append($("#drawer_pc").clone(true).children());

            /*
             * for svg icon
             */
            $.ajax({
                type: 'GET',
                url: '{{ app.config.root }}img/common/svg.html',
                dataType: 'html',
                success: function(data){
                    $('body').prepend(data);
                },
                error: function() {
                    console.log('error');
                }
            });
            {{ block('onload') }}
        });
    </script>
  </body>
</html>
