{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>{{'common.label.about_us'|trans}}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            <div class="ec-borderedDefs">
                {% if BaseInfo.shop_name is defined %}
                    <dl id="help_about_box__shop_name">
                        <dt>{{'common.label.shop_name'|trans}}</dt>
                        <dd>{{ BaseInfo.shop_name }}</dd>
                    </dl>
                {% endif %}
                {% if BaseInfo.company_name is defined %}
                    <dl id="help_about_box__company_name">
                        <dt>{{'common.label.company_name'|trans}}</dt>
                        <dd>{{ BaseInfo.company_name }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.zip01 is defined %}
                    <dl id="help_about_box__zip">
                        <dt>{{'common.label.address'|trans}}</dt>
                        <dd>〒{{ BaseInfo.zip01 }}-{{ BaseInfo.zip02 }}<br />
                            {{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}
                        </dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.tel01 is defined %}
                    <dl id="help_about_box__tel">
                        <dt>{{'common.label.phone_number'|trans}}</dt>
                        <dd>{{ BaseInfo.tel01 }}-{{ BaseInfo.tel02 }}-{{ BaseInfo.tel03 }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.fax01 is defined %}
                    <dl id="help_about_box__fax">
                        <dt>{{'common.label.fax_number'|trans}}</dt>
                        <dd>{{ BaseInfo.fax01 }}-{{ BaseInfo.fax02 }}-{{ BaseInfo.fax03 }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.business_hour is defined %}
                    <dl id="help_about_box__business_hour">
                        <dt>{{'common.label.business_hour'|trans}}</dt>
                        <dd>{{ BaseInfo.business_hour }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.good_traded is defined %}
                    <dl id="help_about_box__good_traded">
                        <dt>{{'common.label.good_traded'|trans}}</dt>
                        <dd>{{ BaseInfo.good_traded|nl2br }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.message is defined %}
                    <dl id="help_about_box__message">
                        <dt>{{'admin.mail.order.203'|trans}}</dt>
                        <dd>{{ BaseInfo.message|nl2br }}</dd>
                    </dl>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
