{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}


{% block javascript %}
    {% if app.request.isSecure %}
        <script src="//maps-api-ssl.google.com/maps/api/js?sensor=false"></script>
    {% else %}
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    {% endif %}
    {% if baseInfo.latitude is defined and baseInfo.longitude is defined %}
        <script>
            $(function() {
                $("#maps").css({
                    'margin-top': '15px',
                    'margin-left': 'auto',
                    'margin-right': 'auto',
                    'width': '98%',
                    'height': '300px'
                });
                var lat = {{ baseInfo.latitude|escape('js') }};
                var lng = {{ baseInfo.longitude|escape('js') }};
                if (lat && lng) {
                    var latlng = new google.maps.LatLng(lat, lng);
                    var mapOptions = {
                        zoom: 15,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map($("#maps").get(0), mapOptions);
                    var marker = new google.maps.Marker({map: map, position: latlng});
                } else {
                    $("#maps").remove();
                }
            });
        </script>
    {% endif %}
{% endblock %}

{% block main %}
    <div id="contents" class="main_only">
        <div class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">当サイトについて</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="dl_table">
                                {% if baseInfo.shop_name is defined %}
                                    <dl>
                                        <dt>店名</dt>
                                        <dd>{{ baseInfo.shop_name }}</dd>
                                    </dl>
                                {% endif %}

                                {% if baseInfo.company_name is defined %}
                                <dl>
                                    <dt>会社名</dt>
                                    <dd>{{ baseInfo.company_name }}</dd>
                                </dl>
                                {% endif %}

                                {% if baseInfo.zip01 is defined %}
                                <dl>
                                    <dt>所在地</dt>
                                    <dd>〒{{ baseInfo.zip01 }}-{{ baseInfo.zip02 }}<br />
                                        {{ baseInfo.pref }}{{ baseInfo.addr01 }}{{ baseInfo.addr02 }}
                                    </dd>
                                </dl>
                                {% endif %}

                                {% if baseInfo.tel01 is defined %}
                                    <dl>
                                        <dt>電話番号</dt>
                                        <dd>{{ baseInfo.tel01 }}-{{ baseInfo.tel02 }}-{{ baseInfo.tel03 }}</dd>
                                    </dl>
                                {% endif %}

                                {% if baseInfo.fax01 is defined %}
                                    <dl>
                                        <dt>FAX番号</dt>
                                        <dd>{{ baseInfo.fax01 }}-{{ baseInfo.fax02 }}-{{ baseInfo.fax03 }}</dd>
                                    </dl>
                                {% endif %}

                                {% if baseInfo.email02 is defined %}
                                    <dl>
                                        <dt>メールアドレス</dt>
                                        <dd><a href="mailto:{{ baseInfo.email02 }}">{{ baseInfo.email02 }}</a></dd>
                                    </dl>
                                {% endif %}

                                {% if baseInfo.business_hour is defined %}
                                    <dl>
                                        <dt>営業時間</dt>
                                        <dd>{{ baseInfo.business_hour }}</dd>
                                    </dl>
                                {% endif %}

                                {% if baseInfo.good_traded is defined %}
                                    <dl>
                                        <dt>取扱商品</dt>
                                        <dd>{{ baseInfo.good_traded|nl2br }}</dd>
                                    </dl>
                                {% endif %}

                                {% if baseInfo.message is defined %}
                                    <dl>
                                        <dt>メッセージ</dt>
                                        <dd>{{ baseInfo.message|nl2br }}</dd>
                                    </dl>
                                {% endif %}
                            </div>

                            <div id="maps"></div>

                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}

