{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block main %}
    {% if baseInfo.latitude is defined and baseInfo.longitude is defined %}
        <script type="text/javascript">//<![CDATA[
            $(function() {
                $("#maps").css({
                    'margin-top': '15px',
                    'margin-left': 'auto',
                    'margin-right': 'auto',
                    'width': '98%',
                    'height': '300px'
                });
                var lat = {{ baseInfo.latitude|escape('js') }};
                var lng = {{ baseInfo.longitude|escape('js') }};
                if (lat && lng) {
                    var latlng = new google.maps.LatLng(lat, lng);
                    var mapOptions = {
                        zoom: 15,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map($("#maps").get(0), mapOptions);
                    var marker = new google.maps.Marker({map: map, position: latlng});
                } else {
                    $("#maps").remove();
                }
            });
        //]]></script>
    {% endif %}

    <div id="undercolumn">
        <div id="undercolumn_aboutus">
            <h2 class="title">{{ title }}</h2>

            <table summary="当サイトについて">
                <col width="20%" />
                <col width="80%" />
                {% if baseInfo.shop_name is defined %}
                    <tr>
                        <th>店名</th>
                        <td>{{ baseInfo.shop_name }}</td>
                    </tr>
                {% endif %}

                {% if baseInfo.company_name is defined %}
                    <tr>
                        <th>会社名</th>
                        <td>{{ baseInfo.company_name }}</td>
                    </tr>
                {% endif %}

                {% if baseInfo.zip01 is defined %}
                    <tr>
                        <th>所在地</th>
                        <td>
                            〒{{ baseInfo.zip01 }}-{{ baseInfo.zip02 }}<br />
                            {{ baseInfo.law_pref_name }}{{ baseInfo.addr01 }}{{ baseInfo.addr02 }}
                        </td>
                    </tr>
                {% endif %}

                {% if baseInfo.tel01 is defined %}
                    <tr>
                        <th>電話番号</th>
                        <td>{{ baseInfo.tel01 }}-{{ baseInfo.tel02 }}-{{ baseInfo.tel03 }}</td>
                    </tr>
                {% endif %}

                {% if baseInfo.fax01 is defined %}
                    <tr>
                        <th>FAX番号</th>
                        <td>{{ baseInfo.fax01 }}-{{ baseInfo.fax02 }}-{{ baseInfo.fax03 }}</td>
                    </tr>
                {% endif %}

                {% if baseInfo.email02 is defined %}
                    <tr>
                        <th>メールアドレス</th>
                        <td><a href="mailto:{{ baseInfo.email02 }}">{{ baseInfo.email02 }}</a></td>
                    </tr>
                {% endif %}

                {% if baseInfo.business_hour is defined %}
                    <tr>
                        <th>営業時間</th>
                        <td>{{ baseInfo.business_hour }}</td>
                    </tr>
                {% endif %}

                {% if baseInfo.good_traded is defined %}
                    <tr>
                        <th>取扱商品</th>
                        <td>{{ baseInfo.good_traded|nl2br }}</td>
                    </tr>
                {% endif %}

                {% if baseInfo.message is defined %}
                    <tr>
                        <th>メッセージ</th>
                        <td>{{ baseInfo.message|nl2br }}</td>
                    </tr>
                {% endif %}
            </table>

            <div id="maps"></div>
        </div>
    </div>
{% endblock %}
