{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block main %}
    <div id="undercolumn">
        <div id="undercolumn_order">
            <h2 class="title">{{ title }}</h2>
            <table summary="{{ title }}">
                <col width="20%" />
                <col width="80%" />
                <tr>
                    <th>販売業者</th>
                    <td>{{ baseInfo.law_company|default('') }}</td>
                </tr>
                <tr>
                    <th>運営責任者</th>
                    <td>{{ baseInfo.law_manager|default('') }}</td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td>〒{{ baseInfo.law_zip01|default('') }}-{{ baseInfo.law_zip02|default('') }}<br />
                    {{ baseInfo.law_pref_name|default('') }}{{ baseInfo.law_addr01|default('') }}{{ baseInfo.law_addr02|default('') }}</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{{ baseInfo.law_tel01|default('') }}-{{ baseInfo.law_tel02|default('') }}-{{ baseInfo.law_tel03|default('') }}</td>
                </tr>
                <tr>
                    <th>FAX番号</th>
                    <td>{{ baseInfo.law_fax01|default('') }}-{{ baseInfo.law_fax02|default('') }}-{{ baseInfo.law_fax03|default('') }}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><a href="mailto:{{ baseInfo.law_email|default('') }}">{{ baseInfo.law_email|default('') }}</a></td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td><a href="{{ baseInfo.law_url|default('') }}">{{ baseInfo.law_url|default('') }}</a></td>
                </tr>
                <tr>
                    <th>商品以外の必要代金</th>
                    <td>{{ baseInfo.law_term01|default('')|nl2br }}</td>
                </tr>
                <tr>
                    <th>注文方法</th>
                    <td>{{ baseInfo.law_term02|default('')|nl2br }}</td>
                </tr>
                <tr>
                    <th>支払方法</th>
                    <td>{{ baseInfo.law_term03|default('')|nl2br }}</td>
                </tr>
                <tr>
                    <th>支払期限</th>
                    <td>{{ baseInfo.law_term04|default('')|nl2br }}</td>
                </tr>
                <tr>
                    <th>引渡し時期</th>
                    <td>{{ baseInfo.law_term05|default('')|nl2br }}</td>
                </tr>
                <tr>
                    <th>返品・交換について</th>
                    <td>{{ baseInfo.law_term06|default('')|nl2br }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
