{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{'common.label.notation_scta'|trans}}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl id="trade_company">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.seller'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_manager">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.operation_director'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_zip">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.company_address'|trans}}</label>
                        </dt>
                        <dd><br />
                        </dd>
                    </dl>

                    <dl id="trade_tel">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.company_phone'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_email">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.email'|trans}}</label>
                        </dt>
                        <dd><a href="mailto:"></a></dd>
                    </dl>

                    <dl id="trade_url">
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href=""></a></dd>
                    </dl>

                    <dl id="trade_term01">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.required_fee'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term02">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.required_fee'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term03">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.howo_to_pay'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term04">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.payment_due'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term05">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.delivery_timing'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term06">
                        <dt>
                            <label class="ec-label">{{'tradelaw.label.return_exchange_policy'|trans}}</label>
                        </dt>
                        <dd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
