{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{'common.label.notation_scta'|trans}}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    {% if help.law_company is defined %}
                        <dl id="tradelaw__law_company">
                            <dt>{{'tradelaw.label.seller'|trans}}</dt>
                            <dd>{{ help.law_company }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_manager is defined %}
                        <dl id="tradelaw__law_manager">
                            <dt>{{'tradelaw.label.operation_director'|trans}}</dt>
                            <dd>{{ help.law_manager }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_zip01 is defined %}
                        <dl id="tradelaw__zip">
                            <dt>{{'tradelaw.label.company_address'|trans}}</dt>
                            <dd>〒{{ help.law_zip01 }}-{{ help.law_zip02 }}<br />
                                {{ help.law_pref|default('') }}{{ help.law_addr01 }}{{ help.law_addr02 }}
                            </dd>
                        </dl>
                    {% endif %}

                    {% if help.law_tel01 is defined %}
                        <dl id="tradelaw__tel">
                            <dt>{{'tradelaw.label.company_phone'|trans}}</dt>
                            <dd>{{ help.law_tel01 }}-{{ help.law_tel02 }}-{{ help.law_tel03 }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_fax01 is defined and help.law_fax01 is not empty %}
                        <dl id="tradelaw__fax">
                            <dt>{{'tradelaw.label.company_fax'|trans}}</dt>
                            <dd>{{ help.law_fax01 }}-{{ help.law_fax02 }}-{{ help.law_fax03 }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_email is defined %}
                        <dl id="tradelaw__email">
                            <dt>{{'tradelaw.label.company_fax'|trans}}</dt>
                            <dd><a href="mailto:{{ help.law_email }}">{{ help.law_email }}</a></dd>
                        </dl>
                    {% endif %}

                    {% if help.law_url is defined %}
                        <dl id="tradelaw__law_url">
                            <dt>URL</dt>
                            <dd><a href="{{ help.law_url }}">{{ help.law_url }}</a></dd>
                        </dl>
                    {% endif %}

                    {% if help.law_term01 is defined %}
                        <dl id="tradelaw__law_term01">
                            <dt>{{'tradelaw.label.required_fee'|trans}}</dt>
                            <dd>{{ help.law_term01|nl2br }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_term02 is defined %}
                        <dl id="tradelaw__law_term02">
                            <dt>{{'tradelaw.label.how_to_order'|trans}}</dt>
                            <dd>{{ help.law_term02|nl2br }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_term03 is defined %}
                        <dl id="tradelaw__law_term03">
                            <dt>{{'tradelaw.label.howo_to_pay'|trans}}</dt>
                            <dd>{{ help.law_term03|nl2br }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_term04 is defined %}
                        <dl id="tradelaw__law_term04">
                            <dt>{{'tradelaw.label.payment_due'|trans}}</dt>
                            <dd>{{ help.law_term04|nl2br }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_term05 is defined %}
                        <dl id="tradelaw__law_term05">
                            <dt>{{'tradelaw.label.delivery_timing'|trans}}</dt>
                            <dd>{{ help.law_term05|nl2br }}</dd>
                        </dl>
                    {% endif %}

                    {% if help.law_term06 is defined %}
                        <dl id="tradelaw__law_term06">
                            <dt>{{'tradelaw.label.return_exchange_policy'|trans}}</dt>
                            <dd>{{ help.law_term06|nl2br }}</dd>
                        </dl>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
