{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{'common.label.notation_scta'|trans}}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl id="trade_company">
                        <dt>{{'tradelaw.label.seller'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_manager">
                        <dt>{{'tradelaw.label.operation_director'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_zip">
                        <dt>{{'tradelaw.label.company_address'|trans}}</dt>
                        <dd><br />
                        </dd>
                    </dl>

                    <dl id="trade_tel">
                        <dt>{{'tradelaw.label.company_phone'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_fax">
                        <dt>{{'tradelaw.label.company_fax'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_email">
                        <dt>{{'tradelaw.label.company_fax'|trans}}</dt>
                        <dd><a href="mailto:"></a></dd>
                    </dl>

                    <dl id="trade_url">
                        <dt>URL</dt>
                        <dd><a href=""></a></dd>
                    </dl>

                    <dl id="trade_term01">
                        <dt>{{'tradelaw.label.required_fee'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term02">
                        <dt>{{'tradelaw.label.required_fee'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term03">
                        <dt>{{'tradelaw.label.howo_to_pay'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term04">
                        <dt>{{'tradelaw.label.payment_due'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term05">
                        <dt>{{'tradelaw.label.delivery_timing'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term06">
                        <dt>{{'tradelaw.label.return_exchange_policy'|trans}}</dt>
                        <dd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
