{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{'common.label.notation_scta'|trans}}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl id="trade_company">
                        <dt>{{'tradelaw.label.seller'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_manager">
                        <dt>{{'tradelaw.label.operation_director'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_zip">
                        <dt>{{'tradelaw.label.company_address'|trans}}</dt>
                        <dd><br />
                        </dd>
                    </dl>

                    <dl id="trade_tel">
                        <dt>{{'tradelaw.label.company_phone'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_fax">
                        <dt>{{'tradelaw.label.company_fax'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_email">
                        <dt>{{'tradelaw.label.company_fax'|trans}}</dt>
                        <dd><a href="mailto:"></a></dd>
                    </dl>

                    <dl id="trade_url">
                        <dt>URL</dt>
                        <dd><a href=""></a></dd>
                    </dl>

                    <dl id="trade_term01">
                        <dt>{{'tradelaw.label.required_fee'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term02">
                        <dt>{{'tradelaw.label.required_fee'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term03">
                        <dt>{{'tradelaw.label.howo_to_pay'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term04">
                        <dt>{{'tradelaw.label.payment_due'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term05">
                        <dt>{{'tradelaw.label.delivery_timing'|trans}}</dt>
                        <dd></dd>
                    </dl>

                    <dl id="trade_term06">
                        <dt>{{'tradelaw.label.return_exchange_policy'|trans}}</dt>
                        <dd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
