{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block javascript %}
    eccube.classCategories = {{ Product.class_categories|json_encode|raw }};

    // 規格2に選択肢を割り当てる。
    function fnSetClassCategories(form, classcat_id2_selected) {
        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        var $sele2 = $form.find('select[name=classcategory_id2]');
        eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
    }
{% endblock %}

{% block onload %}
    {% if form.classcategory_id2 is defined %}
        fnSetClassCategories(
            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
        );
    {% endif %}
{% endblock%}

{% block main %}
<div id="undercolumn">
    <form name="form1" id="form1" method="post" action="?">
        <div id="detailarea" class="clearfix">
            <div id="detailphotobloc">
                <div class="photo">
                    {% set main_image = image_info(app.config.image_path~Product.main_image) %}
                    <!--★画像★-->
                    {% if Product.main_large_image is not empty %}
                        <a href="{{ app.config.image_save_urlpath }}{{ Product.main_large_image }}" class="expansion" target="_blank">
                    {% endif %}
                        <img src="{{ app.config.root }}{{ main_image.path }}" width="{{ main_image.width }}" height="{{ main_image.height }}" alt="{{ Product.name }}" class="picture" />
                    {% if Product.main_large_image is not empty %}
                        </a>
                    {% endif %}
                </div>
                    {% if Product.main_large_image is not empty %}
                    <span class="mini">
                        <!--★拡大する★-->
                        <a href="{{ app.config.image_save_urlpath }}{{ Product.main_large_image }}" class="expansion" target="_blank">画像を拡大する</a>
                    </span>
                    {% endif %}
            </div>

            <div id="detailrightbloc">
                <!--▼商品ステータス-->
                {% if Product.ProductStatuses is not empty %}
                    <ul class="status_icon clearfix">
                        {% for ProductStatus in Product.ProductStatuses %}
                        <li>
                            <img src="{{ app.config.tpl }}{{ ProductStatus.StatusImage.name }}" width="60" height="17" alt="{{ ProductStatus.Status.name }}" id="icon{{ ProductStatus.Status.id }}" />
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!--▲商品ステータス-->

                <!--★商品コード★-->
                <dl class="product_code">
                    <dt>商品コード：</dt>
                    <dd>
                        <span id="product_code_default">
                            {% if Product.code_min == Product.code_max %}
                                {{ Product.code_min }}
                            {% else %}
                                {{ Product.code_min }}～{{ Product.code_max }}
                            {% endif %}
                        </span><span id="product_code_dynamic"></span>
                    </dd>
                </dl>

                <!--★商品名★-->
                <h2>{{ Product.name }}</h2>

                <!--★通常価格★-->
                {% if Product.price01_inc_tax_min %}
                    <dl class="normal_price">
                        <dt>{{ app.config.normal_price_title }}(税込)：</dt>
                        <dd class="price">
                            <span id="price01_default">{% spaceless %}
                                {% if Product.price01_inc_tax_min == Product.price01_inc_tax_max %}
                                    {{ Product.price01_inc_tax_min|number_format }}
                                {% else %}
                                    {{ Product.price01_inc_tax_min|number_format }}～{{ Product.price01_inc_tax_max|number_format }}
                                {% endif %}
                            {% endspaceless %}</span><span id="price01_dynamic"></span>
                            円
                        </dd>
                    </dl>
                {% endif %}

                <!--★販売価格★-->
                <dl class="sale_price">
                    <dt>{{ app.config.sale_price_title }}(税込)：</dt>
                    <dd class="price">
                        <span id="price02_default">{% spaceless %}
                            {% if Product.price02_inc_tax_min == Product.price02_inc_tax_max %}
                                {{ Product.price02_inc_tax_min|number_format }}
                            {% else %}
                                {{ Product.price02_inc_tax_min|number_format }}～{{ Product.price02_inc_tax_max|number_format }}
                            {% endif %}
                        {% endspaceless %}</span><span id="price02_dynamic"></span>
                        円
                    </dd>
                </dl>

                <!--★ポイント★-->
                {% if app.config.use_point != false %}
                    <div class="point">ポイント：
                        <span id="point_default">{% spaceless %}
                            {% if Product.point_min == Product.point_max %}
                                {{ Product.point_min|number_format }}
                            {% else %}
                                {{ Product.point_min|number_format }}～{{ Product.point_max|number_format }}
                            {% endif %}
                        {% endspaceless %}</span><span id="point_dynamic"></span>
                        Pt
                    </div>
                {% endif %}

                {# ▼メーカー #}
                {% if Product.Maker is not empty %}
                    <dl class="maker">
                        <dt>メーカー：</dt>
                        <dd>{{ Product.Maker.name }}</dd>
                    </dl>
                {% endif %}
                {# ▲メーカー #}

                <!--▼メーカーURL-->
                {% if Product.comment1 is not empty %}
                    <dl class="comment1">
                        <dt>メーカーURL：</dt>
                        <dd><a href="{{ Product.comment1|escape('url') }}">{{ Product.comment1 }}</a></dd>
                    </dl>
                {% endif %}
                <!--▼メーカーURL-->

                <!--★関連カテゴリ★-->
                <dl class="relative_cat">
                    <dt>関連カテゴリ：</dt>
                    {% for ProductCategory in Product.ProductCategories %}
                        <dd>
                            {% for Category in ProductCategory.Category.path %}
                                <a href="{{ path('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a>
                                {%if loop.last == false %}{{ app.config.sepa_catnavi|escape }}{% endif %}
                            {% endfor %}
                        </dd>
                    {% endfor %}
                </dl>

                <!--★詳細メインコメント★-->
                <div class="main_comment">{{ Product.main_comment|raw|nl2br }}</div>

                <!--▼買い物カゴ-->
                <div class="cart_area clearfix">
                    {% if Product.stock_find %}
                        {% if form.classcategory_id1 is defined %}
                            <div class="classlist">
                                <!--▼規格1-->
                                <ul class="clearfix">
                                    <li>{{ form_label(form.classcategory_id1) }}：</li>
                                    <li>
                                        {{ form_widget(form.classcategory_id1) }}<br />
                                        {{ form_errors(form.classcategory_id1) }}
                                    </li>
                                </ul>
                                <!--▲規格1-->
                                {% if form.classcategory_id2 is defined %}
                                    <!--▼規格2-->
                                    <ul class="clearfix">
                                        <li>{{ form_label(form.classcategory_id2) }}：</li>
                                        <li>
                                            {{ form_widget(form.classcategory_id2) }}<br />
                                            {{ form_errors(form.classcategory_id2) }}
                                        </li>
                                    </ul>
                                    <!--▲規格2-->
                                {% endif %}
                            </div>
                        {% endif %}

                        <!--★数量★-->
                        <dl class="quantity">
                            <dt>{{ form_label(form.quantity) }}：</dt>
                            <dd>
                                {{ form_widget(form.quantity, {'attr': {'class': 'box60'}}) }}<br />
                                {{ form_errors(form.quantity) }}
                            </dd>
                        </dl>

                        <div class="cartin">
                            <div class="cartin_btn">
                                <div id="cartbtn_default">
                                    <!--★カゴに入れる★-->
                                    <a href="javascript:void(document.form1.submit())">
                                        <img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_cartin.jpg" alt="カゴに入れる" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="attention" id="cartbtn_dynamic"></div>
                    {% else %}
                        <div class="attention">申し訳ございませんが、只今品切れ中です。</div>
                    {% endif %}

                    <!--★お気に入り登録★-->
                    {% if app.config.option_favorite_product == 1 and is_granted('ROLE_USER')%}
                        <div class="favorite_btn">
                            {{ form_errors(form) }}
                            {% if is_favorite == false %}
                                <a href="javascript:eccube.setModeAndSubmit('add_favorite','','');"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_add_favorite.jpg" alt="お気に入りに追加" /></a>
                            {% else %}
                                <img src="{{ app.config.tpl }}img/button/btn_add_favorite_on.jpg" title="お気に入りに登録済み" alt="お気に入りに登録済み" id="add_favorite_product" />
                                <script type="text/javascript" src="{{ app.config.root }}js/jquery.ui/jquery.ui.core.min.js"></script>
                                <script type="text/javascript" src="{{ app.config.root }}js/jquery.ui/jquery.ui.widget.min.js"></script>
                                <script type="text/javascript" src="{{ app.config.root }}js/jquery.ui/jquery.ui.position.min.js"></script>
                                <script type="text/javascript" src="{{ app.config.root }}js/jquery.ui/jquery.ui.tooltip.min.js"></script>
                                <script type="text/javascript">
                                    var favoriteButton = $("#add_favorite_product");
                                    favoriteButton.tooltip();

                                    {% if app.session.flashBag.get('product_detail.just_added_favorite') %}
                                        favoriteButton.load(function(){ $(this).tooltip("open") });
                                        $(function(){
                                            var tid = setTimeout('favoriteButton.tooltip("close")',5000);
                                        });
                                    {% endif %}
                                </script>
                            {% endif %}
                        </div>
                    {% endif %}
                    {{ form_rest(form) }}
                </div>
                <!--▲買い物カゴ-->
            </div>
        </div>
        <!--詳細ここまで-->
    </form>

    <!--▼サブコメント-->
    {% for i in range(1, app.config.productsub_max) %}
        {% set key = "sub_title"~i %}
        {% set ckey = "sub_comment"~i %}
        {% set ikey = "sub_image"~i %}
        {% set lkey = "sub_large_image"~i %}
        {% if Product[key] is not empty or Product[ikey] is not empty %}
            <div class="sub_area clearfix">
                <h3><!--★サブタイトル★-->{{ Product[key] }}</h3>
                <!--▼サブ画像-->
                {% if Product[ikey] is not empty %}
                    <div class="subtext"><!--★サブテキスト★-->{{ Product[ckey]|raw|nl2br }}</div>
                    <div class="subphotoimg">
                        {% if Product[lkey] is not empty %}
                            <a href="{{ app.config.image_save_urlpath }}{{ Product[lkey] }}" class="expansion" target="_blank" >
                        {% endif %}
                        {% set image = image_info(app.config.image_save_urlpath~Product[ikey]) %}
                        <img src="{{ image.path }}" alt="{{ Product.name }}" width="{{ image.width }}" height="{{ image.height }}" />
                        {% if Product[lkey] is not empty %}
                            </a>
                            <span class="mini">
                                <a href="{{ app.config.image_save_urlpath }}{{ Product[lkey] }}" class="expansion" target="_blank">画像を拡大する</a>
                            </span>
                        {% endif %}
                    </div>
                {% else %}
                    <p class="subtext"><!--★サブテキスト★-->{{ Product[ckey]|raw|nl2br }}</p>
                {% endif %}
                <!--▲サブ画像-->
            </div>
        {% endif %}
    {% endfor %}
    <!--▲サブコメント-->

    {#
    <!--この商品に対するお客様の声-->
    <div id="customervoice_area">
        <h2><img src="{{ app.config.tpl }}img/title/tit_product_voice.png" alt="この商品に対するお客様の声" /></h2>

        <div class="review_bloc clearfix">
            <p>この商品に対するご感想をぜひお寄せください。</p>
            <div class="review_btn">
                <!--{if count($arrReview) < $smarty.const.REVIEW_REGIST_MAX}-->
                    <!--★新規コメントを書き込む★-->
                    <a href="./review.php"
                        onclick="eccube.openWindow('./review.php?product_id=<!--{$arrProduct.product_id}-->','review','600','640'); return false;"
                        target="_blank">
                        <img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_comment.jpg" alt="新規コメントを書き込む" />
                    </a>
                <!--{/if}-->
            </div>
        </div>

        <!--{if count($arrReview) > 0}-->
            <ul>
                <!--{section name=cnt loop=$arrReview}-->
                    <li>
                        <p class="voicetitle"><!--{$arrReview[cnt].title|h}--></p>
                        <p class="voicedate"><!--{$arrReview[cnt].create_date|sfDispDBDate:false}-->　投稿者：<!--{if $arrReview[cnt].reviewer_url}--><a href="<!--{$arrReview[cnt].reviewer_url}-->" target="_blank"><!--{$arrReview[cnt].reviewer_name|h}--></a><!--{else}--><!--{$arrReview[cnt].reviewer_name|h}--><!--{/if}-->　おすすめレベル：<span class="recommend_level"><!--{assign var=level value=$arrReview[cnt].recommend_level}--><!--{$arrRECOMMEND[$level]|h}--></span></p>
                        <p class="voicecomment"><!--{$arrReview[cnt].comment|h|nl2br}--></p>
                    </li>
                <!--{/section}-->
            </ul>
        <!--{/if}-->
    </div>
    <!--お客様の声ここまで-->
    #}

    <!--▼関連商品-->
    {% if Product.RecommendProducts is not empty %}
        <div id="whobought_area">
            <h2><img src="{{ app.config.tpl }}img/title/tit_product_recommend.png" alt="その他のオススメ商品" /></h2>
            {% for RecommendProduct in Product.RecommendProducts %}
                <div class="product_item">
                    <div class="productImage">
                        <a href="{{ path('product_detail', {'productId': RecommendProduct.Product.id}) }}">
                            <img src="{{ app.config.image_save_urlpath }}{{ RecommendProduct.Product.main_list_image|no_image_main_list }}" style="max-width: 65px;max-height: 65px;" alt="{{ RecommendProduct.Product.name }}" /></a>
                    </div>
                    <div class="productContents">
                        <h3><a href="{{ path('product_detail', {'productId': RecommendProduct.Product.id}) }}">{{ RecommendProduct.Product.name }}</a></h3>
                        <p class="sale_price">{{ app.config.sale_price_title }}(税込)：<span class="price">
                            {% if RecommendProduct.Product.price02_inc_tax_min == RecommendProduct.Product.price02_inc_tax_max %}
                                {{ RecommendProduct.Product.price02_inc_tax_min|number_format }}
                            {% else %}
                                {{ RecommendProduct.Product.price02_inc_tax_min|number_format }}～{{ RecommendProduct.Product.price02_inc_tax_max|number_format }}
                            {% endif %}円</span></p>
                        <p class="mini">{{ RecommendProduct.comment|nl2br }}</p>
                    </div>
                </div>
                {% if loop.index is even %}
                    <div class="clear"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <!--▲関連商品-->
</div>
{% endblock %}
