{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<ul{% if treeId is defined %} id="{{ treeId }}"{% endif %}{%if disp_child is not defined or disp_child == false %} style="display: none;"{% endif %}>
    {% for Child in Children %}
        <li class="level{{ Child.hierarchy }}">
            {# カテゴリ名表示 #}
            {% if Child.hierarchy < app.config.level_max %}
                <a href="{{ url('admin_product_category_show', {parent_id: Child.id}) }}">
                    {% if Parent and Parent.id == Child.id %}
                        <img src="{{ app.config.admin_tpl }}img/contents/folder_open.gif" alt="{{'admin.product.category_tree_fork.413'|trans}}" />
                    {% else %}
                        <img src="{{ app.config.admin_tpl }}img/contents/folder_close.gif" alt="{{'admin.product.category_tree_fork.414'|trans}}" />
                    {% endif %}
                    {{ Child.id }}.{{ Child.name[:10] }}
                </a>
            {% else %}
                <img src="{{ app.config.admin_tpl }}img/contents/folder_close.gif" alt="{{'admin.product.category_tree_fork.414'|trans}}" />
                {{ Child.id }}.{{ Child.name[:10] }}
            {% endif %}
            {% if Child in Path %}
                {% set disp_child = true %}
            {% else %}
                {% set disp_child = false %}
            {% endif %}
            {% if Child.Children|length > 0 %}
                {{ include('Product/category_tree_fork.twig', {'Children': Child.Children, 'treeId': 'f'~Child.id, 'display': disp_child}) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
