{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['product', 'class_name'] %}

{% block title %}{{'admin.product.class_name.429'|trans}}{% endblock %}
{% block sub_title %}{{'admin.product.class_name.428'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script>
        $(function() {
            var oldSortNos = [];
            // 画面の中のsortNo一覧を保持
            $("ul.tableish > .item_box").each(function() {
                oldSortNos.push(this.dataset.sortNo);
            });
            // rsort
            oldSortNos.sort(function(a,b){return a - b;}).reverse();

            $("ul.tableish").sortable({
                items: '> .item_box',
                cursor: 'move',
                update: function(e, ui) {
                    $("body").append($('<div class="modal-backdrop show"></div>'));
                    updateSortNo();
                }
            });

            var updateSortNo = function() {
                // 並び替え後にsortNoを更新
                var newSortNos = {};
                var i = 0;
                $("ul.tableish > .item_box").each(function() {
                    newSortNos[this.dataset.classNameId] = oldSortNos[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url('admin_product_class_name_sort_no_move') }}',
                    type: 'POST',
                    data: newSortNos,
                }).done(function(data) {
                    console.log(data);
                    location.reload(true);
                }).fail(function() {
                    console.log('fail');
                    $(".modal-backdrop").remove();
                });
            };
        });
    </script>
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <div class="card rounded border-0 mb-2">
                            <ul class="list-group list-group-flush tableish">
                                <li class="list-group-item">
                                    <form role="form" class="form-row" name="form1" id="form1" method="post" action="{{ url('admin_product_class_name') }}">
                                        <div class="col-auto align-self-center"><span>{{ 'admin.product.class_name.437'|trans }}</span></div>
                                        <div class="col-3 mr-2">
                                            {{ form_widget(form._token) }}
                                            {{ form_widget(form.name) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                        <div class="col-auto align-self-center"><span>{{ 'admin.product.class_name.438'|trans }}</span></div>
                                        <div class="col-3">
                                            {# TODO 表示名 #}
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-ec-regular" type="submit">{{ 'admin.product.class_name.443'|trans }}</button>
                                        </div>
                                    </form>
                                </li>
                                {% for ClassName in ClassNames %}
                                <li class="list-group-item item_box" data-class-name-id="{{ ClassName.id }}" data-sort-no="{{ ClassName.sortNo }}">
                                    <div class="row justify-content-around">
                                        <div class="col-auto d-flex align-items-center"><i class="fa fa-bars text-ec-gray"></i></div>
                                        {# TODO 表示名 #}
                                        <div class="col d-flex align-items-center"><a href="{{ url('admin_product_class_category', {class_name_id : ClassName.id }) }}">{{ ClassName.name }} ({{ ClassName.ClassCategories|length }})</a></div>
                                        <div class="col-auto text-right">
                                            {# TODO 上に移動 #}
                                            <a class="btn btn-ec-actionIcon mr-3 {% if loop.first %}disabled{% endif %}" href="" data-toggle="tooltip" data-placement="top" title="{{ 'admin.product.class_name.439'|trans }}">
                                                <i class="fa fa-arrow-up fa-lg text-secondary"></i>
                                            </a>
                                            {# TODO 下に移動 #}
                                            <a class="btn btn-ec-actionIcon mr-3 {% if loop.last %}disabled{% endif %}" href="" data-toggle="tooltip" data-placement="top" title="{{ 'admin.product.class_name.440'|trans }}">
                                                <i class="fa fa-arrow-down fa-lg text-secondary"></i>
                                            </a>
                                            {# TODO 編集機能 #}
                                            <a class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip" data-placement="top" title="{{ 'admin.product.class_name.441'|trans }}">
                                                <i class="fa fa-pencil fa-lg text-secondary"></i>
                                            </a>
                                            <a class="btn btn-ec-actionIcon mr-3 {% if ClassName.ClassCategories|length > 0 %}disabled{% endif %}" href="{{ url('admin_product_class_name_delete', {id: ClassName.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-toggle="tooltip" data-placement="top" title="{{ 'common.label.delete'|trans }}">
                                                <i class="fa fa-close fa-lg text-secondary"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                {# TODO 編集フォーム #}
                                {#<li class="list-group-item">#}
                                    {#<form class="form-row">#}
                                        {#<div class="col-auto align-self-center"><span>管理名</span></div>#}
                                        {#<div class="col-3 mr-2">#}
                                            {#<input class="form-control" type="text">#}
                                        {#</div>#}
                                        {#<div class="col-auto align-self-center"><span>表示名</span></div>#}
                                        {#<div class="col-3">#}
                                            {#<input class="form-control" type="text">#}
                                        {#</div>#}
                                        {#<div class="col-auto d-flex align-items-center">#}
                                            {#<button class="btn btn-ec-conversion" type="submit">決定</button>#}
                                        {#</div>#}
                                        {#<div class="col-auto d-flex align-items-center">#}
                                            {#<button class="btn btn-ec-sub" type="submit">キャンセル</button>#}
                                        {#</div>#}
                                        {#<div class="col text-right justify-content-end">#}
                                            {#<a class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip" data-placement="top" title="上へ移動"><i class="fa fa-arrow-up fa-lg text-secondary"></i></a>#}
                                            {#<a class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip" data-placement="top" title="下へ移動"><i class="fa fa-arrow-down fa-lg text-secondary"></i></a>#}
                                            {#<a class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip" data-placement="top" title="名前を編集"><i class="fa fa-pencil fa-lg text-secondary"></i></a>#}
                                            {#<a class="btn btn-ec-actionIcon mr-3" href="" data-toggle="tooltip" data-placement="top" title="削除"><i class="fa fa-close fa-lg text-secondary"></i></a>#}
                                        {#</div>#}
                                    {#</form>#}
                                {#</li>#}
                            </ul>
                        </div>
                    </div>
                </div>
                <p>{{ 'admin.product.class_name.442'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}
