{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'main_frame.twig' %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}規格編集{% endblock %}

{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

{% block main %}
            <div class="row">
                <div class="col-md-12 search-box">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">規格編集： {{ ClassName.name }}</h3>
                        </div><!-- /.box-header -->

                        <form name="form1" id="form1" method="post" action="{% if TargetClassCategory.id %}{{ url('admin_product_class_category_edit', {class_name_id: ClassName.id, id: TargetClassCategory.id}) }}{% else %}{{ url('admin_product_class_category', {'class_name_id': ClassName.id}) }}{% endif %}">

                        <div class="box-body">

                                {{ form_widget(form) }}

                        </div><!-- /.box-body --> 
                        </form>
                    </div><!-- /.box -->

                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                            <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                        </div>
                    </div>

                </div><!-- /.col -->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-body no-padding">
                            <div class="table_list">
                                <div class="table-responsive with-border">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>分類名</th>
                                                <th>&nbsp;</th>
                                                <th>移動</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ClassCategory in ClassCategories %}
                                                <tr>
                                                    <td>{{ ClassCategory.name }}</td>
                                                    <td class="icon_edit">
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-pencil"></span></a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                {% if ClassCategory.id != TargetClassCategory.id %}
                                                                    <li>
                                                                        <a href="{{ url('admin_product_class_category_edit', {class_name_id: ClassName.id, id: ClassCategory.id}) }}">編集</a>
                                                                    </li>
                                                                {% else %}
                                                                    <li><a>編集中</a></li>
                                                                {% endif %}
                                                                {% if ClassName.ClassCategories|length > 0 %}
                                                                    <li><a>削除</a></li>
                                                                {% else %}
                                                                    <li>
                                                                        {% set delete_action = url('admin_product_class_category_delete', {class_name_id: ClassName.id, id: ClassCategory.id }) %}
                                                                        <li><a href="?" onclick="if(window.confirm('分類名を削除すると、その分類を利用している商品規格が無効になります。¥n整合性の問題を把握し、バックアップを行ってから削除することを推奨致します。')){ eccube.changeAction('{{ delete_action }}'); document.form1.submit(); } return false;">削除</a></li>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>                                        
                                                    </td>
                                                    <td>
                                                        {% if loop.first == false %}
                                                            {% set up_action = url('admin_product_class_name_up', {id: ClassName.id}) %}
                                                            <a href="?" onclick="eccube.changeAction('{{ up_action }}'); document.form1.submit(); return false;">上へ</a>
                                                        {% endif %}
                                                        {% if loop.last == false %}
                                                            {% set down_action = url('admin_product_class_name_down', {id: ClassName.id}) %}
                                                            <a href="?" onclick="eccube.changeAction('{{ down_action }}'); document.form1.submit(); return false;">下へ</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- /.box-body --> 
                    </div><!-- /.box --> 
                </div><!-- /.col --> 
            </div>

{% endblock %}
