{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['product', 'product_csv_import'] %}

{% block title %}{{'admin.product.csv_product.446'|trans}}{% endblock %}
{% block sub_title %}{{'admin.product.csv_product.447'|trans}}{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script src="{{ asset('assets/js/vendor/spin.min.js', 'admin') }}"></script>
<script>
$(function() {

    var opts = {
        lines: 13,
        length: 30,
        width: 2,
        radius: 12,
        corners: 1,
        rotate: 0,
        direction: 1,
        color: '#BBB',
        speed: 1,
        trail: 67,
        shadow: true,
        hwaccel: false,
        className: 'spinner',
        zIndex: 2e9,
        top: top
    };

    ImageSpinner = new Spinner(opts).spin(document.getElementById('spinner'));
    ImageSpinner.stop();

    $('#upload-form').submit(function() {
        $('#upload-button').attr('disabled', 'disabled');
        $('#download-button').attr('disabled', 'disabled');
        ImageSpinner.spin(document.getElementById('spinner'));
    });
});
</script>
{% endblock javascript %}

{% block main %}
<div id="upload_wrap" class="row">
    <div id="upload_file_box" class="col-md-12">
        <form id="upload-form" class="form-inline" method="post" action="{{ url('admin_product_csv_import') }}" enctype="multipart/form-data">
            {{ form_widget(form._token) }}
            <div id="upload_file_box__body" class="box">
                <div id="upload_file_box__header" class="box-header">
                    <h3 class="box-title">{{'admin.product.csv_product.448'|trans}}</h3>
                </div><!-- /.box-header -->
                <div id="upload_file_box__body_inner" class="box-body">
                    <div id="upload_file_box__upload_box" class="form-group">
                        <label class="col-sm-5 control-label">{{'admin.product.csv_product.449'|trans}}</label>
                        <div id="upload_file_box__import_file" class="col-sm-7">
                            {{ form_widget(form.import_file, {'attr': {'accept': 'text/csv,text/tsv'}}) }}
                            {{ form_errors(form.import_file) }}
                        </div>
                        {% for error in errors %}
                            <div id="upload_file_box__upload_error" class="text-danger">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                    <div id="spinner"></div>
                </div><!-- /.box-body -->
                <div id="button_box__upload_button" class="box-footer text-center">
                    <button id="upload-button" type="submit" class="btn btn-primary btn-sm">{{'admin.product.csv_product.450'|trans}}</button>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </form>
    </div><!-- /.col -->
</div>

<div id="file_format" class="row">
    <div id="file_format_box" class="col-md-12">
        <div id="file_format_box__body" class="box">
            <div id="file_format_box__head" class="box-header">
                <a href="{{ url('admin_product_csv_template', {'type': 'product'}) }}" id="download-button" class="btn btn-default pull-right btn-xs">{{'admin.product.csv_product.451'|trans}}</a>
                <h3 class="box-title">{{'admin.product.csv_product.452'|trans}}</h3>
            </div><!-- /.box-header -->
            <div id="file_format_box__body_inner" class="box-body no-padding">
                <div id="file_format_box__list_box" class="table_list">
                    <div id="file_format_box__list_box_body" class="table-responsive no-border table-menu table-responsive-overflow">
                        <table class="table table-striped">
                            <thead>
                                <tr id="file_format_box__header" class="text-nowrap">
                                    {% for header in headers|keys %}
                                        <th id="file_format_box__header--{{ loop.index }}">{{ header }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="file_format_box__list" class="text-nowrap">
                                    <td id="file_format_box__id">{{'admin.product.csv_product.453'|trans}}</td>
                                    <td id="file_format_box__status">{{'admin.product.csv_product.454'|trans}}</td>
                                    <td id="file_format_box__name">{{'admin.product.csv_product.455'|trans}}</td>
                                    <td id="file_format_box__shop_memo"></td>
                                    <td id="file_format_box__info"></td>
                                    <td id="file_format_box__detail"></td>
                                    <td id="file_format_box__search_word"></td>
                                    <td id="file_format_box__free"></td>
                                    <td id="file_format_box__delete_flg">{{'admin.product.csv_product.456'|trans}}</td>
                                    <td id="file_format_box__image">{{'admin.product.csv_product.457'|trans}}</td>
                                    <td id="file_format_box__category">{{'admin.product.csv_product.458'|trans}}</td>
                                    <td id="file_format_box__tag">{{'admin.product.csv_product.459'|trans}}</td>
                                    <td id="file_format_box__type_id">{{'admin.product.csv_product.460'|trans}}</td>
                                    <td id="file_format_box__class_1"></td>
                                    <td id="file_format_box__class_2"></td>
                                    <td id="file_format_box__date"></td>
                                    <td id="file_format_box__code"></td>
                                    <td id="file_format_box__stock">{{'admin.product.csv_product.461'|trans}}</td>
                                    <td id="file_format_box__stock_nolimit_flg">{{'admin.product.csv_product.462'|trans}}</td>
                                    <td id="file_format_box__limit">{{'admin.product.csv_product.463'|trans}}</td>
                                    <td id="file_format_box__price_2">{{'admin.product.csv_product.464'|trans}}</td>
                                    <td id="file_format_box__price_1">{{'admin.product.csv_product.465'|trans}}</td>
                                    <td id="file_format_box__delivery_fee">{{'admin.product.csv_product.466'|trans}}</td>
                                    <td id="file_format_box__category_delete_flg">{{'admin.product.csv_product.467'|trans}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>

{% endblock %}
