{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['product', 'product_csv_import'] %}

{% block title %}{{'admin.product.csv_product.tile'|trans}}{% endblock %}
{% block sub_title %}{{'admin.product.csv_product.subtitle'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/spin.min.js', 'admin') }}"></script>
    <script>
        $(function() {
            var opts = {
                lines: 13,
                length: 30,
                width: 2,
                radius: 12,
                corners: 1,
                rotate: 0,
                direction: 1,
                color: '#BBB',
                speed: 1,
                trail: 67,
                shadow: true,
                hwaccel: false,
                className: 'spinner',
                zIndex: 2e9,
                top: top
            };

            ImageSpinner = new Spinner(opts).spin(document.getElementById('spinner'));
            ImageSpinner.stop();

            $('#upload-form').submit(function() {
                $('#upload-button').attr('disabled', 'disabled');
                $('#download-button').attr('disabled', 'disabled');
                ImageSpinner.spin(document.getElementById('spinner'));
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="{{ 'admin.product.csv_product.upload_header.tooltip'|trans }}"><span>{{ 'admin.product.csv_product.upload_header'|trans }}</span><i class="fa fa-question-circle fa-lg fa-lg ml-1"></i></div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2"><span>{{ 'admin.product.csv_product.upload_label'|trans }}</span></div>
                            <div class="col">
                                <form enctype="multipart/form-data" id="upload-form" method="post" action="{{ url('admin_product_csv_import') }}">
                                    {{ form_widget(form._token) }}
                                    {#Todo: do js script#}
                                    {{ form_widget(form.import_file, {'attr': {'accept': 'text/csv,text/tsv', 'class': 'mb-2'}}) }}
                                    {{ form_errors(form.import_file) }}
                                    {% for error in errors %}
                                        <div id="upload_file_box__upload_error--{{ loop.index }}" class="text-danger">{{ error.message }}</div>
                                    {% endfor %}
                                    <br/>
                                    <button class="btn btn-ec-conversion" type="submit" id="upload-button">{{ 'admin.product.csv_product.upload_button'|trans }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-6">
                                <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="{{ 'admin.product.csv_product.format_header.tooltip'|trans }}"><span class="align-middle">{{ 'admin.product.csv_product.format_header'|trans }}</span><i class="fa fa-question-circle fa-lg fa-lg ml-1"></i></div>
                            </div>
                            <div class="col-4 text-right">
                                <a href="{{ url('admin_product_csv_template', {'type': 'product'}) }}" class="btn btn-ec-regular" id="download-button">{{ 'admin.product.csv_product.download_template_button'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                            {% for key, item in headers %}
                                <tr>
                                    <th class="w-25 align-middle table-ec-lightGray">{{ key }}{% if item['required']  %}<span class="badge badge-primary ml-1">{{ 'common.text.message.required'|trans }}</span>{% endif %}</th>
                                    {% set message = item['description'] %}
                                    <td class="align-middle">{{ message|trans|raw }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
