{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['product', 'product_master'] %}

{% block title %}{{ 'admin.product.product_class.524'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.product.product_class.525'|trans }}{% endblock %}

{% if not_product_class %}
    {% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}
{% else %}
    {% form_theme classForm '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}
{% endif %}

{% block javascript %}
    <script>
        $(function () {

            // 無制限チェックボックス初期表示
            $('input[id$=_stock_unlimited]').each(function () {
                var check = $(this).prop('checked');
                var index = $(this).attr('id').match(/\d+/);

                if (check) {
                    $('#form_product_classes_' + index + '_stock').prop('disabled', true);
                } else {
                    $('#form_product_classes_' + index + '_stock').prop('disabled', false);
                }
            });


            // 無制限チェックボックス
            $('input[id$=_stock_unlimited]').click(function () {
                var check = $(this).prop('checked');
                var index = $(this).attr('id').match(/\d+/);

                if (check) {
                    $('#form_product_classes_' + index + '_stock').prop('disabled', true);
                } else {
                    $('#form_product_classes_' + index + '_stock').prop('disabled', false);
                }
            });

            // 登録チェックボックス
            $('#add-all').click(function () {
                var addall = $('#add-all').prop('checked');
                if (addall) {
                    $('input[id$=_add]').prop('checked', true);
                } else {
                    $('input[id$=_add]').prop('checked', false);
                }
            });

            // 1行目をコピーボタン
            $('#copy').on('click', function (event) {
                event.preventDefault();

                var check = $('#form_product_classes_0_add').prop('checked');
                $('input[id$=_add]').prop('checked', check);

                var product_code = $('#form_product_classes_0_code').val();
                $('input[id$=_code]').val(product_code);

                var stock = $('#form_product_classes_0_stock').val();
                $('input[id$=_stock]').val(stock);

                var stock_unlimited = $('#form_product_classes_0_stock_unlimited').prop('checked');
                // 無制限チェックボックス
                $('input[id$=_stock_unlimited]').each(function () {
                    var index = $(this).attr('id').match(/\d+/);

                    if (stock_unlimited) {
                        $(this).prop('checked', true);
                        $('#form_product_classes_' + index + '_stock').prop('disabled', true);
                    } else {
                        $(this).prop('checked', false);
                        $('#form_product_classes_' + index + '_stock').prop('disabled', false);
                    }
                });

                var sale_limit = $('#form_product_classes_0_sale_limit').val();
                $('input[id$=_sale_limit]').val(sale_limit);

                var price01 = $('#form_product_classes_0_price01').val();
                $('input[id$=_price01]').val(price01);

                var price02 = $('#form_product_classes_0_price02').val();
                $('input[id$=_price02]').val(price02);

                var delivery_fee = $('#form_product_classes_0_delivery_fee').val();
                $('input[id$=_delivery_fee]').val(delivery_fee);

                var delivery_duration = $('#form_product_classes_0_delivery_duration').val();
                $('select[id$=_delivery_duration]').val(delivery_duration);

                var tax_rate = $('#form_product_classes_0_tax_rate').val();
                $('input[id$=_tax_rate]').val(tax_rate);

                var sale_type = $('#form_product_classes_0_sale_type_1').prop('checked');
                if (sale_type) {
                    $('input[id$=_sale_type_1]').prop('checked', true);
                } else {
                    $('input[id$=_sale_type_2]').prop('checked', true);
                }

            });


            $('#delete').click(function () {
                if (confirm('{{ 'admin.product.product_class.526'|trans }}')) {
                    $('#mode').val('delete');
                    $('#product-class-form').submit();
                    return true;
                }
                return false;
            });

            $('button[type=submit]').click(function () {
                $(this).parents('form').attr('action', $(this).data('action'));
                $(this).parents('form').submit();
                $(this).parents('form').attr('action', '');
            });

        });
    </script>
{% endblock javascript %}


{% block main %}
    <form id="form" method="post">
        {{ form_widget(classForm._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title align-middle">商品名：{{ Product.name }}</span>
                                </div>
                                <div class="col-4 text-right">
                                    <button class="btn btn-ec-delete" data-toggle="modal"
                                            data-target="#initializationConfirm">商品規格を初期化
                                    </button>
                                    <div class="modal fade" id="initializationConfirm" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteConfirm" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title font-weight-bold">この商品の規格を初期化します</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-left">
                                                        この商品に登録された規格を初期化します。これまでの販売データには影響はありませんが、この操作は取り消すことができません。初期化しますか？</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                                                        キャンセル
                                                    </button>
                                                    <button class="btn btn-ec-delete" type="button">規格を初期化</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if classForm %}
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <div class="d-inline-block mr-2"><span>規格１</span></div>
                                        {#TODO 規格の管理名称実装後に対応 #}
                                        <div class="d-inline-block"><span>{{ class_name1 }} [表示名：{{ class_name1 }}
                                                ]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="d-inline-block mr-2"><span>規格２</span></div>
                                        {#TODO 規格の管理名称実装後に対応 #}
                                        <div class="d-inline-block"><span>{{ class_name2 }} [表示名：{{ class_name2 }}
                                                ]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if classForm %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <div class="col-6"><span class="align-middle">{{ classForm.product_classes|length }}
                                            件の規格の組み合わせがあります</span></div>
                                    <div class="col-4 text-right">
                                        <button id="copy" class="btn btn-ec-regular"><i
                                                    class="fa fa-files-o mr-1"></i><span>一行目をすべての行に複製</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-sm">
                                    <thead>
                                    <th class="pt-2 pb-2 pl-3">
                                        <input type="checkbox" id="add-all">
                                    </th>
                                    <th class="pt-2 pb-2">{{ class_name1 }}</th>
                                    <th class="pt-2 pb-2">{{ class_name2 }}</th>
                                    <th class="pt-2 pb-2">コード</th>
                                    <th class="pt-2 pb-2">在庫数</th>
                                    <th class="pt-2 pb-2">販売制限数</th>
                                    <th class="pt-2 pb-2">通常価格</th>
                                    <th class="pt-2 pb-2">販売価格</th>
                                    {% if BaseInfo.option_product_delivery_fee %}
                                        <th class="pt-2 pb-2">送料</th>
                                    {% endif %}
                                    {% if BaseInfo.option_product_tax_rule %}
                                        <th class="pt-2 pb-2">販売税率</th>
                                    {% endif %}
                                    <th class="pt-2 pb-2">お届け可能日</th>
                                    <th class="pt-2 pb-2 pr-3">販売種別</th>
                                    </thead>
                                    {% for product_class_form in classForm.product_classes %}
                                        <tr>
                                            <td class="align-middle pl-3">
                                                {{ form_widget(product_class_form.add) }}
                                            </td>
                                            <td class="align-middle">
                                                {{ product_class_form.vars.value.ClassCategory1 }}
                                                {{ form_widget(product_class_form.ClassCategory1) }}
                                            </td>
                                            <td class="align-middle">
                                                {{ product_class_form.vars.value.ClassCategory2 }}
                                                {{ form_widget(product_class_form.ClassCategory2) }}
                                            </td>
                                            <td class="align-middle">
                                                {{ form_widget(product_class_form.code) }}
                                                {{ form_errors(product_class_form.code) }}
                                            </td>
                                            <td class="align-middle">
                                                <div class="form-row">
                                                    <div class="col-5">
                                                        {{ form_widget(product_class_form.stock) }}
                                                        {{ form_errors(product_class_form.stock) }}
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-check form-check-inline">
                                                            {{ form_widget(product_class_form.stock_unlimited) }}
                                                            {{ form_errors(product_class_form.stock_unlimited) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle">
                                                <div class="form-row">
                                                    <div class="col-6">
                                                        {{ form_widget(product_class_form.sale_limit) }}
                                                        {{ form_errors(product_class_form.sale_limit) }}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle">
                                                {{ form_widget(product_class_form.price01) }}
                                                {{ form_errors(product_class_form.price01) }}
                                            </td>
                                            <td class="align-middle">
                                                {{ form_widget(product_class_form.price02) }}
                                                {{ form_errors(product_class_form.price02) }}
                                            </td>
                                            {% if BaseInfo.option_product_delivery_fee %}
                                                <td class="align-middle">
                                                    {{ form_widget(product_class_form.delivery_fee) }}
                                                    {{ form_errors(product_class_form.delivery_fee) }}
                                                </td>
                                            {% endif %}
                                            {% if BaseInfo.option_product_tax_rule %}
                                                <td class="align-middle">
                                                    {{ form_widget(product_class_form.tax_rate) }}
                                                    {{ form_errors(product_class_form.tax_rate) }}
                                                </td>
                                            {% endif %}
                                            <td class="align-middle">
                                                {{ form_widget(product_class_form.delivery_duration) }}
                                                {{ form_errors(product_class_form.delivery_duration) }}
                                            </td>
                                            <td class="align-middle pr-3">
                                                {{ form_widget(product_class_form.sale_type) }}
                                                {{ form_errors(product_class_form.sale_type) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem"><a class="c-beseLink"
                                                                        href="{{ url('admin_product') ~ '?resume=1' }}"><i
                                        class="fa fa-backward" aria-hidden="true"></i><span>商品マスター</span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        {% if classForm and classForm.product_classes|length > 0 and has_class_category_flg %}
                            <div class="row align-items-center justify-content-end">
                                <div class="col-auto">
                                    {% if not_product_class %}
                                        <button class="btn btn-ec-conversion px-5" type="submit" name="mode"
                                                value="edit"
                                                data-action="{{ url('admin_product_product_class_edit', { id : Product.id}) }}">
                                            登録
                                        </button>
                                    {% else %}
                                        <button class="btn btn-ec-conversion px-5" type="submit" name="mode"
                                                value="update"
                                                data-action="{{ url('admin_product_product_class_edit', { id : Product.id}) }}">
                                            更新
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
