{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<table class="table table-striped">
    <thead class="table-active">
    <tr>
        <th class="pt-2 pb-2 ps-2">{{ 'admin.product.class_category1__short'|trans }}</th>
        <th class="pt-2 pb-2">{{ 'admin.product.class_category2__short'|trans }}</th>
        <th class="pt-2 pb-2">{{ 'admin.product.product_code__short'|trans }}</th>
        <th class="pt-2 pb-2">{{ 'admin.product.stock'|trans }}</th>
        <th class="pt-2 pb-2 pe-2">{{ 'admin.product.price'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for Class in data %}
        <tr id="ex-class-{{ Class.id }}">
            <td class="ps-3">{% if Class.hasClassCategory1 %}{{ Class.ClassCategory1.name }}{% endif %}</td>
            <td>{% if Class.hasClassCategory2 %}{{ Class.ClassCategory2.name }}{% endif %}</td>
            <td>{{ Class.code }}</td>
            <td>{% if Class.stock_unlimited %}{{ 'admin.product.stock_unlimited__short'|trans }}{% else %}{{ Class.stock }}{% endif %}</td>
            <td class="pe-3">{{ Class.price02|price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
