{#
This file is part of EC-CUBE
Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
http://www.lockon.co.jp/
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['product', 'product_edit'] %}

{% block title %}{{ 'admin.product.product.495'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.product.product.496'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload.css', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload-ui.css', 'admin') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .ui-state-highlight {
            height: 148px;
            border: dashed 1px #ccc;
            background: #fff;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/fileupload/vendor/jquery.ui.widget.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.iframe-transport.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload-process.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload-validate.js', 'admin') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#thumb").sortable({
                cursor: 'move',
                opacity: 0.7,
                placeholder: 'ui-state-highlight',
                update: function (event, ui) {
                    updateSortNo();
                }
            });
            {% if has_class == false %}
            if ($("#{{ form.class.stock_unlimited.vars.id }}").prop("checked")) {
                $("#{{ form.class.stock.vars.id }}").attr("disabled", "disabled").val('');
            } else {
                $("#{{ form.class.stock.vars.id }}").removeAttr("disabled");
            }
            $("#{{ form.class.stock_unlimited.vars.id }}").on("click change", function () {
                if ($(this).prop("checked")) {
                    $("#{{ form.class.stock.vars.id }}").attr("disabled", "disabled").val('');
                } else {
                    $("#{{ form.class.stock.vars.id }}").removeAttr("disabled");
                }
            });
            {% endif %}
            var proto_img = ''
                + '<li class="ui-state-default">'
                + '<img src="__path__" />'
                + '<a class="delete-image">'
                + '<svg class="cb cb-close">'
                + '<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-close"></use>'
                + '</svg>'
                + '</a>'
                + '</li>';
            var proto_add = '{{ form_widget(form.add_images.vars.prototype) }}';
            var proto_del = '{{ form_widget(form.delete_images.vars.prototype) }}';
            {% for image in form.images %}
            var $img = $(proto_img.replace(/__path__/g, '{{ asset(image.vars.value, 'save_image') }}'));
            var $widget = $('{{ form_widget(image) }}');
            $widget.val('{{ image.vars.value }}');
            $("#thumb").append($img.append($widget));
            {% endfor %}
            {% for add_image in form.add_images %}
            var $img = $(proto_img.replace(/__path__/g, '{{ asset(add_image.vars.value, 'temp_image') }}'));
            var $widget = $('{{ form_widget(add_image) }}');
            $widget.val('{{ add_image.vars.value }}');
            $("#thumb").append($img.append($widget));
            {% endfor %}
            {% for delete_image in form.delete_images %}
            $("#thumb").append('{{ form_widget(delete_image) }}');
            {% endfor %}
            var hideSvg = function () {
                if ($("#thumb li").length > 0) {
                    $("#icon_no_image").css("display", "none");
                } else {
                    $("#icon_no_image").css("display", "");
                }
            };
            var updateSortNo = function () {
                $("#thumb li").each(function (index) {
                    $(this).find(".sort_no_images").remove();
                    filename = $(this).find("input[type='hidden']").val();
                    $sortNo = $('<input type="hidden" class="sort_no_images" name="sort_no_images[]" />');
                    $sortNo.val(filename + '//' + parseInt(index + 1));
                    $(this).append($sortNo);
                });
            }
            hideSvg();
            updateSortNo();
            // Delete of images
            var count_del = 0;
            $("#thumb").on("click", ".delete-image", function () {
                var $new_delete_image = $(proto_del.replace(/__name__/g, count_del));
                var src = $(this).prev().attr('src')
                    .replace('{{ asset('', 'temp_image') }}', '')
                    .replace('{{ asset('', 'save_image') }}', '');
                $new_delete_image.val(src);
                $("#thumb").append($new_delete_image);
                $(this).parent("li").remove();
                hideSvg();
                updateSortNo();
                count_del++;
            });
            var count_add = {{ form.add_images|length|default(0) }};
            $('#{{ form.product_image.vars.id }}').fileupload({
                url: "{{ url('admin_product_image_add') }}",
                type: "post",
                sequentialUploads: true,
                dataType: 'json',
                done: function (e, data) {
                    $('#progress').hide();
                    $.each(data.result.files, function (index, file) {
                        var path = '{{ asset('', 'temp_image') }}' + file;
                        var $img = $(proto_img.replace(/__path__/g, path));
                        var $new_img = $(proto_add.replace(/__name__/g, count_add));
                        $new_img.val(file);
                        $child = $img.append($new_img);
                        $('#thumb').append($child);
                        count_add++;
                    });
                    hideSvg();
                    updateSortNo();
                },
                fail: function (e, data) {
                    alert('admin.product.product.497' | trans);
                },
                always: function (e, data) {
                    $('#progress').hide();
                    $('#progress .progress-bar').width('0%');
                },
                start: function (e, data) {
                    $('#progress').show();
                },
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 10000000,
                maxNumberOfFiles: 10,
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                },
                processalways: function (e, data) {
                    if (data.files.error) {
                        alert("{{ 'admin.product.product.498'|trans }}");
                    }
                }
            });
            // 画像アップロード
            $('#file_upload').on('click', function () {
                $('#{{ form.product_image.vars.id }}').click();
            });
        });

        function fnClass(action) {
            document.form1.action = action;
            document.form1.submit();
            return false;
        }

    </script>
{% endblock javascript %}

{% block main %}
    <form role="form" name="form1" id="form1" method="post" action="" novalidate enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                    <span class="card-title">
                                        {{ 'admin.product.product.basic_configuration'|trans }}
                                    </span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                       aria-controls="basicConfig">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                             title="Tooltip">
                                            <span>{{ 'admin.product.product.500'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </div>
                                    </div>
                                    {% if Product.id %}
                                        <div class="col">
                                            <p>{{ Product.id }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                             title="Tooltip">
                                            <span>{{ 'admin.product.product.name'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                            <span class="badge badge-primary ml-1">{{ 'admin.product.product.require'|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>
                                {% if has_class == false %}
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                                 title="Tooltip">
                                                <span>{{ 'admin.product.product.sale_type'|trans }}</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                                <span class="badge badge-primary ml-1">{{ 'admin.product.product.require'|trans }}</span>
                                            </div>
                                        </div>
                                        <div class="col mb-2">
                                            {{ form_widget(form.class.sale_type) }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                             title="Tooltip">
                                            <span>{{ 'admin.product.product.image'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </div>
                                    </div>
                                    {# TODO: 画像を操作できるようにJSの修正 #}
                                    <div class="col mb-2">
                                        <div class="text-center w-100 py-5 border-ec-dashed mb-2 rounded">
                                            <i class="fa fa-cloud-upload fa-4x text-ec-lightGray"
                                               aria-hidden="true"></i>
                                            <p class="font-weight-bold text-ec-gray">
                                                {{ 'admin.product.product.text01'|trans }}<br>
                                                {{ 'admin.product.product.or'|trans }}
                                            </p>
                                            <input class="d-none" id="fileForm" type="file">
                                            <a class="btn btn-ec-regular mr-2"
                                               onclick="$('#fileForm').click()">{{ 'admin.product.product.select_file'|trans }}</a>
                                        </div>
                                        {{ form_widget(form.product_image, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                                        {{ form_errors(form.product_image) }}
                                        <div class="c-form__fileUploadThumbnails">
                                            <div class="c-form__fileUploadThumbnail"
                                                 style="background-image:url('http://via.placeholder.com/150x150');"></div>
                                            <div class="c-form__fileUploadThumbnail"
                                                 style="background-image:url('http://via.placeholder.com/350x150');"></div>
                                            <div class="c-form__fileUploadThumbnail"
                                                 style="background-image:url('http://via.placeholder.com/350x600');"></div>
                                            <div class="c-form__fileUploadThumbnail"
                                                 style="background-image:url('http://via.placeholder.com/600x600');"></div>
                                            <div class="c-form__fileUploadThumbnail"
                                                 style="background-image:url('http://via.placeholder.com/350x150');"></div>
                                            <div class="c-form__fileUploadThumbnail"
                                                 style="background-image:url('http://via.placeholder.com/350x600');"></div>
                                        </div>
                                        <p>{{ 'admin.product.product.test02'|trans }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                             title="Tooltip">
                                            <span>{{ 'admin.product.product.description'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.description_detail) }}
                                        {{ form_errors(form.description_detail) }}
                                        <div class="d-inline-block mb-2" data-toggle="collapse" href="#addComment"
                                             role="button" aria-expanded="false" aria-controls="addComment">
                                            <a>
                                                <i class="fa fa-plus-square-o font-weight-bold mr-1"></i>
                                                <span class="font-weight-bold text-ec-black">{{ 'admin.product.product.503'|trans }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse ec-collapse" id="addComment">
                                    <div class="row bg-ec-formGray pt-3 mb-2">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                                 title="Tooltip">
                                                <span>{{ 'admin.product.product.description_list'|trans }}</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div>
                                                {{ form_widget(form.description_list) }}
                                                {{ form_errors(form.description_list) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if has_class == false %}
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                                 title="Tooltip">
                                                <span>{{ 'admin.product.product.price02'|trans }}</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                                <span class="badge badge-primary ml-1">{{ 'admin.product.product.require'|trans }}</span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            {{ form_widget(form.class.price02) }}
                                            {{ form_errors(form.class.price02) }}
                                            <div class="d-inline-block mb-2" data-toggle="collapse" href="#addPrice"
                                                 role="button" aria-expanded="false" aria-controls="addPrice">
                                                <a>
                                                    <i class="fa fa-plus-square-o font-weight-bold mr-1"></i>
                                                    <span class="font-weight-bold text-ec-black">{{ 'admin.product.product.add_price01'|trans }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse ec-collapse" id="addPrice">
                                        <div class="row bg-ec-formGray pt-3 mb-2">
                                            <div class="col-3">
                                                <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                                     title="Tooltip">
                                                    <span>{{ 'admin.product.product.price01'|trans }}</span>
                                                    <i class="fa fa-question-circle fa-lg ml-1"></i>
                                                    <span class="badge badge-primary ml-1">{{ 'admin.product.product.require'|trans }}</span>
                                                </div>
                                            </div>
                                            <div class="col mb-4">
                                                {{ form_widget(form.class.price01) }}
                                                {{ form_errors(form.class.price01) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                                 title="Tooltip">
                                                <span>{{ 'admin.product.product.stock'|trans }}</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                                <span class="badge badge-primary ml-1">{{ 'admin.product.product.require'|trans }}</span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                {{ form_widget(form.class.stock) }}
                                                {{ form_errors(form.class.stock) }}
                                                {# TODO: form_layoutに切り出し #}
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input"
                                                           id="{{ form.class.stock_unlimited.vars.id }}"
                                                           name="{{ form.class.stock_unlimited.vars.full_name }}"
                                                           type="checkbox"
                                                           value="{{ form.class.stock_unlimited.vars.value }}">
                                                    <label class="form-check-label"
                                                           for="{{ form.class.stock_unlimited.vars.id }}">{{ 'admin.product.product.stock_unlimited'|trans }}</label>
                                                </div>
                                                {{ form_errors(form.class.stock_unlimited) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                             title="Tooltip">
                                            <span>{{ 'admin.product.product.search_word'|trans }}</span>
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <div>
                                            {{ form_widget(form.search_word) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">規格設定<i
                                                    class="fa fa-question-circle fa-lg ml-1"></i></span>
                                    </div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#standardConfig"
                                                                 aria-expanded="false" aria-controls="standardConfig"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="standardConfig">
                            <div class="card-body">
                                <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Tooltip">
                                    <span>この商品の規格</span><i class="fa fa-question-circle fa-lg ml-1"></i></div>
                                <table class="table table-striped">
                                    <thead class="table-active">
                                    <th class="pl-3 pt-2 pb-2">規格１</th>
                                    <th class="pt-2 pb-2">規格２</th>
                                    <th class="pt-2 pb-2">商品コード</th>
                                    <th class="pt-2 pb-2">在庫数</th>
                                    <th class="pr-3 pt-2 pb-2">販売価格（円）</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="pl-3">プラチナ</td>
                                        <td>100cm</td>
                                        <td>aa-001</td>
                                        <td>4</td>
                                        <td class="pr-3">10,000</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-3">プラチナ</td>
                                        <td>130cm</td>
                                        <td>aa-002</td>
                                        <td>8</td>
                                        <td class="pr-3">10,000</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-3">シルバー</td>
                                        <td>100cm</td>
                                        <td>aa-003</td>
                                        <td>4</td>
                                        <td class="pr-3">8,000</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-3">シルバー</td>
                                        <td>130cm</td>
                                        <td>aa-004</td>
                                        <td>6</td>
                                        <td class="pr-3"> 8,000</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="d-block text-center text-center">
                                    <button class="btn btn-ec-regular" type="button" data-toggle="modal"
                                            data-target="#confirmModal">この商品の規格管理
                                    </button>
                                    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
                                         aria-labelledby="confirmModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">ページを移動します。</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>規格の管理画面に移動します。商品情報を保存してから移動しますか？</p>
                                                </div>
                                                <div class="modal-footer"><a class="btn btn-ec-conversion"
                                                                             href="/product/register/standard">変更を保存</a>
                                                    <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                                                        キャンセル
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">フリーエリア</span><i
                                                class="fa fa-question-circle fa-lg ml-1"></i></div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#freeArea"
                                                                 aria-expanded="false" aria-controls="freeArea"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="freeArea">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3"><span>フリーエリア</span></div>
                                    <div class="col-9">
                                        <div>
                                            <textarea class="form-control" rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-contentsArea__secondaryCol">
                <div class="c-secondaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">カテゴリ</span><i
                                                class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#category"
                                                                 aria-expanded="false" aria-controls="category"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="category">
                            <div class="card-body">
                                <div class="mb-3">
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" type="search" placeholder="カテゴリ検索"
                                                   aria-label="Search">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-ec-sub" type="submit"><i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-directoryTree--register rounded border mb-3 p-3">
                                    <ul>
                                        <li class="c-directoryTree--registerItem">
                                            <input type="checkbox">
                                            <label>カテゴリA</label>
                                            <ul>
                                                <li class="c-directoryTree--registerItem">
                                                    <input type="checkbox">
                                                    <label>カテゴリA-a</label>
                                                </li>
                                                <li class="c-directoryTree--registerItem">
                                                    <input type="checkbox">
                                                    <label>カテゴリA-b</label>
                                                </li>
                                                <li class="c-directoryTree--registerItem">
                                                    <input type="checkbox">
                                                    <label>カテゴリA-c</label>
                                                    <ul>
                                                        <li class="c-directoryTree--registerItem">
                                                            <input type="checkbox">
                                                            <label>カテゴリA-c-1</label>
                                                        </li>
                                                        <li class="c-directoryTree--registerItem">
                                                            <input type="checkbox">
                                                            <label>カテゴリA-c-2</label>
                                                            <ul>
                                                                <li class="c-directoryTree--registerItem">
                                                                    <input type="checkbox">
                                                                    <label>カテゴリA-c-2-1</label>
                                                                </li>
                                                                <li class="c-directoryTree--registerItem">
                                                                    <input type="checkbox">
                                                                    <label>カテゴリA-c-2-2</label>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="c-directoryTree--registerItem">
                                            <input type="checkbox">
                                            <label>カテゴリB</label>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="c-directoryTree--registerItem">
                                            <input type="checkbox">
                                            <label>カテゴリC</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="d-block text-center">
                                    <button class="btn btn-block btn-ec-regular" type="button">カテゴリの追加・編集</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">タグ<i
                                                    class="fa fa-question-circle fa-lg ml-1"></i></span>
                                    </div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#tag"
                                                                 aria-expanded="false"
                                                                 aria-controls="tag"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="tag">
                            <div class="card-body">
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-primary" type="button">オススメ</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-secondary" type="button">限定品</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-primary" type="button">新入荷</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-secondary" type="button">値下げしました</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-primary" type="button">オススメ</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-secondary" type="button">限定品</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-primary" type="button">新入荷</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-secondary" type="button">値下げしました</button>
                                </div>
                                <div class="d-inline-block mb-2 mr-2">
                                    <button class="btn btn-outline-secondary" type="button">送料無料</button>
                                </div>
                                <div class="d-block mb-3" data-toggle="collapse" href="#allTags" role="button"
                                     aria-expanded="false" aria-controls="allTags"><a><i
                                                class="fa fa-plus-square-o font-weight-bold mr-1"></i><span
                                                class="font-weight-bold">全てのタグを表示</span></a></div>
                                <div class="collapse p-3 bg-ec-lightGray mb-3 ec-collapse" id="allTags">
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-primary" type="button">オススメ</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-secondary" type="button">限定品</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-primary" type="button">新入荷</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-secondary" type="button">値下げしました</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-primary" type="button">オススメ</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-secondary" type="button">限定品</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-primary" type="button">新入荷</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-secondary" type="button">値下げしました</button>
                                    </div>
                                    <div class="d-inline-block mb-2 mr-2">
                                        <button class="btn btn-outline-secondary" type="button">送料無料</button>
                                    </div>
                                    <div class="d-block mb-3" data-toggle="collapse" href="#allTags" role="button"
                                         aria-expanded="false" aria-controls="allTags"></div>
                                </div>
                                <div class="d-block text-center">
                                    <button class="btn btn-block btn-ec-regular" type="button">タグの追加・編集</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">登録日・更新日</span></div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#update"
                                                                 aria-expanded="false"
                                                                 aria-controls="update"><i
                                                class="fa fa-angle-up fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="update">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col"><i class="fa fa-flag mr-1"></i><span>登録日</span></div>
                                    <div class="col"><span>：2017/11/09</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col"><i class="fa fa-refresh mr-1"></i><span>最終更新日</span></div>
                                    <div class="col"><span>：2017/11/12</span></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col"><i class="fa fa-user mr-1"></i><span>最終更新者</span></div>
                                    <div class="col"><span>：user_name</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                    <span class="card-title">ショップ用メモ<i
                                                class="fa fa-question-circle fa-lg ml-1"></i></span></div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#shopMemo"
                                                                 aria-expanded="false" aria-controls="shopMemo"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shopMemo">
                            <div class="card-body">
                                <div>
                                    <textarea class="form-control" rows="8"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem"><a class="c-beseLink" href=""><i
                                        class="fa fa-backward"
                                        aria-hidden="true"></i><span>商品マスター</span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <div>
                                    <select class="form-control">
                                        <option value="">公開</option>
                                        <option value="">非公開</option>
                                        <option value="">廃止</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">更新</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
