{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
            <li class="{% if active_menus(menus)[0] == 'product' %}active{% endif %}">
                <a class="toggle"><svg class="cb cb-tag"> <use xlink:href="#cb-tag" /></svg>{{'admin.product.subnavi.550'|trans}}<svg class="cb cb-angle-down"> <use xlink:href="#cb-angle-down" /></svg></a>
                <ul {% if active_menus(menus)[0] == 'product' %}class="active" style="display: block;"{% endif %}>
                    <li id="navi-products-index" class="{% if active_menus(menus)[1] == 'product_master' %}active{% endif %}"><a href="{{ url('admin_product') }}">{{'admin.product.subnavi.551'|trans}}</a></li>
                    <li id="navi-products-product" class="{% if active_menus(menus)[1] == 'product_edit' %}active{% endif %}"><a href="{{ url('admin_product_product_new') }}">{{'admin.product.subnavi.552'|trans}}</a></li>
                    <li id="navi-products-class" class="{% if active_menus(menus)[1] == 'class_name' %}active{% endif %}"><a href="{{ url('admin_product_class_name') }}">{{'admin.product.subnavi.553'|trans}}</a></li>
                    <li id="navi-products-category" class="{% if active_menus(menus)[1] == 'class_category' %}active{% endif %}"><a href="{{ url('admin_product_category') }}">{{'admin.product.subnavi.554'|trans}}</a></li>
                </ul>
            </li>