{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['product', 'product_tag'] %}

{% block title %}{{ 'admin.product.tag.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.product.tag.sub_title'|trans }}{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script>
        var mainRows = "ul.tableish";
        $(function () {
            var oldSortNos = [];
            // 画面の中のsort_no一覧を保持
            $(mainRows + " > .item_box").each(function () {
                oldSortNos.push(this.dataset.sortNo);
            });
            // rsort
            oldSortNos.sort(function (a, b) {
                return a - b;
            }).reverse();

            $(mainRows).sortable({
                items: '> .item_box',
                cursor: 'move',
                update: function (e, ui) {
                    $("body").append($('<div class="modal-backdrop show"></div>'));
                    updateSortNo();
                }
            });

            var updateSortNo = function () {
                // 並び替え後にsortNoを更新
                var newSortNos = {};
                var i = 0;
                $(mainRows + " > .item_box").each(function () {
                    newSortNos[this.dataset.tagId] = oldSortNos[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url('admin_product_tag_sort_no_move') }}',
                    type: 'POST',
                    data: newSortNos,
                }).done(function (data) {
                    doDisableArrow();
                }).fail(function () {
                    console.log('Failed');
                    $(".modal-backdrop").remove();
                });
            };

            $(mainRows).on('click', '.item_box a.up', function (e) {
                e.preventDefault();
                var current = $(this).closest("li.item_box");
                current.prev().before(current);
                $("body").append($('<div class="modal-backdrop show"></div>'));
                updateSortNo();
            });

            $(mainRows).on('click', ".item_box a.down", function (e) {
                e.preventDefault();
                var current = $(this).closest("li.item_box");
                current.next().after(current);
                $("body").append($('<div class="modal-backdrop show"></div>'));
                updateSortNo();
            });
        });

        // Do set disable arrow up/down
        function doDisableArrow() {
            $(mainRows + " a.up.disabled").removeClass('disabled');
            $(mainRows + " a.down.disabled").removeClass('disabled');
            // First element
            $(mainRows + " > li:nth-child(2) > div a.up").addClass('disabled');
            // Last element
            $(mainRows + " > li").last().find("a.down").addClass('disabled');
            $(".modal-backdrop").remove();
        }
    </script>
{% endblock %}

{% block main %}
    <form method="post" action="">
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body p-0">
                            <div class="card rounded border-0 mb-2">
                                <ul class="list-group list-group-flush tableish">
                                    <li class="list-group-item">
                                        <div class="form-row">
                                            <div class="col-auto d-flex align-items-center">
                                                <input class="form-control" type="text">
                                            </div>
                                             {#TODO 新規作成を実装する#}
                                            <div class="col-auto d-flex align-items-center">
                                                <button class="btn btn-ec-regular" type="submit">{{ 'admin.product.tag.create'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    {% for Tag in Tags %}
                                        <li class="list-group-item item_box" data-tag-id="{{ Tag.id }}" data-sort-no="{{ Tag.sortNo }}">
                                            <div class="row justify-content-around">
                                                <div class="col-auto d-flex align-items-center"><i
                                                            class="fa fa-bars text-ec-gray"></i></div>
                                                <div class="col d-flex align-items-center"><a>{{ Tag.name }}</a></div>
                                                <div class="col-auto text-right">
                                                    <a class="btn btn-ec-actionIcon up mr-3 {% if loop.first %}disabled{% endif %}"
                                                       href="#"
                                                       data-toggle="tooltip"
                                                       data-placement="top" title="上へ移動"><i
                                                            class="fa fa-arrow-up fa-lg text-secondary"></i></a>
                                                    <a
                                                        class="btn btn-ec- down mr-3 {% if loop.last %}disabled{% endif %}"
                                                        href="#"
                                                        data-toggle="tooltip"
                                                        data-placement="top" title="下へ移動"><i
                                                            class="fa fa-arrow-down fa-lg text-secondary"></i></a>
                                                    <a
                                                            class="btn btn-ec-actionIcon mr-3" href=""
                                                            data-toggle="tooltip"
                                                            data-placement="top" title="名前を編集"><i
                                                                class="fa fa-pencil fa-lg text-secondary"></i></a><a
                                                            class="btn btn-ec-actionIcon mr-3" href=""
                                                            data-toggle="tooltip"
                                                            data-placement="top" title="削除"><i
                                                                class="fa fa-close fa-lg text-secondary"></i></a></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {#TODO タグの編集を実装#}
                                    {#<li class="list-group-item">#}
                                    {#<form class="form-row">#}
                                    {#<div class="col-auto d-flex align-items-center">#}
                                    {#<input class="form-control" type="text">#}
                                    {#</div>#}
                                    {#<div class="col-auto d-flex align-items-center">#}
                                    {#<button class="btn btn-ec-conversion" type="submit">決定</button>#}
                                    {#</div>#}
                                    {#<div class="col-auto d-flex align-items-center">#}
                                    {#<button class="btn btn-ec-sub" type="submit">キャンセル</button>#}
                                    {#</div>#}
                                    {#</form>#}
                                    {#</li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>{{ 'admin.product.tag.drag&drop'|trans }}</p>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
