{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>ご注文完了</h1>
    </div>
</div>

<div class="ec-cartRole">
    <div class="ec-cartRole__progress">
        <ul class="ec-progress">
            {% set step = 1 %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">カートの商品
                </div>
            </li>
            {% if is_granted('ROLE_USER') == false %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">お客様情報
                </div>
            </li>
            {% endif %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">ご注文手続き
                </div>
            </li>
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">ご注文内容確認
                </div>
            </li>
            <li class="ec-progress__item is-complete">
                <div class="ec-progress__number">{{ step }}
                </div>
                <div class="ec-progress__label">完了
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="ec-cartCompleteRole">
    <div class="ec-off3Grid ec-text-ac">
        <div class="ec-off3Grid__cell">
            <div class="ec-reportHeading">
                <h2>ご注文ありがとうございました</h2>
            </div>
            <p class="ec-reportDescription">ただいま、ご注文の確認メールをお送りさせていただきました。<br>万一、ご確認メールが届かない場合は、トラブルの可能性もありますので大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問い合わせくださいませ。<br>今後ともご愛顧賜りますようよろしくお願い申し上げます。</p>
            <div class="ec-off4Grid">
                {% if hasNextCart %}
                    <div class="ec-off4Grid__cell"><a class="ec-blockBtn--primary" href="{{ url('cart') }}">購入を続ける</a></div>
                {% else %}
                    <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">トップページへ</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
