{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}

<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>ご注文内容のご確認</h1>
    </div>
</div>

<div class="ec-cartRole">
    <div class="ec-cartRole__progress">
        <ul class="ec-progress">
            {% set step = 1 %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">カートの商品
                </div>
            </li>
            {% if is_granted('ROLE_USER') == false %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">お客様情報
                </div>
            </li>
            {% endif %}
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">ご注文手続き
                </div>
            </li>
            <li class="ec-progress__item is-complete">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">ご注文内容確認
                </div>
            </li>
            <li class="ec-progress__item">
                <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                </div>
                <div class="ec-progress__label">完了
                </div>
            </li>
        </ul>
    </div>
</div>

{# TODO エラーメッセージ #}
<div id="confirm_flow_box" class="row">
    <div id="confirm_flow_box__body" class="col-md-12">
        {% for error in app.session.flashbag.get('eccube.front.error')  %}
            <div id="confirm_flow_box__message" class="message">
                <p class="errormsg bg-danger">
                    <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                </p>
            </div>
        {% endfor %}
        {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
        {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
            {% set idx = loop.index0 %}
            {% if productStr[idx] is defined %}
                <div id="cart_box__message--{{ loop.index }}" class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
                        {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                    </p>
                </div>
            {% else %}
                <div id="confirm_flow_box__message--{{ loop.index }}" class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </div><!-- /.col -->
</div><!-- /.row -->


<form id="shopping-form" method="post" action="{{ url('shopping_order') }}">
    {{ form_widget(form._token) }}
    {{ form_widget(form.mode) }}
    {{ form_widget(form.param) }}
    <div class="ec-orderRole">
        <div class="ec-orderRole__detail">
            <div class="ec-orderOrder">
                <ul class="ec-borderedList">
                    {% for orderDetail in Order.orderItems %}
                    <li>
                        <div class="ec-imageGrid">
                            <div class="ec-imageGrid__img">
                                <img src="{{ asset((orderDetail.product is null ? null : orderDetail.product.MainListImage)|no_image_product, 'save_image') }}">
                            </div>
                            <div class="ec-imageGrid__content">
                                <p>{{ orderDetail.productName }}</p>
                                {% if orderDetail.productClass is not null and orderDetail.productClass.classCategory1 %}
                                    <p>{{ orderDetail.productClass.classCategory1.className.name }}：{{ orderDetail.productClass.classCategory1 }}</p>
                                {% endif %}
                                {% if orderDetail.productClass is not null and orderDetail.productClass.classCategory2 %}
                                    <p>{{ orderDetail.productClass.classCategory2.className.name }}：{{ orderDetail.productClass.classCategory2 }}</p>
                                {% endif %}
                                <p>{{ orderDetail.priceIncTax|price }} × {{ orderDetail.quantity|number_format }}<span class="ec-imageGrid__contentTotal">小計：{{ orderDetail.totalPrice|price }}</span></p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ec-orderAccount">
                <div class="ec-rectHeading">
                    <h2>お客様情報</h2>
                </div>
                <div class="ec-orderAccount__account">
                    <p><span class="customer-edit customer-name01">{{ Order.name01 }}</span> <span class="customer-edit customer-name02">{{ Order.name02 }}</span> 様</p>
                    <p>〒<span class="customer-edit customer-zip">{{ Order.postal_code }}</span><span class="customer-edit customer-pref">{{ Order.pref }}</span><span class="customer-edit customer-addr01">{{ Order.addr01 }}</span><span class="customer-edit customer-addr02">{{ Order.addr02 }}</span></p>
                    <p><span class="customer-edit customer-phone_number">{{ Order.phone_number }}</span></p>
                </div>
            </div>
            <div class="ec-orderDelivery">
                <div class="ec-rectHeading">
                    <h2>配送情報</h2>
                </div>
                {% for shipping in Order.shippings %}
                    {% set idx = loop.index0 %}
                    <div class="ec-orderDelivery__item">
                        <ul class="ec-borderedList">
                            {% for orderItem in shipping.orderItems %}
                            <li>
                                <div class="ec-imageGrid">
                                    <div class="ec-imageGrid__img"><img src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}"></div>
                                    <div class="ec-imageGrid__content">
                                        <p>{{ orderItem.productName }}</p>
                                        {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                            <p>{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}</p>
                                        {% endif %}
                                        {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                            <p>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}</p>
                                        {% endif %}
                                        <p>{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}<span>小計：{{ orderItem.totalPrice|price }}</span></p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="ec-orderDelivery__address">
                        <p>{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}) 様</p>
                        <p>〒{{ shipping.postal_code }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
                        <p>{{ shipping.phone_number }}</p>
                    </div>
                    <div class="ec-orderDelivery__actions">
                        <div class="ec-selects">
                            <div class="ec-select">
                                <label>配送方法</label>
                                {{ Order.Shippings[idx].Delivery }}
                                {{ form_widget(form.Shippings[idx].Delivery, {'type': 'hidden'}) }}
                            </div>
                            <div class="ec-select ec-select__delivery">
                                <label>お届け日</label>
                                {{ Order.Shippings[idx].shipping_delivery_date? Order.Shippings[idx].shipping_delivery_date|date_day_with_weekday :"指定なし" }}
                                {{ form_widget(form.Shippings[idx].shipping_delivery_date, {'type': 'hidden'}) }}
                            </div>
                            <div class="ec-select ec-select__time">
                                <label>お届け時間</label>
                                {{ Order.Shippings[idx].shipping_delivery_time?:"指定なし" }}
                                {{ form_widget(form.Shippings[idx].DeliveryTime, {'type': 'hidden'}) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ec-orderPayment">
                <div class="ec-rectHeading">
                    <h2>お支払方法</h2>
                </div>
                <div class="ec-blockRadio">
                    {{ Order.Payment }}
                    {{ form_widget(form.Payment, {'type': 'hidden'}) }}
                </div>
            </div>

            <div class="ec-orderConfirm">
                <div class="ec-rectHeading">
                    <h2>お問い合わせ</h2>
                </div>
                <div class="ec-input">
                    {{ Order.message|nl2br }}
                    {{ form_widget(form.message, {'type': 'hidden'}) }}
                </div>
            </div>
        </div>
        <div class="ec-orderRole__summary">
            <div class="ec-totalBox">
                <dl class="ec-totalBox__spec">
                    <dt>小計</dt>
                    <dd class="ec-totalBox__specTotal">{{ Order.subtotal|price }}</dd>
                </dl>
                <dl class="ec-totalBox__spec">
                    <dt>手数料</dt>
                    <dd>{{ Order.charge|price }}</dd>
                </dl>
                <dl class="ec-totalBox__spec">
                    <dt>送料</dt>
                    <dd>{{ Order.deliveryFeeTotal|price }}</dd>
                </dl>
                {% if Order.discount > 0 %}
                <dl class="ec-totalBox__spec">
                    <dt>内値引き</dt>
                    <dd>{{ (0 - Order.discount)|price}}</dd>
                </dl>
                {% endif %}
                <div class="ec-totalBox__total">合計<span class="ec-totalBox__price">{{ Order.total|price }}</span><span class="ec-totalBox__taxLabel">税込</span></div>
                {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <dl class="ec-totalBox__spec">
                        <dt>ご注文前のポイント</dt>
                        <dd>{{ Order.Customer.Point|number_format }} pt</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>ご使用ポイント</dt>
                        <dd>{{ Order.UsePoint|number_format }} pt</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>加算予定ポイント</dt>
                        <dd>{{ Order.AddPoint|number_format }} pt</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>加算後のポイント</dt>
                        <dd>{{ (Order.Customer.Point - Order.UsePoint + Order.AddPoint)|number_format }} pt</dd>
                    </dl>
                {% endif %}
                <div class="ec-totalBox__btn">
                    <button type="submit" class="ec-blockBtn--action">注文する</button>
                    <a href="{{ url('shopping') }}" class="ec-blockBtn--cancel">ご注文手続きに戻る</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
