{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block main %}

<script type="text/javascript">//<![CDATA[
var sent = false;
$(document).ready(function(){
    $('#form1').on('submit', function () {
        $(this).find('input:image').attr('disabled', 'disabled');
    });

    $("#shopping_delivery").on('change', function () {
        $("#form1").attr("action", "{{ path('shopping_delivery') }}" )
                   .submit();
    });

    $("#shopping_payment").on('change', function () {
        $("#form1").attr("action", "{{ path('shopping_payment') }}" )
                   .submit();
    });
});

//]]></script>

<!--CONTENTS-->
<div id="undercolumn">
    <div id="undercolumn_shopping">
        <p class="flow_area"><img src="{{ app.config.tpl }}img/picture/img_flow_03.jpg" alt="購入手続きの流れ" /></p>
        <h2 class="title">{{ title }}</h2>

        <p class="information">下記ご注文内容で送信してもよろしいでしょうか？<br />よろしければ、「ご注文完了ページへ」ボタンをクリックしてください。</p>

        <form name="form1" id="form1" method="post" action="{{ path('shopping_confirm') }}">
            {{ form_widget(form._token) }}

            <div class="btn_area">
                <ul>
                    <li>
                        <a href="{{ path('cart') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る" /></a>
                    </li>
                    <li>
                        <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_order_complete.jpg" alt="ご注文完了ページへ" name="next-top" id="next-top" />
                    </li>
                </ul>
            </div>

            <table summary="ご注文内容確認">
                <col width="10%" />
                <col width="40%" />
                <col width="20%" />
                <col width="10%" />
                <col width="20%" />
                <tr>
                    <th scope="col">商品写真</th>
                    <th scope="col">商品名</th>
                    <th scope="col">単価</th>
                    <th scope="col">数量</th>
                    <th scope="col">小計</th>
                </tr>
                {% for detail in order.OrderDetails %}
                <tr>
                    <td class="alignC">
                        <img src="{{ app.config.image_save_urlpath }}{{ detail.Product.main_list_image }}" style="max-width: 65px;max-height: 65px;" alt="{{ detail.Product.name }}" />
                    </td>
                    <td>
                        <ul>
                            <li><strong>{{ detail.Product.name }}</strong></li>
                            {% if detail.classcategory_name1 %}
                            <li>{{ detail.ProductClass.ClassCategory1.ClassName.name }}：{{ detail.ProductClass.ClassCategory1.name }}</li>
                            {% endif %}
                            {% if detail.classcategory_name2 %}
                                <li>{{ detail.ProductClass.ClassCategory2.ClassName.name }}：{{ detail.ProductClass.ClassCategory2.name }}</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td class="alignR">{# todo 税込金額 #}{{ detail.price }}円
                    </td>
                    <td class="alignR">{{ detail.quantity }}</td>
                    <td class="alignR">{# todo 税計算 #}{{ detail.price * detail.quantity * 1.08 }}円</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="4" class="alignR" scope="row">小計</th>
                    <td class="alignR">{{ order.subtotal }}円</td>
                </tr>
                <tr>
                    <th colspan="4" class="alignR" scope="row">送料</th>
                    <td class="alignR">{{ order.deliv_fee }}円</td>
                </tr>
                <tr>
                    <th colspan="4" class="alignR" scope="row">手数料</th>
                    <td class="alignR">{{ order.charge }}円</td>
                </tr>
                <tr>
                    <th colspan="4" class="alignR" scope="row">合計</th>
                    <td class="alignR"><span class="price">{{ order.payment_total }}円</span></td>
                </tr>
            </table>

            {# ポイント todo 画面遷移へ変更する #}
            {% if app.config.use_point and is_granted('ROLE_USER') %}
            <table summary="ポイント利用">
                <col width="20%" />
                <col width="80%" />
                <tr>
                <th>ポイントのご利用</th>
                <td>
                    <span class="user_name">{{ app.user.name01 }}{{ app.user.name02 }}様</span>の、現在の所持ポイントは「<span class="point">{{ app.user.point }}Pt</span>」です。1ポイントを{{ app.config.point_value }}円</span>として使用する事ができます。<br />
                    {% if order.use_point > 0 %}
                        ポイントを{{ order.use_point }}Pt使用する&nbsp;
                    {%  else %}
                        ポイントを使用しない&nbsp;
                    {% endif %}
                    <a href="{{ path('shopping_point') }}">変更する</a>
                </div>
                </tr>
            </table>
            {% endif %}
            {# ポイント #}

    <h3>配送方法・お支払方法</h3>
    <table summary="配送方法・お支払方法" class="delivname">
        <col width="20%" />
        <col width="80%" />
        <tbody>
        <tr>
            <th scope="row">配送方法</th>
            <td>
                {{ form_widget(form.delivery) }}
            </td>
        </tr>
        <tr>
            <th scope="row">お支払方法</th>
            <td>
                {{ form_widget(form.payment) }}
            </td>
        </tr>
        </tbody>
    </table>

    <h3>お届け先情報&nbsp;
        <a href="{{ path('shopping_shipping') }}">変更する</a>&nbsp;
        <a href="{{ path('shopping_shipping_multiple') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_several_address.jpg" alt="お届け先を複数指定する" /></a>
    </h3>

{% for shipping in order.Shippings %}
    <h2>お届け先</h2>
    <table summary="ご注文内容確認">
        <col width="10%" />
        <col width="70%" />
        <col width="20%" />
        <tr>
            <th scope="col">商品写真</th>
            <th scope="col">商品名</th>
            <th scope="col">数量</th>
        </tr>
        {% for item in shipping.ShipmentItems %}
        <tr>
            <td class="alignC">
                <img src="{{ app.config.image_save_urlpath }}{{ item.ProductClass.Product.main_list_image }}" style="max-width: 65px;max-height: 65px;" alt="{{ item.product_name }}" />
            </td>
            <td><strong>{{ item.product_name }}</strong><br />{# 商品規格 #}</td>
            <td class="alignC">{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </table>

    <table summary="お届け先確認" class="delivname">
        <col width="20%" />
        <col width="80%" />
        <tbody>
        <tr>
            <th scope="row">お届け先</th>
            <td>
                {% if shipping.company_name %}{{ shipping.company_name }}<br />{% endif %}
                {{ shipping.name01 }} {{ shipping.name02 }} {% if shipping.kana01 %}({{ shipping.kana01 }}{{ shipping.kana02 }}){% endif %}<br />
                〒{{ shipping.zip01 }}-{{ shipping.zip02 }} {{ shipping.Pref }} {{ shipping.addr01 }}{{ shipping.addr02 }}<br />
                TEL:{{ shipping.tel01 }}-{{ shipping.tel02 }}-{{ shipping.tel03 }}<br />
                FAX:{{ shipping.fax01 }}-{{ shipping.fax02 }}-{{ shipping.fax03 }}
            </td>
        </tr>
        <tr>
            <th scope="row">お届け日</th>
            <td>
                お届け日：
                {{ form_widget(form.delivery_date) }}
                お届け時間：
                {{ form_widget(form.delivery_time) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}
    <div class="pay_area01">
        <h3>お問い合わせ</h3>
        <table summary="お問い合わせ">
            <col width="20%" />
            <col width="80%" />
            <tr>
                <th>お問い合わせ</th>
                <td>{{ form_widget(form.message) }}</td>
            </tr>
        </table>
    </div>

    <div class="btn_area">
        <ul>
            <li>
                <a href="{{ path('cart') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る"  /></a>
            </li>
            <li>
                <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_order_complete.jpg" alt="ご注文完了ページへ" name="next-bottom" id="next-bottom" />
            </li>
        </ul>
    </div>
    </form>
    </div>
    </div>

{% endblock %}