{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block title %}ご注文内容の確認{% endblock %}

{% block main %}
<script type="text/javascript">//<![CDATA[
var sent = false;
$(document).ready(function(){
    $('#form1').on('submit', function () {
        $(this).find('input:image').attr('disabled', 'disabled');
    });

    $("#shopping_delivery").on('change', function () {
        $("#form1").attr("action", "{{ path('shopping_delivery') }}" )
                   .submit();
    });

    $("#shopping_payment").on('change', function () {
        $("#form1").attr("action", "{{ path('shopping_payment') }}" )
                   .submit();
    });
});

//]]></script>


    <div id="contents" class="main_only">
        <div class="container-fluid inner no-padding">
        
            <div id="main">
                <h1 class="page-heading">ご注文内容のご確認</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="flowline step3">
                                <ul class="clearfix">
                                <li><span class="flow_number">1</span><br>カートの商品</li>
                                <li class="active"><span class="flow_number">2</span><br>ご注文内容確認</li>
                                <li><span class="flow_number">3</span><br>完了</li>
                                </ul>
                            </div>
                        </div><!-- /.col --> 
                    </div><!-- /.row --> 
                    
                    <form>
                        <div id="shopping_confirm" class="row">
                            <div id="confirm_main" class="col-sm-8">    
                                <div class="cart_item table">
                                    <div class="tbody">
                                        {% for OrderDetail in Order.OrderDetails %}
                                        <div class="item_box tr">
                                            <div class="td table">
                                                <div class="item_photo"><a href="#"><img src="img/top/img06.jpg"></a></div>
                                                <dl class="item_detail">
                                                    <dt class="item_name text-default"><a href="#">{{ OrderDetail.product_name }}</a></dt>
                                                    <dd class="item_pattern small">味：抹茶 <br>大きさ：M</dd>
                                                    <dd class="item_price">￥ {{ OrderDetail.priceIncTax|number_format }} ×{{ OrderDetail.quantity }}</dd>
                                                    <dd class="item_subtotal">小計：￥{{ OrderDetail.totalPrice|number_format }}</dd>
                                                </dl>
                                            </div>
                                        </div><!--/item_box-->
                                        {% endfor %}







                                        
                                    </div>
                                </div><!--/cart_item-->
                                
                               <h2 class="heading02">お客様情報</h2>
                               <div class="column is-edit">
                                    <p class="address">CUBE 太郎 様<br>
                                    〒000-0000　北海道00 TestTest<br>
                                    000-0000-0000</p>
                                    <p class="btn_edit"><button class="btn btn-default btn-sm">変更</button></p>
                               </div>

                               <h2 class="heading02">お届け先情報</h2>
                               <div class="column is-edit">
                                <p class="address">お客様情報と同じ</p>
                            
                                <div class="form-inline form-group">
                                    <label>お届け日</label>
                                    {{ form_widget(form.deliveryDate) }}<br class="sp">
                                    <label>お届け時間</label>
                                    {{ form_widget(form.deliveryTime) }}
                                </div>
                                <p><button class="btn btn-default btn-sm">お届け先を追加する</button></p>
                                <p class="btn_edit"><button class="btn btn-default btn-sm">変更</button></p>
                               </div>

                               <h2 class="heading02">配送方法・お支払方法</h2>
                               <div class="column">
                                   <div class="form-inline form-group">
                                       <label>配送方法</label>
                                       {{ form_widget(form.delivery) }}
                                   </div>
                                   <div class="form-inline form-group">
                                       <label>支払方法</label>
                                       {{ form_widget(form.payment) }}
                                   </div>
                               </div>

                               <h2 class="heading02">ポイントのご利用</h2>
                               <div class="column is-edit">
                                <p>0pt 利用する　（10pt 利用可能）</p>
                                <p class="btn_edit"><button class="btn btn-default btn-sm">変更</button></p>
                               </div>

                               <h2 class="heading02">お問い合わせ欄</h2>
                               <div class="column">
                                    <textarea placeholder="お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)" rows="6" class="form-control"></textarea>
                               </div>



                            </div><!-- /.col -->
                            
                            <div id="confirm_side" class="col-sm-4">
                                <div class="total_box">
                                    <dl>
                                    <dt>小計</dt>
                                    <dd class="text-primary">\ 1,285</dd>
                                    </dl>
                                    <dl>
                                    <dt>ポイント利用</dt>
                                    <dd>- \ 85</dd>
                                    </dl>
                                    <dl>
                                    <dt>手数料</dt>
                                    <dd>\ 0</dd>
                                    </dl>
                                    <dl>
                                    <dt>送料</dt>
                                    <dd>\ 785</dd>
                                    </dl>

                                    <div class="total_amount">
                                        <p class="total_price">合計 <strong class="text-primary">\ 1,285<span class="small">税込</span></strong></p>
                                        <p class="total_point">178 Pt獲得</p>
                                        <p><button type="button" class="btn btn-primary btn-block">注文する</button></p>
                                    </div>
                                </div>
                            
                            </div>
                        </div><!-- /.row --> 
                    </form>

                </div>
            </div>
            
            
        </div>











<!--CONTENTS-->
<div id="undercolumn">
    <div id="undercolumn_shopping">
        <p class="flow_area"><img src="{{ app.config.tpl }}img/picture/img_flow_03.jpg" alt="購入手続きの流れ" /></p>
        <h2 class="title">{{ title }}</h2>

        <p class="information">下記ご注文内容で送信してもよろしいでしょうか？<br />よろしければ、「ご注文完了ページへ」ボタンをクリックしてください。</p>

        <form name="form1" id="form1" method="post" action="{{ path('shopping_confirm') }}">
            {{ form_widget(form._token) }}

            <div class="btn_area">
                <ul>
                    <li>
                        <a href="{{ path('cart') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る" /></a>
                    </li>
                    <li>
                        <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_order_complete.jpg" alt="ご注文完了ページへ" name="next-top" id="next-top" />
                    </li>
                </ul>
            </div>

            <table summary="ご注文内容確認">
                <col width="10%" />
                <col width="40%" />
                <col width="20%" />
                <col width="10%" />
                <col width="20%" />
                <tr>
                    <th scope="col">商品写真</th>
                    <th scope="col">商品名</th>
                    <th scope="col">単価</th>
                    <th scope="col">数量</th>
                    <th scope="col">小計</th>
                </tr>
                {% for detail in Order.OrderDetails %}
                <tr>
                    <td class="alignC">
                        <img src="{{ app.config.image_save_urlpath }}{{ detail.Product.main_list_image }}" style="max-width: 65px;max-height: 65px;" alt="{{ detail.Product.name }}" />
                    </td>
                    <td>
                        <ul>
                            <li><strong>{{ detail.Product.name }}</strong></li>
                            {% if detail.classcategory_name1 %}
                            <li>{{ detail.ProductClass.ClassCategory1.ClassName.name }}：{{ detail.ProductClass.ClassCategory1.name }}</li>
                            {% endif %}
                            {% if detail.classcategory_name2 %}
                                <li>{{ detail.ProductClass.ClassCategory2.ClassName.name }}：{{ detail.ProductClass.ClassCategory2.name }}</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td class="alignR">{# todo 税込金額 #}{{ detail.price }}円
                    </td>
                    <td class="alignR">{{ detail.quantity }}</td>
                    <td class="alignR">{# todo 税計算 #}{{ detail.price * detail.quantity * 1.08 }}円</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="4" class="alignR" scope="row">小計</th>
                    <td class="alignR">{{ Order.subtotal }}円</td>
                </tr>
                <tr>
                    <th colspan="4" class="alignR" scope="row">送料</th>
                    <td class="alignR">{{ Order.delivery_fee_total }}円</td>
                </tr>
                <tr>
                    <th colspan="4" class="alignR" scope="row">手数料</th>
                    <td class="alignR">{{ Order.charge }}円</td>
                </tr>
                <tr>
                    <th colspan="4" class="alignR" scope="row">合計</th>
                    <td class="alignR"><span class="price">{{ Order.payment_total }}円</span></td>
                </tr>
            </table>

            {# ポイント todo 画面遷移へ変更する #}
            {% if app.config.use_point and is_granted('ROLE_USER') %}
            <table summary="ポイント利用">
                <col width="20%" />
                <col width="80%" />
                <tr>
                <th>ポイントのご利用</th>
                <td>
                    <span class="user_name">{{ app.user.name01 }}{{ app.user.name02 }}様</span>の、現在の所持ポイントは「<span class="point">{{ app.user.point }}Pt</span>」です。1ポイントを{{ app.config.point_value }}円</span>として使用する事ができます。<br />
                    {% if order.use_point > 0 %}
                        ポイントを{{ order.use_point }}Pt使用する&nbsp;
                    {%  else %}
                        ポイントを使用しない&nbsp;
                    {% endif %}
                    <a href="{{ path('shopping_point') }}">変更する</a>
                </div>
                </tr>
            </table>
            {% endif %}
            {# ポイント #}

    <h3>配送方法・お支払方法</h3>
    <table summary="配送方法・お支払方法" class="delivname">
        <col width="20%" />
        <col width="80%" />
        <tbody>
        <tr>
            <th scope="row">配送方法</th>
            <td>
                {{ form_widget(form.delivery) }}
            </td>
        </tr>
        <tr>
            <th scope="row">お支払方法</th>
            <td>
                {{ form_widget(form.payment) }}
            </td>
        </tr>
        </tbody>
    </table>

    <h3>お届け先情報&nbsp;
        <a href="{{ path('shopping_shipping') }}">変更する</a>&nbsp;
        <a href="{{ path('shopping_shipping_multiple') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_several_address.jpg" alt="お届け先を複数指定する" /></a>
    </h3>

{% for shipping in Order.Shippings %}
    <h2>お届け先</h2>
    <table summary="ご注文内容確認">
        <col width="10%" />
        <col width="70%" />
        <col width="20%" />
        <tr>
            <th scope="col">商品写真</th>
            <th scope="col">商品名</th>
            <th scope="col">数量</th>
        </tr>
        {% for item in shipping.ShipmentItems %}
        <tr>
            <td class="alignC">
                <img src="{{ app.config.image_save_urlpath }}{{ item.ProductClass.Product.main_list_image }}" style="max-width: 65px;max-height: 65px;" alt="{{ item.product_name }}" />
            </td>
            <td><strong>{{ item.product_name }}</strong><br />{# 商品規格 #}</td>
            <td class="alignC">{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </table>

    <table summary="お届け先確認" class="delivname">
        <col width="20%" />
        <col width="80%" />
        <tbody>
        <tr>
            <th scope="row">お届け先</th>
            <td>
                {% if shipping.company_name %}{{ shipping.company_name }}<br />{% endif %}
                {{ shipping.name01 }} {{ shipping.name02 }} {% if shipping.kana01 %}({{ shipping.kana01 }}{{ shipping.kana02 }}){% endif %}<br />
                〒{{ shipping.zip01 }}-{{ shipping.zip02 }} {{ shipping.Pref }} {{ shipping.addr01 }}{{ shipping.addr02 }}<br />
                TEL:{{ shipping.tel01 }}-{{ shipping.tel02 }}-{{ shipping.tel03 }}<br />
                FAX:{{ shipping.fax01 }}-{{ shipping.fax02 }}-{{ shipping.fax03 }}
            </td>
        </tr>
        <tr>
            <th scope="row">お届け日</th>
            <td>
                お届け日：
                お届け時間：
            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}
    <div class="pay_area01">
        <h3>お問い合わせ</h3>
        <table summary="お問い合わせ">
            <col width="20%" />
            <col width="80%" />
            <tr>
                <th>お問い合わせ</th>
            </tr>
        </table>
    </div>

    <div class="btn_area">
        <ul>
            <li>
                <a href="{{ path('cart') }}"><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る"  /></a>
            </li>
            <li>
                <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_order_complete.jpg" alt="ご注文完了ページへ" name="next-bottom" id="next-bottom" />
            </li>
        </ul>
    </div>
    </form>
    </div>
    </div>

{% endblock %}