{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <script>
        $(function() {

            $('.delivery').on('change', function() {
                loadingOverlay();
                $('#shopping_order_mode').val('delivery');
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
            });

            $('.payment').on('change', function() {
                loadingOverlay();
                $('#shopping_order_mode').val('payment');
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
            });

            $('.use_point').on('blur', function() {
                loadingOverlay();
                $('#shopping_order_mode').val('use_point');
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
            });

            $('.btn-shipping').click(function() {
                loadingOverlay();
                $('#shopping_order_mode').val('shipping_change');
                $('#shopping_order_param').val($(this).data('id'));
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
            });

            $('.btn-shipping-edit').click(function() {
                loadingOverlay();
                $('#shopping_order_mode').val('shipping_edit_change');
                $('#shopping_order_param').val($(this).data('id'));
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
            });

            $('.btn-shipping-multiple').click(function() {
                loadingOverlay();
                $('#shopping_order_mode').val('shipping_multiple_change');
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
            });

            {% if is_granted('ROLE_USER') == false %}
            var ref = [];
            var name = [];
            var input = [];
            var customerin = [];

            $('#customer').click(function() {
                // ref = $('.customer-name01');
                var edit = $('.customer-edit');
                var hidden = $('.customer-in');

                $(edit).each(function(index) {
                    ref[index] = $(this);
                });
                $(hidden).each(function(index) {
                    customerin[index] = $(this);
                });
                $(ref).each(function(index) {
                    name[index] = $(this).text();
                });
                $(name).each(function(index) {
                    input[index] = $('<input id="edit' + index + '" type="text" />').val(name[index]);
                });
                $(input).each(function(index) {
                    ref[index].empty().append(input[index]);
                });

                $('#customer').prop("disabled", true);
                $('.mod-button').show();
            });

            $('#customer-ok').click(function() {
                $(ref).each(function(index) {
                    var nameAfter = input[index].val();
                    ref[index].empty().text(nameAfter);
                    customerin[index].val(nameAfter);
                    input[index].remove();
                });

                var postData = {};
                $('.customer-in').each(function() {
                    postData[$(this).attr('name')] = $(this).val();
                });

                loadingOverlay();

                $.ajax({
                    url: "{{ url('shopping_customer') }}",
                    type: 'POST',
                    data: postData,
                    dataType: 'json'
                }).done(function(data) {
                    if (data.status == 'OK') {
                        // kana field
                        ref[2].empty().text(data.kana01);
                        ref[3].empty().text(data.kana02);
                        $('#customer-kana01').val(data.kana01);
                        $('#customer-kana02').val(data.kana02);
                    }
                }).fail(function() {
                    alert('更新に失敗しました。入力内容を確認してください。');
                    $(ref).each(function(index) {
                        ref[index].empty().text(name[index]);
                        input[index].remove();
                    });
                }).always(function(data) {
                    // overlayを無効
                    loadingOverlay('hide');
                });

                $('#customer').prop("disabled", false);
                $('.mod-button').hide();
            });

            $('#customer-cancel').click(function() {
                $(ref).each(function(index) {
                    ref[index].empty().text(name[index]);
                    input[index].remove();
                });

                $('#customer').prop("disabled", false);
                $('.mod-button').hide();
            });
            {% endif %}
        });
    </script>
{% endblock javascript %}

{% block main %}

    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>ご注文手続き</h1> {# TODO 未翻訳 #}
        </div>
    </div>

    <div class="ec-cartRole">
        <div class="ec-cartRole__progress">
            <ul class="ec-progress">
                {% set step = 1 %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'shopping.label.your_cart'|trans }}
                    </div>
                </li>
                {% if is_granted('ROLE_USER') == false %}
                    <li class="ec-progress__item">
                        <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                        </div>
                        <div class="ec-progress__label">{{ 'shopping.label.customer_info'|trans }}
                        </div>
                    </li>
                {% endif %}
                <li class="ec-progress__item is-complete">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">ご注文手続き {# TODO 未翻訳 #}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'shopping.label.btn.confirm_order'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'shopping.label.order_completed'|trans }}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {# TODO エラーメッセージ #}
    <div id="confirm_flow_box" class="row">
        <div id="confirm_flow_box__body" class="col-md-12">
            {% for error in app.session.flashbag.get('eccube.front.error') %}
                <div id="confirm_flow_box__message" class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning">
                            <use xlink:href="#cb-warning"/>
                        </svg>{{ error|trans|nl2br }}
                    </p>
                </div>
            {% endfor %}
            {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
            {% for error in app.session.flashbag.get('eccube.front.request.error') %}
                {% set idx = loop.index0 %}
                {% if productStr[idx] is defined %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning">
                                <use xlink:href="#cb-warning"/>
                            </svg>
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        </p>
                    </div>
                {% else %}
                    <div id="confirm_flow_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning">
                                <use xlink:href="#cb-warning"/>
                            </svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div><!-- /.col -->
    </div><!-- /.row -->


    <form id="shopping-form" method="post" action="{{ url('shopping_confirm') }}">
        {{ form_widget(form._token) }}
        {{ form_widget(form.mode) }}
        {{ form_widget(form.param) }}
        <div class="ec-orderRole">
            <div class="ec-orderRole__detail">
                <div class="ec-orderAccount">
                    <div class="ec-rectHeading">
                        <h2>{{ 'shopping.label.customer_info'|trans }}</h2>
                    </div>
                    {% if is_granted('ROLE_USER') == false %}
                        <div class="ec-orderAccount__change">
                            <button id="customer" class="ec-inlineBtn" type="button">変更</button>
                        </div>
                    {% endif %}
                    <div class="ec-orderAccount__account">
                        <p class="ec-halfInput"><span class="customer-edit customer-name01">{{ Order.name01 }}</span> <span class="customer-edit customer-name02">{{ Order.name02 }}</span> 様</p>
                        <p class="ec-halfInput"><span class="customer-edit customer-kana01">{{ Order.kana01 }}</span> <span class="customer-edit customer-kana02">{{ Order.kana02 }}</span></p>
                        <p class="ec-zipInput">〒<span class="customer-edit customer-postal_code">{{ Order.postal_code }}</span></p>
                        <p class="ec-input"><span class="customer-edit customer-pref">{{ Order.pref }}</span><span class="customer-edit customer-addr01">{{ Order.addr01 }}</span><span class="customer-edit customer-addr02">{{ Order.addr02 }}</span></p>
                        <p class="ec-telInput"><span class="customer-edit customer-phone_number">{{ Order.phone_number }}</span></p>
                        <p class="ec-input"><span class="customer-edit customer-email">{{ Order.email }}</span></p>
                        <p class="ec-input"><span class="customer-edit customer-company_name">{{ Order.companyName }}</span></p>
                    </div>
                    {% if is_granted('ROLE_USER') == false %}
                        <div class="mod-button" style="display:none;">
                            <span id="customer-ok"><button type="button" class="ec-inlineBtn">OK</button></span>
                            <span id="customer-cancel"><button type="button" class="ec-inlineBtn">{{'shopping.label.btn.cancel'|trans}}</button></span>
                        </div>
                        <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
                        <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
                        <input type="hidden" id="customer-kana01" class="customer-in" name="customer_kana01" value="{{ Order.kana01 }}">
                        <input type="hidden" id="customer-kana02" class="customer-in" name="customer_kana02" value="{{ Order.kana02 }}">
                        <input type="hidden" id="customer-postal_code" class="customer-in" name="customer_postal_code" value="{{ Order.postal_code }}">
                        <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
                        <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
                        <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
                        <input type="hidden" id="customer-phone_number" class="customer-in" name="customer_phone_number" value="{{ Order.phone_number }}">
                        <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
                        <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">
                    {% endif %}
                </div>
                <div class="ec-orderDelivery">
                    <div class="ec-rectHeading">
                        <h2>{{ 'shopping.label.delivery_info'|trans }}</h2>
                    </div>
                    {% for shipping in Order.shippings %}
                        {% set idx = loop.index0 %}
                        <div class="ec-orderDelivery__title">{{ 'shopping.label.deliver_to'|trans }}{% if Order.multiple %}({{ loop.index }}){% endif %}
                            <div class="ec-orderDelivery__change">
                                {% if is_granted('ROLE_USER') %}
                                    <button class="ec-inlineBtn btn-shipping" data-id="{{ shipping.id }}">{{'shopping.label.edit'|trans}}</button>
                                {% else %}
                                    <button class="ec-inlineBtn btn-shipping-edit" data-id="{{ shipping.id }}">{{'shopping.label.edit'|trans}}</button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="ec-orderDelivery__item">
                            <ul class="ec-borderedList">
                                {% for orderItem in shipping.orderItems %}
                                    <li>
                                        <div class="ec-imageGrid">
                                            <div class="ec-imageGrid__img"><img src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}"></div>
                                            <div class="ec-imageGrid__content">
                                                <p>{{ orderItem.productName }}</p>
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                                    <p>{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}</p>
                                                {% endif %}
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                                    <p>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}</p>
                                                {% endif %}
                                                <p>{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}<span>{{'shopping.label.subtotal'|trans}}：{{ orderItem.totalPrice|price }}</span></p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="ec-orderDelivery__address">
                            <p>{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}) 様</p>
                            <p>〒{{ shipping.postal_code }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
                            <p>{{ shipping.phone_number }}</p>
                        </div>
                        <div class="ec-orderDelivery__actions">
                            <div class="ec-selects">
                                <div class="ec-select">
                                    <label>{{ 'shopping.label.delivery_method'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].Delivery, {'attr': {'class': 'delivery form-control'}}) }}
                                    {{ form_errors(form.Shippings[idx].Delivery) }}
                                </div>
                                <div class="ec-select ec-select__delivery">
                                    <label>{{'shopping.label.delivery_date'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].shipping_delivery_date, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="ec-select ec-select__time">
                                    <label>{{ 'shopping.label.delivery_hours'|trans}}</label>
                                    {{ form_widget(form.Shippings[idx].DeliveryTime, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="ec-orderDelivery__edit">
                        <button type="button" class="ec-inlineBtn btn-shipping-multiple">{{'shopping.label.btn.delivery_address'|trans}}</button>
                    </div>
                </div>
                {{ eccube_block_sample_payment_credit_form({ Order: Order, form: form }) }}
                <div class="ec-orderPayment">
                    <div class="ec-rectHeading">
                        <h2>{{ 'shopping.label.payment_method'|trans }}</h2>
                    </div>
                    <div class="ec-blockRadio">
                        {% for key, child in form.Payment %}
                            {% set Payment = form.Payment.vars.choices[key].data %}
                            <label>{{ form_widget(child, {'attr': {'class': 'payment' }}) }}</label>
                            {% if Payment.payment_image is not null %}
                                <img src="{{ asset(Payment.payment_image, 'save_image') }}">
                            {% endif %}
                        {% endfor %}
                        {{ form_errors(form.Payment) }}
                    </div>
                </div>
                {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <div class="ec-orderPayment">
                        <div class="ec-rectHeading">
                            <h2>利用ポイント(暫定実装)</h2>
                            <p>{{ Order.Customer.Point }} ポイントが利用可能です。</p>
                            {{ form_widget(form.use_point, {'attr': {'class': 'form-control use_point'}}) }}
                            {{ form_errors(form.use_point) }}
                        </div>
                    </div>
                {% else %}
                    {{ form_widget(form.use_point, {'type': 'hidden'}) }}
                {% endif %}
                <div class="ec-orderConfirm">
                    <div class="ec-rectHeading">
                        <h2>{{ 'common.label.inquiry'|trans }}</h2>
                    </div>
                    <div class="ec-input">
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)', 'rows': '6'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
            </div>
            <div class="ec-orderRole__summary">
                <div class="ec-totalBox">
                    <dl class="ec-totalBox__spec">
                        <dt>{{ 'shopping.label.subtotal'|trans }}</dt>
                        <dd class="ec-totalBox__specTotal">{{ Order.subtotal|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ 'shopping.label.charges'|trans }}</dt>
                        <dd>{{ Order.charge|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ 'shopping.label.shipping_charge'|trans }}</dt>
                        <dd>{{ Order.deliveryFeeTotal|price }}</dd>
                    </dl>
                    {% if Order.discount > 0 %}
                        <dl class="ec-totalBox__spec">
                            <dt>内値引き</dt>
                            <dd>{{ (0 - Order.discount)|price}}</dd>
                        </dl>
                    {% endif %}
                    <div class="ec-totalBox__total">{{ 'common.label.cart_total'|trans }}<span class="ec-totalBox__price">{{ Order.total|price }}</span><span class="ec-totalBox__taxLabel">{{ 'shopping.label.tax_incl'|trans }}</span></div>
                    <div class="ec-totalBox__btn">
                        <button type="submit" class="ec-blockBtn--action">{{ 'shopping.label.btn.place_order_confirm'|trans }}</button>
                        <a href="{{ url("cart") }}" class="ec-blockBtn--cancel">カートに戻る</a> {# TODO 未翻訳 #}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
