{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}

    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>ログイン</h1>
        </div>
    </div>

    <div class="ec-role">
        <div class="ec-grid3">

            <div class="ec-grid3__cell2">
                <form method="post" action="{{ url('login_check') }}">
                    <input type="hidden" name="_target_path" value="shopping" />
                    <input type="hidden" name="_failure_path" value="shopping_login" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="ec-login">
                        <div class="ec-login__icon">
                            <div class="ec-icon"><img src="{{ app.config.front_urlpath }}/assets/icon/user.svg" alt=""></div>
                        </div>
                        <div class="ec-login__input">
                            <div class="ec-input">
                                {{ form_widget(form.login_email, {attr: {'style' : 'ime-mode: disabled;', placeholder: 'メールアドレス', 'autofocus': true}}) }}
                                {{ form_widget(form.login_pass, {attr: {placeholder: 'パスワード'}}) }}
                                {% for f in form.getIterator %}
                                    {% if f.vars.name matches '[^plg*]' %}
                                        {{ form_row(f) }}
                                        {{ form_widget(f) }}
                                        {{ form_errors(f) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="ec-checkbox">
                                <label>
                                    {% if BaseInfo.option_remember_me %}
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <input type="hidden" name="login_memory" value="1">
                                        {% else %}
                                            {{ form_widget(form.login_memory) }}
                                        {% endif %}
                                    {% endif %}
                                </label>
                            </div>
                        </div>

                        {% if error %}
                            <p class="ec-errorMessage">
                                {{ error|trans|raw }}
                            </p>
                        {% endif %}
                        <!--p.ec-errorMessage ログインできませんでした。-->
                        <!--    br-->
                        <!--    | 入力内容に誤りがないかご確認ください。-->
                        <div class="ec-grid2">
                            <div class="ec-grid2__cell">
                                <div class="ec-login__actions">
                                    <button type="submit" class="ec-blockBtn--cancel">ログイン</button>
                                    {#<a class="ec-blockBtn--cancel" href="/moc/guest/login/error">ログイン</a>#}
                                </div>
                            </div>
                            <div class="ec-grid2__cell">
                                <div class="ec-login__link"><a class="ec-link" href="{{ url('forgot') }}">ログイン情報をお忘れですか?</a>
                                </div>
                                <div class="ec-login__link"><a class="ec-link" href="{{ url('entry') }}">新規会員登録</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                <div class="ec-grid3__cell">
                    <div class="ec-guest">
                        <div class="ec-guest__inner">
                            <p>会員登録をせずに購入手続きをされたい方は、下記よりお進みください。</p>
                            <div class="ec-guest__actions"><a class="ec-blockBtn--cancel" href="{{ url('shopping_nonmember') }}">ゲスト購入</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}