{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block main %}
    <div id="undercolumn">
        <div id="undercolumn_customer">
            <p class="flow_area"><img src="{{ app.config.tpl }}img/picture/img_flow_01.jpg" alt="購入手続きの流れ" /></p>
            <h2 class="title">{{ title }}</h2>

            <div class="information" id="hogehoge">
                <p>下記項目にご入力ください。「<span class="attention">※</span>」印は入力必須項目です。<br />
                    {#
                    <!--{if $smarty.const.USE_MULTIPLE_SHIPPING !== false}-->
                    入力後、一番下の「上記のお届け先のみに送る」<br/>
                    または「複数のお届け先に送る」ボタンをクリックしてください。
                    <!--{else}-->
                    入力後、一番下の「次へ」ボタンをクリックしてください。
                    <!--{/if}-->
                    #}
                </p>
            </div>

            <form name="form1" id="form1" method="post" action="{{ path('shopping_nonmember') }}">
                {{ form_widget(form._token) }}
                <table summary="会員登録フォーム">

                    <col width="30%" />
                    <col width="70%" />
                    <tr>
                        <th>お名前<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </td>
                    </tr>
                    <tr>
                        <th>お名前(フリガナ)<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.kana) }}
                            {{ form_errors(form.kana) }}
                        </td>
                    </tr>
                    <tr>
                        <th>会社名</th>
                        <td>
                            {{ form_widget(form.company_name) }}
                            {{ form_errors(form.company_name) }}
                        </td>
                    </tr>
                    <tr>
                        <th>郵便番号<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.zip) }}<br />
                            {{ form_errors(form.zip) }}
                        </td>
                    </tr>
                    <tr>
                        <th>住所<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.address) }}<br />
                            {{ form_errors(form.address) }}
                        </td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td>
                            {{ form_widget(form.tel) }}<br />
                            {{ form_errors(form.tel) }}
                        </td>
                    </tr>
                    <tr>
                        <th>FAX</th>
                        <td>
                            {{ form_widget(form.fax) }}<br />
                            {{ form_errors(form.fax) }}
                        </td>
                    </tr>
                    <tr>
                        <th>メールアドレス<span class="attention">※</span></th>
                        <td>
                            {{ form_widget(form.email) }}<br />
                            {{ form_errors(form.email) }}
                        </td>
                    </tr>
                    <tr>
                        <th>性別</th>
                        <td>
                            {{ form_widget(form.sex) }}<br />
                            {{ form_errors(form.sex) }}
                        </td>
                    </tr>
                    <tr>
                        <th>職業</th>
                        <td>
                            {{ form_widget(form.job) }}<br />
                            {{ form_errors(form.job) }}
                        </td>
                    </tr>
                    <tr>
                        <th>生年月日</th>
                        <td>
                            {{ form_widget(form.birth) }}<br />
                            {{ form_errors(form.birth) }}
                        </td>
                    </tr>
                </table>
                {#
                <!--{if $smarty.const.USE_MULTIPLE_SHIPPING !== false}-->
                <p class="alignC">この商品を複数のお届け先に送りますか？</p>
                <!--{/if}-->
                #}
                <div class="btn_area">
                    <ul>
                        {#
                        <!--{if $smarty.const.USE_MULTIPLE_SHIPPING !== false}-->
                        <li>
                            <input type="image" class="hover_change_image" src="<!--{$TPL_URLPATH}-->img/button/btn_singular.jpg" alt="上記のお届け先のみに送る" name="singular" id="singular" />
                        </li>
                        <li>
                            <a href="javascript:;" onclick="eccube.setModeAndSubmit('multiple', '', ''); return false">
                                <img class="hover_change_image" src="<!--{$TPL_URLPATH}-->img/button/btn_multiple.jpg" alt="複数のお届け先に送る" />
                            </a>
                        </li>
                        <!--{else}-->
                        #}
                        <li>
                            <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_next.jpg" alt="次へ" name="singular" id="singular" />
                        </li>
                        {#<!--{/if}--> #}
                    </ul>
                </div>
            </form>
        </div>
    </div>

{% endblock %}