{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>お届け先の指定</h1>
        </div>
    </div>

    <div class="ec-registerRole">
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-addressRole">
                    {# FIXME app.config #}
                    {#{% if Customer.CustomerAddresses|length < app.config.deliv_addr_max %}#}
                        {#<div class="ec-addressRole__actions"><a class="ec-inlineBtn" href="{{ url('shopping_shipping_edit', {'id': shippingId}) }}">新規お届け先を追加する</a></div>#}
                    {#{% else %}#}
                        {#<div class="ec-alert-warning">#}
                            {#<div class="ec-alert-warning__text">#}
                                {#<div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"/></div>#}
                                {#お届け先登録上限の{{ app.config.deliv_addr_max }}件に達しています。お届け先を入力したい場合は、削除か変更を行ってください#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endif %}#}
                    {% if error %}
                        <div class="ec-alert-warning">
                            <div class="ec-alert-warning__text">
                                <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"/></div>
                                お届け先を指定してください。
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if Customer.CustomerAddresses|length > 0 %}
                <form method="post" action="{{ url('shopping_shipping', {'id': shippingId}) }}">

                    <div class="ec-addressList">
                        {% for CustomerAddress in Customer.CustomerAddresses %}
                        <div class="ec-addressList__item">
                            <div class="ec-addressList__remove">
                                <input type="radio" id="address{{ CustomerAddress.id }}" class="no-style" name="address" value="{{ CustomerAddress.id }}" />
                            </div>
                            <div class="ec-addressList__address">
                                <div>{{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}</div>
                                <div>〒{{ CustomerAddress.zip01 }}-{{ CustomerAddress.zip02 }} {{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}</div>
                                <div>{{ CustomerAddress.tel01 }}-{{ CustomerAddress.tel02 }}-{{ CustomerAddress.tel03 }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button type="submit" class="ec-blockBtn--action">選択したお届け先に送る</button>
                                <a class="ec-blockBtn--cancel" href="{{ url('shopping') }}">戻る</a>
                            </div>
                        </div>
                    </div>

                </form>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
