{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set body_class = 'cart_page' %}
{#ログイン状態によって、表示内容を切替#}
{% if is_granted('ROLE_USER') is empty %}
    {% set title = '商品購入/お届け先の変更' %}
{% endif %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}

    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>お届け先の{% if is_granted('ROLE_USER') %}追加{% else %}変更{% endif %}</h1>
        </div>
    </div>

    <div class="ec-role">
        <div class="ec-registerRole">
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <form method="post" action="{{ url('shopping_shipping_edit', {'id': shippingId}) }}" class="h-adr">
                        <span class="p-country-name" style="display:none;">Japan</span>
                        {{ form_widget(form._token) }}
                        <div class="ec-borderedDefs">
                            <dl>
                                <dt>
                                    {{ form_label(form.name) }}
                                </dt>
                                <dd>
                                    <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error'}}">
                                        {{ form_widget(form.name.name01) }}
                                        {{ form_widget(form.name.name02) }}
                                        {{ form_errors(form.name.name01) }}
                                        {{ form_errors(form.name.name02) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.kana) }}
                                </dt>
                                <dd>
                                    <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
                                        {{ form_widget(form.kana.kana01) }}
                                        {{ form_widget(form.kana.kana02) }}
                                        {{ form_errors(form.kana.kana01) }}
                                        {{ form_errors(form.kana.kana02) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label">{{ form_label(form.company_name) }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput{{ has_errors(form.company_name) ? ' error' }}">
                                        {{ form_widget(form.company_name) }}
                                        {{ form_errors(form.company_name) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.address) }}
                                </dt>
                                <dd>
                                    <div class="ec-zipInput{{ has_errors(form.zip.zip01, form.zip.zip02) ? ' error' }}"><span>〒</span>
                                        {{ form_widget(form.zip.zip01) }}<span>-</span>
                                        {{ form_widget(form.zip.zip02) }}
                                        {{ form_errors(form.zip.zip01) }}
                                        {{ form_errors(form.zip.zip02) }}
                                    </div>
                                    <div class="ec-zipInputHelp"><a href="http://www.post.japanpost.jp/zipcode/"
                                                                    target="_blank">
                                            <div class="ec-zipInputHelp__icon">
                                                <div class="ec-icon"><img src="{{ asset('assets/icon/question-white.svg') }}" alt=""></div>
                                            </div>
                                            <span>{{'signup.label.search_postal_code'|trans}}</span></a></div>
                                    <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                        {{ form_widget(form.address.pref) }}
                                        {{ form_errors(form.address.pref) }}
                                    </div>
                                    <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                        {{ form_widget(form.address.addr01, {'attr': {'placeholder': '市区町村名 (例：千代田区神田神保町)' }}) }}
                                        {{ form_errors(form.address.addr01) }}
                                    </div>
                                    <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                        {{ form_widget(form.address.addr02, {'attr': {'placeholder': '番地・ビル名 (例：1-3-5)' }}) }}
                                        {{ form_errors(form.address.addr02) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.tel) }}
                                </dt>
                                <dd>
                                    <div class="ec-telInput{{ has_errors(form.tel.tel01, form.tel.tel02, form.tel.tel03) ? ' error' }}">
                                        {{ form_widget(form.tel.tel01) }}<span>-</span>
                                        {{ form_widget(form.tel.tel02) }}<span>-</span>
                                        {{ form_widget(form.tel.tel03) }}
                                        {{ form_errors(form.tel.tel01) }}
                                        {{ form_errors(form.tel.tel02) }}
                                        {{ form_errors(form.tel.tel03) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.fax) }}
                                </dt>
                                <dd>
                                    <div class="ec-telInput{{ has_errors(form.fax.fax01, form.fax.fax02, form.fax.fax03) ? ' error' }}">
                                        {{ form_widget(form.fax.fax01) }}<span>-</span>
                                        {{ form_widget(form.fax.fax02) }}<span>-</span>
                                        {{ form_widget(form.fax.fax03) }}
                                        {{ form_errors(form.fax.fax01) }}
                                        {{ form_errors(form.fax.fax02) }}
                                        {{ form_errors(form.fax.fax03) }}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        {% for f in form %}
                            {% if f.vars.name matches '[^plg*]' %}
                                <div class="extra-form dl_table">
                                    {{ form_row(f) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="ec-RegisterRole__actions">
                            <div class="ec-off4Grid">
                                <div class="ec-off4Grid__cell">
                                    <button type="submit" class="ec-blockBtn--action">{{'common.label.register'|trans}}</button>
                                    <a href="{{ url('shopping') }}" class="ec-blockBtn--cancel">{{'common.label.btn.go_back'|trans}}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
