{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>お届け先の指定</h1>
        </div>
    </div>

    <div class="ec-registerRole">
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-addressRole">
                    {% if Customer.CustomerAddresses|length < eccube_config.eccube_deliv_addr_max %}
                        <div class="ec-addressRole__actions"><a class="ec-inlineBtn" href="{{ url('shopping_shipping_edit', {'id': shippingId}) }}">{{'mypage.label.add_address'|trans}}</a></div>
                    {% else %}
                        <div class="ec-alert-warning">
                            <div class="ec-alert-warning__text">
                                <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"/></div>
                                お届け先登録上限の{{ eccube_config.eccube_deliv_addr_max }}件に達しています。お届け先を入力したい場合は、削除か変更を行ってください
                            </div>
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="ec-alert-warning">
                            <div class="ec-alert-warning__text">
                                <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"/></div>
                                お届け先を指定してください。
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if Customer.CustomerAddresses|length > 0 %}
                <form method="post" action="{{ url('shopping_shipping', {'id': shippingId}) }}">

                    <div class="ec-addressList">
                        {% for CustomerAddress in Customer.CustomerAddresses %}
                        <div class="ec-addressList__item">
                            <div class="ec-addressList__remove">
                                <input type="radio" id="address{{ CustomerAddress.id }}" class="no-style" name="address" value="{{ CustomerAddress.id }}" />
                            </div>
                            <div class="ec-addressList__address">
                                <div>{{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}</div>
                                <div>〒{{ CustomerAddress.zip01 }}-{{ CustomerAddress.zip02 }} {{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}</div>
                                <div>{{ CustomerAddress.tel01 }}-{{ CustomerAddress.tel02 }}-{{ CustomerAddress.tel03 }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button type="submit" class="ec-blockBtn--action">選択したお届け先に送る</button>
                                <a class="ec-blockBtn--cancel" href="{{ url('shopping') }}">{{'common.label.btn.go_back'|trans}}</a>
                            </div>
                        </div>
                    </div>

                </form>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
