{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'site_main.twig' %}

{% block main %}

<div id="undercolumn">
    <div id="undercolumn_shopping">
        <p class="flow_area"><img src="{{ app.config.tpl }}img/picture/img_flow_01.jpg" alt="購入手続きの流れ" /></p>
        <h2 class="title">{{ title }}</h2>

        <div id="address_area" class="clearfix">
            <div class="information">
                <p>下記一覧よりお届け先住所を選択して、「選択したお届け先に送る」ボタンをクリックしてください。</p>
                <!--{if $tpl_addrmax < $smarty.const.DELIV_ADDR_MAX}-->
                <p>一覧にご希望の住所が無い場合は、「新しいお届け先を追加する」より追加登録してください。</p>
                <!--{/if}-->
                <p class="mini attention">※最大<!--{$smarty.const.DELIV_ADDR_MAX|h}-->件まで登録できます。</p>
            </div>
        </div>

        <p class="addbtn">
            <a href="{{ path('mypage_delivery_address') }}" onclick="eccube.openWindow('{{ path('mypage_delivery_address') }}?page={{ path('shopping_shipping') }}','new_deiv','600','640'); return false;">
                <img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_add_address.jpg" alt="新しいお届け先を追加する" />
            </a>
        </p>

        <form name="form1" id="form1" method="post" action="{{ path('shopping_shipping') }}">
            <input type="hidden" name="mode" value=""/>
            {{ form_widget(form._token) }}
            {% if is_granted('ROLE_USER') %}
            <table summary="お届け先の指定">
                <col width="10%" />
                <col width="20%" />
                <col width="50%" />
                <col width="10%" />
                <col width="10%" />
                <tr>
                    <th class="alignC">選択</th>
                    <th class="alignC">住所種類</th>
                    <th class="alignC">お届け先</th>
                    <th class="alignC">変更</th>
                    <th class="alignC">削除</th>
                </tr>
                {% for addr in form.addresses %}
                    {% set entity = addr.vars.label %}
                <tr>
                    <td class="alignC">
                        {{ form_widget(addr) }}
                    </td>
                    <td class="alignC">
                        <label for="chk_id_{{ loop.index }}>">
                            {% if loop.first %}会員登録住所{% else %}追加登録住所{% endif %}
                        </label>
                    </td>
                    <td>
                        {% if entity.company_name %}{{ entity.company_name }}<br />{% endif %}
                        {{ entity.name01 }} {{ entity.name02 }} {% if entity.kana01 %}({{ entity.kana01 }}{{ entity.kana02 }}){% endif %}<br />
                        〒{{ entity.zip01 }}-{{ entity.zip02 }} {{ entity.Pref.name }} {{ entity.addr01 }}{{ entity.addr02 }}
                    </td>
                    <td class="alignC">
                        {% if loop.first %}
                            -
                        {% else %}
                            <a href="{{ path('mypage_delivery_address') }}"
                               onclick="eccube.openWindow('{{ path('mypage_delivery_address') }}?page={{ path('shopping_shipping') }}>&amp;other_deliv_id={{ entity.id }}','new_deiv','600','640'); return false;">変更</a>
                        {% endif %}
                    </td>
                    <td class="alignC">
                        {% if loop.first %}
                            -
                        {% else %}
                            <a href="{{ path('shopping_shipping') }}" onclick="eccube.setModeAndSubmit('delete', 'other_deliv_id', '{{ entity.id }}'); return false">削除</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="btn_area">
                <ul>
                    <li>
                        <a href="{{ path('shopping') }}" ><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る" /></a>
                    </li>
                    <li>
                        <input type="image" onclick="eccube.setModeAndSubmit('select_address');return false;" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_next.jpg" alt="選択したお届け先に送る" name="send_button" id="send_button" />
                    </li>
                </ul>
            </div>
            {% endif %}

            {{ form_widget(form.address) }}

            <div class="btn_area">
                <ul>
                    <li>
                        <a href="{{ path('shopping') }}" ><img class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_back.jpg" alt="戻る" /></a>
                    </li>
                    <li>
                        <input type="image" class="hover_change_image" src="{{ app.config.tpl }}img/button/btn_next.jpg" alt="選択したお届け先に送る" name="send_button" id="send_button" />
                    </li>
                </ul>
            </div>

        </form>
    </div>
</div>

{% endblock %}