{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block javascript %}
<script>
$(function() {
    $('.add').click(function() {
        var data = $(this).data();
        var idx = data.idx;
        var itemIdx = 0;
        var item = $('#item' + idx);
        var row = $('#item' + idx + '-0');

        // 既存のお届け先のrowをコピーして雛形とする
        var addrow = $(row).clone();

        // 追加する要素のIndexを決定
        item.find('.shipping_item').each(function() {
            itemIdx = $(this).attr('data-itemidx');
        });
        itemIdx = 1 + parseInt(itemIdx);

        // 行のID設定
        addrow.attr('id', 'item' + idx + '-' + itemIdx);
        addrow.attr('data-itemidx', itemIdx);

        // お届け先セレクトボックスのIDとNAME設定
        addrow.find('select').attr('name', 'form[shipping_multiple][' + idx + '][shipping][' + itemIdx + '][customer_address]');
        addrow.find('select').attr('id', 'form_shipping_multiple_' + idx + '_shipping_' + itemIdx + '_customer_address');

        // 数量のINPUTのIDとNAME設定
        addrow.find('input').attr('name', 'form[shipping_multiple][' + idx + '][shipping][' + itemIdx + '][quantity]');
        addrow.find('input').attr('id', 'form_shipping_multiple_' + idx + '_shipping_' + itemIdx + '_quantity');

        // その他、divやbuttonのID設定
        addrow.find('[id*="multiple_list__shipping_address"]').attr('id', 'multiple_list__shipping_address--' + idx + '_' + itemIdx + '');
        addrow.find('[id*="multiple_list__shipping_quantity"]').attr('id', 'multiple_list__shipping_quantity--' + idx + '_' + itemIdx + '');
        addrow.find('button').each(function() {
            $(this).attr('id', 'button__delete--' + idx + '_' + itemIdx + '');
            $(this).attr('data-itemidx', idx + '-' + itemIdx);
            $(this).data('itemidx', idx + '-' + itemIdx);
            $(this).removeAttr('style');
        });

        $(item).append($(addrow));
    });

    $(document).on('click', '.delete', function() {
        var data = $(this).data();
        $('#item' + data.itemidx).remove();
    });

});
</script>
{% endblock javascript %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>お届け先の複数指定</h1>
        </div>
    </div>
    {# TODO エラーメッセージ #}
    <div id="confirm_flow_box" class="row">
        <div id="confirm_flow_box__body" class="col-md-12">
            {% for error in app.session.flashbag.get('eccube.front.error')  %}
                <div id="confirm_flow_box__message" class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                    </p>
                </div>
            {% endfor %}
            {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
            {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                {% set idx = loop.index0 %}
                {% if productStr[idx] is defined %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        </p>
                    </div>
                {% else %}
                    <div id="confirm_flow_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div id="multiple_wrap" class="ec-AddAddress">
        <form id="shipping-multiple-form" method="post" action="{{ url('shopping_shipping_multiple') }}">
            {{ form_widget(form._token) }}
            <div class="ec-AddAddress__info">
                <p class="message">各商品のお届け先を選択してください。(※数量の合計は、カゴの中の数量と合わせてください。)</p>

              {% for error in errors %}
                  <div class="text-danger">{{ error.message }}</div>
              {% endfor %}
                {# TODO 新規お届け先追加ボタン #}
                {#<div><a href="{{ url('shopping_shipping_multiple_edit') }}" class="btn btn-default btn-sm">{{'mypage.label.add_address'|trans}}</a></div>#}
            </div>
        {% for orderItem in OrderItems %}
            {% set idx = loop.index0 %}
            {% set itemvalue = 0 %}
            <div class="ec-AddAddress__add">
                <div class="ec-AddAddress__item">
                    <div id="multiple_list__image--{{ idx }}" class="ec-AddAddress__itemThumb">
                        <img src="{{ asset(orderItem.product.MainListImage|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}" style="width: 160px; height: 160px;"/>
                    </div>
                    <dl id="multiple_list__item_detail--{{ idx }}" class="ec-AddAddress__itemtContent">
                        <dt id="multiple_list__product_name--{{ idx }}" class="ec-AddAddress__itemtTitle">{{ orderItem.productName }}</dt>
                        <dd id="multiple_list__product_class_category--{{ idx }}" class="item_pattern small">
                            <p>
                              {% if orderItem.productClass.classCategory1 %}
                                {{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}
                                  <br>
                              {% endif %}
                              {% if orderItem.productClass.classCategory2 %}
                                {{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}
                                  <br>
                              {% endif %}
                            </p>
                        </dd>
                        <dd id="multiple_list__total_price--{{ idx }}" class="ec-AddAddress__itemtPrice">小計：{{ orderItem.totalPrice|price }}</dd>
                      {% for key, value in compItemQuantities %}
                        {% if orderItem.productClass.id == key %}
                            <dd id="multiple_list__value--{{ idx }}_{{ key }}" class="ec-AddAddress__itemtNumber">{{'common.label.qty'|trans}}：{{ value }}</dd>
                          {% set itemvalue = value %}
                        {% endif %}
                      {% endfor %}
                    </dl>
                </div>
                <div id="item{{ idx }}" style="margin-bottom: 10px">
                  {% for shipping in form.shipping_multiple[idx].shipping %}
                      <div id="item{{ idx }}-{{ loop.index0 }}" data-itemidx="{{ loop.index0 }}" class="ec-AddAddress__select">
                          <div id="multiple_list__shipping_address--{{ idx }}_{{ loop.index0 }}" class="ec-AddAddress__selectAddress">
                              <div class="ec-AddAddress__ec-select">
                                  <label style="margin-right: 10px">お届け先</label>
                                {{ form_widget(shipping.customer_address, {'attr': {'style': 'width: auto; display: inline-block'}}) }}
                                {{ form_errors(shipping.customer_address) }}
                              </div>
                          </div>
                          <div id="multiple_list__shipping_quantity--{{ idx }}_{{ loop.index0 }}" class="ec-AddAddress__selectNumber">
                              <div class="ec-AddAddress__ec-input">
                                  <label>数量</label>
                                {% for key, value in compItemQuantities %}
                                  {% if orderItem.productClass.id == key %}
                                    {% set quantity = shipping.quantity.vars.value ?: value %}
                                    {{ form_widget(shipping.quantity, {'attr': {'class': 'quantity'}, 'value': quantity}) }}
                                    {{ form_errors(shipping.quantity) }}
                                  {% endif %}
                                {% endfor %}
                              </div>
                          </div>
                          <button id="button__delete--{{ idx }}_{{ loop.index0 }}" type="button" class="btn btn-default btn-sm delete" data-itemidx="{{ idx }}-{{ loop.index0 }}" style="{% if loop.index0 == 0 %}display: none;{% endif %}">{{'common.label.delete'|trans}}</button>
                      </div>
                </div>
              {% endfor %}
                <div id="multiple_list__add_button{{ idx }}">
                    <button id="button__add{{ idx }}" type="button" class="btn btn-default btn-sm add" data-idx="{{ idx }}">お届け先追加</button>
                </div>
            </div>
          {% endfor %}
            <div id="multiple_list__footer" class="row no-padding">
                <div id="multiple_list__button_menu" class="btn_group col-sm-offset-4 col-sm-4">
                    <button id="button__confirm" type="submit" class="ec-blockBtn--action" style="margin-bottom: 8px;">選択したお届け先に送る</button>
                    <a href="{{ url('shopping') }}" class="ec-blockBtn--cancel">{{'common.label.btn.go_back'|trans}}</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
