{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['content', 'cache'] %}

{% block title %}{{ 'admin.content.cache.17'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.content.cache.18'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('admin_content_cache') }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><span class="card-title">{{ 'admin.content.cache.19'|trans }}</span></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <span>{{ 'admin.content.cache.20'|trans }}</span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-ec-conversion">{{ 'admin.content.cache.22'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if result is not empty %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <pre>{{ result }}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
