{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'cache'] %}

{% block title %}{{'admin.content.cache.17'|trans}}{% endblock %}
{% block sub_title %}{{'admin.content.cache.18'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
<form name="form1" method="post" action="{{ url('admin_content_cache') }}">
    {{ form_widget(form._token) }}
    <div id="cache_wrap" class="row">
        <div class="col-md-12">
            <div id="cache_box" class="box">
                <div id="cache_box__header" class="box-header">
                    <h3 class="box-title">{{'admin.content.cache.19'|trans}}</h3>
                    <div id="cache_box__message" style="margin-left: 10px;">
                        <p class="text-danger">{{'admin.content.cache.20'|trans}}</p>
                        <p>{{'admin.content.cache.21'|trans}}</p>
                    </div>
                </div>
                <div id="cache_box__clear_button" class="box-body">
                    <button type="submit" class="btn btn-primary">{{'admin.content.cache.22'|trans}}</button>
                </div>
            </div>
            {% if result is not empty %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{'admin.content.cache.23'|trans}}</h3>
                </div>
                <div class="box-body">
                    <pre>{{ result }}</pre>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
