{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['content', 'cache'] %}

{% block title %}{{ 'admin.content.cache.18'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.content.cache.17'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('admin_content_cache') }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><span class="card-title">{{ 'admin.content.cache.19'|trans }}</span></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <span>{{ 'admin.content.cache.20'|trans }}</span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-ec-conversion">{{ 'admin.content.cache.22'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if result is not empty %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <pre>{{ result }}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
