{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'cache'] %}

{% block title %}{{ 'admin.content.cache_management'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.content.contents_management'|trans }}{% endblock %}

{% block javascript %}
{% if app.flashes('eccube.admin.disable_maintenance') %}
<script>
$(function() {
    // メンテナンスモード解除
    $.post("{{ url('admin_disable_maintenance', { 'mode': 'auto_maintenance' }) }}");
})
</script>
{% endif %}
{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('admin_content_cache') }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><span class="card-title">{{ 'admin.content.cache__card_title'|trans }}</span></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <span>{{ 'admin.content.cache_message'|trans }}</span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-ec-conversion">{{ 'admin.content.cache_delete'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
