{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}


{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}CSS管理{% endblock %}

{% block main %}

<form name="form_css" id="form_css" method="post" action="{{ url('admin_content_css') }}" >
    {{ form_widget(form._token) }}
    <div id="design" class="contents-main">

        {% for message in app.session.flashbag.get('admin.content.css.complete')  %}
            {{ message|trans|raw }}
        {% endfor %}

        <!--▼CSS設定ここから-->
        <table class="form">
            <tr>
                <th>CSSファイル名</th>
                <td>
                    {{ form_widget(form.file_name) }}
                    {{ form_errors(form.file_name) }}
                </td>
            </tr>
            <tr>
                <th>CSS内容</th>
                <td>
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}
                </td>
            </tr>
        </table>
        <div class="btn-area">
            <ul>
               <li>{{ form_widget(form.save) }} </li>
            </ul>
        </div>
        <!--▲CSS設定　ここまで-->

        <!--▼CSSファイル一覧　ここから-->
        <h2>編集可能CSSファイル</h2>
        <div class="btn addnew">
            <a class="btn-normal" href="{{ url('admin_content_css') }}"><span>CSSを新規入力</span></a>
        </div>
        <table class="list" id="design-css-list">
            <tr>
                <th class="name">ファイル名</th>
                <th class="menu edit">編集</th>
                <th class="action delete">削除</th>
            </tr>
            {% for name in filenames %}
            <tr>
                <td>{{ name }}</td>
                <td class="center">
                    <a href="{{ url('admin_content_css') }}?target={{ name }}">編集</a>
                </td>
                <td class="center">
                    <a href="{{ url('admin_content_css_delete') }}?target={{ name }}">削除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <!--▲CSSファイル一覧　ここまで-->
    </div>
</form>

{% endblock %}
