{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}レイアウト管理{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            var page_id = '{{ TargetPageLayout.id }}';
            if (page_id != '1') {
                $('.anywhere').attr('disabled', true);
                $('.anywhere:checked').each(function() {
                    $(this).parents('.sort').children('input[type=hidden]').each(function() {
                        $(this).remove();
                    });
                });
            }
        });
        function doPreview(){
            document.form1.action = "{{ url('admin_content_layout_preview', {id: TargetPageLayout.id}) }}"
            document.form1.target = "_blank";
            document.form1.submit();
        }
        function fnTargetSelf(){
            document.form1.target = "_self";
        }
    </script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/layout_design.js"></script>
{% endblock %}

{% block main %}
    <form name="form1" id="form1" method="post" action="{{ url('admin_content_layout_edit', {id: TargetPageLayout.id}) }}">
        {{ form_widget(form._token) }}
        <div class="row" id="aside_wrap">
            <div class="col-md-9">
                {# ▼レイアウトここから #}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            {{ TargetPageLayout.name }}
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="box no-header">
                                <div class="box-body pad table-responsive">
                                    <table class="table table-bordered text-center design-layout">
                                        <tbody>

                                        <tr>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_HEAD') }}" class="ui-sortable" colspan="3">
                                                {% set loop_index = 0 %}
                                                {% for BlockPosition in TargetPageLayout.HeadPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_HEADER') }}" class="ui-sortable" colspan="3">
                                                {% for BlockPosition in TargetPageLayout.HeaderPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_CONTENTS_TOP') }}" class="ui-sortable" colspan="3">
                                                {% for BlockPosition in TargetPageLayout.ContentsTopPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_SIDE_LEFT') }}" class="ui-sortable" rowspan="3">
                                                {% for BlockPosition in TargetPageLayout.SideLeftPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_MAIN_TOP') }}" class="ui-sortable">
                                                {% for BlockPosition in TargetPageLayout.MainTopPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_SIDE_RIGHT') }}" class="ui-sortable" rowspan="3">
                                                {% for BlockPosition in TargetPageLayout.SideRightPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Main
                                            </td>
                                        </tr>

                                        <tr>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_MAIN_BOTTOM') }}" class="ui-sortable">
                                                {% for BlockPosition in TargetPageLayout.MainBottomPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_CONTENTS_BOTTOM') }}" class="ui-sortable" colspan="3">
                                                {% for BlockPosition in TargetPageLayout.ContentsBottomPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_FOOTER') }}" class="ui-sortable" colspan="3">
                                                {% for BlockPosition in TargetPageLayout.FooterPosition %}
                                                    <div class="sort{% if loop.first %} first{% endif %}">
                                                        <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                        <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                        <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                        <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                        {{ BlockPosition.Block.name }}
                                                        <label class="anywherecheck">
                                                            (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                        </label>
                                                    </div>
                                                    {% set loop_index = loop_index + 1 %}
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {# ▲レイアウトここまで #}
                        </div>
                        <div class="col-md-3">
                            <div class="col_inner">
                                <div class="box no-header">
                                    <div class="box-body">
                                        <table class="table table-bordered text-center design-layout">
                                            <tbody>
                                            <tr>
                                                <td id="position_{{ constant('Eccube\\Entity\\PageLayout::TARGET_ID_UNUSED') }}" class="ui-sortable">
                                                    {% for BlockPosition in TargetPageLayout.UnusedPosition %}
                                                        <div class="sort{% if loop.first %} first{% endif %}">
                                                            <input type="hidden" class="name" name="name_{{ loop_index }}" value="{{ BlockPosition.Block.name}}" />
                                                            <input type="hidden" class="id" name="id_{{ loop_index }}" value="{{ BlockPosition.Block.id }}" />
                                                            <input type="hidden" class="target-id" name="target_id_{{ loop_index }}" value="{{ BlockPosition.target_id }}" />
                                                            <input type="hidden" class="top" name="top_{{ loop_index }}" value="{{ BlockPosition.block_row }}" />
                                                            {{ BlockPosition.Block.name }}
                                                            <label class="anywherecheck">
                                                                (<input type="checkbox" class="anywhere" name="anywhere_{{ loop_index }}" value="1" {% if BlockPosition.anywhere == 1 %} checked="checked"{% endif %} />全ページ)
                                                            </label>
                                                        </div>
                                                        {% set loop_index = loop_index + 1 %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="fnTargetSelf(); eccube.fnFormModeSubmit('form1','confirm','',''); return false;">登録</button>
                                </div>
                            </div>
                            <div class="row text-center with-border">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-default btn-block btn-sm" {% if TargetPageLayout.DeviceType.id != constant('Eccube\\Entity\\Master\\DeviceType::DEVICE_TYPE_PC') %}disabled{% endif %} onclick="doPreview();">
                                        プレビュー
                                    </button>
                                </div>
                            </div>
                            <div class="row text-center with-border">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-default btn-block btn-sm" onclick="fnTargetSelf(); eccube.fnFormModeSubmit('form1','new_page','',''); return false;">
                                        ページを新規入力
                                    </button>
                                </div>
                            </div>
                            <div class="row text-center with-border">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-default btn-block btn-sm" onclick="fnTargetSelf(); eccube.fnFormModeSubmit('form1','new_block','',''); return false;">
                                        ブロックを新規入力
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-title">
                                ページ一覧
                            </div>
                        </div>
                        <div class="box-body no-padding no-border">
                            <div class="sortable_list">
                                <div class="tableish">

                                    {% for PageLayout in PageLayouts %}
                                    <div class="item_box tr">
                                        <div class="icon_sortable td"><svg class="cb cb-ellipsis-v"> <use xlink:href="#cb-ellipsis-v" /></svg></div>
                                            <div class="item_pattern td">
                                                {{ PageLayout.name }}
                                            </div>
                                            <div class="icon_edit td">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            {% if TargetPageLayout.id == PageLayout.id %}
                                                                <a>レイアウト編集</a>
                                                            {% else %}
                                                                <a href="{{ url('admin_content_layout_edit', { id : PageLayout.id } ) }}" >レイアウト編集</a>
                                                            {% endif %}
                                                        </li>
                                                        <li>
                                                            {% if PageLayout.filename|length >= 1 %}
                                                                <a href="{{ url('admin_content_page_edit', {id : PageLayout.id } ) }}">ページ編集</a>
                                                            {% else %}
                                                                <a>ページ編集</a>
                                                            {% endif %}
                                                        </li>
                                                        <li>
                                                            {% if PageLayout.edit_flg == 1 %}
                                                                <a href="#" onclick="fnTargetSelf(); eccube.fnFormModeSubmit('form1','delete','page_id','{{ PageLayout.id }}'); return false;">削除</a>
                                                            {% else %}
                                                                <a>削除</a>
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                    </div><!-- /.item_box -->
                                    {% endfor %}

                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    <!-- ▲ データがある時 ▲ -->
                </div><!-- /.col -->
            </div>
        </div>
    </form>
{% endblock %}
