{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'layout'] %}

{% block title %}{{'admin.content.layout.39'|trans}}{% endblock %}
{% block sub_title %}{{'admin.content.layout.40'|trans}}{% endblock %}

{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/layout_design.js', 'admin') }}"></script>
    <script>
        $(function(){
            $('#blockModal').on('show.bs.modal', function(event) {
                var target = $(event.relatedTarget);
                var modal = $(this);
                modal.find('#blockModalLabel').text(target.data('name'));

                $.ajax({
                    url: '{{ url('admin_content_layout_view_block') }}',
                    type: 'POST',
                    data: {
                        id: target.data('id')
                    }
                }).done(function(data) {
                    $('#blockModalContent').val(data.source);
                }).fail(function(data) {
                    alert('err');
                });
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="row" id="aside_wrap">
        <form name="form1" id="form1" method="post" action="{% if Layout.id -%}
            {{ url('admin_content_layout_edit', {id: Layout.id}) }}
        {%- else -%}
            {{ url('admin_content_layout_new') }}
        {%- endif %}">
            {{ form_widget(form._token) }}
            <div id="detail_wrap" class="col-md-9">
                {# ▼レイアウトここから #}
                <div id="detail_box" class="box">
                    <div id="detail_box__menu" class="box-header">
                        {{ form_widget(form) }}
                    </div>
                    <div id="detail_box__body" class="box-body no-border row">
                        <div id="detail_box__layout_box--left_column" class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center design-layout">
                                    <tbody>

                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_HEAD') }}"
                                            class="ui-sortable" colspan="3">
                                            {% set loop_index = 0 %}
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_HEAD')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_HEADER') }}"
                                            class="ui-sortable" colspan="3">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_HEADER')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_CONTENTS_TOP') }}"
                                            class="ui-sortable" colspan="3">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_CONTENTS_TOP')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_SIDE_LEFT') }}"
                                            class="ui-sortable" rowspan="3">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_SIDE_LEFT')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_MAIN_TOP') }}"
                                            class="ui-sortable">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_MAIN_TOP')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_SIDE_RIGHT') }}"
                                            class="ui-sortable" rowspan="3">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_SIDE_RIGHT')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr id="detail_box__layout_item_main_text">
                                        <td>
                                            Main
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_MAIN_BOTTOM') }}"
                                            class="ui-sortable">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_MAIN_BOTTOM')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_CONTENTS_BOTTOM') }}"
                                            class="ui-sortable" colspan="3">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_CONTENTS_BOTTOM')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="block-id"
                                                           name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_FOOTER') }}"
                                            class="ui-sortable" colspan="3">
                                            {% for BlockPosition in Layout.getBlockPositionsBy(constant('Eccube\\Entity\\Page::TARGET_ID_FOOTER')) %}
                                                <div id="detail_box__layout_item--{{ BlockPosition.Block.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.name }}"/>
                                                    <input type="hidden" class="id" name="block_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.Block.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ BlockPosition.target_id }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ BlockPosition.block_row }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ BlockPosition.Block.id }}"
                                                       data-name="{{ BlockPosition.Block.name }}">{{ BlockPosition.Block.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            {# ▲レイアウトここまで #}
                        </div>
                        <div id="detail_box__layout_box--right_column" class="col-md-4">
                            <div class="">
                                <table class="table table-bordered text-center design-layout">
                                    <tbody>
                                    <tr>
                                        <td id="position_{{ constant('Eccube\\Entity\\Page::TARGET_ID_UNUSED') }}"
                                            class="ui-sortable">
                                            {% for UnusedBlock in UnusedBlocks %}
                                                <div id="detail_box__layout_item--{{ UnusedBlock.id }}"
                                                     class="sort{% if loop.first %} first{% endif %}">
                                                    <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                           value="{{ UnusedBlock.name }}"/>
                                                    <input type="hidden" class="id" name="block_id_{{ loop_index }}"
                                                           value="{{ UnusedBlock.id }}"/>
                                                    <input type="hidden" class="target-id"
                                                           name="target_id_{{ loop_index }}"
                                                           value="{{ constant('Eccube\\Entity\\Page::TARGET_ID_UNUSED') }}"/>
                                                    <input type="hidden" class="block-row"
                                                           name="block_row_{{ loop_index }}"
                                                           value="{{ UnusedBlock.id }}"/>
                                                    <a href="#" class="view_readme" data-toggle="modal"
                                                       data-target="#blockModal"
                                                       data-id="{{ UnusedBlock.id }}"
                                                       data-name="{{ UnusedBlock.name }}">{{ UnusedBlock.name }}</a>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- /.col -->
                    </div>
                    <div id="detail_box__footer" class="row">
                        <div id="detail_box__back_button"
                             class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area2">
                            <p><a href="{{ url('admin_content_page') }}">{{'admin.content.layout.41'|trans}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="aside_column" class="col-md-3">
                <div id="common_box" class="col_inner">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg">{{'admin.content.layout.42'|trans}}</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    <div id="preview_box" class="box">
                        <div id="preview_box__preview_button" class="box-header">
                            <button class="btn btn-default btn-block btn-sm">
                                {{'admin.content.layout.43'|trans}}(未実装)
                            </button>
                        </div><!-- /.box-header -->
                    </div>

                </div>
            </div><!-- /.col -->
        </form>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="blockModal" tabindex="-1" role="dialog" aria-labelledby="blockModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><svg class="cb cb-close" aria-hidden="true"><use xlink:href="#cb-close"></svg></button>
                    <h4 class="modal-title" id="blockModalLabel">{# {{'admin.content.layout.44'|trans}} #}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" id="blockModalContent" rows="20" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}