{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'news'] %}

{% block title %}{{'admin.content.news.53'|trans}}{% endblock %}
{% block sub_title %}{{'admin.content.news.54'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div id="news_wrap" class="row">
        <div id="news_list_box" class="col-md-12">
            <div id="news_list_box__body" class="box">
                <div id="news_list_box__header" class="box-header">
                    <h3 class="box-title">{{'admin.content.news.55'|trans}}</h3>
                </div><!-- /.box-header -->
                <div id="news_list_box__body_inner" class="box-body">
                    <form name="form1" id="form1" method="post" action="">
                        <div id="news_list_box__list_box" class="table_list">
                            <div id="news_list_box__list" class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                       <tr id="news_list_box__list_header">
                                            <th id="news_list_box__header_sort_no">{{'admin.content.news.56'|trans}}</th>
                                            <th id="news_list_box__header_date">{{'admin.content.news.57'|trans}}</th>
                                            <th id="news_list_box__header_title">{{'admin.content.news.58'|trans}}</th>
                                            <th id="news_list_box__header_menu_box">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for News in NewsList %}
                                        <tr id="news_list_box__item--{{ News.id }}">
                                            <td id="news_list_box__sort_no--{{ News.id }}">{{ loop.index }}</td>
                                            <td id="news_list_box__date--{{ News.id }}">{{ News.publishDate|date("Y/m/d") }}</td>
                                            <td id="news_list_box__title--{{ News.id }}">{{ News.title }}</td>
                                            <td id="news_list_box__menu_box--{{ News.id }}" class="icon_edit">
                                                <div id="news_list_box__menu_box_toggle--{{ News.id }}" class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                    <ul id="news_list_box__menu--{{ News.id }}" class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{{ url('admin_content_news_edit', {id: News.id}) }}" >{{'admin.content.news.59'|trans}}</a></li>
                                                        <li><a href="{{ url('admin_content_news_delete', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="{{'admin.content.news.60'|trans}}">{{'common.label.delete'|trans}}</a></li>
                                                        {% if loop.first == false %}
                                                            <li>
                                                                <a href="{{ url('admin_content_news_up', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">{{'admin.content.news.61'|trans}}</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if loop.last == false %}
                                                            <li>
                                                                <a href="{{ url('admin_content_news_down', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">{{'admin.content.news.62'|trans}}</a>
                                                            </li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.box -->
            <div id="news_list_box__footer" class="row">
                <div id="news_list_box__insert_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <a href="{{ url('admin_content_news_new') }}" class="btn btn-primary btn-block btn-lg">{{'admin.content.news.63'|trans}}</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
