{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'news'] %}

{% block title %}{{'admin.content.news_edit.64'|trans}}{% endblock %}
{% block sub_title %}{{'admin.content.news_edit.65'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
<script src="{{ asset('assets/js/vendor/moment.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/moment-ja.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/bootstrap-datetimepicker.min.js', 'admin') }}"></script>
<script>
$(function() {
    var inputDate = document.createElement('input');
    inputDate.setAttribute('type', 'date');
    if (inputDate.type !== 'date') {
        $('#admin_news_publish_date').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });
    }

});
</script>
{% endblock javascript %}

{% block main %}
    <div class="row" id="aside_wrap">
        <div id="detail_wrap" class="col-md-9">
            <div id="detail_box" class="box">
                <div id="detail_box__header" class="box-header">
                    <h3 class="box-title">{{'admin.content.news_edit.66'|trans}}</h3>
                </div><!-- /.box-header -->
                <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="?">
                    <div id="detail_box__body" class="box-body">

                        {{ form_row(form._token) }}

                        <div id="detail_box__date" class="form-group">
                            {{ form_label(form.publish_date) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.publish_date, {'attr': {'class': 'input_cal'}}) }}
                                {{ form_errors(form.publish_date) }}
                            </div>
                        </div>

                        {{ form_row(form.title) }}

                        {{ form_row(form.url) }}

                        {{ form_row(form.link_method) }}

                        {{ form_row(form.description) }}

                        <div class="extra-form">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    {{ form_row(f) }}
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->

            <div id="detail_box__footer" class="row">
                <div id="detail_box__back_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <p><a href="{{ url('admin_content_news') }}">{{'admin.content.news_edit.67'|trans}}</a></p>
                </div>
            </div>

        </div><!-- /.col -->

        <div class="col-md-3" id="aside_column">
            <div id="common_box" class="col_inner">
                <div id="common_box__body" class="box no-header">
                    <div id="common_button_box" class="box-body">
                        <div id="common_button_box__insert_button" class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit(); return false;">{{'admin.content.news_edit.68'|trans}}</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col -->


    </div>

{% endblock %}
