{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'news'] %}

{% block title %}{{'admin.content.news_edit.64'|trans}}{% endblock %}
{% block sub_title %}{{'admin.content.news_edit.65'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
<script src="{{ asset('assets/js/vendor/moment.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/moment-ja.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/bootstrap-datetimepicker.min.js', 'admin') }}"></script>
<script>
$(function() {
    var inputDate = document.createElement('input');
    inputDate.setAttribute('type', 'date');
    if (inputDate.type !== 'date') {
        $('#admin_news_publish_date').datetimepicker({
            locale: 'ja',
            format: 'YYYY-MM-DD',
            useCurrent: false,
            showTodayButton: true
        });
    }

});
</script>
{% endblock javascript %}

{% block main %}
    <div class="row m-0" id="aside_wrap">
        <div id="detail_wrap" class="col-12">
            <div id="detail_box" class="card rounded border-0 mb-4">
                <div id="detail_box__header" class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <span class="card-title">{{'admin.content.news_edit.66'|trans}}</span>
                        </div>
                        <div class="col-4 text-right">
                            <a data-toggle="collapse" href="#ordererInfo" aria-expanded="false" aria-controls="ordererInfo">
                                <i class="fa fa-angle-up fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse show ec-cardCollapse" id="ordererInfo">
                    <div class="card-body">
                        <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="?">
                            <div id="detail_box__body" class="box-body">

                              {{ form_row(form._token) }}
                                <div id="detail_box__date" class="form-group row">
                                  {{ form_label(form.publish_date) }}
                                    <div class="col-5">
                                      {{ form_widget(form.publish_date, {'attr': {'class': 'input_cal'}}) }}
                                      {{ form_errors(form.publish_date) }}
                                    </div>
                                </div>

                              {{ form_row(form.title) }}

                              {{ form_row(form.url) }}

                              {{ form_row(form.link_method) }}

                              {{ form_row(form.description) }}

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer position-fixed fixed-bottom col-12 border-0" style="background-color: rgba(47,63,78,.8)">
            <div class="row m-0 justify-content-between align-items-center">
                <div id="detail_box__back_button" class="col-6 align-items-center justify-content-start">
                    <a href="{{ url('admin_content_news') }}" class="text-white"><i class="fa fa-backward text-white mr-2" aria-hidden="true"></i>{{'admin.content.news_edit.65'|trans}}</a>
                </div>
                <div class="col-6">
                    <div class="row align-items-center justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary btn-block btn-lg px-5" onclick="document.form1.submit(); return false;">{{'admin.content.news_edit.68'|trans}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
