{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'news'] %}

{% block title %}{{'admin.content.news.53'|trans}}{% endblock %}
{% block sub_title %}{{'admin.content.news.54'|trans}}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <div id="news_wrap" class="row m-0">
        <div id="news_list_box" class="col-md-12">
            <div id="news_list_box__body" class="box">
                <a href="{{ url('admin_content_news_new') }}" class="btn btn-ec-conversion mb-3">{{'admin.content.news.63'|trans}}</a>
                <div id="news_list_box__body" class="card rounded border-0 mb-4">
                    <div id="news_list_box__body_inner" class="card-body p-0">
                        <form name="form1" id="form1" method="post" action="">
                            <table class="table table-sm">
                                <thead>
                                <tr id="news_list_box__list_header">
                                    <th id="news_list_box__header_sort_no" class="border-top-0 pt-2 pb-2 pl-3">{{'admin.content.news.56'|trans}}</th>
                                    <th id="news_list_box__header_date" class="border-top-0 pt-2 pb-2">{{'admin.content.news.57'|trans}}</th>
                                    <th id="news_list_box__header_title" class="border-top-0 pt-2 pb-2">{{'admin.content.news.58'|trans}}</th>
                                    <th id="news_list_box__header_menu_box" class="border-top-0 pt-2 pb-2 pr-3">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for News in NewsList %}
                                    <tr id="news_list_box__item--{{ News.id }}">
                                        <td id="news_list_box__sort_no--{{ News.id }}" class="align-middle pl-4">{{ loop.index }}</td>
                                        <td id="news_list_box__date--{{ News.id }}" class="align-middle">{{ News.publishDate|date("Y/m/d") }}</td>
                                        <td id="news_list_box__title--{{ News.id }}" class="align-middle"><a href="">{{ News.title }}</a></td>
                                        <td id="news_list_box__menu_box--{{ News.id }}" class="align-middle pr-3">
                                            <div class="text-right">
                                                <div class="px-1 d-inline-block">
                                                  {% if loop.first == false %}
                                                    <a class="btn btn-ec-actionIcon" href="{{ url('admin_content_news_up', {id: News.id}) }}" {{ csrf_token_for_anchor() }}data-toggle='tooltip' data-placement="top" title="上へ移動" data-method="put" data-confirm="false">
                                                        <i class="fa fa-arrow-up fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                  {% else %}
                                                      <a class="btn btn-ec-actionIcon disabled" href="">
                                                          <i class="fa fa-arrow-up fa-lg text-secondary" aria-hidden="true"></i>
                                                      </a>
                                                  {% endif %}
                                                </div>
                                                <div class="px-1 d-inline-block">
                                                  {% if loop.last == false %}
                                                    <a class="btn btn-ec-actionIcon" href="{{ url('admin_content_news_down', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-toggle='tooltip' data-placement="top" title="下へ移動" data-method="put" data-confirm="false">
                                                        <i class="fa fa-arrow-down fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                  {% else %}
                                                      <a class="btn btn-ec-actionIcon disabled" href="">
                                                          <i class="fa fa-arrow-down fa-lg text-secondary" aria-hidden="true"></i>
                                                      </a>
                                                  {% endif %}
                                                </div>
                                                <div class="px-1 d-inline-block">
                                                    <a class="btn btn-ec-actionIcon" href="{{ url('admin_content_news_edit', {id: News.id}) }}" data-toggle='tooltip' data-placement="top" title="{{'admin.content.news.59'|trans}}">
                                                        <i class="fa fa-pencil fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="px-1 d-inline-block">
                                                    <a class="btn btn-ec-actionIcon" href="{{ url('admin_content_news_delete', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-toggle='tooltip' data-placement="top" title="{{'common.label.delete'|trans}}" data-method="delete" data-message="{{'admin.content.news.60'|trans}}">
                                                        <i class="fa fa-close fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                  {# TODO ページネーション実装 #}
                    <div class="row justify-content-md-center pb-4">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="" class="page-link">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a href="" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
