{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
            <li class="{% if active_menus(menus)[0] == 'content' %}active{% endif %}">
                <a class="toggle"><svg class="cb cb-file-text"> <use xlink:href="#cb-file-text" /></svg>{{'admin.content.subnavi.87'|trans}}<svg class="cb cb-angle-down"> <use xlink:href="#cb-angle-down" /></svg></a>
                <ul {% if active_menus(menus)[0] == 'content' %}class="active" style="display: block;"{% endif %}>
                    <li id="navi-contents-index" class="{% if active_menus(menus)[1] == 'news' %}active{% endif %}"><a href="{{ url('admin_content') }}">{{'admin.content.subnavi.88'|trans}}</a></li>
                    <li id="navi-contents-file" class="{% if active_menus(menus)[1] == 'file' %}active{% endif %}"><a href="{{ url('admin_content_file') }}">{{'admin.content.subnavi.89'|trans}}</a></li>
                    <li id="navi-contents-page" class="{% if active_menus(menus)[1] == 'page' %}active{% endif %}"><a href="{{ url('admin_content_page') }}">{{'admin.content.subnavi.90'|trans}}</a></li>
                    <li id="navi-contents-block" class="{% if active_menus(menus)[1] == 'block' %}active{% endif %}"><a href="{{ url('admin_content_block') }}">{{'admin.content.subnavi.91'|trans}}</a></li>
                </ul>
            </li>