{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'store', 'plugin_install'] %}

{% block title %}オーナーズストア{% endblock %}
{% block sub_title %}プラグインインストール{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
<div class="row">
   <div class="col-md-12">
       <form id="upload-form" class="form-inline" method="post" action="{{ url('admin_setting_store_plugin_install') }}" {{ form_enctype(form) }}>
           {{ form_widget(form._token) }}
           <div class="box">
            <div class="box-header">
                <h3 class="box-title">新規プラグインアップロード</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-5 control-label">プラグイン<br>(zip、tar、tar.gz形式)</label>
                    <div class="col-sm-7">
                        {{ form_widget(form.plugin_archive, {'attr': {'accept': 'application/zip,application/x-tar,application/x-gzip'}}) }}
                        {{ form_errors(form.plugin_archive) }}
                        {% for error in errors %}
                            <div class="errormsg text-danger">{{ error.message|trans }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
                <button id="upload-button" type="submit" class="btn btn-primary btn-sm">プラグインアップロード</button>
            </div><!-- /.box-footer -->
               </div><!-- /.box -->
        </form>
    </div><!-- /.col -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">新規プラグイン追加</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                {% if authResult  %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="plugin-block">
                                <div class="row">
                                    {% if success == 1 %}
                                    {% for item in items %}
                                    {#
                                        <div class="col-xs-12 col-md-6">
                                            <div class="plugin-panel">
                                                <div class="plugin-content clearfix">
                                                    <a class="plugin-logo" href="{{ data.product_url }}"><img class="img-rounded" src="{{ data.product_image_url }}"></a>
                                                    <p class="plugin-name">{{ data.name }}</p>
                                                    <p class="plugin-description">{{ data.description|ellipsis(100) }}</p>
                                                    <p class="plugin-version">{{ data.version }}</p>
                                                    <p class="plugin-update">{{ data.last_update_date }}</p>
                                                    <p class="plugin-size">{{ data.file_size }}</p>
                                                    <a class="plugin-developer" href="{{ data.developer_url }}">{{ data.developer }}</a>
                                                    <p class="text-right"><a class="btn btn-default btn-sm" href="/install">今すぐインストール</a></p>
                                                </div>
                                            </div><!-- .plugin-panel -->
                                        </div>
                                        #}

                                        {% set version_check = item.version_check  %}
                                        <div class="col-xs-12 col-md-6">
                                            <div class="plugin-panel {% if version_check == 0 %}plugin-panel-not{% endif %}">
                                                {% if version_check == 0 %}
                                                <p class="text-danger">こちらのプラグインは使用できません。<br>EC-CUBE対応バージョンを確認してください。</p>
                                                {% endif %}
                                                <div class="plugin-logo">
                                                    <a href="{{ item.product_url }}" target="_blank"><img class="img-rounded" src="{{ item.product_image_url }}"></a>
                                                </div>
                                                <div class="plugin-content">
                                                    <p>
                                                        {% if version_check == 1 %}
                                                        {% if item.update_status is defined %}
                                                            {% if item.update_status == 1 %}
                                                                <span class="pull-right"><a class="btn btn-default btn-xs" href="/install">今すぐインストール</a></span>
                                                            {% elseif item.update_status == 2 %}
                                                                <span class="pull-right"><span class="label label-success">インストール済</span></span>
                                                            {% elseif item.update_status == 3 %}
                                                                <span class="pull-right"><a class="btn btn-info btn-xs" href="/install">今すぐ更新</a></span>
                                                            {% else %}
                                                                <span class="pull-right"><a class="btn btn-default btn-xs" href="/install">今すぐインストール</a></span>
                                                            {% endif %}
                                                        {% else %}
                                                            <span class="pull-right"><a class="btn btn-default btn-xs" href="/install">今すぐインストール</a></span>
                                                        {% endif %}
                                                        {% endif %}
                                                        <a class="plugin-name" href="{{ item.product_url }}" target="_blank">{{ item.name }}</a>
                                                    </p>
                                                    <div class="plugin-description">{{ item.description|ellipsis(100) }}</div>
                                                    <p class="plugin-version">プラグインバージョン : {{ item.version }}</p>
                                                    <ul class="meta">
                                                        <li class="plugin-update">更新日 : {{ item.last_update_date }}</li>
                                                        <li class="plugin-eccubeversion">EC-CUBE対応バージョン : {% for version in item.eccube_version %}{{ version }} {%- if loop.last == false%}, {% endif -%}{% endfor %}</li>
                                                        <li class="plugin-size">ファイルサイズ : {{ item.file_size // 1024 }} KB</li>
                                                    </ul>
                                                    <p class="plugin-developer">
                                                        提供元 : <a href="{{ item.developer_url }}" target="_blank">{{ item.developer }}</a>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>


                                    {% endfor %}
                                    {% else %}
                                        <div class="col-xs-12 col-md-6">
                                            <p class="text-danger">{{ message }}</p>
                                            <textarea rows="6">{{ message }}</textarea>
                                        </div>
                                      {% endif %}
                                </div><!-- .row -->
                            </div><!-- .plugin-block -->
                        </div><!-- .col-xs-12 -->
                    </div><!-- .row -->
                {% else %}
                    <p>
                        認証キーを設定してください。
                    </p>
                    <p>
                        <a href="{{ url('admin_setting_authentication_setting') }}">認証キー設定画面へ</a>
                    </p>
                {% endif %}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>

{% endblock %}